.mobile-chats-header {
    padding: 55px;
    // background: linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
    // background: -webkit-gradient(linear,3.89% -16.96% ,96.11% 116.96% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
    background: -webkit-linear-gradient(-36deg, #865a8d 0%, #be659f 27%, #d679a0 40%, #d679a0 60%, #be659f 70%, #865a8d 100%);
    min-height: 160px;
}

.mobileuserChatsBlockPosition {
    margin-top: -30px;
}

.chat-div {
    margin: 0;
    padding: 0;
    clear: both;
    //overflow: hidden;
}
.background_none.mobile-user-guestlist{
background: none;
}
.chatPersonDetailsDiv.updateDesign .chatName{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.mobile_new_couple_message p.white_box{
    color: #fff;
    text-shadow: none;
    line-height: 34px;
    font-size: 15pt;
}
.chattext {
    font-size: 24pt;
    color: #86272d;
    text-align: center;
    letter-spacing: 0.1000em;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hanna-text {
    font-size: 12pt;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: Calibri !important;
    margin:0 !important;
}

.mobile-chat-conv-div-header p.hanna-text {
    font-size: 12pt;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: Calibri !important;
    margin:0 !important;
}

.mobile_userChat_hanna_text {
    font-size: 12pt;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: Calibri !important;
    margin: 0 !important;
}

.mobile_user_dot {
    font-size: 35px;
    position: relative;
    right: 5px;
    bottom: 3px;
    color: #ffac38;
}

.mobile_vendor_dot {
    font-size: 35px;
    position: relative;
    // font-weight: bold;
    right: 5px;
    bottom: 3px;
    color: #f3a849;
}
.mobile_admin_dot {
    font-size: 35px;
    position: relative;
    // font-weight: bold;
    right: 5px;
    bottom: 3px;
    color: #00a99e;
}

.z-index-9999 {
    z-index: 9999;

}

#tabBarDiv {
    margin: auto;
    position: fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
}

.no_chat_text{
    font-style: italic;
}

#tabBarInnerContainer {
    width: 100%;
}

#tabBarContentDiv {
    font-size: 18pt;
    font-family: Tahoma;
    text-align: center;
    color: white;
}

.mobile_user_chat_block_list_padding {
    padding-bottom: 10px !important;

}

.mobile_new_couple_message {
    text-align: center;
    position: relative;
    top: 65px;
    p {
        font-size: 25px;
        text-transform: uppercase;
        color: #982f3c;
        // font-weight: 600;
        text-shadow: 1px 1px #962f3b;
    }
    a {
        // font-weight: 600;
        text-transform:uppercase;
    }
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    width:100%;
}

// .ios_phone {
//     .tab button {
//         width:16.66% !important;
//         font-size: 11px;
//     }
// }

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 9px;
    color:grey;
    transition: 0.3s;
    font-size: 12px;
    text-transform: uppercase;
    width:20%;
    display:grid;
}

/* Change background color of buttons on hover */
//.tab button:hover {
//    background:linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
//    color:white;
//
//
//
//    .icon-size {
//    width: 30px;
//    height: 30px;
//     }
//}

/* Create an active/current tablink class */
.tab button.active {
    background:linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
    color:white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.icon-size {
    width: 20px;
    height: 20px;
}


.mobile_userChatsList .float-chat-div {
    ul {
        li {
            border-radius: 4px;
            padding: 0px 10px;
            min-height: 60px;
            height:60px;
        }

       
        .chatsListIcons {
            top:15px;
            img {
                border-radius:50%;
                border: 1px solid #f5b659;
            }
        }
        
        .list-group-item:last-child {
            margin-bottom: 30% !important;
        }
        .badge {
           top:15px;
           float:right;
        }
    }
}



ul.chatsList {
    li {
        border-radius:5px;
        margin-bottom:10px;
        // box-shadow: 2px 8px 6px 2px grey;
        box-shadow: 0px 2px 12px 0px #7b7575;
    }

    .badge {
        background-color: white;
        color: #ff8f6c;
        border: 2px solid #ff8f6c;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding:6px 0px 0px 0px;
        position: relative;
        top: 15px;
        font-size:14px;
    }

    padding-left: 10px;
    padding-right: 10px;
    height: 398px;
    overflow-y: scroll;

    .mobileUserChat {
        width:100%;
        display:inline-flex;
        margin:0 auto;
    }

   .mobileuserChatIcon {
       width:15%;
   }
    .mobileuserChatNumber {
        width:15%;
    }
}

ul.chatsList.guestList {
    padding: 0;
}

.chatsListIcons {
    width:30px;
    height:30px;
    float:left;
    position: relative;
    top: 15px;
    border-radius:50%;
    border: 1px solid #f5b659;
}

.chatsListIcons.tableListIcons {
    width:30px;
    height:30px;
    float:left;
    position: relative;
    top: 15px;
    border-radius:50%;
    border: 0;
}

.chatPersonDetailsDiv {
    display: inline-block;
    text-align: center;
    width: 70%;
    text-transform: uppercase;
    color: #afaaaa;
    margin-left: 10px;
    min-height: 60px;
    height: 60px;
    padding:13px;

    p {
        margin:0 !important;
        line-height:1;

    }

    .chatName {
        font-size: 16pt !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .lastConvMessage {
        font-size: 12pt;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .lastConvMessage span {
        background-image: unset !important;
        background-repeat: unset !important;
        background-position: unset !important;
        background-size: unset !important;
        text-indent: unset !important;
        font-size: unset !important;
        height: unset !important;
        width: unset !important;
        top: unset !important;
        position: unset !important;
        display: unset !important;
        margin: unset !important;
        line-height: unset !important;
        vertical-align: unset !important;
    }
}

.float-chat-div {
    // position: absolute;
    // width: 100%;
    // margin-top: -15px;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .mobile_userChatsList {
        ul.chatsList {
            height:auto;
        }
    }
}



