.admin_chat_count_icon_style {
  background: #ef9071;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: white;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 8px;
  /* right: 0; */
  left: 25px;
}
.padding-right-30px{
  padding-right: 30px;
}
.admin_approval_div_displayBlock {
  display:block;
}
.admin_approval_div_displayNone {
  display:none;
}

.admin_topbar_approval {
  font-size: 15px;
  font-weight: bold;
  /* color: #c5c1c2; */
  color: #898485;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width:1024px) and (max-width:1180px) {
  .admin_chat_count_icon_style {
    right:10px;
  }
}
@media (min-width:1180px) and (max-width:1280px) {
  .admin_chat_count_icon_style {
    right:20px;
  }
}

input.mobile_userSettingPhoneEdit_input {
  margin: 0;
  border: 0;
}
