<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wendely</title>
</head>

<body style="top: 0 !important;">

<div id="app"></div>

<div id="google_translate_element" style="display: none !important;"></div>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'da'}, 'google_translate_element');
    }
</script>

<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

