@import "../imports/client/styles/_variables.scss";
@import "../imports/client/styles/app.scss";
@import "../imports/client/styles/bootstrap.scss";
@import "../imports/client/styles/layout.scss";
@import "../imports/client/styles/loader.scss";
@import "../imports/client/styles/theme.scss";
@import "../imports/client/styles/ui.scss";
@import "../imports/client/styles/admin-login";
@import "../imports/client/styles/custom";

.emoji-dialog {
    .emoji-row {
        text-align: center !important; 
    }
    .emoji-category-heading-decoration {
       display: none !important; 
    }
}

.mobileUserChatBlock .type-search {
    font-style: inherit;
    color: white;
}