.key-icon {
    display: inline-block;
    margin-left: 250px;
    padding: 0px 15px;
    transform: rotate(270deg);

    img {
        width: 20px;
        height: 20px;
    }
}
.fc-toolbar.fc-header-toolbar div button {
    background: none;
    border: 0;
    box-shadow: none;
}

// .list-group-item.list-right-padding-style{
//     overflow: hidden;
// }

.settings {
    display: inline-block;

    img {
        width: 20px;
        height: 20px;
    }
}

.logo {
    padding:0;

    img {
        width:110px;
    }
}



.bottom-menu-cntnr {
    padding:10px !important;
}

// .bottom-menu {
//     position: relative;
//     top: -45px;
// }

ul.nav{
    li {
        #left-icon {
            float: left;
            position: relative;
            left: 20px;
        }

        #category {
            position: relative;
            top: 15px;
            right: 90px;
        }
    }
}

.body_container {
    .chat-section {
        border:1px solid;

        .chat-box {
            border:1px solid;
            width: 60%;
            display: inline-block;

            ul li {
                list-style: none;
                border: 1px solid;
                background: #00d4ca;
                margin: 4px;
                border-radius: 5px;
                padding: 3px;
                width: 45%;
            }
        }
        .user-list {
            border:1px solid;
            width: 40%;
            display: inline-block;
        }
    }
}

.col1-style {
    text-align:center;
}

.chat-text-width {
    width: 120px ;
}

.bottom-menu2 {
    top: -67px !important;
}
.create-add {
    border-radius:0px !important;
}


/* Styles for wrapping the search box */

.main {
    width: 20%;
    height: 10px;
    margin: 25px auto;
    background: white;
}
.guest-list-div .ticketView li:nth-child(1):before {
    content:'gg';
    float: left;
}

/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.agenda-font-size {
    font-size:16px !important;
}

.upcomin-hr-box {
    position: relative;
    bottom: 5px;
}

.agenda-padding {
        padding: 0px 0 8px 8px !important;
}

.has-search .form-control {
    border:1px solid black;
    padding-right: 12px;
    padding-left: 34px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}
.form-control:active,
.form-control:focus,
.form-control.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:red;
}

.search-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    text-align:center;
    border:none;
}

//.search-division{
//
//    margin-left: 15px !important;
//    margin-right: 15px !important;
//    position: relative;
//    bottom: 75px;
//    background-color: transparent;
//}

.chat-text {
    position: relative;
    top: 10px;
    font-size: 18px;
    color: #8f8e8e;
    // font-weight: bold;
}

.search-box {
    position: relative;
    top: 7px;
}

.hr-box {
    position: relative;
    top: 5px;
}

.chat-body {
    position: relative;
    bottom: 65px;
}

.left-menu-padding {
    position: relative;
    bottom: 15px;
}

.vendor-right-list {
    position: relative !important;
    top: 10px;
    right: 20px;
}
.vendor-right-list-text {
    color: #bcbbbb;
    font-size: 14px;
    // font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.vendor-right-list-padding {
    padding:0 !important;

    .venue {
        font-size: 12px;
    }

    .upcoming {
        display:inline-block;
        width:100%;
    }

    .create-add{
        float:left;
    }

    .all-div-text1 {
        font-size:20px;
        margin-top: -8px;
    }
    .agenda-all-div-text1 {

        margin-top: -8px;
    }
    .all-div-text2 {
        font-size:15px;
    }
    .all-div-text3 {
        font-size:10px;
    }
    .all-div-text4 {
        font-size:10px;
        margin-top: -8px;
    }
    .agenda-all-div-text1 {

        margin-top: -8px;
    }
}


.agenda-left-slider-img {
        width:20px;
        height:20px;
    }
.agenda-left-slider {
    padding-top: 15px;
}

.agenda-leftbar-list-item {
    padding: 15px 5px !important;
    margin: 7px 0px !important;
    box-shadow: 2px 2px 6px 4px #888888 !important;
}

.agenda-right-img {
    position: relative;
    left: 20px;
    bottom: 2px;
}

.agenda-left-img {
   bottom:3px;
}

#vendor-agenda-seller {
    text-align: center;
    position: relative;
    left: 25px;
    font-size: 17px;
    bottom: 5px;
}

.hr-style {
    width: 200px;
    margin-bottom: 0;
    margin-top: 5px;
}

input#agenda-searchKey::placeholder {
    color: #beb8b8;
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
    // font-weight: 600;
}


.vendor-agenda-upcoming-div {
    margin-top: -10px;
    margin-bottom: 20px;
}

.agenda-comping-events {
    .agenda-hr {
        width: 125px;
        margin-bottom: 0;
        margin-top: 5px;
    }

    .second-div {

        .agenda-all-div-tex1 {
            margin-top:-15px;
        }

        .text-list-div-style {
            margin-top:-10px;
        }
        .all-div-text2 {
            margin-top:-6px;
        }
        .all-div-text3 {
            margin-top:-6px;
        }
        ul {
            background-color:white;
            li {
                background-color:transparent;
            }
        }


    }
    .third-div {
        ul {
            background-color:white;
            li {
                background-color:transparent;
            }
        }

        .agenda-all-div-tex1 {
            margin-top:-15px;
        }

        .text-list-div-style {
            margin-top:-10px;
        }
        .all-div-text2 {
            margin-top:-6px;
        }
        .all-div-text3 {
            margin-top:-6px;
        }

    }
    .fourth-div {
        ul {
            background-color:white;
            li {
                background-color:transparent;
            }
        }
        .div-left-icon {
            margin-bottom: -10px;
        }

        .agenda-all-div-tex1 {
            margin-top:-15px;
        }

        .text-list-div-style {
            margin-top:-8px;
        }
        .all-div-text2 {
            margin-top:-6px;
        }
        .all-div-text3 {
            margin-top:-6px;
        }

    }
}


.no-event-booked-style {
    text-transform: uppercase;
    color: #aaa5a5;
    // font-weight: 600;
    text-align: center;
    background: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 2px 12px 0px #22222C;
}

.event-agenda-date-style {
    font-size:11px;
}

.vendoragenda-chat-hr {
    width: 230px;
    position: relative;
    right: 65px;
}
.vendoragenda-my-service {
    position: relative;
    right: 43px;
    top: 10px;
    font-size: 16px;
    color: #8f8e8e;
    // font-weight: bold;
}

.vendor-agenda-date-left {
    left:55px;
}
.vendor-agenda-datehr-left {
    left:35px;
}

.agenda-hr-width {
    width: 280px;
}

.agenda-calender {
    box-shadow: 0px 0px 10px 3px grey;
    // div#calendar:before {
    //     content: "";
    //     position: absolute;
    //     /* top: 30%; */
    //     /* left: 4%; */
    //     /* margin-top: 7px; */
    //     height: 20px;
    //     width: 20px;
    //     background-size: cover;
    //     background-image: url(/img/green_calendar.png);
    // }


    #calendar {
        .fc-toolbar.fc-header-toolbar {
            font-size:10px;
            width: 70%;
            margin: 0 auto;
            display: flex;
            align-items: stretch;
        }
        .fc-center {
        }
        .fc-left{
            order:1;
            flex-grow: 1
        }
        .fc-left,
        .fc-right{
            button{
                padding-top: 15px;
            }
        }
        .fc-right{
            order:3;
            flex-grow: 1
        }
         .fc-center{
            order:2;
            flex-grow: 8;
            h2{
                width: 100%;
                text-transform: uppercase;
                font-size: 28pt;
                letter-spacing: 2px;
                line-height: 50px;
                position: relative;

                &::after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    width: 70%;
                    background-image: url(/img/mobile_searcBox_line.png);
                    height: 3px;
                    bottom: 6px;
                    object-fit: contain;
                    left: 15%;
                    background-repeat: no-repeat;
                    

                }
            }
         }
        .fc-bg {
            border-bottom: 1px solid #dcd3d3;
        }
        .cls-1 {
            fill: #ff0000;
        }
        .fc-row {
            color: #b4a9ab;
            font-size: 14px;
            // font-weight: bold;
        }

        // .fc-toolbar h2 {
        //     text-transform: uppercase;
        //     font-size: 20px;
        //     letter-spacing: 2px;
        // }

        .fc th {
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            color: #857c7c;
            text-shadow: 0px 1px 2px #ecd3d3;
            border: none !important;
        }

        .fc th {
            text-align: center;
            border: none !important;
        }
        table,tr,td,th{
            border:none;
        }

        // .fc-row .fc-content-skeleton {
        //     right:20px;
        // }
        .fc-content-skeleton{
            padding-bottom: 0;
        }
        tr td{
            line-height: 55px;
            span{
                width: 100%;
                text-align: center;
                padding: 0;
            }
        }
        tr td.fc-day-top.fc-today{
            text-align: center;
            background: #fff;
            background-image: url(/img/svg_img/placeholder_date.svg);
            background-size: contain;
            background-size: 100% 100%;
            background-position: 100% 100%;
            background-repeat: no-repeat;
        }

    }

}

@media (min-width:1024px) and (max-width:1180px) {

    .vendoragenda-chat-hr {
        width: 185px;
        position: relative;
        right: 65px;
    }

    .vendor-agenda-my-service-box {

        width: 45% !important;
        max-width: 45%;
    }
    .agenda-hr-box {
        width: 40% !important;
    }

    .agenda-hr-width {
        width: 230px;
    }
    .vendor-agenda-date-left
    {
    width: 19% !important;
    max-width: 19%;
    }
    .vendor-agenda-datehr-left
    {
    width: 14% !important;
    }
    .vendorMyServiceTextDiv {
        width: 40%  !important;;
    }
    .vendorMyServiceHr
    {
        width: 60%  !important;;
    }
    .vendorAgenndaTextDiv {
        width: 25%  !important;;
    }
    .vendorAgendaHr {
        width: 75%  !important;;
    }
    .vendorUpcomingHr{
        width: 60%  !important;;
    }
    .vendorUpcomingTextDiv {
        width: 40%  !important;;
    }
    .vendorAgendaDateTextDiv {
        width:60% !important;
    }
    .vendorAgendaDateHr {
        width:40% !important;
    }
}
//
.vendorMyServiceTtext, .vendorAgenndaText, .vendorAgendaDateText, .vendorUpcomingText {
    position: relative;
    top: 3px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.right_padding {
    padding-right: 8px !important;
}
.vendorMyServiceTextDiv{
    width: 30%;
    float: left;
    /* top: 10px; */
    position: relative;
    top:4px;
}
.vendorMyServiceHr{
    width: 70%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
    padding-top:10px;
    padding-bottom: 10px;
}
.vendorMyserviceTitleBlock {
    width: 100%;
    margin: 0 auto;
    /* padding-top: 5px; */
    padding-left: 10px;
}

.vendorMyserviceTitleBlockPadding{
    padding-top: 20px;
    padding-left: 0px !important;
}


//

// .vendorAgenndaText {
//     position: relative;
//     top: 3px;
//     font-size: 18px;
//     color: #8f8e8e;
//     // font-weight: bold;
//     text-transform: uppercase;
// }
.vendorAgenndaTextDiv{
    width: 20%;
    float: left;
    /* top: 10px; */
    position: relative;
    top:4px;
}
.vendorAgendaHr{
    width: 80%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
    padding-top: 8px;
    padding-bottom: 13px;
}
.vendorAgendaHrTitleBlock {
    width: 100%;
    margin: 0 auto;
    // padding-top: 20px;
}
//
// .vendorAgendaDateText {
//     position: relative;
//     top: 3px;
//     font-size: 18px;
//     color: #8f8e8e;
//     // font-weight: bold;
//     text-transform: uppercase;
// }
.vendorAgendaDateTextDiv{
    width: 45%;
    float: left;
    /* top: 10px; */
    position: relative;
    top:4px;
}
.vendorAgendaDateHr{
    width: 55%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
    padding-top: 8px;
    padding-bottom: 14px;
}
.vendorAgendaDateHrTitleBlock {
    width: 100%;
    margin: 0 auto;
    // padding-top: 20px;
}
//
// .vendorUpcomingText {
//     position: relative;
//     top: 3px;
//     font-size: 18px;
//     color: #8f8e8e;
//     // font-weight: bold;
//     text-transform: uppercase;
// }
.vendorUpcomingTextDiv{
    width: 30%;
    float: left;
    /* top: 10px; */
    position: relative;
    top:4px;
}
.vendorUpcomingHr{
    width: 70%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
    padding-top: 12px;
    padding-bottom: 14px;
}
.vendorUpcomingHrTitleBlock {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}
.vendor_agenda_upcoming_event_img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
.vendor_agenda_upcoming_event_div .text-list-div-style {
    margin-top: -15px;
}
.vendor_agenda_upcoming_event_div {

    height: 120px;
    background-color: white;
    min-height:120px;
    .all-div-text1 {
        p{
            font-size: 20px;
        }

    }

    .all-div-text2 {
        p {
            margin: 0;
            font-size: 14px;
        }
    }
    .all-div-text2 {
        p {
            margin: 0;
        }
    }
}


@-moz-document url-prefix() {
    .web_BookedEvent_list{
       ul {
           margin-bottom:20px !important;
       }
    }
}
.web_BookedEvent_list {
    .vendorStatsTextCenter p {
      text-overflow: ellipsis;
        overflow: hidden;
    }
    .vendorStatsTextCenter {
        top: 0px;
        p {
            margin:0;
        }
        
    }
    .vendorStatsFloatLeft {
        top:10px;
    }
}

.dashboard-search{
height: auto;
margin-top:0px;
}
.width-height-25px{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.vendor_agenda_wrapper{
    button:focus{
        outline: none;
    }
    .fc-icon-left-single-arrow:after,
    .fc-icon-right-single-arrow:after{
        display: none;
    }
    .fc-icon-left-single-arrow,
    .fc-icon-right-single-arrow{
        
    }
    .fc-icon-right-single-arrow{
        

        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        
        border-left: 6px solid #a5908d;

    }
    .fc-icon-left-single-arrow{
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent; 
        
        border-right:6px solid #a5908d; 
    }
}
.list-group-item.list-right-padding-style{
    position: relative;
    .vendorStatsList{
        display: inline-block;
        width: 100%;
        
        .vendorStatsTextCenter{
            top:0;
            position: inherit;
            .region-dropdown.regionDropDown{
                .Select-control{
                    height: auto;
                    .Select-placeholder{
                        height: auto;
                        .Select-input{
                            height: auto;
                        }
                    }
                }
            }
            .vendor-stats-p{
                margin: 0;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 10px;
            }
        }
    }
}

.DayPickerInput{
    width: 100%;
}
.new-event-button_wrapper{
    display: inline-block;
    width: 100%;
    .news_service_button{
        width: 90%;
        margin: 0 auto;
        display: table;
        background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%);
        border-radius: 5px;
        box-shadow: 0px 0px 15px 1px #000;
        padding: 5px 0px;
        border: 0;
        position: relative;
        .text-style{
            text-align: center;
            .service_back_logo-home-first-img {
                width: 40px;
                height: 41px;
            }
            .back_top {
                position: absolute;
                bottom: 6px;
                width: 100%;
                color: #f9cabd;
                z-index: 9999;
                text-align: center;
                font-size: 13px;
                top: initial !important;
            }
        }
    }
}

li.list-group-item.list-right-padding-style{
    height: 64px;
}


.vendorUpcomingHrTitleBlock{
    .list-group{
        .list-group-item{
            .content_box{

                h3,h4,h5,h6{
                    margin: 0;
                    width: 100%;
                    text-align: center;
                }
                h3{
                    font-size: 12pt;

                }
                h4{

                }
                h5{

                }
                h6{

                }
            }
        }
    }
}
.vendorUpcomingWrapper.vendorUpcomingHrTitleBlock{
    .list-group{
        .list-group-item{
            position: relative;
            margin: 4px 0px;
            box-shadow: 1px 2px 12px 0px #22222C;
            border-radius: 5px;
            .left_image{
                position: absolute;
                width: 10px;
                height: 10px;
                top: 0px;
                left: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .content_box{
                padding: 8px 15px;
            
                h3,h4,h5,h6{
                    text-transform: uppercase;
                    color: #bababa;
                    -webkit-font-smoothing: antialiased;
                }
                h3{
                    font-size: 18pt;
                    padding-bottom: 15px;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 50%;
                        background-image: url(/img/mobile_searcBox_line.png);
                        height: 3px;
                        bottom: 6px;
                        object-fit: contain;
                        left: 25%;
                    }

                }
                h4{
                    font-size: 14pt;

                }
                h5{
                    font-size: 10pt;

                }
                h6{
                    font-size: 8pt;

                }
            }
        }
    }
}





#mylogOutpopUp{
    .list-group-item{
        span{
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}

.vendor_agenda_wrapper{
    .agenda-calender #calendar .fc-center h2{
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 6px;
        word-spacing: 100vw;
    }
    .vendor_agenda_book{
        .vendorStatsTextCenter{
            form{
                p{
                    margin: 0;
                    font-size: 12pt;
                    color: #bababa;
                }
            }
        }
        #numOfGuest{
            font-size: 12pt;
            height: auto;
        }
        .DayPickerInput input{
            color: #bbbaba;
            font-size: 12pt;
        }
    }
}