// body {
//   background-color: #FEF3EF !important;
// }

.user-signup-wrapper{
  overflow:hidden;
}
.user-signup-container{
  width:100%;
  margin: 0 auto;
}
.new_couple_block {
  height:100vh;
  overflow:scroll;
  position:relative;
}
.user-signup-wrapper-content{
  width:96%;
  margin:0 auto;
  text-align:center;
  padding: 50px 0px;
  text-transform:uppercase;

}
.user-addEventBlk #eventName{
  border-right:0 !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &::placeholder{
    text-align: center;
  }

}
.user-signup-wrapper-content .login-form div {
  margin: 20px 0px;
  font-family: 'Calibri' !important;
  letter-spacing:3px;
}
.home-topBar-position{
  .region-dropdown.regionDropDown{
    div{
      height: 100%;
      &.Select{
        .Select-placeholder{
          line-height: 42px;
          top:50%;
          transform: translateY(-50%);
        }
        
      }
    }
    height: 100%;
  }
}

.user-signup-wrapper-content .user-signup-login-info input {
  width: 100%;
  line-height: 22px;
  text-align: center;
  padding: 10px 0px 0px 0px;
  font-size: 16pt;
  background: none;
  border: 0;
  color: #fef8fe;
  font-style: unset;
  text-transform: uppercase;

}
.user-signup-wrapper-content .user-signup-login-info input::placeholder{
  font-style: oblique;
  text-transform: uppercase;
}
.user-signup-wrapper-content .user-signup-login-info input[type='submit']{
  background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
  border: none;
  box-shadow: 0px 1px 5px 3px #000;
  color: #fef8fe;
  text-transform:uppercase;

}

.user-signup-wrapper-content .user-signup-login-info .submit-button:before{
  content:'\f2bd';
  font-family: "FontAwesome";
  position:absolute;
  width:100%;
  text-align:center;
  top:20%;
  font-size:20px;
}

.user-signup-wrapper-content .user-signup-login-info .submit-button-dv{
  padding:30px 0px;
  position:relative;
}
.user-signup-wrapper-content .user-signup-login-info .submit-button-dv::before {
 content: '\f2bd';
 position: absolute;
 width: 100%;
 font-size:20px;
 top:40%;
}

.user-signup-wrapper-content .username,.user-signup-wrapper-content .password,.user-signup-wrapper-content .email{
  position:relative;

}

.userlogin-padding {
  padding-top: 20px !important;
  padding-bottom: 31px !important;
}

.usersignup-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.user-login-form-style {
  position: relative;
  top: 35px;
  .mandatory_text{
    font-size: 12pt;
    text-transform: uppercase;
    color:#fef8fe;
    text-decoration: none;
    position: relative;
    width: 100%;
  }
  p{
    color: #521d2d;
    font-size: 8pt;
  }

}
.input-box-shadow {
  box-shadow: 0px 1px 5px 3px #2e2a2a;
}

@media (max-width:1024px){
  .user-signup-container{
    width:100%;
  }
}

.login-header{
  position: relative;
}

.user-signup-login-text{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -8px;
  color: #fff;
  font-size: 24pt;
  -webkit-font-smoothing: antialiased;

}

.login-header-icon {
  position:relative;
}

.logo-login-img {
  width: 100px;
  height: 100px;
}

.user-login-absolute-div-style {

  background-size: cover;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  color: white;
  top: 40%;
  font-size: 20px !important;
  font-family: initial;
  color: #faf8f8c7 !important;
  text-transform: uppercase;

}

.LogInbtnClassSign,.createbtnClassSign {
  background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%);
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 1px #000;
  position: relative;
  color: #fff7f6;
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 5px 0px;
  width: 100%;
  align-items: center;
  &::before{
    content: '';
    line-height: 90px;
    
    height: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: 12pt;
    text-align: center;
    width: 120px;
    background-position: center;
    font-family: "Calibri Light", sans-serif !important;
  }
}

.LogInbtnClassSign{
  &::before{
    background-image: url('/img/svg_img/white_key.svg');
    content: 'SIGN IN';
  }
}

.createbtnClassSign{
  &::before{
    background-image: url('/img/tick_one.svg');
    content: 'CREATE';
    
  }
}


.SignupInbtnClassSign {
  background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%);
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 1px #000;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 5px 0px;
  width: 100%;
  align-items: center;
  &::before{
    content: 'CREATE';
    line-height: 90px;
    background-image: url('/img/newService/TICK.svg');
    height: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: 9pt;
    text-align: center;
    width: 120px;
    background-position: center;
    font-family: "Calibri Light", sans-serif !important;
  }
}

.username-div {
  position: relative;
  top: 2px;
}

.signin-continue {
  color: #faf8f8c7 !important;
  text-transform: uppercase;
  font-size: 12px;
}
.user-signup-wrapper-content .user-signup-login-info input::placeholder
{
  color: #fff;
  font-size: 16pt; 
}


.user-not-exist {
  display:none;
  color: white;
  font-size: 18px;
}

.forgot-password-div {
  text-transform: uppercase;
}

.remember_div {
  padding: 15px 0px;
  .radio {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    input {
      display: none;
    }
  }
  .radio input + span {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 1px;
    color: #521d2d;
  }
  .radio input + span:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    right: 20%;
    border-radius: 1000px;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(210, 166, 156);
    background: rgba(237, 119, 90, 1);
  }
  .radio#no-check input + span {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 1px;
    color: #521d2d;
  }
  .radio#no-check input + span:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    right: 20%;
    border-radius: 1000px;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(210, 166, 156);
    background: none;
  }
  .radio#no-check input:checked + span:after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    // background: #fc8b6e;
    position: absolute;
    border-radius: 1000px;
    top: 4.8px;
    right: 20.5%;
    opacity: 0;
  }
.radio input:checked + span:after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background: #fc8b6e;
  position: absolute;
  border-radius: 1000px;
  top: 4.8px;
  right: 20.5%;
  opacity: 0;
}
.radio input:checked + span:after {
  opacity: 1;
}

}
.user-signup-wrapper-content.padding-top-0{
  .remember_div .radio input:checked + span:after{
    top: 2.8px;
  }
}
.allready_login,
.forgot_password{
  position: relative;
  padding-bottom: 30px;
  img{
    width: 45px;
    height: 45px;
  }
  a{
    color: #fef9ff;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    width: 100%;
    bottom: 30px;
    position: absolute;
    letter-spacing: 1px;
    
   
    &:hover{
      color: #fef9ff;
      text-decoration: none;
    }
  }
}

.app_store_wrapper{

  ul{
    overflow: hidden;
    li{
      width: 50%;
      float: left;
      list-style-type: none;
      a{
        display: inline-block;
        padding: 13px 12px;
        height: 80px;
        img{
          width: 100%;
          height: 100%;

        }
      }
    }
  }
}