.subscribe-optin{
  .popup-edit-style {
    width:50%;
    margin:0 auto;
  }

  .edit-input-box {
    width:50%;
    margin:0 auto;
  }



  .upload-image-text {
    font-size:9px;
  }

  .upload-image {
    width:50px;
    height:50px;border-radius: 50%;
  }

  .admin-img-show{
    position: absolute;
    top: 20px;
    left: 10px;
  }



  .new-region-picture{
    padding: 5px 30px 5px 30px !important;
  }

  #regionSave {
    width:64%;
  }
  #NewRegionPicture {
    display: none;
  }
  #UpdateRegionPicture {
    display: none;
  }

}