.mobile-vendor-details {

  .mobile-vendor-name {
    font-size: 26px;
    color: #9c373e;
    text-align: center;
    //font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .mobile-admin-name {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    // font-weight: 600;
  }

  .carousel_img {
    img {
      max-height: 215px;
    }
  }


  .mobile-business-profile-header {
    background: #fff;
    position: absolute;
    margin-top: -22px;
    padding: 15px 0px;
    font-size: 14px;
    width: 1080px;
  }

  .mobile-business-profile-header .header-item ul li {
    float: left;
    list-style-type: none;
    padding: 0px 25px;
  }

  .mobile-event-right-side-element .check_box_item {
    font-family: "FontAwesome";
    text-align: center;
  }

  .mobile-event-right-side-element .check_box_item p {
    font-size: 12px;
  }

  .mobile-business-profile-header .header-action-icon ul li {
    float: left;
    list-style-type: none;
    padding: 0px 10px;
    font-family: "FontAwesome";
  }

  .top-body-container {
    position: relative;
    //overflow: hidden;
    clear: both;
  }

  .mobile-business-profile-conainer .box-section-bussiens {
    background-color: #9d9390;
    padding: 10px 20px;
  }

  .mobile-business-profile-conainer .box-section-bussiens .box-elemnt {
    background-color: #000;
    padding: 4px;
    text-align: center;
    margin: 10px 0px;
    color: #fff;
  }

  .mobile-business-profile-conainer .box-section-bussiens .box-elemnt h2 {
    font-size: 22px;
  }

  .body_container_business .left-side-menu-bussiness ul li {
    list-style-type: none;
    padding: 12px 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border: 1px solid #9d989a;
    margin: 4px 0px;
    background: #fff;
    text-align: center;
  }

  .body_portion_ev .check_box_item .heading-text p {
    background-image: url("/img/border.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 15px;
    margin: 0 auto;
    line-height: 1;
  }

  .mobile-user-service-block .black_container .check_box_item {
    text-align: center;
    display: none;
    width: 100%;
    float: none;
    padding: 0;
  }

  .mobile-user-service-block .black_container .check_box_item .mobile-box-container {
    padding: 10px 0;

    .service-bottom-text {
      margin: 0;
    }

    .service-name {
      margin: 0;
    }
  }

  .top-body-container input.search_item_textfield {
    width: 100%;
    padding: 8px 37px;
    border: none;
    background: transparent;
    text-align: center;
  }

  .mobile-business-profile-header .header-user-name:after {
    content: '|';
    float: right;
  }

  .top-body-container .search_item:before {
    content: '\f002';
    width: 15px;
    margin-top: 10px;
    position: absolute;
    font-family: "FontAwesome";
    margin-left: 15px;
  }

  .top-body-container .place-header {
    width: 100%;
    overflow: hidden;
  }

  .top-body-container .place-header h2 {
    margin: 0;
    width: 20%;
    float: left;
  }

  .fa {
    font-family: "FontAwesome";
  }

  .top-body-container .place-header hr {
    width: 76%;
    float: left;
  }

  .mobile-business-profile-header .header-action-icon ul {
    float: right;
  }

  .body_container_business .left-side-menu-bussiness ul li:before {
    content: '\f007';
    float: left;
    font-family: "FontAwesome";
    font-size: 25px;
  }

  .body_container_business .left-side-menu-bussiness ul li:after {
    content: '\f058';
    float: right;
    font-family: "FontAwesome";
    font-size: 25px;
  }

  :before {
    font-family: "FontAwesome" !important;
  }

  .mobile-full-width-design {
    width: 100% !important;
  }

  .mobile-full-width-design h2,
  .mobile-full-width-design p {
    margin: 0;
  }

  .mobile-full-width-design .mobile-box-container {
    padding: 15px 0px;
    position: relative;
    padding-left: 20px;
  }

  .mobile-box-container .pack-text {
    color: #cfc9c9;
    font-size: 10pt;
    margin-bottom: 0px !important;
    margin-top: 5px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0px 20px;
  }

  .mobile-box-container .mobile_eventLine {
    line-height: 1;
  }

  .mobile-show-tick-div {
    position: absolute;
    right: 7%;
    top: 35%;
  }

  .star-print {
    .star-logo {
      width: 15px;
      height: 15px;
    }

    .mobile-star-logo {
      width: 15px;
      height: 15px;
    }
  }

  .heading-text {
    padding-top: 5px;

    p {
      line-height: 1;
    }
  }

  .h3class {
    margin-top: 3px;
    font-size: 16pt;
  }

  .mobile-service-email-width-design .mobile-box-container:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 4%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url("/img/mail.svg");
  }

  .black_container.big-block {
    min-height: auto;
    height: auto;
    box-shadow: 0px 0px 4px 1px #513852;
  }


  .mobile-service-call-width-design .mobile-box-container:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 4%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/phone.png);
  }

  .mobile-service-internet-width-design .mobile-box-container:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 4%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url("/img/website.svg");
  }

  .mobile-service-phone-width-design .mobile-box-container:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 4%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/contact.png);
  }

  .black_container {
    text-transform: uppercase;
    border-radius: 4px;
    // background: -webkit-linear-gradient(0deg, rgba(114, 46, 59, 1) 0%, rgba(90, 41, 50, 1) 7.16%, rgba(64, 36, 40, 1) 17.35%, rgba(44, 32, 33, 1) 27.73%, rgba(33, 30, 28, 1) 38.31%, rgba(29, 29, 27, 1) 49.39%, rgba(34, 30, 29, 1) 59.01%, rgba(50, 33, 35, 1) 71.21%, rgba(76, 38, 45, 1) 84.79%, rgba(112, 46, 58, 1) 99.3%, rgba(114, 46, 59, 1) 100%);
    background: linear-gradient(to right, #683c64 0%, #1d1d1b 30%, #1d1d1b 70%, #683c64 100%);
    box-shadow: 0px 0px 4px 1px #513852;
  }
  .black_container_text{
    overflow: hidden;
    .header_text{
      h3{
        margin: 0;
        padding: 0px 0px;
        font-family: "Calibri Light", sans-serif !important;
        font-weight: 300 !important;
        font-size: 12pt;
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        padding-bottom: 0px;
        position: relative;
        
        &::after{
          position: absolute;
          width: 120px;
          content: '';
          background-image: url(/img/new_img/more_info_icon.png);
          background-size: contain;
          height: 120px;
          background-repeat: no-repeat;
          left: 50%;
          transform: translateX(-50%);
          top: 60%;
        }

      }
    }
    
  }
  .black_container{
    h2{
      font-size: 16pt;
      padding: 0px 50px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .black_container:last-child {
    margin-bottom:70px;
  }
  .mobile-full-width-design .box-container1:after {
    right: -8%;
    top: 20%;
    content: "";
    position: absolute;
    height: 45px;
    width: 45px;
    background-size: cover;
    background-image: url(/img/13.png);
  }
  
  .mobile-event-right-side-element {
    padding: 0px 10px;
    color: #fff;
    overflow: hidden;
    .check_box_item.mobile-full-width-design{

    
    .mobile-box-container{
      .star-print{
        .service-star-logo{
          margin: 0;
        }
      }
      .heading-text{
        margin: 0 2px;
      }

    }
  }
  }

  .mobile-userServiceDivBlock {
    width: 85%;
    margin: 0 auto;
  }

  .checkBox_img {
    position: absolute;
    left: 10px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .margin_zero {
    margin: 0 !important;
    position: relative;
  }

  .mobile_chat_now_img {
    position: absolute;
    right: 14px;
    padding: 10px;

    img {
      widows: 25px;
      height: 25px;
    }
  }

  .mobile_user_service_circle_m {
    border-radius: 100%;
    font-size: 12px;
    padding: 2px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 20px;
    top: 12px;
  }

  .facilityClass {
    position: relative;
    top: 7px;
    font-size: 11px !important;
  }

  .mobile-userServiceDiv {
    width: 33.3%;
    float: left;
    color: #fff;
    font-size: 16px;
    padding: 5px 5px;
    overflow: hidden;
    text-align: center;
    line-height: 2.5;
    word-wrap: break-word;
    border-radius: 4px;
    text-transform: uppercase;

    .facility_div {
      background: #fe8c65;
      border-radius: 4px;
      height: 35px;
      line-height: 35px;
    }
  }

  .mobile-upper-section {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px !important;
    padding-top: 5px !important;
  }

  .mobile-seller-mainImage-div {
    position: relative;
    padding: 0px 10px;
    .carousel.carousel-slider{
      border-radius: 4px;
    }
  }

  .mobile-mydash_bannner .banner {
    width: 100%;
    margin: 0 auto;
  }

  .mobile-mydash_bannner .banner.deatls_carouel li{
    height: 215px;
  }

  .mobile-mydash_bannner .banner.deatls_carouel li .carousel_img{ 
  box-shadow: 1px 2px 12px 0px #22222C;
  }
  .mobile-mydash_bannner .banner.deatls_carouel li img{
    height: 100%;
  }

  .mobile-service-main-image {
    width: 100%;
    height: 190px;
  }

  .mobile-circle-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: white;
  }

  .mobile-logo-absolute {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #e3bb80;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 1px #000;
  }

  .mobile-choice-tick {
    width: 30px;
    height: 30px;
  }

  .mobile-button_evet .button_evet_left {
    width: 50% !important;
    float: left;
    text-transform: uppercase;
    line-height: 2;
    // background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%);
    background: linear-gradient(to right, #683c64 0%, #1d1d1b 30%, #1d1d1b 70%, #683c64 100%);
    border: none;
    height: 45px;
    font-size: 20px;
    letter-spacing: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 0px 4px 1px #513852;
  }

  .mobile-button_evet .button_evet_right {
    width: 50% !important;
    float: right;
    height: 45px;
    background: linear-gradient(to right, #f6786d 0%, #ff8f6c 40%, #ff8f6c 60%, #f6786d 100%);
    color: #fff;
    border: 0;
    text-transform: uppercase;
    line-height: 2;
    font-size: 20px;
    letter-spacing: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 4px 1px #513852;
  }

  .mobile-service-text-hr-style {
    margin: 8px !important;
    width: 140px;
    position: relative;
    left: 20%;
  }

  .mobile-vendor-slideShowScroll {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: 40px;
  }

  .mobile-user-service-block {
    margin-top: -10%;

    .body_portion_banner {
      padding: 0px 8px;
    }
  }

  .mobile-gallery-img {
    width: 51px;
    height: 40px;
    margin: 0px 1px;
  }


  .mobile-vendor-slideShowScrollDiv {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .mobile-star-logo {
    width: 20px;
    height: 20px;
  }

  .mobile_userServiceLastDiv {
    margin-bottom: 20%;
  }

  .mobile_last_service_block {
    padding-top: 0 !important;
    min-height: 65px;
    height: 65px;
  }

  .mobile-full-width-design .mobile-same-icon:before {
    content: "";
    top: 0%;
    position: absolute;
    left: 2%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url("/img/4.png");
  }

  //Button outline color
  button.text-style.LogInbtnClass:focus {
    outline: none;
  }

  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
    border-color: #2b0c11 !important;
    text-decoration: underline;
  }

  .pagination>.disabled>a {
    color: #fff !important;
    cursor: not-allowed;
    background-color: #2b0c11 !important;
    border-color: #2b0c11 !important;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .pagination>li>a,
  .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff !important;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: #972431 !important;
    border: 1px solid #972431 !important;
  }

  #create_popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);

    .inner_div {
      top: 30%;
      position: fixed;
      width: 85%;
      background: white;
      height: 155px;
      border-radius: 4px;
      left: 8%;
    }

    p {
      color: black;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      padding-top: 45px;
    }

    button {
      width: 85%;
      text-align: center;
      left: 7%;
      position: relative;
      background: linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
      height: 40px;
      box-shadow: none;
      outline: none;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 17px;
    }
  }


}

.user_service_box_design {
  padding: 0;
  padding-top: 15px !important;
}

@media only screen and (min-device-width: 640px) and (max-device-width: 1024px) {
  .mobile-vendor-details .mobile-event-right-side-element {
    padding: 0px 0px;
  }

  .mobile-user-myevents-body-part .mobile-user-my-events-search-results-div .user-venue-my-wedding-div {
    margin-top: 15px;
  }
}
.mobile_facilities_wrapper{
  overflow: hidden;
  width: 100%;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 16px 0;
    width: 100%;
    margin: 0 auto;
    li{
      list-style-type: none;
      width: 20%;
      text-align: center;
      &.active{
        span{
          color: #fff;
        font-size: 8pt;
        }
      }
      img{
        width: 25px;
        height: 25px;
      }
      span{
        
        color: #bbbaba;
        font-size: 8pt;
      }
    }
  }
}