.subscribe-optin{
  .popup-edit-style {
    width:50%;
    margin:0 auto;
  }

  .edit-input-box {
    width:50%;
    margin:10px auto;
  }



  .upload-image-text {
    font-size:9px;
  }

  .upload-image {
    width:50px;
    height:50px;border-radius: 50%;
  }

  .admin-img-show{
    position: absolute;
    top: 20px;
    left: 10px;
  }



  .new-attribute-picture{
    padding: 5px 30px 5px 30px !important;
  }

  #attributeSave {
    width:64%;
  }
  #NewFacilityPicture {
    display: none;
  }
  #UpdateFacilityPicture {
    display: none;
  }

}

.banner_pop_wrapper{
  .dropdown_wrapper_popup{
    width: 50%;
    margin: 10px auto;

    .Select-control{
      border: 0;
      box-shadow: 0px 0px 15px 1px #000;
      .Select-placeholder,.Select-value-label{
        font-size: 12pt;
        color: #bbbaba !important;
      }

      .Select-input{
        
        input{
          border: 0;
          font-size: 12pt;
          width: 100%;
          color: #bbbaba !important;
        }
      }

    }
  }
}