.body_container .padding-0{
  padding: 0 !important;
}
.body_container {
  .GuestListSectionHeading{
    padding-left: 15px;
  }
}
.GuestList_wrapper{
  #chatListName{
    .right_side_wrapper{
      .seller-list-right-icon{
        right: 25px !important;
      }
    }
  }
}
.vendorMyServiceTtext.vendorMyServiceTextDiv,
.vendorAgenndaText.vendorAgenndaTextDiv,
.vendorAgendaDateText.vendorAgendaDateTextDiv,
.vendorChatText.vendorChatTextDiv,
.vendorUpcomingText.vendorUpcomingTextDiv,
.vendorStatsText.vendorStatsTextDiv,
.userTitleUpcomingEventBlocktextHeading,
.userTitleUpcomingEventBlocktextHeading,
.GuestListSectionHeading{
  display: flex;
  width: 100%;
  font-size: 12pt;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  margin-bottom: 0px;
  &::after {
    content: '';
    background-position: 15px 1px;
    flex: 1 0 20px;
    background-image: url(/img/line.png);    
    width: 100%;
    height: 2px;
    background-repeat: no-repeat;
    background-size: contain;

  }
}
.vendorMyServiceHr,
.vendorAgendaHr,
.vendorAgendaDateHr,
.vendorChatHr{
  display: none;
}

.bottom-menu-cntnr {
  padding:10px !important;
}

.bottom-menu {
  top: unset !important;
  margin-top: -45px;
}


ul.nav{
  li {
    //#left-icon {
    //  float: left;
    //  position: relative;
    //  left: 20px;
    //}

    #category {
      position: relative;
      top: 15px;
      right: 90px;
    }
  }
}

.body_container {
  .chat-section {
    border:1px solid;

    .chat-box {
      border:1px solid;
      width: 60%;
      display: inline-block;

      ul li {
        list-style: none;
        border: 1px solid;
        background: #00d4ca;
        margin: 4px;
        border-radius: 5px;
        padding: 3px;
        width: 45%;
      }
    }
    .user-list {
      border:1px solid;
      width: 40%;
      display: inline-block;
    }
  }
}

.col1-style {
  text-align:center;
  }

.chat-text-width {
  width: 120px ;
}

.bottom-menu2 {
  top: -67px !important;
}
.create-add {
  border-radius:0px !important;
}


/* Styles for wrapping the search box */

.main {
  width: 20%;
  height: 10px;
  margin: 25px auto;
  background: white;
}

/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
  right: initial;
  left: 0;
  color: #ccc;
}

.has-feedback .form-control-feedback {
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 42px;
  text-align: center;
  pointer-events: none;
}

.has-search .form-control {
  border:1px solid black;
  padding-right: 12px;
  padding-left: 34px;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 3em;
}
.form-control:active,
.form-control:focus,
.form-control.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color:red;
}

.search-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: transparent;
  background-image: none;
  text-align:center;
  border:none;
}

//.search-division{
//
//margin-left: 15px !important;
//margin-right: 15px !important;
//position: relative;
//bottom: 75px;
//  background-color: transparent;
//}

.chat-text {
  position: relative;
  top: 10px;
  font-size: 18px;
  color: #8f8e8e;
  font-weight: bold;
}

.search-box {
  position: relative;
  top: 7px;
}

.hr-box {
  position: relative;
  top: 5px;
}

.chat-body {
  position: relative;
  bottom: 65px;
}

.left-menu-padding {
  position: relative;
  bottom: 15px;
}
.float-lft {
  //float:left;
  //color:white;
  //border-radius: 5px;

}

.float-rgt {
  float:right;
  position: relative;
  right: 10px;
  font-weight: bold;
  color: #d8d3d2;
  border-radius:5px;
}

.list-background {
  background-color: #d97ca3 !important;
}

.list-div-background {
  background-color:white;
}


.list-div-left-background {
  //background-color:#01a89f;
}

.venue {
  text-align:center;
}

.list-div-icon {
  position: relative;
  top: 10px;
}

.list-img{
  width:20px;

}

.right-div-background {
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  color:white;
  text-align:center;
}

.center-div {
  text-align:center;
}

.list-group-item {
  border:none;
}

.list-right-item {
  margin-bottom: 5px !important;
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  box-shadow: 1px 2px 12px 0px #22222C;
}

.list-right-padding-style {
  margin-bottom: 9px !important;
  box-shadow: 1px 2px 12px 0px #22222C;
}

.list-type-box {
  width:100%;
  border-radius: 10px;
  // background-color: white;
}

.add-message .list-type-box {
  border-radius: 10px;
}

.smiley-style {
  position: relative;
  right: 15px;
  cursor:pointer;
}

.attach-icon {
  position: relative;
  right: 10px;
}

.type-list-div-icon {
  position: relative;
  top: 7px;
}

input {
  outline:none;
}

.type-box {
  background-color: white;
}
.type-search {
  width: 100%;
  height: 40px;
  border: none;
  text-align: center;
  font-style: oblique;
  font-size: 18px;
  color: white;
  background:transparent;
}

.list-group-item {
  border:none !important;
}

.chat-send {
  position: relative;
  bottom: 10px;
}

.chat-list-logo {
  //position: relative;
  //bottom: 10px;
  //right: 25px;
}

.seller-main-width .seller-name p {
  color: #000900;
  margin: 0;
}

input#messageText::placeholder {
  color: white !important;
}

input#messageText::-webkit-input-placeholder {
  color: white !important;
}

.message-list {
  height: 400px;
  background-color: #818181;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.add-message {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.guest-icon-padding{
padding-left:10px;
}
.list-div-left-background.send-by-seller {
  background-color: white;
  //width: fit-content;
  width:160px;
  float: right;
  padding: 12px;
  border-radius: 3px;
  min-height:37px;
  box-shadow: 0px 0px 10px 1px #000;


  .message .text {
    padding-right:30px;
    padding-left: 10px;
    word-wrap:break-word;
    font-size: 12px;
    text-transform: uppercase;
    color: #b8b6b6;
    font-weight: 600;
    text-align: center;
  }

  .message .icon {
    position:  absolute;
    right: 25px;
    top: 22px;
  }
}
.list-div-left-background.send-by-user {
  background: linear-gradient(to right, rgb(107, 62, 96) 0%, rgb(35, 35, 34) 50%, rgb(107, 62, 96) 100%);
  width: 160px;
  padding: 5px;
  border-radius: 3px;
  min-height:37px;
  box-shadow: 0px 0px 10px 1px #000;

  .message .icon {
    //width: 20%;
    padding-right: 5px;
    display: inline-block;
    position: absolute;
    padding-left: 5px;
  }
  .message .text {
    //width: 80%;
    //display: inline-block;
    padding-left: 35px;
    word-wrap:break-word;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}

.capital-text {
  text-transform: uppercase;
  color:#bebeb8;
}

.message-box-icon-style {
  position: relative;
  top: 8px;
}

.message-box-icon-text {
  position: relative;
  /* top: 8px; */
  color: white;
  text-transform: uppercase;
  //padding-left: 10px;
  //padding-right: 10px;
}

.chat-send-icon {
  position: relative;
  top: 11px;

}

.chat-content {
  color: white;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 15px;
}
.message {
  //padding-left:10px;
}

.chat-no-vendor-selected {
  color: #beb8b8;
  text-transform: uppercase;
  font-size: 16px;
  /* right: -12px; */
  padding-right: 0 !important;
}
.user_chat_wrapper{
  .userchat-message-list{
    li.list-group-item{
      .list-div-left-background{
        padding: 10px 0px;
        .message{
          .icon{
            .list-img{
              height: 25px;
            }
          }
        }

      }
      


      
    }
  }
}
.seller-main-width {
  width: 100%;
  display: -webkit-inline-box;
  top: 50%;
  position: relative;
  transform: translateY(-50%);

}

.seller-list-left-icon {
  // width:10%;
  // position: relative;
  // top: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.seller-list-right-icon {
  width: 25px;
  position: absolute;
  top: 0;
  border-radius: 50%;
  color: #e98b6f;
  border: 2px solid #e98b6f ;
  height: 25px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  .span-number {
    position: relative;
    top: 1px;
  }
}

.seller-name {
  width: 100%;
  position: relative;
  padding: 0px 35px;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

#chatListName{
  .list-group-item{

    .seller-main-width{
      top: inherit;
      position: inherit;
      transform: inherit;
      display: block;
      height: 30px;
      align-items: normal;
      

      .seller-name.capital-text{
        color: #bbbaba;
        p{
          line-height: 15px;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
      
        .chat-vendor-name{
          font-size: 12pt;
          color: inherit;
        
        }
        .venue-p-margin{
          font-size: 8pt;
          color: inherit;

        }
      }
      
    }
    &.selected-list-active{
      .seller-main-width{
        .seller-name.capital-text{
          color: #3a241e;
        }
      }
      
    }

  }
  
}

.venue-p-margin {
  margin-top: -20px;
  margin-bottom: 0;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow:hidden;
}
li.list-group-item.list-right-padding-style.btn {
  border-radius: 5px;
}

.userchatType-box {
  bottom: 0;
  box-shadow: 1px 2px 12px 0px #22222C;
}

.rightPadding {
  padding-left:0px;
}
.RightPadding{
  padding-right:0px !important;
}

.userLeftSideBarPadding {
  padding-left: 15px !important;
}
.userchat-hr {
  right:25px;
  position: relative;
}

.userchat-message-list {
  position: relative;
  height: 400px;
  background-color: #d97da2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-y: scroll;
  box-shadow: 1px 2px 12px 0px #22222C;
}
.selected-list-active{
  background: linear-gradient(to right, #ef606f 0%, #ff876c 51%, #ef606f 100%) !important;
  position: relative;
  right:25px;
  z-index: 999;
}

.chat-container {
  margin-top:5px;
}

.chat-div-text {
  right:12px;
}

.chat-vendor-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.list-group.list-group-flush.sellerListMenu li:hover {
  background: linear-gradient(to right, #ef606f 0%, #ff876c 51%, #ef606f 100%) !important;
  color: #fff;
  .seller-main-width{
    .seller-name.capital-text{
      color: #3a241e !important;
    }
  } 
}

.userChatBlock {
  width: 100%;
  display: inline-flex;
  margin: 0 auto;
  
  // border: 1px solid white;
  background-color: #d97da2;
  border-radius: 9px;
  &.userChatBlockTypesection{
    padding: 4px 15px;
    .block1,.block2,.block4{
      padding: 0px 15px;
      position: relative;
    }
    .block4{
      img{
        right: 0;
        left: inherit;
      }
    }
    img{
      width: 25px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .block1 {
    width: 10%;
    text-align: center;
    padding-top: 6px;
  }
  .block2 {
    width: 10%;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
  }
  .block3 {
    width:80%
  }
  .block4 {
    width: 15%;
    text-align: center;
    cursor: pointer;
    padding-top: 16px;
    .btn {
      padding:0px !important;
    }
  }
}

.userChatLeftBlockPadding {
  padding-left: 20px !important;
}
#user_attachFile {
  display:none;
}

.display_flex {
  display: inline-flex;
  .sectionblock1_new{
    width: 55%;
    padding: 8px;
    z-index: 9;
  }
  .sectionblock1 {
    width: 55%;
    padding-right: 15px !important;
    z-index: 9;
    .vendor_chat_wrapper{
      box-shadow: 0px 0px 15px 1px #000;
      border-radius: 5px;
    }
    &.no-padding.padding-right-0{
      padding-right: 0px !important;
    }
    .vendor-message-list{
      box-shadow: 0px 0px 15px 1px #000;
      &.box_shadow_unset{
        box-shadow: unset;
      }
    }
    
  }
  .sectionblock2 {
    width: 45%;
    // margin-left: -10px;
  }
}

.user_chat_text_position {
  position: relative;
  top: 15px;
}


@media (min-width:1360px) and (max-width:1440px) {
  .chat-send-icon {
    right:15px;
  }
}
@media (min-width:1180px) and (max-width:1280px) {
  .chat-send-icon {
   right:10px;
    left:0;
  }
}

@media (max-width: 1180px) and (min-width: 1024px)
{
  .chat-send-icon {
    right: 10px;
  }
  .userGuestListTypeBox .guest-add-button{
    left:5px !important;
  }
}


.list-group-flush:last-child .list-group-item:last-child.add-message {
	padding: 20px 20px;
}



