.new-couple-mobile-wrapper{
	overflow:hidden;
	background: #FEF3EF;
}
.new-couple-mobile-container{
	width:40%;
	margin: 0 auto;
	//background:linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
	// background: linear-gradient(135deg, #250b0e -5%, #e5485b 36%, #250B10 105%);
	background: -webkit-gradient(linear,-17.44% 21.84% ,117.44% 78.16% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
	min-height:100vh;
}
.new-couple-mobile-div-wrapper{
	width:96%;
	margin:0 auto;
	text-align:center;
	padding: 50px 0px;
	text-transform:uppercase;	
}
.new-couple-welcome-div {
	bottom: 30px;
	position: fixed;
	left: 42%;
}
.new-couple-login-form {
	margin-top:30px;
}

.keepMeLoggedIn {
	color:#ead2d5 !important;
	label {
		margin:0px;
		color:#ead2d5 !important;
		input {
			top: 3px;
			width: auto !important;
			margin: 0;
			position: relative;
		}
		span {
			padding:10px;
			color:#ead2d5 !important;
		}
	}
}
.new-couple-mobile-div-wrapper .new-couple-login-form div {
    margin: 5px 0px;
	text-transform: uppercase;
	font-family: Calibri !important;
	letter-spacing: 2px;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info input {
	width: 90%;
	line-height: 22px;
	text-align: center;
	padding: 10px 0px 25px 0px;
	font-size: 23px;
	color:#ead2d5 !important;
	background:transparent;
	text-transform: uppercase;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info input[type='submit']{
	background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
	border: none;
	box-shadow: 6px 1px 5px 3px #000;
	color: #fff;
}

.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .submit-button:before{
	content:'\f2bd';
	font-family: "FontAwesome";
	position:absolute;
	width:100%;
	text-align:center;
	top:20%;
	font-size:20px;
}

.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .username {
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #ead2d5 !important;
	background: transparent;
	border-radius: 5px;
	border: 0px;
	margin-bottom: -5px;
	text-transform: uppercase;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .back_top {
    top: 50% !important;
}
.mobile_new_couple_signup{
	.user-signup-wrapper-content{
		.login-form div{
			margin: 0;
		}
		.user-signup-login-info input{
			padding-top:0;
		}
		.user-login-form-style{
			top: 15px;

		}
		.remember_div .radio input:checked + span:after{
			top: 3.8px;
		}
		.remember_div .radio input + span:before{
			top:2px;
		}
		.password_new img, .password_reenter img{
			top: 4px;
		}
		.button_wrapper{
			overflow: hidden;
			width: 100%;
			button{
				position: relative;
				width: 100%;
				margin: 10px 0px;
				background:transparent;
				border:none;
				.absolute_div_style_mobile{
					position: absolute;
					width: 100%;
					left: 0;
					bottom: -6px;
					-webkit-font-smoothing: antialiased;
					font-size: 12pt;
					letter-spacing: 0 !important;
					color: #fff;
					text-transform: uppercase;
					&.letter_spacing_3{
						letter-spacing: 3px !important;
					}
				}
				&:focus{
					outline: 0;
				}
			}
		}
	} 
}

.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .password {
	width: 100%;
	line-height: 22px;
	text-align: center;
	color:#ead2d5 !important;;
	background: transparent;
	border-radius: 5px;
	border: 0px;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .password input::placeholder {
	color: #c79f9fc7 !important;
}

.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .phone:before{
	content:url("/img/phoneNumber.png");
	position: absolute;
	top: 30%;
	left: 20px;
	font-family:"FontAwesome";
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info input#userName::placeholder {
	font-style: italic !important;;
    color: #ed8d99 !important;
	font-size: 21px;
	text-transform:uppercase;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info input#userEmail::placeholder {
	font-style: italic;
    color: #ed8d99 !important;
	font-size: 21px;
	text-transform:uppercase;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info input#userPassword::placeholder {
    color:#ead2d5  !important;
    font-size: 21px;
}
 

.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .phone {
	width: 100%;
	line-height: 22px;
	text-align: center;
	color:#ead2d5 !important;
	// font-weight: 600;
	background: white;
	border-radius: 5px;
	border: 0px;

}



.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .email {
	width: 100%;
	line-height: 22px;
	text-align: center;
	color:#ead2d5 !important;
	// font-weight: 600;
	background: transparent;
	border-radius: 5px;
	border: 0px;
	text-transform: uppercase;
}

.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .submit-button-dv{
	padding:70px 0px;
	position:relative;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info input{
	border-radius:5px;
	border:0px;
}
.new-couple-mobile-div-wrapper .new-couple-mobile-login-info .submit-button-dv::before {
    content: '\f2bd';
    position: absolute;
    width: 100%;
	font-size:20px;
	top:40%;
}
 .new-couple-mobile-div-wrapper .new-couple-mobile-login-info p {
    position: absolute;
    text-align: center;
    z-index: 99;
	width:100%;
    top: 55%;
	font-size: 13px; 
	color: #470c14;
    // font-weight: 600;
}

 .mobile_user_exist_text {
	 display: none;
	 color: #ead2d5 !important;
	 font-size: 18px;
	 /* margin-bottom: -3px; */
	//  font-weight: 600;
 }

.new-couple-mobile-div-wrapper .username,.new-couple-mobile-div-wrapper .password,.new-couple-mobile-div-wrapper .email,.new-couple-mobile-div-wrapper .phone{
position:relative;


}
.new-couple-welcome-img-div {
	margin-top: 10% !important;
	position: absolute;
	left: 39%;
	img {
		width: 70px;
		height:70px;
	}
}

.start-plan-div
{

	.home-login-btn {
		background: transparent;
		border: none;
		box-shadow: none;
		color: #fff;
		width: 100%;
		padding: 10px 0px 10px 0px;
		margin-top: 5px;
		height:60px;
	}

	.absolute-div-style {
		top:60%;
	}
}
button.text-style.home-login-btn:focus {
	outline: none;
	border: none;
}
.mobile-wrong-password {
	display:none;
	color: #f2d1d4 !important;
    letter-spacing: 1px;
	font-size: 12px;
	// font-weight: 600;
}

.mobile-useremail_empty-field {
	display:none;
	color: #f2d1d4 !important;
    letter-spacing: 1px;
	font-size: 12px;
	// font-weight: 600;
}
.mobile-username_empty-field, .mobile-password-not-match-field {
	display:none;
	color: #f2d1d4 !important;
    letter-spacing: 1px;
	font-size: 12px;
	// font-weight: 600;

}
.mobile-input_field_empty{
	display:none;
	color: #f2d1d4 !important;
    letter-spacing: 1px;
	font-size: 12px;
	// font-weight: 600;
}
.mobile-password_input_field_empty{
	display:none;
	color: #f2d1d4 !important;
    letter-spacing: 1px;
	font-size: 12px;
	// font-weight: 600;
}
.mobile-wrong-details {
	display:none;
	color: #f2d1d4 !important;
    letter-spacing: 1px;
	font-size: 12px;
	// font-weight: 600;
}
.mobile-username-field {
	display:none;
	color: #f2d1d4 !important;
    letter-spacing: 1px;
	font-size: 12px;
	// font-weight: 600;
}


@media (max-width:1024px){
.new-couple-mobile-container{
	width:100%;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.mobile-user-guestlist {
		height: 100vh;
		margin-left:35px;
	}
}
@media  (min-device-width: 411px) and (max-device-width: 425px)  {
	.new-couple-welcome-img-div {
		margin-top:25% !important;
		position: absolute;
		left: 42%;
	}
}

@media  (min-device-width: 768px) and (max-device-width: 1024px)  {
	.new-couple-welcome-img-div {
		margin-top: 35% !important;
		position: absolute;
		left: 45%;
	}
}
@media  (max-device-width: 320px)   {
	.new-couple-welcome-img-div {
		margin-top:1% !important;
	}
}
.mobile_new_couple_signup{
	.user-signup-wrapper-content{
		.user-signup-login-info{
			height: fit-content;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			left: 0;
		}
	}
}