
.forgot-password-page {

  // body {
  //   background-color: #FEF3EF !important;
  // }
// .background_position{
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }
  .forgot-wrapper {
    overflow: hidden;
  }
  .forgot-container {
    width: 100%;
    margin: 0 auto;

  }
  // .div_center_vertically{
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   width: 100%;
  // }
  .forgot-div-wrapper {
    width: 96%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    text-transform: uppercase;

  }
  .forgot-div-wrapper .login-form div {
    margin: 20px 0px;
    font-family: 'Calibri' !important;
    letter-spacing: 3px;
  }
  .forgot-div-wrapper .forgot-info input {
    width: 75%;
    line-height: 22px;
    text-align: center;
    padding: 10px 0px 25px 0px;
    font-size: 20px;
    color: #beb8b8;
  }
  .forgot-div-wrapper .forgot-info .email {
    background:white;
    width:100%;
  }
  .forgot-div-wrapper .forgot-info input[type='submit'] {
    background: linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
    border: none;
    box-shadow: 0px 1px 5px 3px #000;
    color: #fff;
    text-transform: uppercase;

  }
  .forgot-div-wrapper .forgot-info .submit-button:before {
    content: '\f2bd';
    font-family: "FontAwesome";
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    font-size: 20px;
  }
  .forgot-div-wrapper .forgot-info .username:before {
    content: '\f2bd';
    position: absolute;
    top: 34%;
    left: 20px;
    font-family: "FontAwesome";
  }
  .forgot-div-wrapper .forgot-info .password:before {
    content: url("/img/new_img/password.svg");
    position: absolute;
    top: 30%;
    left: 20px;
    font-family: "FontAwesome";
  }
  .forgot-div-wrapper .forgot-info .email:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 5px;
    font-family: "FontAwesome";
    background: url(/img/grey@.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .forgot-div-wrapper .forgot-info .submit-button-dv {
    padding: 30px 0px;
    position: relative;
  }
 
  .forgot-div-wrapper .forgot-info p {
    position: absolute;
    text-align: center;
    z-index: 99;
    width: 100%;
    top: 55%;
    color: #beb8b8;
    font-size: 11px;
  }
  .forgot-div-wrapper .username, .forgot-div-wrapper .password, .forgot-div-wrapper .email {
    position: relative;

  }
  .forgot-div-wrapper .forgot-info input {
    border-radius: 2px;
    border: 0px;
  }

  .forgot-padding {
    padding-top: 65px !important;
    padding-bottom: 90px !important;
  }

  .usersignup-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .input-box-shadow {
    box-shadow: 0px 1px 5px 3px #2e2a2a;
  }

  @media (max-width: 1024px) {
    .forgot-container {
      width: 100%;
    }
  }

  input#userEmail::placeholder {
    color: #beb8b8;
    font-size: 16pt;
    text-transform: uppercase;

  }

  input#userNewPassword::placeholder {
    font-size: 16pt;
    color: #beb8b8;
  }

  .forgot-text {
    color: #faf8f8c7;
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: 25%;
    letter-spacing: 2.5px;
  }

  .user-signup-login {
    color: #dfd7d7;
    font-size: 35px;
    position: absolute;
    top: 85px;
    left: 35%;
    letter-spacing: 2.5px;
  }

  .login-header-icon {
    position: relative;
  }

  .logo-login-img {
    width: 100px;
    height: 100px;
  }

  .user-login-absolute-div-style {

    background-size: cover;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    color: white;
    top: 40%;
    font-size: 20px !important;
    font-family: initial;
    color: #faf8f8c7 !important;
    text-transform: uppercase;

  }

  .user-login-top {
    top: 80% !important;
  }

  .LogInbtnClass {
    background: linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
    border: none;
    box-shadow: 0px 1px 5px 3px #000;
    color: #fff;
    width: 100%;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    height: 57px;

  }

  .username-div {
    position: relative;
    top: 2px;
  }

  .forgot-div-wrapper .forgot-info .phoneNumber:before {
    content: url("/img/phoneNumber.png");
    position: absolute;
    top: 58%;
    left: 20px;
    font-family: "FontAwesome";
  }

  .forgot-div-wrapper .forgot-info .username-div:before {
    content: url("/img/user-login.png");
    position: absolute;
    top: 30%;
    left: 20px;
    font-family: "FontAwesome";
  }

  .user-PhoneNumber {
    top: 62% !important;
  }
  input#userName::placeholder {
    color: #beb8b8;
    font-size: 16pt;
    text-transform: uppercase;
  }

  input#userNumber::placeholder {
    color: #beb8b8;
    font-size: 20px;
    text-transform: uppercase;
  }

  .forgot-top {
    top: 20% !important;
  }


  .error-message {
    color:#f2d1d4 !important;
    margin:0 !important;
    padding:0 !important;
  }
  .logo-home-first-img {
    width: 50px;
    height: 50px;
    position: relative;
    top: -7px;
  }
}
.reset_page_background {
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
  height:100vh;
}

@media (max-device-width: 1024px)  {
  .reset_page_background {
    background: linear-gradient(135deg, #250b0e -5%, #e5485b 36%, #250B10 105%);
  }
}

.forgot-password-page{
  .login-form.user-login-form-style{
    form{
      .email{
        margin-bottom: 50px;
      }
      .sign_up_wrapper{
        margin-bottom: 50px;
        .LogInbtnClassSign{
          &::before{
            content: 'Rest';
            font-size: 10pt;
            letter-spacing: 2px;

          }
        }
      }
      .absolute-div-style_wrapper{
        position: absolute;
        width: 100%;
        margin: 0;
        font-size: 10pt;
        bottom: 2px;

      }
    }
  }
}



