.card_background {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.loader_wrapper{
  position: fixed;
  width: auto;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
  
  .loader_mobile{
      border: 16px solid #fff; /* Light grey */
      border-top: 16px solid #eb725a; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      z-index: 9999;
    }
    
.download_app {
  text-transform: uppercase;
  padding-top: 10px;
  color: #fafafa;
}
.page-login.page_background{
  .login-form.user-login-form-style{
    form{
      .email{
        margin-top: 0px;
      }
      .password.password_new{
        margin-top: 10px;
      }
    }
  }
}

// body {
//   background-color: #FEF3EF !important;
// }

.user-signup-wrapper{
  overflow:hidden;
}
.user-signup-container{
  width:100%;
  margin: 0 auto;
}
.user-signup-div-wrapper{
  width:96%;
  margin:0 auto;
  text-align:center;
  padding: 50px 0px;
  text-transform:uppercase;
  .remember_div .radio input:checked + span:before{
    top: 3px;
  }
  .remember_div .radio input:checked + span:after{
    top: 4.8px;
  }

}
.user-signup-div-wrapper .login-form div {
  margin: 20px 0px;
  font-family: 'Calibri' !important;
  letter-spacing:3px;
}
.user-signup-div-wrapper .user-signup-login-info input {
  width: 70%;
  line-height: 22px;
  text-align: center;
  padding: 10px 0px 25px 0px;
  font-size: 20px;
  color:#beb8b8;
}
.user-signup-div-wrapper .user-signup-login-info input[type='submit']{
  background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
  border: none;
  box-shadow: 0px 1px 5px 3px #000;
  color: #fff;
  text-transform:uppercase;

}
.user-signup-div-wrapper .user-signup-login-info .submit-button:before{
  content:'\f2bd';
  font-family: "FontAwesome";
  position:absolute;
  width:100%;
  text-align:center;
  top:20%;
  font-size:20px;
}
.user-signup-div-wrapper .user-signup-login-info .username:before{
  content:'\f2bd';
  position: absolute;
  top: 34%;
  left: 20px;
  font-family:"FontAwesome";
}
.user-signup-div-wrapper .user-signup-login-info .password:before{
  content:url("/img/new_img/password.svg");
  position: absolute;
  top: 30%;
  left: 20px;
  font-family:"FontAwesome";
}
.user-signup-div-wrapper .user-signup-login-info .email:before{
  content: "";
  position: absolute;
  top: 30%;
  left: 20px;
  font-family: "FontAwesome";
  background: url(/img/grey@.png);
  background-size: cover;
  height: 25px;
  width: 25px;
}
.user-signup-div-wrapper .user-signup-login-info .submit-button-dv{
  padding:30px 0px;
  position:relative;
}

.user-signup-div-wrapper .user-signup-login-info p {
  position: absolute;
  text-align: center;
  z-index: 99;
  width:100%;
  top: 55%;
  color: #beb8b8;
  font-size: 11px;
}
.user-signup-div-wrapper .username,.user-signup-div-wrapper .password,.user-signup-div-wrapper .email{
  position:relative;

}
.user-signup-div-wrapper .user-signup-login-info input{
  border-radius:5px;
  border:0px;
}

.user-signup-div-wrapper .user-signup-login-info .email{
 background:white;
  width: 100%;
}
.user-signup-div-wrapper .user-signup-login-info .password{
  background:white;
  width: 100%;
}
.user-signup-div-wrapper .user-signup-login-info .phoneNumber{
  background:white;
  width: 100%;
}
 .user-signup-div-wrapper .user-signup-login-info .username-div{
   background:white;
   width: 100%;
 }


.userlogin-padding {
  padding-top: 20px !important;
  padding-bottom: 31px !important;
}

.usersignup-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.user-login-form-style {
  position: relative;
  top: 35px;
}
.input-box-shadow {
  box-shadow: 0px 1px 5px 3px #2e2a2a;
}

@media (max-width:1024px){
  .user-signup-container{
    width:100%;
  }
}


input#userEmail::placeholder {
  text-transform: uppercase;
  color: #fff;
  font-size: 16pt;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  opacity: 0.3;
}

.user-login {
  color: #dfd7d7;
  font-size: 35px;
  position: absolute;
  top: 85px;
  left: 38%;
  letter-spacing: 2.5px;
}

.user-signup-login {
  color: #dfd7d7;
  font-size: 35px;
  position: absolute;
  top: 85px;
  left: 35%;
  letter-spacing: 2.5px;
}

.login-header-icon {
  position:relative;
}

.logo-login-img {
  width: 100px;
  height: 100px;
}

.user-login-absolute-div-style {

  background-size: cover;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  color: white;
  top: 40%;
  font-size: 20px !important;
  font-family: initial;
  color: #faf8f8c7 !important;
  text-transform: uppercase;

}

.user-login-top {
  top:80% !important;
}

.LogInbtnClass {
  background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
  border: none;
  box-shadow: 0px 1px 5px 3px #000;
  color: #fff;
  width:100%;
  margin-top:40px;
  padding: 10px 0px 10px 0px;

}

.username-div {
  position: relative;
  top: 2px;
}

.signin-continue {
  color: #faf8f8c7 !important;
  text-transform: uppercase;
  font-size: 12px;
}

.user-signup-div-wrapper .user-signup-login-info .phoneNumber:before{
  content:url("/img/phoneNumber.png");
  position: absolute;
  top: 58%;
  left: 20px;
  font-family:"FontAwesome";
}

.user-signup-div-wrapper .user-signup-login-info input::placeholder
{
  color: #beb8b8;
  font-size: 16pt;
  text-transform: uppercase;
}



.user-signup-div-wrapper .user-signup-login-info .username-div:before{
  content:url("/img/user-login.png");
  position: absolute;
  top: 30%;
  left: 20px;
  font-family:"FontAwesome";
}


.user-PhoneNumber {
  top:62% !important;
}
input#userName::placeholder {
  color: #fff;
  font-size: 16pt;
  text-transform: uppercase;
  opacity: 0.3;
}

input#userNumber::placeholder {
  color: #beb8b8;
  font-size: 20px;
  text-transform: uppercase;
}

.user-signup-top {
  top: 87% !important;
}

.user-active {
  border:3px solid red !important;
}

.user-not-exist {
  display:none;
  letter-spacing:1px;
  color: #fef8ff !important;
  font-size: 12px;
}
.wrong-password {
  display:none;
  letter-spacing:1px;
  color: #fef8ff !important;
  font-size: 12px;
}
.input_field_empty{
  display:none;
  letter-spacing:1px;
  color: #fef8ff !important;
  font-size: 12px;
}
.username_field{
  display:none;
  font-size: 12px;
  letter-spacing:1px;
  color: #fef8ff !important;
}
.password_input_field_empty{
  display:none;
  letter-spacing:1px;
  color: #fef8ff !important;
  font-size: 12pt;
}
.mandatory_text{
  display:none;
  letter-spacing:1px;
  color: #fef8ff !important;
  font-size: 12px;
}
.wrong-details {
  display:none;
  letter-spacing:1px;
  color: #fef8ff !important;
  font-size: 12px;
}

.forgot-password-div-text {
  text-transform: uppercase;
  font-size: 14px;
}

.forgot-passwordSignUp-div-text {
  text-transform: uppercase;
  font-size: 14px;
}
.download_store_div {
  width:65%;
  margin:0 auto;

  .appStoreLeft {
    float:left;
  }
}


.footer_loginpage,
.sign_up_page{
  .footer-div{
    background-color: transparent;
    .footer-content li,a{
      color: #fff !important;
    }
  }
}
.loginpage_header,
.signup_page_header{
  .homeheaderNavlink{
    &.active{
        background-image: url('/img/new_img/signin_active.svg');
    }
  }

}

a.homeheaderNavlink.new_newservice.active {
  background-image: url('/img/new_img/vendor_active_login.svg');
}

a.homeheaderNavlink.signup_icon.active {
  background-image: url('/img/new_img/user_active_login.svg');
}