.forgot_page_background {
  overflow: auto;
  background: -webkit-gradient(linear, -17.44% 21.84%, 117.44% 78.16%, color-stop(0, black), color-stop(0.1012, #3e1318), color-stop(0.2444, #902d38), color-stop(0.3622, #cc4050), color-stop(0.4484, #f14c5e), color-stop(0.4939, #ff5064), color-stop(0.5536, #e8495b), color-stop(0.6787, #ad3644), color-stop(0.8572, #4f191f), color-stop(1, black));
  width: 100%;
  height: 100vh;
}


.mobile-forgot-password-page {
  
  .back_top {
    top: 25% !important;
}

  .main-body {
    padding-top: 0px;
  }

  // body {
  //   background-color: #FEF3EF !important;
  // }

  .forgot-wrapper {
    overflow: hidden;
  }
  .forgot-container {
    width: 100%;
    margin: 0 auto;

  }
  .forgot-div-wrapper {
    width: 96%;
    margin: 0 auto;
    text-align: center;
    padding: 22px 0px;
    text-transform: uppercase;

  }
  .forgot-div-wrapper .login-form div {
    margin: 20px 0px;
    font-family: 'Calibri' !important;

    letter-spacing: 1px;
  }
  .forgot-div-wrapper .forgot-info input {
    width: 100%;
    line-height: 22px;
    text-align: center;
    padding: 10px 0px 25px 0px;
    font-size: 23px;
    color:#ead2d5 !important;
    background:transparent;
	  text-transform: uppercase;;
  }

  .forgot-div-wrapper .forgot-info input {
    width: 100%;
    line-height: 22px;
    text-align: center;
    padding: 10px 0px 25px 0px;
    font-size: 23px;
    color: #ead2d5 !important;
    background: transparent;
  }

  .forgot-div-wrapper .forgot-info input[type='submit'] {
    background: linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
    border: none;
    box-shadow: 0px 1px 5px 3px #000;
    color: #fff;
    text-transform: uppercase;

  }
  .forgot-div-wrapper .forgot-info .submit-button:before {
    content: '\f2bd';
    font-family: "FontAwesome";
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    font-size: 20px;
  }
 
   .forgot-div-wrapper .forgot-info .email {
    width:100%;
    background:transparent;
  }
  .forgot-div-wrapper .forgot-info .submit-button-dv {
    padding: 30px 0px;
    position: relative;
  }
 
  .forgot-div-wrapper .forgot-info p {
    position: absolute;
    text-align: center;
    z-index: 99;
    width: 100%;
    top: 55%;
    color: #731818;
    font-family: Calibri;
    font-size: 13px;
  }
  .forgot-div-wrapper .username, .forgot-div-wrapper .password, .forgot-div-wrapper .email {
    position: relative;

  }
  .forgot-div-wrapper .forgot-info input {
    border-radius: 2px;
    border: 0px;
  }

  

  .usersignup-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .forgot_password_form {
   padding-top:70px;
  }
  

  @media (max-width: 1024px) {
    .forgot-container {
      width: 100%;
    }
  }

  input#userEmail::placeholder {
    font-style: italic;
    color: #ed8d99;
    font-size: 16pt;
    text-transform:uppercase;
  }

  .forgot-text {
    color: #faf8f8c7;
    font-size: 19px;
    position: absolute;
    top: 75px;
    width:75%;
    margin:0 auto;
    letter-spacing: 2.5px;
  }

  .user-signup-login {
    color: #dfd7d7;
    font-size: 35px;
    position: absolute;
    top: 85px;
    left: 35%;
    letter-spacing: 2.5px;
  }

  .login-header-icon {
    position: relative;
    width:75%;
    margin:0 auto;
  }

  .logo-login-img {
    width: 90px;
    height: 90px;
  }

  .user-login-absolute-div-style {

    background-size: cover;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    color: white;
    top: 40%;
    font-size: 16px !important;
    font-family: initial;
    color: #faf8f8c7 !important;
    text-transform: uppercase;

  }

  .user-login-top {
    top: 80% !important;
  }

  .LogInbtnClass {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #faf8f8c7 !important;
    width: 100%;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    height:57px;
    .logo-home-first-img {
      width: 50px;
      height: 50px;
      position: relative;
      top: -7px;
    }

  }

  .forgot_header_text {
    background-size: cover;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    font-size: 25px !important;
    letter-spacing: 2px;
    top: 60% !important;
    font-family: Calibri;
    color: #faf8f8c7 !important;
    text-transform: uppercase;
  }

  .username-div {
    position: relative;
    top: 2px;
  }


  

  .user-PhoneNumber {
    top: 62% !important;
  }
  input#userName::placeholder {
    font-style: italic;
    color: #ed8d99 !important;
    font-size: 21px;
    text-transform:uppercase;
  }

 

  .forgot-top {
    top: 28% !important;
  }
  .error-message {
    color:#f2d1d4 !important;
    margin:0 !important;
    padding:0 !important;
  }

}





.mobile-forgot-password-page .popup_wrapper .alt_chat_wrapper .popup_content .popup_content_conatiner .popup_item.delete_wrapper{
  padding: 25px 20px 20px;
}
.mobile-forgot-password-page .popup_wrapper .alt_chat_wrapper .popup_content .popup_content_conatiner .popup_item .text_content_wrapper .text_container.forgot_pasword{
  padding: 0px 0px 40px 0px;
}
.mobile-forgot-password-page .popup_wrapper .alt_chat_wrapper .popup_content .popup_content_conatiner .popup_item h2{
  padding-bottom: 22px;
}