.mobile-search-div-header {
  padding-bottom: 45px;
  background: -webkit-gradient(linear,3.89% -16.96% ,96.11% 116.96% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
}

.mobile-user-category-block .mobile-user-category .admin-venue-box {
  padding: 0;
  min-height: unset;
  height: unset;
}

.mobile-user-category-block .mobile-user-category .admin-venue-name {
  width: 100%;
  padding: 10px 0;
  p{
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
  }
}

.mobile-user-category-block .mobile-user-category .admin-venue-name::before {
  content: "";
  background:url('/img/svg_img/event.svg'); 
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  background-repeat: no-repeat;
}

.mobile-user-category-block .mobile-user-category .admin-venue-name::after {
  background: url("/img/tabBarImg/greyList.svg");
  content: "";
  width: 25px;
  height: 25px;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background-repeat: no-repeat;
}

.mobile-user-category-block .mobile-user-category .admin-venue-name p.event-date {
  font-size: 16pt;
}

.mobile-user-category-block .mobile-user-category .admin-venue-name p.event-region {
  font-size: 8pt;
  padding: 0;
}

input.mobile-user-search {
  background: transparent;
  padding: 15px 23px;
  width: 91%;
  text-align: center;
  font-style: italic;
  font-weight: normal !important;
}

.mobile-search-div{
  position: relative;
  ul {
    border-radius: 4px;
    li.list-group-item.paddingBottom {
      border-radius:15px;
      background: transparent;
      padding: 0;
      border: 1px solid white !important;
      .row {
        margin: 0;
      }
    }

    li.list-group-item.paddingBottom::after {
      content: '';
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(/img/new_img/white_search.svg);
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    li {
      // height:60px;
      border-radius:4px;
    }
  }
}

.mobile-user-search {
  text-align: left;
  border: none;
  text-transform: uppercase;
  color: #fef5fd;
  font-size: 16px;
  width: 80%;
  padding-left: 35px;
  padding-top: 8px;
  font-style: oblique;
  font-weight: normal !important;
}

.mobile_user_search_text {
  width: 75%;
  margin: 0 auto;
  border-top: 1px solid #e98c8c;
}
.mobile_vendorService_logo_position {
  text-align: center;
  padding-top: 10px;
}

.mobile_vendor_logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #f4a5a5;
}

.height_100 {
  height:100%;
}

.mobile_searchLine {
  text-align: center;
}
.mobile_searchLinePMargin {
  margin:0 !important;
  text-align:center;
  height:10px;
}

.mobile-search-div {
  .li-box {
    box-shadow: unset;
  }
  .rating {
    text-align:center;
  }
}

.padding_topBottom {
  padding-top:0px !important;
  padding-bottom:0px !important;
}
.paddingTop {
  padding-top:0px !important;
}

.paddingBottom {
  padding-bottom:0px !important;
}


.mobile_grey_background {
  background: #000;
  width: 50%;
  opacity: 0.4;
  box-shadow: 2px 13px 14px 20px #000;
  height: 120px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
}

.mobile-user-search::placeholder {
  color: #fef5fd;
  font-size: 12pt;
  font-style: oblique;
    font-weight: normal !important;
}

.mobile-venue-select {
  width: 200px;
  margin:0 auto;
  border:none;
  text-transform: uppercase;
  color: #c8c8c7;
  font-size: 20px;
  text-align: center;
  text-align-last: center;
}

.mobile-venue-select:focus {
  outline:none;
  box-shadow: none;
  border:none;
}

.mobile_search_belowLine {
  margin: 10px;
  border-top: 1px solid #993e4a !important;
}

.vendor:before{
  content: "";
  position: absolute;
  background-image: url("/img/mobile_venue.png");
  background-repeat:no-repeat;
  background-size:contain;
  width:20px;
  height:20px;
  bottom:2px;
  left:20%;
}

.region:before{
  content: "";
  position: absolute;
  left: 20%;
  background-image: url("/img/mobile_region.png");
  background-repeat:no-repeat;
  background-size:contain;
  width:20px;
  height:20px;
  bottom:12px;
}

.mobile-search-img {
  width:25px;
  height:25px;
}

.mobile-search-icon-div {
  position: absolute;
  right:10%;
  top: 27%;
}

.li-box {
  box-shadow: 3px 2px 10px 2px grey;
}

.hanna-text-div {
  position: relative;
  bottom: 20px;
}

.mobile-search-results-div {
  width: 95%;
  margin:0 auto;
  margin-top: -45px;
  margin-bottom:85px !important;
}

.relativeposition.category-search {
  padding: 10px 20px;
}

.mobile-search-results-vendor--div {

  .mobile-search-top-body-container .vale_container .mychoice_data{
    width:100%;
    height: 100px;
  }

  .mobile-search-top-body-container .vale_container .mychoice_data{
    text-align:center;
    position:relative;
    text-color:#fff;
  }

  .mobile-search-top-body-container .vale_container .mychoice_data .div-float{
    position:absolute;
    left:-12px;

    top:50% !important;
    width:25%;

  }

  .mobile-grey-background {
    background: #000;
    /* width: 325px; */
    width: 88%;
    opacity: 0.4;
    height: 95px;
    box-shadow: 2px 13px 14px 20px #000;
    margin: 0 auto;
    position: relative;
    bottom: 26px;
  }
  .mobile-search-top-body-container .vale_container .mychoice_data .star{
    padding: 40px 0px 0px 0px;
  }
  .mobile-search-top-body-container .vale_container .mychoice_data h3{
    //border-bottom: 1px solid #ff4f6c;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0px;
    margin-bottom: -10px;
    font-size: 20px;
    margin-top:-8px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mobile-search-top-body-container .vale_container .mychoice_data p{
    font-size: 18px;
  }
  .mobile-search-top-body-container .vale_container .div-float p{
    // padding: 3px 10px;
    margin: 5px;
  }
  .mobile-search-top-body-container .vale_container .div-float p:nth-child(1){
    background:#ff4f6c;
    color:#fff;
    font-size:13px !important;

  }
  .mobile-search-top-body-container .vale_container .div-float p:nth-child(2){
    background:#1e6f69;
    color:#fff;
    font-size:13px !important;

  }
  .mobile-search-top-body-container .vale_container .div-float p:nth-child(3){
    background:#fe6d2c;
    color:#fff;
  }
  .mobile-search-top-body-container .vale_container .div-float-top{
    margin: 0 auto;
    position: absolute;
    top: 0;
    text-align: center;
    left: 35%;

  }
  .mobile-search-top-body-container .value_image{
    width:90%;
    margin:0 auto;
  }
  .mobile-search-top-body-container .value-main-content{
    padding:8px 0px;
    //overflow:hidden;

  }
  .mobile-search-top-body-container .vale_container .div-float-top p {
    float: left;
    width: 23%;
    margin: 0px 3px;
    background: #ff0000;
    height: 67px;
  }
  .mobile-search-top-body-container .vale_container .div-float-top p:nth-child(1){
    background:#ff4f6c;
    color:#fff;

  }
  .mobile-search-top-body-container .vale_container .div-float-top p:nth-child(2){
    background:#1e6f69;
    color:#fff;

  }
  .mobile-search-top-body-container .vale_container .div-float-top p:nth-child(3){
    background:#fe6d2c;
    color:#fff;
  }
  .mobile-search-top-body-container .value_image img{
    width:100%;
    height: 110px;
  }
  .vale_container{
    color:#fff;
  }
  .mobile-search-top-body-container .place-header h4{
    float: left;
  }
  .mobile-search-top-body-container .place-header hr{
    width: 88%;
    float: right;
    right: 0;
    margin-top: 22px;
    margin-bottom: 16px;
  }

  .relativeposition {
    position:relative;
  }
  
  .soldout {
    //box-shadow: -2px -1px 0px 0px #ff4f6c;
    text-transform: uppercase;
    background: #ff4f6c !important;
    //background: url("/img/14.png") !important;
  }

  p.first-soldout:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -11px;
    top: -2px;
    border-style: solid;
    border-width: 0 0 7px 7px;
    border-color: transparent transparent #ff4f6c transparent;
  }


  p.first-best-deal:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -10px;
    top: 35px;
    border-style: solid;
    border-width: 0px 0 5px 7px;
    border-color: transparent transparent #1e6f69 transparent;
  }


  p.first-hot:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -27px;
    top: 29px;
    border-style: solid;
    border-width: 0px 0 5px 8px;
    border-color: transparent transparent #fe6d2c transparent;
  }


  p.second-best-deal:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    /* margin-left: -5px; */
    top: 0px;
    border-style: solid;
    border-width: 0px 0 5px 7px;
    border-color: transparent transparent #1e6f69 transparent;
  }

  .top-all-div {
    position: relative;
    top: -45px;
  }

  .choice-circle-img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }

  .shadow-box-div {
    top:10%;
  }

  .circle-star-margin {
    margin-top: -20px !important;
    border:0px !important;
    width: 40%;
    text-align: center;
    position: relative;
    left: 30%;
    padding-bottom: 10px;
    margin-bottom:-15px;
    min-height:30px;
  }

  .star-block {
    border-bottom: 1px solid #c3b1b4;
    width: 40%;
    text-align: center;
    position: relative;
    left: 32%;
    padding-bottom: 10px;
    padding-top: 40px;
  }


  p.second-hot:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -26px;
    top: 30px;
    border-style: solid;
    border-width: 0px 0 5px 8px;
    border-color: transparent transparent #fe6d2c transparent;
  }


  p.third-best-deal:before {
    position: absolute;
    content: '';
    margin-left: -17px;
    top: 59px;
    border-style: solid;
    width: 0;
    height: 0;
    border-width: 0 5px 5px 0;
    border-color: transparent #1e6f69 transparent transparent;
  }

  p.top-soldout:before {
    position: absolute;
    content: '';
    margin-left: 42px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #ff4f6c;
  }


  p.top-best-deal:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: 40px;
    top: 0px;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #1e6f69;
  }


  p.top-hot:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: 38px;
    top: 0px;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #fe6d2c;
  }

  .best-deal-margin {
    margin-top: 4px !important;
  }

  .best-deal {
    //box-shadow: -2px -1px 0px 0px #1e6f69;
    text-transform: uppercase;
    background: #1e6f69 !important;

    //background: url("/img/15.png") !important;
  }


  .hot {
    //box-shadow: -2px -1px 0px 0px #fe6d2c;
    text-transform: uppercase;
    background: #fe6d2c !important;
    //background: url("/img/16.png") !important;
  }

  .choice-text-style {
    text-transform: uppercase;
    color: #e6dede;
    margin:0;
  }


  .second-choice-div {
    top:22% !important;
  }
  .third-choice-div {
    top:40% !important;
    width:80px;
  }


  .third-choice-top-div {
    left: 40% !important;
  }

  .star-logo {
    width:15px;
    height:15px;
  }


  .rating {
    span {
      margin-right:5px;
    }
  }
  .venues-div {
    color: #8f8e8e;
    text-transform: uppercase;
    // font-weight: 600;
  }

  .icon_div {
    margin:0;

    span {
      margin-right:5px;

    }
  }

  .icon-img {
    width:10px;
    height:10px;
  }

}

select#category-select {
  background-color: white !important;
}
select#region-select {
  background-color: white !important;
}

@media (min-width:411px) and (max-width:414px) {
  .mobile-search-results-vendor--div p.second-best-deal:before {
    margin-left:-17px !important;
  }

  .mobile-search-results-vendor--div p.second-hot:before {
    margin-left:-33px !important;
  }
}

@media (min-width:320px) and (max-width:340px) {
  .mobile-search-results-vendor--div p.second-best-deal:before {
    margin-left:-5px !important;
  }

  .mobile-search-results-vendor--div p.second-hot:before {
    margin-left:-22px !important;
  }
}
@media (min-width:375px) and (max-width:400px) {
  .mobile-search-results-vendor--div p.second-best-deal:before {
    margin-left:-11px !important;
  }

  .mobile-search-results-vendor--div p.second-hot:before {
    margin-left:-29px !important;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  .mobile-search-results-vendor--div .mobile-search-top-body-container .vale_container .mychoice_data .div-float {
    width:10% !important;
  }

  .mobile-search-results-vendor--div p.second-best-deal:before {
    margin-left:-5px !important;
  }

  .mobile-search-results-vendor--div p.second-hot:before {
    margin-left:-22px !important;
  }
}

