.userTopBar_region {
  background-image: url(/img/region_topBar.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0% !important;
  letter-spacing: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fix-bar-option.userTopBar_date{
  width: 100%;
}
.margin-0{
  margin: 0 !important;
}
.userTopBar_event {
  background-image: url(/img/event_topBar.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0% !important;
  letter-spacing: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.userTopBar_date {
  background-image: url(/img/date_topBar.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0% !important;
  letter-spacing: 2px;
  width:160px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.userTopBar_guest {
  background-image: url(/img/guset_topBar.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0% !important;
  letter-spacing: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #f0f8ff !important;
  color:#b3b3b3 !important;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color:#b3b3b3 !important;
}