.subscribe-optin{
  .popup-edit-style {
    width:50%;
    margin:0 auto;
  }

  .edit-input-box {
    width:50%;
    margin:0 auto;
  }

  #UpdateCategoryPicture {
    display:none;
  }

  .upload-image-text {
    font-size:9px;
  }

  .upload-image {
    width:50px;
    height:50px;border-radius: 50%;
  }

  .admin-img-show{
  position: absolute;
  top: 20px;
  left: 10px;
}

  #NewCategoryPicture {
    display:none;
  }


.new-category-picture{
  padding: 5px 30px 5px 30px !important;
}

  #categorySave {
    width:64%;
  }
}
.chat-body li.list-group-item.list-right-padding-style{
  height: auto;
}

.adminEditListDesktop{
  display: flex;
  line-height: 40px;
  .left_div{
    flex-grow: 7;
    flex-basis: 40%;
    position: relative;
    img{
      position: absolute;
      left: 0;
      content: '';
      top: 0;
      width: 25px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
    }
    .adminEditTextCenterDesktop{
      height: 100%;
      width: 100%;
      padding: 0px 10px 0px 50px;
      text-align: center;
      p{
        margin: 0;
        height: 100%;
        width: 100%;
        line-height: 40px;
        text-transform: uppercase;
      }
    }
  }
  .right_div{
    flex-grow: 2;
    justify-content: space-between;
    display: flex;
    flex-basis: 40px;

  }
}