
.username {
  display: inline-block;
  position: relative;
  // top: -5px !important;
}
#UserSettingpopUp{
  ul{
    li{
      &:nth-child(even){
        background: #bdb7b71c;
      }
      a{
        font-size: 10pt;
        
      }
      span{
        img{
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.username-link {
  color: white;
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.service-head-logo {
  position: relative;
  right:5px;
}

.service-home-logo-text {
  font-size: 30px;
  color: white;
  position: relative;
  right: 28%;
  bottom: 27px;
  letter-spacing: 3px;
}

.logOutpopUptext
{
  .home-logInOutList{
    li {
      background-color: transparent;
      text-transform: uppercase;
      font-size: 16px;
      // font-weight: 600;
      color: #9E9593;
    }
  }

  .logoutImage{
    width:20px;
    height:20px;
  }


}
.logOutpopUptext .home-logInOutList li:hover {
  background-color: #ebf5ff;
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color:grey;
}


/* logInpopUp container - can be anything you want */
.logOutpopUp {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual logInpopUp */
.logOutpopUp .logOutpopUptext {
  visibility: hidden;
  width: 160px;
  background: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  top:60px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;

  left: 50%;
  margin-left: -80px;
}

///* logInpopUp arrow */
//.logOutpopUp .logOutpopUptext::after {
//  content: "";
//  position: absolute;
//  top: 100%;
//  left: 50%;
//  margin-left: -5px;
//  border-width: 5px;
//  border-style: solid;
//  border-color: #555 transparent transparent transparent;
//}

/* Toggle this class - hide and show the logInpopUp */
.logOutpopUp .show {
  visibility: visible;
  // -webkit-animation: fadeIn 1s;
  // animation: fadeIn 1s;
}

/* Add animation (fade in the logInpopUp) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

a.a-color:hover {
  color:white;
}

.UserSettingspopUptext
{
  .home-logInOutList{
    li {
      background-color: transparent;
      text-transform: uppercase;
      font-size: 16px;
      // font-weight: 600;
      padding:12px;
    }
  }

  .logoutImage{
    width:20px;
    height:20px;
  }


}


/* logInpopUp container - can be anything you want */
.UserSettingpopUp{
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual logInpopUp */
.UserSettingpopUp .UserSettingspopUptext {
  visibility: hidden;
  width: 145px;
  //background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  background:white;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #e1dbdb;
  padding: 0;
  top:60px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  right: -8px;
  box-shadow: 0px 0px 11px 1px #86506c;
  &.UserSettingspopUptext_update#UserSettingpopUp{
    width: 500px;
    z-index: 9999;
    border-radius: 4px;
    ul{
      padding: 5px 7px;
      li{
        
        &:hover{
          background-color: transparent;
        }
        position: relative;
        margin-bottom: 15px;
        &:nth-last-child(){
          margin-bottom: 0;
        }
        .left_image,
        .right_image{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #bbbaba;
          img{
            width: 25px;
            height: 25px;
          }

        }
        .left_image{
          left: 10px;
        }
        .right_image{
          right: 10px;
        }
        &:nth-child(even){
          background: transparent;
        }
        .content{
          width: 100%;
          padding: 0px 35px;
          height: fit-content;
          position: relative;
          p{
            line-height: 22px;
            &.heading_text{
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          p,button,input{
            margin: 0;
            width: 100%;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            color: #bbbaba;
            border: 0;
            font-size: 16pt;
            letter-spacing: 1px;
            background-color: transparent;
            &.heading_text{
              font-size: 16pt;
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;

            }
            &.paragraph_text{
              font-size: 10pt;

            }
          }
          button{

            &:focus{
              outline: none;
            }
          }
          img{
            position: absolute;
            right: 22%;
            width: 25px;
            height: 25px;
            top: -5px;
          }
          input{
            &::placeholder{
              color: #bbbaba;
              text-align: center;
              font-size: 16pt;
              letter-spacing: 3px;
            }
          }
          
        }
      }
    }
  }
}

///* logInpopUp arrow */
//.logOutpopUp .logOutpopUptext::after {
//  content: "";
//  position: absolute;
//  top: 100%;
//  left: 50%;
//  margin-left: -5px;
//  border-width: 5px;
//  border-style: solid;
//  border-color: #555 transparent transparent transparent;
//}

/* Toggle this class - hide and show the logInpopUp */
.UserSettingpopUp .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.username-dot {
  color: #1e6f69;
  padding-right: 5px;
  font-size: 40px;
  // font-weight: 600;
}
.settingstextdiv4 {
  position: relative;
  left: 5%;
}

.home-header-logo-padding {
  padding-right: 20px;
  position: relative;
  top: -1px;

}

//.home-header-settingsimg {
//  height: 53px;
//}







#userTopBar{
  .dashboard-guest.user_guest_padding.relativePosition.height_100{
    // display: inline-grid;
    // height: 100%;
    #numOfGuest{
      line-height: 42px;
    }
  }
}