.mobile-user-guestlist-div-header {
  padding-bottom: 45px;
  // background:linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
  background: -webkit-gradient(linear, 3.89% -16.96%, 96.11% 116.96%, color-stop(0, rgba(0, 0, 0, 1)), color-stop(0.1012, rgba(62, 19, 24, 1)), color-stop(0.2444, rgba(144, 45, 56, 1)), color-stop(0.3622, rgba(204, 64, 80, 1)), color-stop(0.4484, rgba(241, 76, 94, 1)), color-stop(0.4939, rgba(255, 80, 100, 1)), color-stop(0.5536, rgba(232, 73, 91, 1)), color-stop(0.6787, rgba(173, 54, 68, 1)), color-stop(0.8572, rgba(79, 25, 31, 1)), color-stop(1, rgba(0, 0, 0, 1)));
}

.mobile-user-guestlist .chat_header {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 2px 12px 0px #7b7575;
  background-color: white;
  color: #ccc;
  min-height: 60px;
  font-size: 16pt;
  margin-bottom: 10px;
  text-align: center;
  padding: 18px 10px;
  position: relative;
}
.mobile-user-guestlist.background-none{
  background: none;
}
.mobile-user-guestlist .chat_header::before {
  content: "";
  background: url("/img/WEDDING.png");
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background-size: contain;
  position: absolute;
  top: 15px;
  left: 15px;
}

.mobile-user-guestlist .chat_header::after {
  background: url("/img/tabBarImg/greyList.svg");
  content: "";
  width: 25px;
  height: 25px;
  background-size: contain;
  position: absolute;
  bottom: 25px;
  right: 15px;
  background-repeat: no-repeat;
}

.mobile-user-guestlist .chat_header.event-name::after {
  background: url("/img/new_img/greyTable.svg");
  content: "";
  width: 25px;
  height: 25px;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.mobile-user-guest-list-type-box {
  width: 95%;
  transform: translate(-50%, -50%);
  left: 50%;
  box-shadow: 0px 2px 12px 0px #7b7575;
  display: inline-flex;
  background-color: white;
  padding: 20px 10px 0px 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 35px;

  .block1 {
    width: 10%;
    position: relative;
    top: 4px !important;

    .list-img {
      width: 25px;
      height: 25px;
    }
  }

  .block2 {
    width: 80%;
    position: relative;
    bottom: 10px;

    .type-search {
      font-style: inherit;
    }

    input#messageText::placeholder {
      color: #ccc2c0;
      font-size: 18px;
    }
  }

  .block2::before {
    content: "";
    background: url(/img/table.svg);
    display: block;
    width: 30px;
    height: 20px;
    float: left;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .block2::after {
    background: url(/img/tabBarImg/greyList.svg);
    content: "";
    width: 24px;
    height: 24px;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .block3 {
    width: 10%;
    height: 10%;
    position: relative;
    text-align: right;
    top: 3px !important;
    span {
      padding: 0px !important;
    }

    .list-img {
      width: 25px;
      height: 25px;
    }
  }
}

.mobile-user-guest-list-type-box._mobile-guestlist {
  display: inline-flex;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  border: 2px solid white;
  border-radius: 10px;
}

.mobile-user-guest-list-type-box._mobile_guestlist_input .block2::before {
  content: unset
}

.mobile-user-guest-list-type-box._mobile_guestlist_input .block2::after {
  content: unset
}

.tableListParent {
  padding: 0 10px;
}

.mobile-user-guest-list-type-box.table-list {
  padding: 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 60px;
  border: 2px solid white;
  border-radius: 15px;
  transform: none;
  left: unset;
  background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  color: white;
  box-shadow: unset;
}

.mobile-user-guest-list-type-box.table-list .block2 {
  width: 100%;
  bottom: 0;
}

.mobile-user-guest-list-type-box._mobile_guestlist_input {
  width: 95%;
  box-shadow: unset;
  display: inline-flex;
  background-color: transparent;
  padding: 5px;
  border-radius: 4px;
  position: fixed;
  bottom: 62px;
  border: 2px solid white;
  border-radius: 10px;
  left: 0;
  right: 0;
  transform: unset;
  margin: auto;
}

.mobile-user-guest-list-type-box._mobile_guestlist_input {
  .block1, .block2, .block3 {
    top: unset;
    bottom: unset;
  }
}

.mobile-table-list-Img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

.mobile-user-guestlist {
  height:100vh;
  padding: 0px 5px;
  margin: 0 auto;
  margin-top: -30px !important;
  text-transform: uppercase;
  overflow-y: scroll;
  background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);

  .user-mobile-guest-list-view {
    .list-group-item {
      background-color: white;
      color: grey;
      width: 48%;
      margin: 1%;
      float: left;
      padding: 7px 10px;
      display: inline-block;
      box-shadow: 0px 2px 12px 0px #7b7575;
      border-radius: 2px;
    }

    .list-group-item:last-child {
      margin-bottom: 192px !important;
    }
  }

  .mobile_user_guestListEvent_img {
    position: absolute;
    left: 12px;
    top: 17px;
    width: 25px;
    height: 25px;
    z-index: 9999;
  }

  .mobile-user-guestlist-box {
    width: 100%;
    display: flex;

    .block1 {
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }

    .block2 {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      span {
        word-wrap: break-word;
        color: #b4b1b1;
        font-size: 10pt;
      }
    }

    .block3 {
      img {
        width: 11px;
        height: 11px;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 350px) {}
