
.mobile-admin-approval-name-div {
  position: relative;
  bottom: 35px;
}

.mobile-admin-approval-div {
  margin: 0;
  padding: 15px;
  clear: both;
  overflow: hidden;
}

.mobile-admin-approvals {

  width: 95%;
  margin: 0 auto;
  margin-top:-60px;
  margin-bottom:95px;

  .mobile-admin-left-icon {
    position: relative;
    right: 10px;
  }

  .time-text {
    padding-left: 20px;
    color: #b0aeae;
    // font-weight: 600;
  }


  .tick-img-div {
    position: absolute;
    top: 50px;
    right: 5px;
  }

  .tick-img {
    width:50px;
    height:50px;
  }

  .second-div{
    position: relative;
    overflow: hidden;
    cursor:pointer;
  }

  .admin-approvals-listBackground {
    background-color:white;
    li {
      background-color:transparent !important;
    }

    .all-div-text1 {
      margin-top:-10px;
      font-size:28px;
    }
    .all-div-text2 {
      margin-top: -8px;
      background-color:transparent !important;
    }
    .all-div-text4 {
      margin-top: -8px;
      background-color:transparent !important;
    }
    .all-div-text3 {
      margin-bottom: 10px;
    }
  }

  .second-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    // box-shadow: 1px 2px 12px 0px #22222C; 
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;
    margin-bottom:5px;


    .mobile-admin-left-icon {
      position: relative;
      right: 10px;
    }
  }

  .div-left-icon {
    float: left;
    padding: 5px 0px !important;
    overflow: hidden;
  }
  .all-div-icon {
    position: relative;
    left: 15px;
  }
}

