.VendorBottomBar {
  #tabBarDiv {
    margin: auto;
    position: fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index:1;
  }

  #tabBarInnerContainer {
    width: 100%;
  }

  #tabBarContentDiv {
    font-size: 18pt;
    font-family: Tahoma;
    text-align: center;
    color: white;
  }

//   .ios_phone {
//     .tab button {
//         width:16.66% !important;
//         font-size: 9px;
//     }
// }

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 9px;
    color: grey;
    transition: 0.3s;
    font-size: 12px;
    text-transform: uppercase;
    width: 20%;
    display: grid;
  }

  ///* Change background color of buttons on hover */
  //.tab button:hover {
  //  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
  //  color: white;
  //
  //  .icon-size {
  //    width: 30px;
  //    height: 30px;
  //  }
  //}
  //
  ///* Create an active/current tablink class */
  //.tab button.active {
  //  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
  //  color: white;
  //}

  .button_active {
    background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
    color: white;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
}
