.seller-facilities {

  li.form-check {
    display: inline-block;
    width: 49%;
    text-transform: uppercase;
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 2px;
    color: #a5a1a1;

    input[type=checkbox] {
      position: relative;
      left: 10px;
      top: 2px;
    }
  }

  li.form-check:nth-child(even){
    margin-left: 5px;
  }
}