.mobile-admin-approval-service-div-header {
  padding-bottom: 20px;
  // background: linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
  // background: -webkit-gradient(linear,3.89% -16.96% ,96.11% 116.96% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
  padding-top: 35px;
  background: -webkit-linear-gradient(-36deg, #865a8d 0%, #be659f 27%, #d679a0 40%, #d679a0 60%, #be659f 70%, #865a8d 100%);
  height: 205px;
  min-height: 205px;
}

.mobile-admin-service-div {
  margin: 0;
  padding: 10px;
  clear: both;
  overflow: hidden;
  h1{
    font-size: 30px;
    color: #7d3939;
    text-align: center;
    letter-spacing: 0.1000em;
    // font-weight: 600;
    text-transform: uppercase;
  }
}
.mobile-admin-approval-service-block {
  width:95%;
  margin:0 auto;
  margin-top:-30px;

  .mobile-admin-approval-tick-div {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    background-color: white;
    border-radius: 5px;
    // box-shadow: 0px 1px 25px 4px #575353;
    box-shadow: 0px 2px 12px 0px #7b7575;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 10px;

    .block-one {
      width:85%;
      p {
        font-size: 23px;
        // font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
        text-align: center;
        padding-left: 50px;
      }
    }
    .block-two {
      width:15%;

      img {
        width:30px;
        height:30px;
      }
    }
  }
}

.mobileAdminApprovalService{

  margin-bottom: 95px;
.ulClass {
  background-color: grey;
}

  li {
    background-color:transparent;
  }

  .mobile-adminSevice-first-div {
    img {
      height: 190px;
      width: 100%;
    }

  }
  .scroll-div-margin {
    margin-top:-10px;
    margin-bottom:-10px;
  }

  .mobile-adminSevice-second-div {
  .mobile-admin-service-img-list-scroll{
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    overflow-x: scroll;
    img {
      height: 45px;
      width: 45px;
    }
  }
    .mobile-admin-service-img-absolute-div{
      position: absolute;
      top: -5px;
      left: 45%;
      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 2px solid #412c16;
        background-color: #412c16;
      }
    }
  }



  .mobile-adminSevice-common-div {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    background-color: white;
    border-radius: 5px;
    // box-shadow: 0px 1px 25px 4px #575353;
    box-shadow: 0px 2px 12px 0px #7b7575;
    margin-bottom:10px;
    img {
      height: 100%;
      width: 312px;
    }
    .nameClass {
      font-size:20px;
      // font-weight:600;
    }
    p {
      margin:0;
    }

  }

   .username:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/user-login.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .category:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/cube.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .credintilas:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    background: url(/img/greycontacts.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
  }
  .location:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/greylocation.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .mail:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/grey@.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .phone:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/greyPhone.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .website:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/greyInternet.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .subscription:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/greyPack.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .payment:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/greyCredintialss.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .timezone:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/global-time.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .XXXX:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    background: url(/img/information.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .packList:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 10px;
    background: url(/img/greyPack.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .admin-facility-pack {
    box-shadow: 2px 3px 7px 0px grey;
    margin-bottom: 10px;
    border-radius: 5px;
    .admin-div-background {
      overflow: hidden;
      padding-top: 15px;
      /* padding-left: 10px; */
      line-height: 2;
      text-align:center;
    }
    label.form-check-label {
      position: relative;
      top: 5px;
      width: fit-content;
      padding-right: 25px;
      text-transform: uppercase;
    }

    input.form-check-input.facility-check-box.mobite-checkbox {
      zoom: 1.5;
      top: 3px;
      cursor: pointer;
      width: 20px;
      position: absolute;
      right: 0;
    }
    .form-check {
      background: #00a69e;
      width: 31% !important;
    }
  }

  .pack-div {
    background-color:white;
    text-align:center;
  p {
    text-transform: uppercase;
    font-size: 16px;
  }
    .tick-absolute {
      position: absolute;
      top: 40%;
      right: 0;
    }
    img {
      width:25px;
      height:25px;
    }

    h2 {
      color: #bbbaba;
      font-size:25px;
    }

    .exclu-h2 {
      color: #281212;
      // font-weight: 600;
      font-size: 25px;
    }
  }

}