.mobile_vendor_login {

  .home-login-mobile-wrapper {
    overflow: hidden;
    background: #FEF3EF;
  }
  .home-login-mobile-container {
    margin: 0 auto;
    background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
  }
  .home-login-mobile-div-wrapper {
    width: 96%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    text-transform: uppercase;

  }
  .home-login-img {
    width: 80px;
    height: 80px;
  }
  .home-login-absolute-div-style {


    span {
      font-family: Calibri !important;
      font-size: 25px !important;
      font-weight: 600;
      color: #faf8f8c7 !important;
      letter-spacing: 4px;
    }

    background-size: cover;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    top: 60%;
    font-family: Calibri !important;
    font-size: 25px !important;
    font-weight: 600;
    letter-spacing: 4px;
    color: #faf8f8c7 !important;

  }
  .home-login-mobile-div-wrapper .home-login-form div {
    margin: 12px 0px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info input {

    width: 70%;
    line-height: 22px;
    text-align: center;
    padding: 10px 0px 25px 0px;
    font-size: 23px;
    color: #bbbaba;
    font-weight: 600;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .email {

    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    border: 0px;
  }

  .home-login-mobile-div-wrapper .home-login-mobile-login-info .phone {

    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    font-weight: 600;
    background: white;
    border-radius: 5px;
    border: 0px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .username {

    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    font-weight: 600;
    background: white;
    border-radius: 5px;
    border: 0px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .password {

    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    font-weight: 600;
    background: white;
    border-radius: 5px;
    border: 0px;
  }

  .home-login-mobile-div-wrapper .home-login-mobile-login-info input::placeholder {
    text-transform: unset;
    color: #bbbaba;
    font-size: 18px;
    font-weight: 600;
  }

  .posrel {
    position:relative;
  }

  .home-login-mobile-div-wrapper .home-login-mobile-login-info input::placeholder {
    text-transform: uppercase;
  }

  .uppercase-div {
    text-transform: uppercase;
  }

  .home-login-mobile-div-wrapper .home-login-mobile-login-info input[type='submit'] {
    background: linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
    border: none;
    box-shadow: 1px 2px 12px 0px #22222C;
    color: #fff;

  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .submit-button:before {
    content: '\f2bd';
    font-family: "FontAwesome";
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    font-size: 20px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .username {
    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    font-weight: 600;
    background: white;
    border-radius: 5px;
    border: 0px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .username:before {
    content: url("/img/user-login.png");
    position: absolute;
    top: 30%;
    left: 20px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .password:before {
    content: url("/img/new_img/password.svg");
    position: absolute;
    top: 30%;
    left: 20px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .email:before {

    content: "";
    position: absolute;
    top: 30%;
    left: 20px;
    background: url(/img/grey@.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .phone:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 20px;
    background: url(/img/greyPhone.png);
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .home-login-mobile-div-wrapper .home-login-mobile-login-info .submit-button-dv {
    padding: 70px 0px;
    position: relative;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info .submit-button-dv::before {
    content: '\f2bd';
    position: absolute;
    width: 100%;
    font-size: 20px;
    top: 40%;
  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info p {
    position: absolute;
    text-align: center;
    z-index: 99;
    width: 100%;
    top: 55%;
    font-size: 13px;
    color: #b5b1b1;
    font-weight: 600;
  }
  .home-login-mobile-div-wrapper .username, .home-login-mobile-div-wrapper .password, .home-login-mobile-div-wrapper .email {
    position: relative;

  }
  .home-login-mobile-div-wrapper .home-login-mobile-login-info input {
    border-radius: 5px;
    border: 0px;
  }
  .home-login-form {
    margin-top: 10px;
  }

  .home-login-button-div {

    .home-login-btn {
      background: linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
      border: none;
      box-shadow: 1px 2px 12px 0px #22222C;
      color: #fff;
      width: 100%;
      padding: 10px 0px 10px 0px;
      margin-top: 45px;
      height:60px;
    }

    .absolute-div-style {
      top: 65%;
      letter-spacing: 2px;
    }
  }

  .mobile_vendor_user_signUp {
    margin-bottom: -5px !important;
  }
  .mobile_vendor_signUpButton {
    margin-top: -45px !important;
  }

  .home-welcome-div {
    bottom: 25px;
    position: fixed;
    left: 42%;
  }
 

}