.mobile-vendor-MyBusiness-block.mobile_newservice_wrapper {
  .vendor-leftSideBar {
    .vendor-SideBarContctDetails p {
      font-size: 8pt;
    }
  }
}
.mobile-vendor-MyBusiness-block {
  margin-bottom: 80px;
  margin-top: -30px;

  .vendor-my-business-form {
    width: 95%;
    margin: 0 auto;
    .my-business-li-class {
      margin-bottom: 10px;
      box-shadow: 0px 2px 12px 0px #7b7575;
      border-radius: 4px;
    }

    .list-group-item {
      margin-bottom: 10px;
    }
  }

  .vendor_myBusiness_detailsdiv {
    margin-bottom: 10px !important;
    box-shadow: 0px 2px 12px 0px #7b7575;
    background-color: white;
    border-radius: 4px;
  }
  .carousel-slider {
    border-radius: 4px;
    border-radius: 4px;
  }

  .mobile-vendor-myBusiness .picture-upload {
    overflow: hidden;
    border-radius: 4px;

    #mobileVendorBusinessLogo {
      display: none;
    }
    #mobileVendorBusinessMain {
      display: none;
    }
    #mobileVendorBusinessMore {
      display: none;
    }
    #mobileVendorBusinessVideo {
      display: none;
    }
  }

  .mobile_morePictures_borderClass {
    border: 2px dashed #ccc !important;
  }
  .mobile-vendor-myBusiness .picture-upload .add-more-pic {
    width: 75%;
    margin: 0 auto;
    border: none;
    text-align: center;

    .img-border-label {
      margin-top: 5px;
      padding-bottom: 10px;
      width: 125px;
      border-bottom: 1px solid #b74e61;
    }

    h4 {
      font-size: 16px;
      color: #bbbaba;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      font-size: 14px;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .mobile-main-camera-abs {
    position: absolute;
    left: 12px;
  }
  .vendor-business-pack {
    .business-pack {
      font-size: 20px;
      color: #bbbaba;
      text-align: center;
    }

    p {
      margin: 0;
      text-align: center;
      padding-top: 10px;
    }
    h2 {
      margin: 0;
    }

    .business-textarea-div {
      width: 95%;
      margin: 0 auto;

      textarea.business-text-area-box:focus {
        outline: none;
        box-shadow: none;
        font-size: 20px;
      }

      .business-text-area-box {
        width: 100%;
        margin: 10px auto 0px;
        overflow: hidden;
        z-index: auto;
        position: relative;
        line-height: 20px;
        font-size: 16px;
        color: #afabab;
        transition: none;
        background: transparent !important;
      }
    }
  }

  .vendor-facility-pack {
    .vendor-business-facility-div {
      padding-right: 10px;
    }
    .vendor_my_busines_facilityImg {
      width: 10px;
      height: 10px;
      position: relative;
      left: 5px;
      top: 4px;
    }

    .vendor-business-div-background {
      background-color: white;
      overflow: hidden;
      padding-top: 15px;
      line-height: 2;
    }
    label.form-check-label {
      position: relative;
      top: 15px;
      width: 100%;
      text-transform: uppercase;
    }

    input.form-check-input.facility-check-box.mobite-checkbox {
      zoom: 1.5;
      top: 3px;
      cursor: pointer;
      width: 20px;
      position: absolute;
      right: 0;
    }
    .form-check {
      background: #00a69e;
      width: 31% !important;
    }
  }
  .mobile_facility {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 16px 0;
      width: 70%;
      margin: 0 auto;
      li {
        list-style-type: none;
        width: 25%;
        text-align: center;
        img {
          width: 25px;
          height: 25px;
        }
        &.active {
          span {
            color: #551e3b;
            font-size: 8pt;
          }
        }

        span {
          color: #ccc2c0;
          font-size: 8pt;
        }
      }
    }
  }

  .vendor-leftSideBar .vendor-SideBarContctDetails {
    overflow: hidden;
  }
  .vendor-leftSideBar .vendor-SideBarContctDetails h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #c3b9b9;
    text-align: center;
    margin: 0px;
    padding: 0px 10px;
    bottom: 3px;
    width: 80%;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .vendor_list_name_size {
    font-size: 16pt !important;
  }

  .mobile_myBuss_shortTitle {
    line-height: 1;
  }

  .vendor_info_button {
    min-height: 60px;
    height: 60px;

    .mobile_user_settings_text_logo {
      top: 17px;
    }
  }

  .vendor-leftSideBar .vendor-SideBarContctDetails p {
    font-size: 12pt;
    text-transform: uppercase;
    color: #c3b9b9;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .vendor-my-business-form {
    ul {
      .list-group-item:last-child {
        margin-bottom: 20px !important;
      }
    }
  }
}
.mobile-vendorMyBusiness-more-pictures-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  width: 208px;
  opacity: 0.45;
  margin: 0 auto !important;
  margin-bottom: 18px !important;
  z-index: 0;
  position: absolute;
  top: 57px;
  left: 22%;
}
.more-MyBusinesspictures-absolute-div {
  position: relative;
  width: 100%;
  padding: 20px 0px;
  top: -11%;
  z-index: 100;
}
.mobile_vendor_myBusineeButttton {
  position: relative;
  text-align: center;
  left: 22%;
}

.mobile_vendor_myBusiness_facility_label {
  text-align: center;
  padding: 0 !important;

  span {
    font-size: 12pt;
  }
}
.mobile-vendor-MyBusiness-block {
  .save_button.vendor_page {
    background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%) !important;
    padding: 7px 0px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px #7b7575;
    .text-style {
      position: relative;
      .service_back_logo-home-first-img {
      }
      .absolute-div-style {
        position: absolute;
        bottom: -20px;
        top: inherit;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
