.admin-login-mobile-wrapper
{
  overflow:hidden;
  background: #FEF3EF;
}
.admin-login-mobile-container
{
  margin: 0 auto;
  background:linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
}
.admin-login-mobile-div-wrapper
{
  width:96%;
  margin:0 auto;
  text-align:center;
  padding: 50px 0px;
  text-transform:uppercase;

}
.home-login-img
{
  width: 80px;
  height: 80px;
}

//.home-welcome-img-div {
//  bottom: 30px;
//  position: fixed;
//  left: 39%;
//  img {
//    width:70px;
//    height:70px;
//  }
//}

.home-login-absolute-div-style
{


  span {
    font-family: Calibri !important;
    font-size: 25px !important;
    // font-weight: 600;
    color: #faf8f8c7 !important;
    letter-spacing: 4px;
  }

  background-size: cover;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  top: 60%;
  font-family: Calibri !important;
  font-size: 25px !important;
  // font-weight: 600;
  color: #faf8f8c7 !important;
  letter-spacing:4px;

}

.admin-login-mobile-div-wrapper .admin-login-form {
  margin-top: 45px;
}

.admin-login-mobile-div-wrapper .admin-login-form div
{
  margin: 12px 0px;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info input
{

  width: 70%;
  line-height: 22px;
  text-align: center;
  padding: 10px 0px 25px 0px;
  font-size: 23px;
  color: #bbbaba;
  // font-weight:600;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .email
{

  width: 100%;
  line-height: 22px;
  text-align: center;
  color: #bbbaba;
  // font-weight: 600;
  background: white;
  border-radius: 5px;
  border: 0px;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .password
{

  width: 100%;
  line-height: 22px;
  text-align: center;
  color: #bbbaba;
  // font-weight: 600;
  background: white;
  border-radius: 5px;
  border: 0px;
}

.admin-login-mobile-div-wrapper .admin-login-mobile-login-info input::placeholder
{
  text-transform: unset;
  color: #bbbaba;
  font-size: 18px;
  // font-weight: 600;
}

.uppercase-div
{
  text-transform: uppercase;
}

.admin-login-mobile-div-wrapper .admin-login-mobile-login-info input[type='submit']
{
  background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
  border: none;
  box-shadow: 6px 1px 5px 3px #000;
  color: #fff;

}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .submit-button:before
{
  content:'\f2bd';
  font-family: "FontAwesome";
  position:absolute;
  width:100%;
  text-align:center;
  top:20%;
  font-size:20px;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .username
{
  width: 100%;
  line-height: 22px;
  text-align: center;
  color: #bbbaba;
  // font-weight: 600;
  background: white;
  border-radius: 5px;
  border: 0px;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .username:before
{
  content:url("/img/user-login.png");
  position: absolute;
  top: 30%;
  left: 20px;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .password:before
{
  content:url("/img/new_img/password.svg");
  position: absolute;
  top: 30%;
  left: 20px;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .email:before
{

  content: "";
  position: absolute;
  top: 30%;
  left: 20px;
  background: url(/img/grey@.png);
  background-size: cover;
  height: 25px;
  width: 25px;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .submit-button-dv
{
  padding:70px 0px;
  position:relative;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info .submit-button-dv::before
{
  content: '\f2bd';
  position: absolute;
  width: 100%;
  font-size:20px;
  top:40%;
}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info p
{
  position: absolute;
  text-align: center;
  z-index: 99;
  width:100%;
  top: 55%;
  font-size: 13px;
  color: #b5b1b1;
  // font-weight: 600;
}
.admin-login-mobile-div-wrapper .username,.admin-login-mobile-div-wrapper .password,.admin-login-mobile-div-wrapper .email
{
  position:relative;

}
.admin-login-mobile-div-wrapper .admin-login-mobile-login-info input{
  border-radius:5px;
  border:0px;
}
.admin-login-form
{
  margin-top:45px;
}

.home-login-button-div
{

  .home-login-btn {
    background: linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
    border: none;
    box-shadow: 0px 1px 5px 3px #000;
    color: #fff;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 45px;
  }

  .absolute-div-style {
    top:65%;
    letter-spacing: 2px;
  }
}

.home-welcome-div
{
  bottom: 25px;
  position: fixed;
  left: 42%;
}

button.text-style.home-login-btn:focus {
  outline: none;
  border: none;
}

@media (max-width:1024px)
{
  .admin-login-mobile-container{
    width:100%;
    position: absolute;
    height: 100%;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 425px)  {
  //.home-welcome-img-div {
  //  bottom: 10%;
  //  position: fixed;
  //  left: 42%;
  //}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
  //.home-welcome-img-div {
  //  bottom: 25%;
  //  position: fixed;
  //  left: 46%;
  //}
}