// body {
//   background-color: #FEF3EF !important;
// }

.admin-signup-wrapper{
  overflow:hidden;
}
.admin-signup-container{
  width:100%;
  margin: 0 auto;
}
.admin-signup-div-wrapper{
  width:96%;
  margin:0 auto;
  text-align:center;
  padding: 50px 0px;
  text-transform:uppercase;

}
.admin-signup-div-wrapper .login-form div {
  margin: 12px 0px;
}
.admin-signup-div-wrapper .admin-signup-login-info input {
  width: 100%;
  line-height: 22px;
  text-align: center;
  padding: 10px 0px 25px 0px;
  font-size: 20px;
  color: #beb8b8;

}

.admin-signup-div-wrapper .admin-signup-login-info input::placeholder
{
  color: #beb8b8;
  font-size: 20px;
  text-transform: uppercase;
}
.admin-signup-div-wrapper .admin-signup-login-info input[type='submit']{
  background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
  border: none;
  box-shadow: 0px 1px 5px 3px #000;
  color: #fff;

}
.admin-signup-div-wrapper .admin-signup-login-info .submit-button:before{
  content:'\f2bd';
  font-family: "FontAwesome";
  position:absolute;
  width:100%;
  text-align:center;
  top:20%;
  font-size:20px;
}
.admin-signup-div-wrapper .admin-signup-login-info .username:before{
  content: url(/img/user-login.png);
  position: absolute;
  top: 30%;
  left: 20px;
  font-family: "FontAwesome";
}
.admin-signup-div-wrapper .admin-signup-login-info .password:before{
  content: url(/img/new_img/password.svg);
  position: absolute;
  top: 30%;
  left: 20px;
  font-family: "FontAwesome"
}
.admin-signup-div-wrapper .admin-signup-login-info .email:before{
  content: "";
  position: absolute;
  top: 30%;
  left: 20px;
  font-family: "FontAwesome";
  background: url(/img/grey@.png);
  background-size: cover;
  height: 25px;
  width: 25px;
}
.admin-signup-div-wrapper .admin-signup-login-info .submit-button-dv{
  padding:70px 0px;
  position:relative;
}
.admin-signup-div-wrapper .admin-signup-login-info .submit-button-dv::before {
  content: '\f2bd';
  position: absolute;
  width: 100%;
  font-size:20px;
  top:40%;
}
.admin-signup-div-wrapper .admin-signup-login-info p {
  position: absolute;
  text-align: center;
  z-index: 99;
  width: 100%;
  top: 55%;
  color: #beb8b8;
  font-size: 11px;
}
.admin-signup-div-wrapper .username,.admin-signup-div-wrapper .password,.admin-signup-div-wrapper .email{
  position:relative;

}
.admin-signup-div-wrapper .admin-signup-login-info input{
  border-radius:2px;
  border:0px;
}


.admin-signup-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


.admin-login-padding {
  padding-top: 50px !important;
  padding-bottom: 31px !important;
}
.admin-login-form-style {
  position: relative;
  top: 55px;
}

.input-box-shadow {
  box-shadow: 0px 1px 5px 3px #2e2a2a;
}

.signin-continue {
  color: #faf8f8c7 !important;
  text-transform: uppercase;
  font-size: 12px;
}

.adminusername-div {
  position: relative;
  top: 2px;
  width:100%;
}

.admin-login {
  color: #dfd7d7;
  font-size: 35px;
  position: absolute;
  top: 85px;
  left: 35%;
  letter-spacing: 2.5px;
}
.admin-not-exist {
  display:none;
  color: white;
  font-size: 18px;
  margin-bottom: -35px;
}


.admin-email-margin{
  margin-top: 2px !important;
}

.admin-signup-top {
  top: 87% !important;
}

@media (max-width:1024px){
  .admin-signup-container{
    width:100%;
  }
}
