.delete_account_wrapper .popup_wrapper .alt_chat_wrapper {
    left: 0;
}

.popup_wrapper{
    position: relative;
    .alt_chat_wrapper{
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url(/img/new_img/forgot_background.svg);
        background: #271f26;
        top: 0;
        z-index: 9999999999;
        .popup_content{
            width: 290px;
            margin: 0 auto;
            height: 100%;
            .popup_content_conatiner{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                height: fit-content;
                .popup_item{
                    &.delete_wrapper{
                        padding: 20px 50px;
                    }
                    &.sign_out{ 
                        padding: 20px 33px;
                        .text_container{
                            padding: 30px 0px !important;
                        }
                    }
                    &.terms_div{
                        padding: 20px 50px;
                    }
                    background: #fff;
                    box-shadow: 0px 0px 10px 2px #000;
                    border-radius: 4px;
                    padding: 26px 15px;
                    h2{
                        text-align: center;
                        width: 100%;
                        font-size: 16pt;
                        color: #2b1106;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        -webkit-font-smoothing: subpixel-antialiased;
                        margin: 0;
                    }
                    .text_content_wrapper{
                        &.text_content_wrapper{
                            padding: 15px 0px;
                        }
                        &.padding-top-bottom-0{
                            padding: 0;
                        }
                        .text_container{
                            padding: 20px 0px;
                            
                            &.forgot_pasword{
                                padding: 0px 0px 55px 0px;
                            }
                            .typePasswordForgot{
                                width: 100%;
                                text-align: center;
                                border:none;
                                &::placeholder{
                                    text-transform: uppercase;
                                    color: #bbbaba;
                                }
                            }
                            p{
                                margin: 0;
                                &:first-child{
                                    margin-bottom: 20px;
                                }
                                &.valid_username{
                                    font-size: 8pt;
                                    margin: 20px 0px;
                                }
                                &.terms_text{
                                    font-size: 8pt;
                                    line-height: 15px;
                                    text-align: center;
                                    margin-bottom: 50px;
                                }
                            }
                            p,button{
                                text-align: center;
                                text-transform: uppercase;
                                font-size: 10pt;
                                line-height: 17px;
                            }
                            .password.password_new{
                                margin: 30px 0px;
                                img{
                                    width: 15px;
                                    height: 15px;
                                }
                                #userPassword{
                                    width: 100%;
                                    text-align: center;
                                }
                                p{
                                    color: #2d150e;
                                    font-size: 10pt;
                                    margin-top: -5px;
                                }
                            }
                        }
                        button{
                            text-align: center;
                            width: 100%;
                            font-size: 10pt;
                            color: #2d150e;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            margin: 0;
                            background: transparent;
                            border: 0;
                            &.first_button{
                                color: #bbbaba;
                            }
                        }
                        .button_wrapper{
                            display: flex;
                            button{
                            }
                        }
                    }
                    .radio_button_wrapper{
                        .remember_div{
                            padding-top: 10px;
                            padding-bottom:0;
                            &.padding_25px0{
                                padding: 25px 0px;
                            }
                            &.padding_top_inial{
                                padding-bottom: 15px;
                                padding-top: 15px;
                            }
                            .radio{
                                margin:20px 0px;
                                width: 100%;
                                overflow: hidden;
                                &:last-child{
                                    margin-bottom: 0;
                                }
                                span{
                                    color: #bbbaba;
                                    font-size: 11pt;
                                }
                            }

                        }
                        .remember_div .radio input + span:before{
                            right: 5px;
                            border: 1px solid #c4c4c4;
                            background: #fff;
                            top: 3px;
                            width: 13px;
                            height: 13px;
                        }
                        .remember_div .radio input + span:after{
                            right: 6px;
                            top: 4.8px;
                            width: 11px;
                            height: 11px;
                            border: 1px solid #c4c4c4;
                        }
                    }
                }
            }

        }
    }
}
