
.body-content{
   width:85% !important;
}


.one-box {
    width:100%;
    display:inline-flex;
    margin:0 auto;
}


.three-box {
    width:80%;
}

.four-box {
    width:10%;
}


.mag-top {
    margin-top: 12px;
}



/* .home-header {
    display: block;
    display: flex;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.4em;
    justify-content: space-between;
    align-items: center;

} */

.home-logo {
    position: relative;
    /*left: 110px;*/
    /*bottom: 20px;*/
}

.home-logo img {
    width: 80px;
    border-radius: 50%;
}

.home-logo img {
    width: 40px;
    border-radius: 50%;
}

.home-logo2 {
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: 2px;
}

.home-logo3 {
    width: 28px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: 2px;
}

.home-logo1 {
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.home-header-nav {
    /*vertical-align: middle;*/
    /*margin-right: 10px;*/
    /*position: relative;*/
    /*bottom: 10px;*/
}

.home-header-nav-new {
    bottom: 30px;
    /*right: 85px;*/
}

.home-header-nav ul {
    margin: 0
}

.home-header-nav-item {
    display: inline-block;
    color: #fff;
}

.home-header-nav-item .homeheaderNavlink img{
    width: 35px;
    height: 35px;
}

.home-header-nav-link {
    color: #fff;
    /* font-weight: 400; */
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.5em;
    border-bottom: 5px solid transparent;
}

.seller-dashboard-name {
    position: relative;
    left: 25%;
}

.seller-cateogory-name {
    right:25px !important;
}


.home-logo-text {
    font-size: 30px;
    color: white;
    position: relative;
    right: 29%;
    /*right:28%;*/
    bottom: 25px;
    letter-spacing: 3px;
}

.home-header-nav-link:hover,
.home-header-nav-link.active {
}


.key {
    position: relative;
    right: 20px;
}

.dashboard-search {
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
    /* font-style: oblique; */
    font-size: 16px;
}


.home-header-col-style {
    position: relative;
    top: 5px;
}

.home-line {
    position: relative;
    bottom: 80px;

}

.fix-bar-option {
    font-size: 12pt;
    /* font-weight: bold; */
    /*color: #c5c1c2;*/color:#898485;
    text-transform: uppercase;

}

.vendor-search {
    background-color: #FEF3EF;
}

.new
{
    position: relative;
    font-size: 15px;
    text-transform: UPPERCASE;
    top: 10px;
    width: 50px !important;
    color:#cabfbd;
}
hr {
    /*border-top: 1px solid #cfc9c9 !important;*/
    border-top: 1px solid #9E9593 !important;
}


.home-body {
    position: relative;
    bottom: 80px;
}

.menubar-left ul li {
    box-shadow: 1px 2px 12px 0px #22222C;
}

.fix-bar-option1 {
    font-size: 16px;
    /* font-weight: bold; */
    color: #914047;
    text-transform: uppercase;

}
.create-add-button {
    width: 15px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: -1px;
}
.create-add {
    width: 15px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: -1px;
}

.create-add {
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: -1px;
}

.home_create {
    color:#C1272D;
    font-size:15px;
    /* font-weight:bold; */
    font-family: monospace;
}

.fa-check-circle-o:before {
    color: #fb5063 !important;
}


/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
    font-size:20px;
}

.has-search .form-control {
    border:1px solid black;
    padding-right: 12px;
    padding-left: 34px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}
.form-control:active,
.form-control:focus,
.form-control.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:red;
}

.dashboard-search-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #ddd;
    background-color: transparent;
    background-image: none;
    text-align:center;
    border:none;
}

.dashboard-search-division{

    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-top: 15px;
    position: relative;
    bottom: 70px;
    background-color: transparent;
}

.newtext {
    position: relative;
    top: 10px;
    font-size: 16px;
    color: #8f8e8e;
    /* font-weight: bold; */
}

.dashboard-search-box {
    position: relative;
    top: 7px;
}

.hrbox {
    position: relative;
    top: 5px;
}

.newbody {
    position: relative;
    bottom: 40px;
}

.dashboard-list-logo {
    width:20px;
    height:20px;
}

.dashboard-left-icon {
    position: relative;
    top: 0px;
    font-size: 20px;
}

.img-top {
    top:5px !important;
}

.dashboard-choosen-left-icon {
    position: relative;
    top: 0px;
    font-size: 25px;

}

.dashboard-choosen-right-icon {
    position: relative;
    top: 0;
    font-size: 25px;

}

.dashboard-right-icon {
    position: relative;
    top: 0;
    font-size: 20px;
}

.dashboard-category {
    font-size:16px;
    color:#938c8c;
}

.dashboard-seller {
    font-size: 16px;
    text-decoration: none;
    padding-bottom:5px;
}

.dashboard-choosen-service {
    font-size:16px;
    color:#938c8c;
}

.dashboard-first-two-list-item-style {
    background: linear-gradient(to right, #89686e 0%, #dddd 51%, #89686e 100%) !important;
    color: #857979;
}


input#searchKey::placeholder {
    color: #beb8b8;
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
}

.home-search-div {
    position: relative;
    top: 8px;
    padding-bottom: 15px;
}

.dashboard-search-input-box {
    border-right: 1px solid #d5d0d0;
    height: 35px;

}

.greyBackground {
    background: #000;
    /*width: 325px;*/
    width:93%;
    opacity: 0.4;
    height: 170px;
}
.greyBackground{
    margin: 0 auto;
    position: relative;
    bottom: 26px;
    /*border-radius: 26px;*/
}

.dshboardPage
{
    cursor: pointer;
}

/* .shadow-box-div
{
    position: absolute;
    top: 0;
    width: 100%;

} */
/* .shadow-box-main-div
{
    position: relative;
} */

.settings-img {
    cursor:pointer;
}
.setting-hrefBox {
    padding: 0 !important;
    position: relative;
    /*top: 2px;*/
}

.settings-text {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    /* font-weight: 600; */
    color:#9E9593;
}
/*.settings-text:hover {*/
    /*color:white;*/
/*}*/

.settingstextdiv1 {
    position: relative;
    left: 5%;
}
.settingstextdiv2 {
    position: relative;
    left: 5%;
}
.settingstextdiv3 {
    position: relative;
    left: 5%;
}
li.list-group-item.d-flex.justify-content-between.align-items-center.settings-list_popUp:hover {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, 0.08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    border: 1px solid rgba(0, 126, 255, 0.24);
    color:grey;
}
input#eventName::placeholder {
    color: #bbbaba;
}
.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent;}
.placeholder-fix:focus::-moz-placeholder   {color:transparent;}
.placeholder-fix:-moz-placeholder   {color:transparent;}

.guest-placeholder-fix:focus::-webkit-input-placeholder  {color:transparent !important;}
.guest-placeholder-fix:focus::-moz-placeholder   {color:transparent !important;}
.guest-placeholder-fix:-moz-placeholder   {color:transparent !important;}



input#numOfGuest::-moz-placeholder {
    color: transparent;
    text-align: center;
}


.exist-text {
    /* display:none; */
    color: white;
    font-size: 12pt;
    /* margin-bottom: -35px; */
    /* font-weight: 600; */
}





