
.username {
  display: inline-block;
  position: relative;
  // top: 0 !important;
}

.username-link {
  color: white;
  font-size: 8pt;
  text-transform: uppercase;
}


.service-head-logo {
  position: relative;
  right:5px;
}

.service-home-logo-text {
  font-size: 30px;
  color: white;
  position: relative;
  right: 28%;
  bottom: 27px;
  letter-spacing: 3px;
}


.headerUserPadding {
  padding-right: 20px;
}

.headerUserNamePadding {
  padding-right: 10px;
}

.logOutpopUptext
{
  .home-logInOutList{
    li {
      background-color: transparent;
      text-transform: uppercase;
      font-size: 16px;
      // font-weight: 600;
    }
  }

  .logoutImage{
    width:20px;
    height:20px;
  }


}


/* logInpopUp container - can be anything you want */
.logOutpopUp {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual logInpopUp */
.logOutpopUp .logOutpopUptext {
  visibility: hidden;
  width: 160px;
  background: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  top:60px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  box-shadow: 0px 0px 12px 2px #000;

  left: 50%;
  margin-left: -80px;
}

///* logInpopUp arrow */
//.logOutpopUp .logOutpopUptext::after {
//  content: "";
//  position: absolute;
//  top: 100%;
//  left: 50%;
//  margin-left: -5px;
//  border-width: 5px;
//  border-style: solid;
//  border-color: #555 transparent transparent transparent;
//}

/* Toggle this class - hide and show the logInpopUp */
.logOutpopUp .show {
  visibility: visible;
  // -webkit-animation: fadeIn 1s;
  // animation: fadeIn 1s;
}

/* Add animation (fade in the logInpopUp) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

a.a-color:hover {
  color:white;
}

.username-dot {
  color: #eaab5a;
  padding-right: 5px;
  font-size: 45px;
}





