
.padding-right-0{
  padding-right: 0 !important;
}
.margin-top-28{
  margin-top: -28px;
}

.content_wrapper{
  .news_service_button{
    background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%);
    border-radius: 5px;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 1px #000;
    padding: 5px 0px;
    position: relative;
    margin-bottom: 30px;
      .text-style {
        font-size: 20px !important;
        font-family: initial;
        color: #faf8f8c7 !important;
        text-align: center;
        .service_back_logo-home-first-img {
          width: 40px;
          height: 41px;
          
        }
        .back_top{
          position: absolute;
          bottom: 6px;
          width: 100%;
          color: #f9cabd;
          z-index: 9999;
          text-align: center;
          font-size: 13px;
          top: initial !important;
        }
    }
  }
  .show_rating_container{
    margin: 10px 0px;
    height: 65px;
    .show_rating_wrapper{
      position: relative;
      padding: 20px 15px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 1px 2px 12px 0px #22222C;
      height: 100%;
      &.cursor_calss{
        cursor: pointer;
      }
      p{
        margin: 0;
        line-height: 15px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        &.font-smooth-unset{
          -webkit-font-smoothing: unset;
        }
      }
      .left_image{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 48%;
        transform: translateY(-59%);
        img{
          width: 100%;

        }
      }
      .right_image{
        
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0%,-50%);
        text-align: right;
        p{
          font-size: 10px;
          &:nth-child(1){
            font-weight: bold !important;
          }
        }
        img{
          width: 25px;
          height: 25px;
          object-fit: contain;
          &.right_img_icon{
            width: 18px;
            height: 18px;
          }
          
        }
      }
      .center_div{
        width: 100%;
        .best_seller_wrapper{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          .content{
            width: 60%;
            margin: 0 auto;
            text-align: center;
            p{
              line-height: 20px;
              &.heading_text{
                font-size: 16px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                &.line-height-37{
                  line-height: 37px;
                      text-align: left;
                  padding: 0px 34px;
                }

              }
              &.paragraph_text{
                font-size: 12px;

              }
              
            }
          }
          
          img{
            width: 46px;
            height: 50px;
            object-fit: contain;
            
            
          }
        }
      }
      &.padding_10{
        padding: 15px 10px;
      }
      &.left_div_30{
        .left_image{
          left: 30px;
        }
      }
      &.active{
        background-image: linear-gradient(to right, #4e4376 0%, #000000 50%, #4e4376 100%);
        p{
          -webkit-font-smoothing: unset;
          color: #fff;
        }
      }
    }
  }
  .show_rating_container_second{
    .show_rating_wrapper{
      .center_div{
        .best_seller_wrapper{
          img{
            width: 25px;
            height: 25px;
            object-fit: contain;
            margin: 0px 5px;
          }
        }
      }
    }
  }
  
}




.approval-tick {
  width: 25px;
  height: 25px;
  float: left;
  right: 40px;
  position: relative;
}

.approval-tick-div {
  position: absolute;
  top: 8px;
  right: 11px;
}
.adminApprovalDetailsList {
  .admin-approvals-details-list {
    margin-bottom: 10px !important;
    box-shadow: 0px 5px 5px 4px grey;
    /* margin-left: 10px; */
    background-color: white;
    border-radius: 4px;
  }
  li{
    &.marginleft_10{
      margin-left: 10px;
    }
    &.listStyle_type{
      list-style-type: none;

    }
  }



.admin-slide-more-img{
  background:white;
  border: 5px solid #a29c9c;
  box-shadow: 0px 1px 0px 3px grey;
  width: 45px !important;
  height: 45px !important;
}

  .admin-approval-logoImg-div {
    position: relative;
  }

  .admin-approval-circle-image{
    width:60px !important;
    height:60px !important;
    border-radius:100%;
  }


  .admin-slideShowScroll{
    overflow: auto;
    white-space: nowrap;
    width: 400px;
  }


  .admin-slideShowScrollDiv{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }


.admin-approval-logoImg{
  position: absolute;
  overflow: hidden;
  /* top: 0; */
  bottom: -10px;
  left: 44%;
}

  .admin-approved-div {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 2px grey;

    div {
      text-align:center;
    }
  }

  .admin-approvals-first-div {
    background-color: #a4a0a0 !important;
    padding-top: 0px;
  }

  .admin_approval_details_hr {
    bottom: 10px !important;
  }

  #images {
    white-space: nowrap;
  }

  .approvals-img {
    width:100%;
    height:250px;
  }
  .admin-approvals-first-div{
    margin: 5px 0px;
    img{
      border-radius: 3px;
    }
    // &:nth-child(3){
    //   img{
    //     border-radius: 25px;
        
    //   }
    // }
  }

  .admin-approvals-list {
    margin-bottom: 10px !important;
    box-shadow: 0px 5px 5px 4px grey;
    /* margin-left: 10px; */
    background-color: white;
    border-radius: 4px;
    &.margin_bottom_0{
      margin-bottom:0px !important; 
    }
  }

  #sellerMorePicture {
    display:none;
  }

  .vendor-check-div {
    // padding-left:20px;
    .new_service_position{
      ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;
        margin: 0;
        padding: 16px 0;
        width: 75%;
        margin: 0 auto;
        li{
          list-style-type: none;
          width: 25%;
          text-align: center;
          margin: 5px 0px;
          img{
            width: 25px;
            height: 25px;
          }
          span{
            color: #bbbaba;
          }
          &.active{
            span{
              color: #6a343d;
            }
          }

        }
      }
    }
  }
.admin-logo-img-div{
  position: absolute;
  top: -20px;
  background-color: white;
  border-radius: 50%;
  /* width: 50%; */
  /* margin: 0 auto; */
  /* overflow: hidden; */
  left: 45%;
}
  .admin-logo-img
{
  width: 70px;
  height: 70px;
  border: 2px solid #856c38;
  border-radius: 50%
}

  .vendor-service-first-div {
    width: 29%;
    float: left;
    margin: 5px;
    background: #f28b6c;
    word-wrap:break-word;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 2.2;
    border-radius: 4px;
    text-transform: uppercase;
  }
  .vendor-myservice-checkbox {
    float: left;
    position: relative;
    top: 5px;
    left: 5px;
    zoom: 1.5;
  }

  .vendor-check-box-item {

    position: relative;
    overflow:hidden;

  }

  .floatLeft {
    float:left;
  }
  .admin-approvals-list {
    margin-bottom: 10px !important;
    // box-shadow: 1px 2px 12px 0px #22222C;
    box-shadow: 0px 2px 12px 0px #22222C;
    background-color: white;
    border-radius:4px;

  }

  .vendor-leftSideBar hr {
    margin: 5px auto;
    width: 125px;
  }

  .camera-img {

    width:32px;
    height:32px;
    cursor:pointer;

  }

  .vendor-leftSideBar .picture-upload{
    overflow:hidden;
    background: #fff;
    padding: 20px 0px;
  }
  .vendor-leftSideBar .picture-upload .add-more-pic{
    width: 90%;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: -20px;
    line-height: 3;
    border: 2px dashed #ccc;
    text-align: center;
  }

  .vendor-leftSideBar .picture-upload .add-more-pic h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #c3b9b9;
    font-weight: 600;
    margin: 8px;
  }

  .vendor-leftSideBar .picture-upload .add-more-pic p{
    text-transform: uppercase;
    font-size: 10px;
    color: #c3b9b9;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top:-10px;

  }
  .vendorleftSide-text-div {
    text-align: center;
    color: #b4b0b0;
    text-transform: uppercase;
    position: relative;
    .left_image{
      position: absolute;
      width: 15px;
      height: 15px;
      top: -18px;
      left: 0;
      img{
        width: 100%;
      }
    }
    
  }

  .vendor-leftSideBar .vendorleftSide-text-div .vendor-right-logo .fa-star:before
  {
    content: "";
    position: relative;
    top: 0;
    float:left;
    height: 20px;
    width: 20px;
    background-size: cover;
    background-image: url(/img/greyPack.png);
  }

  // .vendor-leftSideBar .vendorleftSide-text-div h2
  // {
  //   margin: 5px;
  //   font-size: 24pt !important;
  // }

  // .vendor-leftSideBar .vendorleftSide-text-div p
  // {
  //   margin: 0;
  //   margin-top: -5px;
  //   font-size: 12pt;
  // }

  .vendor-leftSideBar .vendorleftSide-text-div h4
  {
    margin-bottom:0px;
  }

  .vendor-star {
    width:13px;
    height:13px;
    margin: 0px 3px;
  }
  .vendor-star-print {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
  }

  .vendor-leftSideBar .vendor-SideBarContctDetails h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #c3b9b9;
    font-weight:600;
    text-align: center;
    margin:0;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }

  .vendor-leftSideBar .vendor-SideBarContctDetails p {
    font-size: 8pt;
    text-transform: uppercase;
    color: #c3b9b9;
    font-weight:600;
    text-align: center;
    margin:0;
    -webkit-font-smoothing: antialiased;
  }

  .vendor-service-firstlastdiv {
    margin-bottom: 15px !important;
    // box-shadow: 1px 2px 12px 0px #22222C;
    box-shadow: 0px 2px 12px 0px #7b7575;
    margin-left: 10px;
    background-color: white;
    border-radius: 4px;

  }

  .admin-approvals-list .admin-username:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/user-login.png);
  }



  .admin-approvals-list .admin-venue:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/cube.png);
  }
  .admin-approvals-list .password:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/new_img/password.svg);
  }
  .admin-approvals-list .vendor-service-debit-card:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/greycontacts.png);
  }



  .admin-approvals-list .vendor-service-credentials:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/greyCredintialss.png);
  }



  .admin-approvals-list .vendor-service-location:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/greylocation.png);
  }


  .admin-approvals-list .vendor-service-email:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/grey@.png);
  }


  .admin-approvals-list .vendor-service-number:before {
    content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/greyPhone.png);
  }

  .vendor-service-top {
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    bottom: 60px;
    background-color: transparent;
  }

  .vendor-chat-hr {
    width: 230px;
    position: relative;
    right: 55px;
  }

  .vendor-my-service {
    position: relative;
    right: 25px;
    top: 10px;
    font-size: 16px;
    color: #8f8e8e;
    font-weight: bold;
  }

  .vendor-genorous-pack
  {
    color: #a29393;
  }

  .vendor-exclusive-pack
  {
    color: #684e52;
  }

  #vendorMainPicture {
    display:none;
  }

  #vendorVideo {
    display:none;
  }
  #vendorMorePicture {
    display:none;
  }


}

@media (min-width:1360px) and (max-width:1420px) {
  .adminApprovalDetailsList .approvals-img {
    width: 100%;
    height: 250px;
  }
}


@media (min-width:1360px) and (max-width:1400px) {
  .adminApprovalDetailsList .approvals-img {
    width: 100%;
    height: 250px;
  }

}

@media (min-width:1024px) and (max-width:1180px) {
  .adminApprovalDetailsList .approvals-img {
    width: 100%;
    height: 250px;
  }
}
@media (min-width:1180px) and (max-width:1280px) {
  .adminApprovalDetailsList .approvals-img {
    width: 100%;
    height: 250px;
  }
}
@media (min-width:1280px) and (max-width:1300px) {
  .adminApprovalDetailsList .approvals-img {
    width: 100%;
    height: 250px;
  }
}

.status_div_wrapper{
  .body_container{
    padding: 25px 0px;
  
    .status_left_div{
      padding-left: 0 !important;

    }
    .status_center_div{
      width: 36%;
      float: left;

    }
    .status_right_div{
      padding-right: 14px !important;
      .show_rating_wrapper{
        padding: 15px 15px;
        .best_seller_wrapper{
          padding: 0px 40px;
          p{
            -webkit-font-smoothing: unset;
            &.text-limit{
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;
            }
            
            &.header_text{
              font-size: 11pt;
              line-height: 23px;
            }
            &.message{
              font-size: 9pt;

            }
          }
        }
        .left_image{
          width: 18px;
          height: 18px;
          left:20px;
          transform: translate(0%, -72%);

        }
        .right_image{
          right: 20px;
          img{
              border-radius: 1000px;
              padding: 0px;
              margin: 0;
              overflow: hidden;
          }
          span{
            display: inline-block;
            border-radius: 1000px;
            padding: 0px;
            margin: 0;
            overflow: hidden;
            width: 30px;
            height: 30px;
            border: 2px solid #5ea49d;
            color: #5ea49d;
            text-align: center;
            line-height: 27px;
            vertical-align: middle;
          }
        }
      }

    }
    .status_left_div,
    .status_right_div{
      width: 32%;
      float: left;
      padding: 0px 25px;

    }
    ul{
      li{
        list-style-type: none;
        .content_wrapper{
          .show_rating_container{
            margin: 4px 0px;
          }
        }
        &.list-group-item_each{

          .best_seller_wrapper{
            .content{
              width: 100% !important;
            }
          }

        }
      }
    }
    .third-div{
      .approval_wrapper_section{
        position: relative;
        .left_div{
          left: 10px;
          img{

          }
          span{
            color: #bababa;
            font-size: 10px;
            line-height: 23px;
            padding: 0px 3px;
          }

        }
        .right_div{
          right: 10px;
          text-align: center;
          img{
            width: 30px;
            height: 30px;
            object-fit: contain;
            position: relative;
            top: 50%;
            transform: translate(0,-70%);
          }
          
        }
        .center_div{
          width: 100%;;
          padding: 20px 40px;
          text-align: center;
          p{
            margin: 0;
            text-transform: uppercase;
            line-height: 20px;
            &.address{
              font-size: 10pt;

            }
            &.image_details{
              font-size: 8pt;

            }

          }
          h2{
            color: #bbbaba;
            text-transform: uppercase;
            font-weight: 300 !important;
            -webkit-font-smoothing: antialiased;
            font-size: 20pt;
            margin-top: 0;
          }
        }
        .left_div,
        .right_div{
          position: absolute;
          width: 20%;
          top: 5px;
          height: 100%;

        }
      }
    }
    
  }
}
.no_before::after{
  content: '';
  background-image:none !important;
}
.admin_service_wrapper{
  .admin_edit_block_pos{
    .content_wrapper{
      .show_rating_container{
        &:nth-child(1){
          margin-top: 0 !important;
        }
        .show_rating_wrapper {
          .center_div {
            .best_seller_wrapper {
              .content{
                width: 80%;
              }
            }
          }
        }
      }
    }
    .edit_list_all_block_padding{
      li{
        list-style-type: none;
        margin-bottom: 10px;
        .container_div{
          box-shadow: 1px 2px 12px 3px #37373e;
          border-radius: 5px;
          position: relative;
          &.border_white{
            border: 1px solid #fff;
          }
          .main_content{
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0px 30px;
            .content_wrapper{
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              text-align: center;
              h2{
                margin-top: 0 !important;
                letter-spacing: 5px;
                margin-top: 13px;
                position: relative;
                padding-bottom: 3px;
                font-size: 16pt;
                &::before{
                  position: absolute;
                  content: '';
                  width: 50%;
                  background-image: url('/img/mobile_searcBox_line.png');
                  height: 3px;
                  bottom: -5px;
                  object-fit: contain;
                  left: 25%;
                  
                }
                img{
                  margin: 5px 5px;
                }
                
              }
              h2,p{
                color: #dedcdc;
                text-transform: uppercase;
                text-shadow: 1px 3px 12px #000000;
                
              }
              p{
                margin: 0;
                line-height: 21px;
                letter-spacing: 2px;
                
                &.serviceClass{
                  font-size: 16pt;

                }
                &.regionClass{
                  font-size: 10pt;
                  -webkit-font-smoothing: antialiased;

                }
                
              }
              .facility_wrapper{
                img{
                  width: 25px;
                  height: 25px;
                  margin: 10px 1px;
                }
              }
            }
          }
          .tag_wrapper{
            position: absolute;
            top: -6px;
            left: 10px;
            ul{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              li{
                width: 55px;
                img{
                  width: 100%;
                }
              }
            }
          }
          .right_div{
            position: absolute;
            right: 13px;
            top: 13px;
            display: flex;
            div{
              padding: 0px 0px;
              margin: 0px 7px;
            }
          }
        }
      }
    }
  }
  
}

.admin-edit-new-event-button{
  a{
    width: 93%;
    margin: 0 auto;
    display: flex;
  }
}

.vendorMyserviceTitleBlockPadding{
  .adminApprovalDetailsList{
    li.marginleft_10{
      margin-left:10px;
      &.listStyle_type{
        list-style-type: none;
      }
    }
  }
}