.adminList {
  width:100%;
  overflow:hidden;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  left: 0;
  position: absolute;
}

.adminFloatLeft {
  float:left;
  width: 10%;
  position: relative;
  text-align: right;
  .list-img {
    width: 12pt;
    height: auto;
  }
}

.adminFloatRight {
  float:right;
  width: 10%;
  position: relative;
  top: 3px;
  span {
    color: #beb8b8;
    font-size:12px;
    text-transform:uppercase;
  }

}

.adminTextCenter {
  text-align:center;
  width: 80%;
  float: left;
  text-transform:uppercase;
  color: #beb8b8;
  position: relative;
  p {
    font-weight:600;
    font-size:12pt;
    color: #fff;
    margin: 0;
    text-align: center;
  }
}


