.mobile_user_settings_text_logo {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.mobile-settings-div .mobile_userSettingPhoneEdit_input {
  width: 75%;
  height: 22px;
}
