
.body-content{
   width:85% !important;
}


.one-box {
    width:100%;
    display:inline-flex;
    margin:0 auto;
}

.two-box {
    width:10%;
    align-self: center;
}
.three-box {
    width:80%;
}

.four-box {
    width:10%;
    align-self: center;
}


.sellerNameBlock{
    margin: 0px;
    line-height: 14px;
}

.mag-top {
    margin-top: 12px;
}

@media (min-width:1024px) and (max-width:1280px) {
    /*.user_guest_padding {*/
        /*padding-left: 35px;*/
    /*}*/
    .fix-bar-option .DayPickerInput input {
        width:auto;
    }
}

.home-header {
    display: block;
    display: flex;
    padding: 0;
    background-image: url("/img/background_header.jpg");
    padding: 0;
    background-size: cover;
    font-size: 1.2em;
    line-height: 1.4em;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0px;
    
    
}
.home-header.background_none{
    background-image:none;
    
}
.home-logo {
    position: relative;
}

.home-logo img {
    width: 80px;
    border-radius: 50%;
}

.home-logo img {
    width: 40px;
    border-radius: 50%;
}

.home-logo2 {
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: 2px;
}

.home-logo3 {
    width: 28px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: 2px;
}

.home-logo1 {
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.home-header-nav-new {
    bottom: 30px;
}

.home-header-nav ul {
    margin: 0
}

.home-header-nav-item {
    display: inline-block;
    color: #fff;
}

.home-header-nav-link {
    color: #fff;
    /* font-weight: 400; */
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.5em;
    border-bottom: 5px solid transparent;
}

.seller-dashboard-name {
    position: relative;
    left: 25%;
}

.seller-cateogory-name {
    right:25px !important;
}


.home-logo-text {
    font-size: 30px;
    color: white;
    position: relative;
    right: 29%;
    /*right:28%;*/
    bottom: 25px;
    letter-spacing: 3px;
}

.key {
    position: relative;
    right: 20px;
}

.dashboard-search {
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
    /* font-style: oblique; */
    font-size: 12pt;
}


.home-header-col-style {
    position: relative;
    top: 5px;
}

.home-line {
    position: relative;
    bottom: 80px;

}

.fix-bar-option {
    font-size: 12pt;
    color:#898485;
    text-transform: uppercase;
}

.vendor-search {
    background-color: #FEF3EF;
}

.new
{
    position: relative;
    font-size: 15px;
    text-transform: UPPERCASE;
    top: 10px;
    width: 50px !important;
    color:#cabfbd;
}
hr {
    border-top: 2px solid #cfc9c9 !important;
}


.home-body {
    position: relative;
    bottom: 80px;
}

.menubar-left ul li {
    box-shadow: 1px 2px 12px 0px #22222C;
}

.fix-bar-option1 {
    font-size: 16px;
    /* font-weight: bold; */
    color: #914047;
    text-transform: uppercase;

}
.create-add-button {
    width: 15px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: -1px;
    left:10px;
}
.create-add {
    width: 15px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: -1px;
}

.create-add {
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: -1px;
}

.create {
    color:#914047;
    font-size:15px;
    /* font-weight:bold; */
}

.fa-check-circle-o:before {
    color: #fb5063 !important;
}


/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
    font-size:20px;
}

.has-search .form-control {
    border:1px solid black;
    padding-right: 12px;
    padding-left: 34px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}
.form-control:active,
.form-control:focus,
.form-control.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:red;
}

.dashboard-search-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #ddd;
    background-color: transparent;
    background-image: none;
    text-align:center;
    border:none;
}

.dashboard-search-division{

    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-top: 15px;
    position: relative;
    bottom: 70px;
    background-color: transparent;
}

.newtext {
    position: relative;
    top: 10px;
    font-size: 16px;
    color: #8f8e8e;
    /* font-weight: bold; */
}

.dashboard-search-box {
    position: relative;
    top: 7px;
}

.hrbox {
    position: relative;
    top: 5px;
}

.newbody {
    position: relative;
    bottom: 70px;
}

.dashboard-list-logo {
    width:20px;
    height:20px;
}

.dashboard-left-icon {
    position: relative;
    top: 0px;
    font-size: 20px;
}

.img-top {
    top:5px !important;
}

.dashboard-choosen-left-icon {
    position: relative;
    top: 0px;
    font-size: 25px;

}

.dashboard-choosen-right-icon {
    position: relative;
    top: 0;
    font-size: 25px;

}

.dashboard-right-icon {
    position: relative;
    top: 0;
    font-size: 20px;
}

.dashboard-category {
    font-size:16px;
    color:#938c8c;
}


.dashboard-choosen-service {
    font-size:16px;
    color:#938c8c;
}

.dashboard-first-two-list-item-style {
    background: linear-gradient(to right, #89686e 0%, #dddd 51%, #89686e 100%) !important;
    color: #857979;
    box-shadow: 1px 2px 12px 0px #22222C !important;
}


input#searchKey::placeholder {
    color: #beb8b8;
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
    /* font-weight: 600; */
}

.home-search-div {
    position: relative;
    top: 8px;
    padding-bottom: 15px;
}

.dashboard-search-input-box {
    /* border-right: 1px solid #d5d0d0; */
    height: 35px;

}

.greyBackground {
    background: #000;
    /*width: 325px;*/
    width:93%;
    opacity: 0.4;
    height: 170px;
    box-shadow: 2px 13px 14px 20px #000;
    margin: 0 auto;
    position: relative;
    bottom: 26px;
    /*border-radius: 26px;*/
}

.dshboardPage
{
    cursor: pointer;
}
.guest_user_wrapper .shadow-box-main-div{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);   
}
/* .guest_user_wrapper .slider-wrapper .slider{
    padding-top: 7px;

} */
/* .shadow-box-div
{
    position: absolute;
    top: 0;
    width: 100%;

} */
/* .shadow-box-main-div
{
    position: relative;
} */

.content_wrapper .services_wrapper{

}

.content_wrapper .services_wrapper .vale_container .mychoice_data.my-data,
.content_wrapper .services_wrapper .vale_container {
    height: 100%;

}



