.admin-approvals {
  .time-text {
    padding-left: 20px;
    color: #b0aeae;
    font-weight: 600;
  }


  .tick-img-div {
    position: absolute;
    top: 50px;
    right: 5px;
  }

  .tick-img {
    width:50px;
    height:50px;
  }

  .second-div, .third-div, .fourth-div {
    position: relative;
    overflow: hidden;
    cursor:pointer;
  }

  .admin-approvals-listBackground {
    background-color:white;
    li {
      background-color:transparent !important;
    }

    .all-div-text1 {
      margin-top:-10px;
    }
    .all-div-text2 {
      margin-top: -8px;
      background-color:transparent !important;
    }
    .all-div-text4 {
      margin-top: -8px;
      background-color:transparent !important;
    }
    .all-div-text3 {
      margin-bottom: 10px;
    }
  }



  .first-div {
    background-color: white;
    overflow: hidden;
    padding: 10px 0px;
    width: 100% !important;
    // box-shadow: 0px 0px 10px 3px #7b7575;
    box-shadow: 0px 2px 12px 0px #7b7575;
  }

  .second-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    // box-shadow: 0px 0px 10px 3px #7b7575;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 3px;
  }

  .third-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 5px 3px #7b7575;
    margin-bottom:5px; border-radius: 3px;
  }

  .fourth-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    // box-shadow: 0px 0px 10px 3px #7b7575;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 3px;
  }

  .div-left-icon {
    float: left;
    padding: 5px 0px !important;
    overflow: hidden;
  }
  .all-div-icon {
    position: relative;
    left: 15px;
  }
}

.adminApprovalText {
  position: relative;
  top: 3px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.adminApprovalTextDiv{
  width: 15%;
  float: left;
  /* top: 10px; */
  position: relative;
  top:4px;
}
.adminApprovalHr{
  width: 85%;
  float: right;
  /* top: 10px; */
  position: relative;
  bottom: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.adminApprovalHrTitleBlock {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top:3px;

}

.admin_approval_list_block_position {
  position: relative;
  // bottom: 20px;
}
.adminApprovalHrTitleBlockPadding{
  // padding-top: 20px;
}


.adminApprovalDetailsList .admin-approvals-list .admin-area:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/newService/AREA.png);
}

.adminApprovalDetailsList .admin-approvals-list .admin-celing_height:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/newService/CEILING_HEIGHT.png);
}

.adminApprovalDetailsList .admin-approvals-list .admin-guest:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 15px;
    width: 18px;
    background-size: cover;
    background-image: url(/img/tabBarImg/guestNum.svg);
}
.adminApprovalDetailsList .admin-approvals-list .admin-wedding:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/tabBarImg/eventType.svg);
}

.adminApprovalDetailsList .admin-approvals-list .admin-location:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 23px;
    width: 18px;
    background-size: cover;
    background-image: url(/img/svg_img/location_svg.svg);
}

.adminApprovalDetailsList .admin-approvals-list .admin-mail:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/new_img/new_mailIcon.svg);
}

.adminApprovalDetailsList .admin-approvals-list .admin-phone:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/svg_img/phone.svg);
}

.adminApprovalDetailsList .admin-approvals-list .admin-web:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(/img/svg_img/web_svg.svg);
}

.adminApprovalDetailsList .admin-approvals-list .admin-category:before {
  content: "";
    position: absolute;
    bottom: 35%;
    height: 17px;
    width: 18px;
    background-size: cover;
    background-image: url(/img/new_img/guest_list.svg);
}






