.mobileVendorStatsBlock {
  height: 405px;
  overflow-y: scroll;
  width: 95%;
  margin: 0 auto;
  margin-top: -40px;
  .all-div-icon {
    position: relative;
    left: 10px;
}
  .mstats-margin {
    margin-top: -15px;
  }

  .moile_vendor_stats_margin_top {
    margin-top: -10px;
  }

  .choices-background {
    background-image: url(/img/svg_img/back2.svg);
    background-color: white;
    background-size: cover;
  }

  .second-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;
    margin-bottom: 5px;
  }

  .third-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 2px 12px 0px #7b7575;
    margin-bottom: 5px;
    border-radius: 4px;
  }

  .fourth-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;   
    margin-bottom: 32%;
  }

  .vendor-stats-list {
    li {
      background-color:transparent !important;
    }
  }

  .views-background {
    background-image: url(/img/svg_img/back1.svg);
    background-color: white;
    background-size: cover;
  }

  .div-left-icon {
    float: left;
    padding: 5px 0px !important;
    overflow: hidden;
  }

  .vendorstats-listBackground {
    //background-color:white;
    li {
      background-color:transparent !important;
    }

    .all-div-text1 {
      margin-top:-10px;
    }
    .all-div-text2 {
      margin-top: -8px;
      background-color:transparent !important;
    }
    .all-div-text4 {
      margin-top: -8px;
      background-color:transparent !important;
    }
  }
}