.admin-stats-text-div {
  margin: 0;
  padding: 10px;
  clear: both;
  overflow: hidden;
}
.admin-stats-text {
  position: relative;
  bottom: 30px;
}
.mobile-admin-statistics-block
{
  width: 95%;
  margin: 0 auto;
  margin-top:-30px;
  margin-bottom:100px;

  .choices-background {
    background-image: url(/img/svg_img/admin_stas_5.svg);
    background-color: white;
    background-size: cover;
  }

  .views-background {
    background-image: url(/img/svg_img/admin_stas_4.svg);
    background-size: cover;
    background-color: white;
  }

  .reviews-background {
    background:white;
  }

  .new-users-background {
    background-image: url("/img/svg_img/admin_stas_3.svg");
    background-size: cover;
  }

  .new-service-background {
    background-image: url("/img/svg_img/admin_stas_2.svg");
    background-size: cover;
  }
  .active-chat-background {
    background-image: url(/img/svg_img/admin_stas_1.svg);
    background-size: cover;
    background-color: white;
  }

  .common-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    // box-shadow: 0px 0px 10px 3px #7b7575;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;
    margin-bottom:3px;
  }

  .adminstats-listBackground {
    //background-color:white;
    li {
      background-color:transparent !important;
    }

    .all-div-text1 {
      margin-top:-10px;
    }
    .all-div-text2 {
      margin-top: -8px;
      background-color:transparent !important;
    }
    .all-div-text4 {
      margin-top: -8px;
      background-color:transparent !important;
    }
  }

}

.mobile_admin_line {
  margin-top:8px;
}