#myNavbar {
  .nav {
    display: block;
  }
}
@media(max-width:320px){
  .home-first-mobile-wrapper{
    .home-first-div-wrapper{
      .headPara1{
        margin: 25px 0px 20px 0px;
      }
    }
  }
}

.body-cntnr.main-container{
  .carousel .control-dots .dot{
    width: 6px;
    height: 6px;
    margin: 0px 2px;
  }
}
.header-container{
  .home-header-nav-item{
    a{
      position: relative;
      display: inline-block;
      .toltips{
        visibility: hidden;
        width: 100px;
        background-color: #fff;
        color: #86506c;
        text-align: center;
        border-radius: 4px;
        padding: 0px 4px;
        position: absolute;
        z-index: 1;
        font-size: 8pt;
        bottom: -30px;
        left: -60px;
        border: 1px solid #976279;
      }
      &:hover{
        .toltips{
          visibility: visible;
        }
      }
    }
  }
}
.chat-bar {
  height: 62px;
  margin-top: 4px;
  display: block;
  //position: absolute;
  z-index: 9999;
  color: #d8b9b6;
  // font-weight: bold;
  width: 680px;
  margin-left: 0px;
  background: #fff;
  //top: 15px;
  padding: 0px 30px;
  box-shadow: 1px 2px 12px 0px #22222C;
  border-radius: 6px;
  text-transform: uppercase;
  //top: 0;
  padding-top: 22px;
}

.chat-bar h4 {
  display: inline;
}

.chat-bar ul.nested-ul-c {
  float: right;
}

.chat-bar ul.nested-ul-c li {
  float: left;
  list-style-type: none;
  //padding: 27px 0px;
  background: none;
  box-shadow: none;
  color: #d8b9b6;
  line-height: 1;
}

.active_menu_class {
  display: none;
}

.admin-body {
  width: 100%;
  float: none;
}

.body-content {
  padding: 10px;
}

.new-button {
  display: inline;
  float: right;
  padding-top: 10px;
}

.body-content {
  h3 {
    display: inline-block;
  }
}

.booking-detail {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #c8c8c5;

  .user-name {
    font-size: 31px;
    text-transform: uppercase;
    color: #c8c8c5;
  }

  .booking-day {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 5px;
  }

  .booking-time {
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
  }

  .pack {
    text-transform: uppercase;
    // font-weight: bold;
  }
}

.agenda-calender {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  color: #beb8b8;
  text-transform: uppercase;
}

.admin-header {
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  height: 100px;
  max-height: 100px;
}

.admin-menu {
  display: block;
  border: 1px solid black;
  padding: 8px 5px;
  margin: 5px 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 1px 2px 12px 0px #22222C;
  color: #777;
}

.admin-body {
  padding: 0px 100px;

  .category-icon {
    float: right;
    color: #FB5063;
  }

  .category-icon1 {
    float: left;
    color: #FB5063;
  }
}

// .page_background {
//   height:100%;
//   min-height:100vh;
//   background: url(https://i.imgur.com/AtD00Jb.png) !important;
//   overflow: hidden;
//   width: 100%;
// }


.login_input_name {
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 20px !important;
}

.login_input_pass {
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 20px !important;
}

.btn-primary1 {
  color: #fff !important;
  background: linear-gradient(to right, #0a0203 0%, #733037 51%, #2b0c11 100%) !important;
  border: none !important;
  text-transform: uppercase !important;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.form-horizontal .form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.forgot-password {
  margin-bottom: 10px !important;
  font-size: 15px !important;
}

// #app {
//   min-height: 100vh;
//   position: relative;
//   background: url(https://i.imgur.com/AtD00Jb.png) !important;
// }

body {
  // background-color: #e4abc9;
  height: 100%;
  position: relative;
  //background-color: transparent !important;
  //background-color: #e4abc9 !important;
  background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  background-color: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  background-repeat: no-repeat;
}

#app{
  background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  background-color: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  background-repeat: no-repeat;
}

.header {
  display: block;
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  margin-bottom: 20px;
  display: flex;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.4em;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
  display: inline-block;
  padding: 10px;
}

.logo img {
  width: 80px;
  border-radius: 50%;
}

.logo2 {
  width: 20px;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
  top: 2px;
}

.logo1 {
  width: 20px;
  border-radius: 50%;
  border: 1px solid white;
}

.header-nav {
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  bottom: 10px;
}

.header-nav ul {
  margin: 0
}

.header-nav-item {
  display: inline-block;
  margin-left: -4px;
  list-type: none;
  color: #fff;
}

.header-nav-link {
  color: #fff;
  // font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 20px;
  font-size: 1.5em;
  border-bottom: 5px solid transparent;
}

.logo-text {
  font-size: 30px;
  color: white;
  position: relative;
  right: 520px;
}

.header-nav-link:hover,
.header-nav-link.active {
}

.list-top {
  margin-top: 67px;
}

.logo-picture {
  border: 3px solid #ddd;
  border-style: dashed;
  text-align: center;
}

.pic-logo {
  top: 10px;
  width: 30px;
  position: relative;
}

#sellerMainPicture {
  display: none;
}

#sellerLogoPicture {
  display: none;
}

#sellerOtherPictures {
  display: none;
}

#categoryPicture {
  display: none;
}

#facilityPicture {
  display: none;
}

#sellerVideo {
  display: none;
}

.hr {
  background-color: #e8cbcb !important;
  width: 200px;
}

.label-text {
  color: #bdb8b8;
  bottom: 10px;
  position: relative;
  text-transform: uppercase;
  margin-top: 10px;
}

.h5 {
  font-size: 12px;
  color: #bdb8b8;
  position: relative;
  bottom: 10px;
}

.add-new-seller {
  border: 2px solid #871126;
  padding-top: 10px;
  margin-top: 65px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 10px 0px;
  background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%);
}

.main-picture {
  margin-top: -40px;
}

.input-name {
  border: 2px solid;
  border-color: #ddd;
  margin-right: 0px !important;
  margin-left: 0px !important;
  border-radius: 10px;
  background-color: white;
}

.input-name-box {
  padding-top: 10px;
  padding-right: 20px;
}

.input-name-text {
  color: #b3adad;
  padding-left: 280px;
  text-transform: UPPERCASE;
}

.select-category {
  color: #bdb8b8 !important;
}

.input-box-font {
  color: #bdb8b8 !important;
}

.button1 {
  left: 320px;
  position: relative;
}

button.btn-w-md {
  min-width: 135px;
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
  //color: #b3adad;
  text-transform: uppercase;
}

.text-color {
  color: #bdb8b8;
  font-size: 14px !important;
  margin-top: -2px;
}

.form-control {
  //text-transform: UPPERCASE;
  color: #bdb8b8 !important;
}

.pic-logo1 {
  top: 20px;
}

.input-name-box1 {
  margin-top: 10px;
}

.category-create-form {
  margin-bottom: 40px;
  margin-top: -20px;
}

.category-submit-button {
  left: 320px;
  position: relative;
  top: 25px;
}

.content-name {
  border: 2px solid #ddd;
  width: 95%;
  left: 4%;
  height: 50px;
  border-radius: 10px;
  position: relative;
}

.box-height {
  position: relative;
  max-height: 200px;
}

.border-style {
  position: relative;
  border-color: #ddd;
  border-right: 2px solid #ddd;
}

.name-style {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  color: #bdb8b8;
}
.new-btn {
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  width: 135px !important;
  text-transform: uppercase !important;
  background-color: transparent;
}

.list-header {
  text-transform: uppercase;
}
.seller-detail-bottom {
  margin-bottom:10px;
}

#eventTypePicture {
  display: none;
}

.seller-image {
  margin-top: 0px;

  img {
    height: 45px;
  }
}

#profile-img {
  display: none;
}

.body-cntnr-dash, .Business-profile-header {
  overflow: hidden; }

.Business-profile-header {
  background: #fff;
  position: absolute;
  margin-top: -22px;
  padding: 15px 0px;
  font-size: 14px;
  width: 1080px; }

.Business-profile-header .header-item ul li {
  float: left;
  list-style-type: none;
  padding: 0px 25px; }

.event-right-side-element .check_box_item {
  font-family: "FontAwesome";
  text-align: center; }

.Business-profile-header .header-action-icon ul li {
  float: left;
  list-style-type: none;
  padding: 0px 10px;
  font-family: "FontAwesome"; }

.top-body-container {
  position: relative;
  //overflow: hidden;
  clear: both; }
  .top-body-container .overlap_image_container,
  #dashboard_homeImg .overlap_image_container,
  .guest_user_wrapper .tab-content.tab-content_carousel .overlap_image_container{
    position: absolute;
    top: -6px;
    width: 125px;
    left: 34px;
    z-index: 9999;
    img{
      width:30px;
      margin-right: 7px;
      border-radius: 0;
    }
  }  
  // .top-body-container .vale_container{
  //   margin-bottom: 50px;
  // }
  .top-body-container .overlap_image_container img{
    width: 25px;
    margin-right: 7px;
    border-radius: 0;
  } 
.Business-profile-conainer .box-section-bussiens {
  background-color: #9d9390;
  padding: 10px 20px; }
.padding-top-0{
  padding-top: 0 !important;
}

.mobile-textarea-box{
  padding: 10px;
}
.padding-0{
  padding: 0 !important;
}
.top-0{
  top: 0 !important;
}
.background_position{
  position: absolute;
  width: 100%;
  height: 100%;
}
  .div_center_vertically{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
html::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}
.page-login.page_background {
  background-image: url(https://i.imgur.com/AtD00Jb.png);
}
.home-header {
  display: block;
  display: flex;
  padding: 0;
  background-image: url("/img/background_header.jpg");
  padding: 0;
  background-size: cover;
  font-size: 1.2em;
  line-height: 1.4em;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0px;
  
  
}
.home-header.background_none{
  background-image:none;
  
}
html{
  // background-image: url('https://i.imgur.com/AtD00Jb.png');
  background-image: url('/img/background_body.jpg');
  height: 100%;
  width: 100%;
  // background-size: cover;
}
// html::-webkit-scrollbar-track-piece:start {
//   background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
// }

// html::-webkit-scrollbar-track-piece:end {
//   background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
// }
// html::-webkit-scrollbar-thumb{
//   background-image: url(https://i.imgur.com/UycdEuS.jpg);
// }
.Business-profile-conainer .box-section-bussiens .box-elemnt {
  background-color: #000;
  padding: 4px;
  text-align: center;
  margin: 10px 0px;
  color: #fff; }

Business-profile-conainer .box-section-bussiens .box-elemnt h2 {
  border-bottom: 1px solid #fff; }

.body_container_business .left-side-menu-bussiness ul li {
  list-style-type: none;
  padding: 12px 10px;
  border-radius: 3px;
  box-shadow: 1px 2px 12px 0px #22222C;
  border: 1px solid #9d989a;
  margin: 4px 0px;
  background: #fff;
  text-align: center; }

.body_portion_ev .check_box_item .heading-text p {
  background-image: url("/img/border.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 15px;
  margin: 0 auto; }

.top-body-container input.search_item_textfield {
  width: 100%;
  padding: 8px 37px;
  border: none;
  background: transparent;
  text-align: center; }

.Business-profile-header .header-user-name:after {
  content: '|';
  float: right; }

.top-body-container .search_item:before {
  content: '\f002';
  width: 15px;
  margin-top: 10px;
  position: absolute;
  font-family: "FontAwesome";
  margin-left: 15px; }

.top-body-container .place-header {
  width: 100%;
  overflow: hidden; }

.top-body-container .place-header h2 {
  margin: 0;
  width: 20%;
  float: left; }

.fa {
  font-family: "FontAwesome"; }

.top-body-container .place-header hr {
  width: 76%;
  float: left; }

.Business-profile-header .header-action-icon ul {
  float: right; }

.body_container_business .left-side-menu-bussiness ul li:before {
  content: '\f007';
  float: left;
  font-family: "FontAwesome";
  font-size: 25px; }

.body_container_business .left-side-menu-bussiness ul li:after {
  content: '\f058';
  float: right;
  font-family: "FontAwesome";
  font-size: 25px; }

:before {
  font-family: "FontAwesome" !important; }

.full-width-design {
  width: 100% !important; }

.full-width-design h2, .full-width-design p {
  margin: 0; }

.full-width-design .box-container {
  padding: 15px 0px;
  position: relative; padding-left:20px;
}

.black_container {
  text-transform: uppercase; }

.full-width-design .box-container:after {
  right:0%;
  top: 20%;
  content: "";
  position: absolute;
  height: 45px;
  width: 45px;
  background-size: cover;
  background-image: url(/img/13.png);
}




.full-width-design .same-icon:before{
  //content: '\f580';
  //content: url("/img/13.png");
  //position: absolute;
  //left: 5%;
  //top: 38%;

  content: "";
  top:0%;
  position: absolute;
  left: 2%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/4.png);
}

//Button outline color
button.text-style.LogInbtnClass:focus {
  outline: none;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover
{
  z-index: 3;
  color: #fff;
  cursor: default;
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  border-color:#2b0c11  !important;
  text-decoration: underline;
}
.pagination>.disabled>a
{
  color: #fff !important;
  cursor: not-allowed;
  background-color: #2b0c11  !important;
  border-color: #2b0c11  !important;
  text-decoration: underline;
  text-transform: uppercase;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #fff !important;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: #972431 !important;
  border: 1px solid #972431 !important;
}
.pagination>li>a:focus {
  outline: none !important;
  border: none !important;
}

input:focus::placeholder
{
  color: transparent !important;

}
#userPassword::placeholder,
#userPasswordSign::placeholder,
#userPasswordSign::placeholder{
  font-style: initial;
  color: #fff;
  letter-spacing: 3px;
}
.password_new,
.password_reenter{
  position: relative;
  img{
    width: 22px;
    position: absolute;
    vertical-align: middle;
    right: 19%;
    top: 33%;
    transform: translateY(-50%);
    
  }
}
.chat_count_icon_style {
  background: #ff8a6b;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: white;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 8px;
  /* right: 0; */
  left: 25px;
}

.tablinks.chat .chat_count_icon_style {
  background: #ff8a6b;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: white;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 53%;
}

@media (min-width:1024px) and (max-width:1180px) {
  .chat_count_icon_style {
    right:0;
  }
  }
@media (min-width:1180px) and (max-width:1280px) {
  .chat_count_icon_style {
    right:5px;
  }
}
.list-group.list-group-flush{
  .list-group-item{
    padding: 13px 15px;
  }
}

.status_div_wrapper_mobile{
  .mobile-admin-approvals {
    .third-div{
      display: inline-block;
      width: 100%;
      height: auto;
      overflow: hidden;
      box-shadow: 1px 2px 12px 0px #22222C;
      margin-bottom: 5px;
      border-radius: 3px;
      .approval_wrapper_section {
        position: relative;
        .left_div,
        .right_div{
          
            position: absolute;
            height: 100%;
            
        
        }
        .left_div{
          left: 0;
          left: 12px;
          top: 6px;
          span {
            color: #bababa;
            font-size: 10px;
            line-height: 23px;
            padding: 0px 3px;
          }

        }
        .right_div{
          right: 12px;
          img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            position: relative;
            top: 50%;
            transform: translate(0, -70%);
          }
        }
        .center_div {
          width: 100%;
          padding: 20px 55px;
          text-align: center;
          h2 {
            color: #bbbaba;
            text-transform: uppercase;
            font-weight: 300 !important;
            -webkit-font-smoothing: antialiased;
            font-size: 20pt;
            margin-top: 0;
          
          }
          p.address {
            font-size: 10pt;
          }
          p {
            margin: 0;
            text-transform: uppercase;
            line-height: 20px;
          }
          p.image_details {
            font-size: 8pt;
          }
        }
      }
    }
  }
}
.margin0{
  margin: 0 !important;
}