.mobile-adminNewUsers-block {
  margin-top: -35px;
  height: 410px;
  overflow-y: scroll;

  ul {
    width:95%;
    margin:0 auto;

    li {
      background-color: white;
      border-radius: 5px;
      // box-shadow: 0px 1px 25px 4px #575353;
      box-shadow: 0px 2px 12px 0px #7b7575;
      margin-bottom:10px;
    }
    .list-group-item:last-child {
      margin-bottom: 30%;
    }
  }

  .admin-chatbox {
    width:100%;
    margin:0 auto;
    display: inline-flex;
  }
  .admin-chatImg {
    width:15%;
    position: relative;
    top:10px;
    img {
      width:30px;
      height:30px;
    }
  }
  .admin-chatCount {
    /* height: 30px; */
    width: 15%;
    /* border: 2px solid #43a89c; */
    border-radius: 50%;
    /* color: #43a89c; */
    // font-weight: 600;
    text-align: center;
    position: relative;
    top: 10px;

    p{
      font-size: 10px;
      // font-weight: 600;
      text-transform: uppercase;
      margin-top: -5px;
      margin-bottom: 0px;
      word-wrap: break-word;
    }

  }
  .admin-chatBody {
    width:70%;
    text-align: center;


    .firstPclass {
      font-size: 16pt;
      // font-weight: 600;
      text-transform: uppercase;
      word-wrap: break-word;
    }
    .secondPclass{
      font-size: 14px;
      // font-weight: 600;
      text-transform: uppercase;
      margin-top: -5px;
      margin-bottom: 0px;
      word-wrap: break-word;
    }
  }
}