//#vendor-notifi:hover {
//  content: url('/img/red-chat-notifi.png');
//}
//
//#vendor-edit:hover {
//  content: url('/img/red-icon.png');
//}
//
//#vendor-notepad:hover {
//  content: url('/img/red-calender.png');
//}
.bottom-menu-cntnr{
  .iconadd_before{
    position: relative;
    padding: 0px 40px;
    &::before{
      position: absolute;
      left: 0;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      bottom: inherit;
      background-image: url(/img/vendor_home.svg);
  
    }
  }
}

.vendor_top_bar_wrap{

  .chat-text-width .fix-bar-option{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      background-size: contain;
      transform: translate(-50%,-50%);
      background-repeat: no-repeat;
      opacity: 0.8;
    }
    &.address_icon{
      &::before{
        content: '';
        background-image: url('/img/svg_img/location_svg_vendor.svg');
        width: 35px;
        height: 35px;
      }
    }
    &.review_icon{
      &::before{
        background-image: url('/img/star_agenda_icon.png');
        opacity: 0.6;
        width: 25px;
        height: 25px;
      }
    }

    &.size_icon{
      &::before{
      }
    }

  }
}

.vendor_chat_count_icon_style {
  background: #f7ac49;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: white;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 8px;
  /* right: 0; */
  left: 25px;
}
.addBookingIcon {
  text-align: right;

  img {
    width:18px;
    height:18px;
  }
}

@media (min-width:1024px) and (max-width:1180px) {
  .vendor_chat_count_icon_style {
    right:10px;
  }
}
@media (min-width:1180px) and (max-width:1280px) {
  .vendor_chat_count_icon_style {
    right:20px;
  }
}

