.key-icon {
  display: inline-block;
  margin-left: 250px;
  padding: 0px 15px;
  transform: rotate(270deg);

  img {
    width: 20px;
    height: 20px;
  }
}

.a-color {
  color:white;
  text-transform: uppercase;
  // font-weight: 600;
}

a.username-link:hover {
  color: white !important;
  text-decoration:none !important;
}

.settings {
  display: inline-block;

  img {
    width: 20px;
    height: 20px;
  }
}

.logo {
  padding:0;

  img {
    width:110px;
  }
}


/* logInpopUp container - can be anything you want */
.logInpopUp {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.logInpopUptext
{
  .home-logInOutList{
    li {
      background-color: transparent;
      text-transform: uppercase;
      font-size: 14px;
      // font-weight: 600;
    }
  }

.logoutImage{
  width:20px;
  height:20px;
}


}

/* The actual logInpopUp */
.logInpopUp .logInpopUptext {
  visibility: hidden;
  width: 160px;
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  top:60px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;

  left: 50%;
  margin-left: -80px;
}

/* logInpopUp arrow */
.logInpopUp .logInpopUptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the logInpopUp */
.logInpopUp .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* logInpopUp container - can be anything you want */
.vendorlogInpopUp {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.vendorlogInpopUptext
{
  .home-logInOutList{
    li {
      background-color: transparent;
      text-transform: uppercase;
      font-size: 14px;
      // font-weight: 600;
    }
  }



  .logoutImage{
    width:20px;
    height:20px;
  }


}

/* The actual logInpopUp */
.vendorlogInpopUp .vendorlogInpopUptext {
  visibility: hidden;
  width: 160px;
  background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  top:60px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;

  left: 50%;
  margin-left: -80px;
}

/* logInpopUp arrow */
.vendorlogInpopUp .vendorlogInpopUptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the logInpopUp */
.vendorlogInpopUp .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the logInpopUp) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.header-div {
  width: 84%;
  margin: 0 auto;
}
.vendor-img {
  position: relative;
  top: 2px;
  left: 10px;
}

.header-text {
  color:#ffffff;
  font-size:30px;
  text-transform:capitalize;
  letter-spacing: 3px;
  float: right;
  margin: 0;
  padding: 0px 20px;
  line-height: 40px;
}

.header-logo {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 10px;
}

.column-count1 {
  column-count: 2;
}

.floatleft {
  float:left;
}

.floatright {
  float:right;
}

.homeheaderNavlink {
  // color: #fff;
  // font-weight: 400;
  // text-decoration: none;
  // display: block;
  // padding: 0px 15px;
  // font-size: 1.5em;
  // border-bottom: 5px solid transparent;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0;
    font-size: 1.5em;
    // border: 5px solid #fff;
    width: 35px;
    height: 35px;
    margin: 7px 15px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    
    &.signup_icon{
      background-image: url('/img/new-user.svg');
      
    }
    &.new_newservice{
      background-image: url('/img/new-service.svg');
      
    }
    &.new_login_icon{
      background-image: url('/img/key.svg');
      // &.active{
      //   background-image: url('/img/key_icon_login.svg');
      //   background-color: #e58c74;
      //   border-radius: 1000px;
      // }
    }
    &.setting_icon{
      background-image: url("/img/alternative.svg");
      
    }

}

.header-container {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
}




@media (min-width:1024px)  and (max-width:1280px ){
  .region-dropdown .Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding-right: 0px !important;
  }

}

.has-feedback {
  position: relative;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}
.home-header-nav.home-header-nav-new{
  .home-header-nav-item {
    img{
      width: 35px;
      height: 35px;
      padding: 0;
      margin: 0;
    }
  }
}
.search_bar_wrapper{
  overflow: hidden;
  padding: 0px 15px 6px 8px;
  width: 94%;
  margin: 0 auto;
  .form-group{
    margin-bottom: 2px;
  }
}
.search_bar_wrapper .form-group.has-feedback{
  padding: 15px 10px;

}
.search_bar_wrapper .form-control-feedback{
  position: absolute;
  top: 14px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 23px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;

}

.search_bar_wrapper .form-control-feedback img{
  width:100%;
  height:100%;
  right: 0;
}
