.home-login-mobile-wrapper{
        overflow: auto;
        width: 100%;
        height: 100vh;
        .home-login-mobile-login-info{
                .mandatory_text{
                        font-size: 12pt;
                        text-decoration: initial;
                        // padding: 40px 0 15px 0px;
                        color: #fef8ff;
                        width: 96%;
                        &::before{
                        display: none;

                        }
                }
        }
}
@media(max-width:767px){
        .mobile_new_couple_signup,
        .new-service-mobile-wrapper{
                background-image: url(/img/mobile_bg.png);
                background-size: cover;
        }
}

.mobile_new_couple_signup{
.login-header{
        padding-top: 35px;
}
}
.home-login-mobile-container
{
        margin: 0 auto;
       
}
.home-login-mobile-div-wrapper
{
        width:100%;
        margin:0 auto;
        position: absolute;
        text-align:center;
        top: 50%;
        transform: translateY(-50%);
        padding: 50px 0px;
        text-transform:uppercase;

}
.home-login-img
{
        width: 80px;
        height: 80px;
}

.home-welcome-img-div {
       margin-top:5% !important;
        position: absolute;
        left: 39%;
        img {
                width:70px;
                height:70px;
        }
}

.home-login-absolute-div-style
{

        span {
                font-family: Calibri !important;
                font-size: 25px !important;
                color: #faf8f8c7 !important;
                letter-spacing: 4px;
        }

        background-size: cover;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        height: 40px;
        top: 60%;
        font-family: Calibri !important;
        font-size: 25px !important;
        color: #faf8f8c7 !important;
        letter-spacing:4px;

}

.home-first-mobile-wrapper{
        .headPara1{
                font-size: 12pt;
        }
        .head-logo1{
                font-size: 24pt;
        }
}

.home-login-mobile-div-wrapper .home-login-form div
{
        margin: 12px 0px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        font-size: 12pt;
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info input
{
        width: 90%;
        line-height: 22px;
        text-align: center;
        padding: 10px 0px 25px 0px;
        font-size: 16pt;
        color:#fef8ff !important;
	font-weight:400 !important;
        background:transparent;
        text-transform: uppercase;
        
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info .email
{

        width: 100%;
        line-height: 22px;
        text-align: center;
        color:#fef8ff !important;
	background:transparent;
        border-radius: 5px;
        border: 0px;
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info .password
{

            width: 100%;
            line-height: 22px;
            text-align: center;
            color:#fef8ff !important;
	    background:transparent;
	    text-transform: uppercase;
            border-radius: 5px;
            border: 0px;
}

.home-login-mobile-div-wrapper .home-login-mobile-login-info input::placeholder
{
        text-transform: uppercase;
        color:#be92be;
        font-size: 20px;
        font-weight:400;
        font-style: italic;
      
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info input#userPassword::placeholder
{
        
        color:#ead2d5  !important;
        font-size: 21px;
        font-weight:600 !important;
	text-transform:uppercase;

      
}


.uppercase-div
{
        text-transform: uppercase;
}

.home-login-mobile-div-wrapper .home-login-mobile-login-info input[type='submit']
{
        background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
        border: none;
        box-shadow: 1px 2px 12px 0px #22222C;
        color: #fff;

}
.home-login-mobile-div-wrapper .home-login-mobile-login-info .submit-button:before
{
        content:'\f2bd';
        font-family: "FontAwesome";
        position:absolute;
        width:100%;
        text-align:center;
        top:20%;
        font-size:20px;
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info .username
{
        width: 100%;
        line-height: 22px;
        text-align: center;
        color: #bbbaba;
        background: white;
        border-radius: 5px;
        border: 0px;
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info .username:before
{
        content:url("/img/user-login.png");
        position: absolute;
        top: 30%;
        left: 20px;
}

.home-login-mobile-div-wrapper .home-login-mobile-login-info .submit-button-dv
{
        padding:70px 0px;
        position:relative;
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info .submit-button-dv::before
{
        content: '\f2bd';
        position: absolute;
        width: 100%;
        font-size:20px;
        top:40%;
}
.home-login-mobile-div-wrapper .home-login-mobile-login-info p
{
        position: absolute;
        text-align: center;
        z-index: 99;
        width:100%;
        top: 45%;
        font-size: 8pt;
        color: #470c14;
        font-style:initial;
}
.home-login-mobile-div-wrapper .username,.home-login-mobile-div-wrapper .password,.home-login-mobile-div-wrapper .email
{
        position:relative;

}
.home-login-mobile-div-wrapper .home-login-mobile-login-info input{
        border-radius:5px;
        border:0px;
}


.new_login_user_position {
        top:58% !important;
}

.home_forgot_password {
        top: 0% !important;
        margin: 0;
}
.home_forgot_password_padding {
       padding-top:25px;
}
.mobile_home_forgot_margin {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: -12px;
}

.new_login_logo {

        .absolute-div-style{
                top:60% !important;
                font-size: 24pt !important;
        }
        img {
                width:100px;
                height:100px;
        }
}

.home-login-button-div
{

    .home-login-btn {
            background: transparent;
            border: none;
            color: #fff;
            width: 100%;
            padding: 10px 0px 10px 0px;
            margin-top: 0px;
        }

        .absolute-div-style {
                top:45%;
                font-family: 'Calibri' !important;
        }
}

.home-welcome-div
{
        bottom: 25px;
        position: fixed;
        left: 42%;
}

button.text-style.home-login-btn:focus {
        outline: none;
        border: none;
}

.mobile_homeLoginText_color {
        color: #faf8f8c7 !important;
}
.mobile_backToHomePage_color {
        color: #faf8f8c7 !important;
}



.back_to_home_page {
        top: 50%;
        color: #faf8f8c7 !important;
        letter-spacing: 1px;
        font-size: 14px;
        margin: 18px;
}

@media (max-width:1024px)
{
    .home-login-mobile-container{
        width:100%;
        position: relative;
        height: 100vh;
    }
}

@media(min-device-width: 411px) and (max-device-width: 425px)  {
        .home-welcome-img-div {
               margin-top:15% !important;
                position: absolute;
                left: 40%;
        }
}

@media  (min-device-width: 768px) and (max-device-width: 1024px)  {
        .home-welcome-img-div {
                margin-top: 35% !important;
                position: absolute;
                left: 45%;
        }
}
@media  (max-device-width: 320px)   {
        .home-welcome-img-div {
                margin-top:0% !important;
        }
}
