.mobile-create-event-block {
  padding-bottom: 115px;
  overflow: hidden;
  margin-top: -40px;
  .create-event-div{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 1px 2px 12px 0px #22222C;
    // font-weight: 600;
    background: #fff;
    margin-bottom: 11px;
    padding-right:0px !important;
    padding-left:0px !important;
    height:60px;
    min-height:60px;

    input {
      background: transparent;
      padding-top:8px;
    }

     input#eventName {
    padding-right: 40px !important;
    padding-left: 40px !important;
}


  }
  
  button.mobile-create-event-button:focus {
    outline: none;
    border: none;
}

  .region-dropdown {

    .Select-control {
      border: none !important;
      box-shadow:none !important;
      background: transparent !important;
    }
    .Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
     padding-right:10px !important;
     padding-left:10px !important;
    }
    // .Select-control:hover {
    //   box-shadow: none !important;
    // }
    .Select.is-focused:not(.is-open) > .Select-control {
      border: none !important;
      border-color: transparent !important;
      box-shadow: none !important;
      background: transparent !important;
    }
    .Select.is-focused:not(.is-open) > .Select-control {
      border: none !important;
      border-color: transparent !important;
      box-shadow: none !important;
      background: transparent !important;
    }
  }

  .create-event-input-class {
    text-align: center;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16pt;
    text-transform: uppercase;
    color: #bbbaba !important;
    // font-weight: 600;
  }



  .create-event-p{
    text-align: center;
    text-transform: uppercase;
    // font-weight: 600;
    margin:-8px;
    // margin-top: 5px;
    // margin-bottom: 5px;
  }

  input.create-event-input-class::placeholder {
    color: #bbbaba !important;
  }

  .mobile-create-button-div {
    width:95%;
    margin:0 auto;
  }

  .mobile-event-dropdown-class {
    text-align: center;
    text-align-last: center;
    font-size: 16pt;
    padding-top: 5px;
    width:85%;
    margin:0 auto;
    height: 38px;

    Select::placeholder {
      color: #bbbaba !important
    }
  }

  .mobile-date-class {
    .DayPickerInput {
      width: 100%;
      margin: 0 auto;

      input {
        border: none;
        font-size: 16pt;
        text-align: center;
        text-align-last: center;
        width: 100%;
        margin: 0 auto;
        text-transform: uppercase;
        color: #bbbaba !important;
      }
    }
  }

  .create-event-div {
    .region-dropdown .Select-placeholder {
      color: #bbbaba !important;
    }
    .region-dropdown .Select--single .Select-value .Select-value-label {
      color: #bbbaba !important;
    }

  }

  .mobile-region-dropdown-class {
    text-align: center;
    text-align-last: center;
    font-size: 16pt;
    width: 85%;
    margin: 0 auto;
    height: 38px;
    padding-top: 5px;

    Select::placeholder {
      color: #bbbaba !important;
    }
    .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
    .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
      background: transparent !important;
      color:#bbbaba !important;
    }
    .Select-control {
      background-color: transparent !important;
      box-shadow: none !important;
    }
    .Select-control .Select-input:focus {
      background-color: transparent !important;
      box-shadow: none !important;
    }
    .Select.is-focused:not(.is-open) > .Select-control {
      background-color: transparent !important;
      box-shadow: none !important;
    }
    .Select.is-focused > .Select-control {
      background-color: transparent !important;
      box-shadow: none !important;
    }
    .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
    .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }

    #address,#vendorNumber{
      color:#bbbaba;
    }
  

.homePage_topBar_blockWidth .Select-multi-value-wrapper .Select-value{
  line-height: 42px;

}
  .mobile-create-event-button {
    width: 100%;
    margin:0 auto;
    float: left;
    text-transform: uppercase;
    line-height: 2;
    // background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
    background: linear-gradient(to right, #c15865 0%, #fe6f6b 20%, #fe6f6b 50%, #fe6f6b 80%, #c15865 100%);
    border: none;
    height: 60px;
    min-height:60px;
    font-size: 12pt;
    // font-weight: bold;
    color: white;
    border-radius: 4px;
    position: relative;
    // z-index: 99;
    line-height: 70px;
    box-shadow: 2px 2px 10px 2px #888888;

    button {
      height: 60px;
      min-height: 60px;
      position: relative;
      bottom: 15px;
    }

    .absolute-div-style {
      background-size: cover;
      position: absolute;
      margin: 0 auto;
      width: 100%;
      height: 40px;
      top: 70%;
      font-size: 12pt !important;
      font-family: initial;
    }
  }
}

.DayPickerInput-OverlayWrapper{
  width: 56%;
  margin: 0 auto;
  z-index: 999;
}

#tabBarInnerContainer .tab{
  padding: 7px 0px;
  display: flex;
  // box-shadow: 0 -13px 26px -7px #000;
}

#tabBarInnerContainer .tab button{
  flex: 1 1 0;
  position: relative;
}
.mobile-create-event-button{
  span {
    position: relative;
    top: 10px;
    letter-spacing: 1px;
  }
}

button.mobile-create-event-button::before {
  content: '';
  background-image: url("/img/tick.svg");
  width: 50px;
  height: 50px;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-size: contain;
}

.create-event-div.region,
.create-event-div.event,
.create-event-div.guest,
.create-event-div.date,
.create-event-div.name
{
  position: relative;
}
.create-event-div.region::before,
.create-event-div.event::before,
.create-event-div.guest::before,
.create-event-div.date::before,
.create-event-div.name::before{

  position: absolute;
  content: '';
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0% !important;
  letter-spacing: 3px;
  cursor: pointer;
  left: 15px;
  top: 18px;
  width: 23px;
  height: 23px;
  z-index: 99;

}
// input::-webkit-input-placeholder {
//   color: #bbbaba !important;
//   }
   
  input:-moz-placeholder { /* Firefox 18- */
    color: #9c9393 !important;
  }
  .DayPickerInput{
    color: #9c9393 !important;
  }
  input::-moz-placeholder {  /* Firefox 19+ */
    color: #9c9393 !important;
  }

  .region-dropdown .Select-placeholder{
    color: #9c9393 !important;
  }

  .region-dropdown .Select-menu-outer {
    z-index:99999;
  }
   
  input:-ms-input-placeholder {  
    color: #9c9393 !important;
  }
.create-event-div.region::before{
  background-image: url("/img/svg_img/location_svg.svg");
}

.create-event-div.event::before{
  background-image: url("/img/tabBarImg/eventType.svg") ;
}
.create-event-div.guest::before{
  background-image: url("/img/tabBarImg/guestNum.svg");
  top:20px !important;
}
.create-event-div.date::before{
  background-image: url("/img/tabBarImg/grey_calendar.svg");
}
.create-event-div.region::before{
  background-image: url("/img/location.svg");
}
.create-event-div.name::before{
  background-image: url("/img/guest-list.png");
}
.event_content_fixed{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0px 40px;
}