.vendorAddHr {
    width: 80%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
}

.addBookingDiv {
    margin-top:0 !important;
    overflow: unset !important;
    .create-event-div {
        width:100% !important;
    }
}

.add-booking-btn {
    width: 100% !important;
}

.vendorAddBookingTextDiv {
    width: 20%;
    float: left;
    /* top: 10px; */
    position: relative;
    top: 4px;
    padding-left: 8px;
}