.key-icon {
    display: inline-block;
    margin-left: 250px;
    padding: 0px 15px;
    transform: rotate(270deg);

img {
    width: 20px;
    height: 20px;
}
}

.settings {
    display: inline-block;

img {
    width: 20px;
    height: 20px;
}
}

.logo {
    padding:0;

img {
    width:110px;
}
}
.vendor_home_line_svg {
    padding-top: 20px;
    padding-bottom: 20px;
}



.bottom-menu-cntnr {
    padding:10px !important;
}

// .bottom-menu {
//     position: relative;
//     top: -45px;
// }

ul.nav{
li {
//#left-icon {
//    float: left;
//    position: relative;
//    left: 20px;
//}

#category {
    position: relative;
    top: 15px;
    right: 90px;
}
}
}

.FloatRightMrgin {
    margin-top:6px;
}

.body_container {
.chat-section {
    border:1px solid;

.chat-box {
    border:1px solid;
    width: 60%;
    display: inline-block;

ul li {
    list-style: none;
    border: 1px solid;
    background: #00d4ca;
    margin: 4px;
    border-radius: 5px;
    padding: 3px;
    width: 45%;
}
}
.user-list {
    border:1px solid;
    width: 40%;
    display: inline-block;
}
}
}

.col1-style {
    text-align:center;
}

.chat-text-width {
    width: 120px ;
}

.bottom-menu2 {
    top: -67px !important;
}
.create-add {
    border-radius:0px !important;
}


/* Styles for wrapping the search box */

.main {
    width: 20%;
    height: 10px;
    margin: 25px auto;
    background: white;
}
.list-group.list-group-flush .list-group-item.padding-20p-30p{
    padding: 20px 30px;

}
.vendor_chat_container{
    .sectionblock2.vendor-chatRightPadding{
        .vendorchatList{
            position: relative;
            .TextCenter{
                width: 100%;
                height: fit-content;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                p{
                    margin: 0;
                    line-height: 15px;
                }
                // p.vendor-chat-name{
                //     margin: 0;
                // }
                // p.venue-p-margin{
                //     margin: 0;
                // }
            }
        }
        
        
    }
    .selected-list-active{
        .TextCenter p{
            color: #333333;
        }
    }
    .vendorChatBlock{
        padding: 5px 0px;
        .block2,
        .block1,
        .block3,
        .block4{
            padding: 0;
            position: relative;
            span{
                top: 50%;
                transform: translate(-50%,-55%);
                position: absolute;
                bottom: initial;
            }
        }
        
    }
}
.guest-list-div .ticketView li:nth-child(1):before {
    content:'gg';
    float: left;
}

/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    border:1px solid black;
    padding-right: 12px;
    padding-left: 34px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}
.form-control:active,
.form-control:focus,
.form-control.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:red;
}

.search-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    text-align:center;
    border:none;
}

//.search-division{
//
//    margin-left: 15px !important;
//    margin-right: 15px !important;
//    position: relative;
//    bottom: 75px;
//    background-color: transparent;
//}

.chat-text {
    position: relative;
    top: 10px;
    font-size: 18px;
    color: #8f8e8e;
    // font-weight: bold;
}

.search-box {
    position: relative;
    top: 7px;
}

.hr-box {
    position: relative;
    top: 5px;
}

.chat-body {
    position: relative;
    bottom: 65px;
}

.left-menu-padding {
    position: relative;
    bottom: 15px;
}

.vendor-chat-img {
    position: relative;
    left: 20px;
}

.vendor-chat-txt {
    font-size: 18px;
    text-transform: uppercase;
    color: #b6b0b0;
    // font-weight: 600;
    left:-15px;
    //text-align: end;
}

input.search-control::placeholder {
    color: #beb8b8;
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
    // font-weight: 600;
}

.list-group-item.list-background {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.list-div-left-background.list-type-box {
  .col-md-12 {
    .list-div-icon {
      .btn {
        padding: 0;
      }
    }
  }
}

.vendor_chat_container {
    padding-right: 5px;
}

.vendorchatList {
    width:100%;
    overflow:hidden;
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 45px;
}

.vendor-chat-name {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

.FloatLeft {
    float:left;
    width: 10%;
    position: relative;
    top: 5px;
}

.FloatRight {
    float:right;
    width: 23px;
    border: 2px solid #00a99e;
    border-radius: 50%;
    height: 23px;
    position: relative;
    top: 3px;
    &.top_0{
        top: 0;
        border: 2px solid #f7ac49;
    }

    span {
       color: #f7ac49;
        // font-weight:600;
    }
}
.list-group-item.list-right-padding-style.btn.selected-list-active{
    .FloatRight.top_0{
        border: 2px solid #000;
        span{
            color: #000;
        }
    }
}
.TextCenter {
    text-align:center;
    width: 80%;
    float: left;
    text-transform:uppercase;
    color: #beb8b8;
}

.vendor-chatList-div-icon {
    position: relative;
    top: 8px;
}

.vendor-chatList-send-icon {
    position: relative;
    top: 2px;
}

.leftPading {
    padding-left: 0px !important;
    &.padding{
        padding: 3px 0 8px 8px !important;

    }
}
.chatsection-padding {
    padding: 0px 0 8px 8px !important;
}
.vendor-service-first-div:hover {
    //background: #f28b6c;
}


.vendor-message-list
{
    position: relative;
    height: 400px;
    background-color: #d97ca3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-y: scroll;


}
.vendorChatBlock {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
    .block1 {
        width: 10%;
        text-align: center;
        padding-top: 8px;
        cursor: pointer;
    }
    .block2 {
        width: 10%;
        text-align: center;
        padding-top: 8px;
        cursor: pointer;
    }
    .block3 {
        width:70%
    }
    .block4 {
        width: 10%;
        text-align: center;
        cursor: pointer;
        padding-top: 8px;
        .btn {
            padding:0px !important;
        }
    }
}

#chatListName{
    .seller-main-width{
        .seller-list-left-icon{
            img{
                height: 25px;
            }
        }
    }
}
.vendor-chatTypeBox
{
    //position: absolute;
    bottom: 0;
    .type-search{
        color: #fff;
    }
}
.userchatType-box{
    .type-search{
        color: #fff;
    }   
}
.vendor-chatRightPadding {
    padding-right:0px !important;
}
#vendor_attachFile {
    display: none;
}


//.date-box {
//    width:23%;
//}


//For responsiveness
@media (min-width:1360px) and (max-width:1440px) {
    .vendor-chatList-send-icon {
        right:15px;
    }
}


@media (min-width:1180px) and (max-width:1280px) {

    .vendor-chatList-send-icon {
        left: 5px;
        right: 0;
    }
    .vendorservice-chatbox {
        width:75% !important;
    }
}

@media (min-width:1024px) and (max-width:1180px) {

    .vendorservice-chatbox {
        width:75% !important;
    }

    #messageText::placeholder {
        font-size:12px !important;
    }

    .vendor-chatList-send-icon {
        left: 30px;
        right: 0;
    }
    .vendor-chat-hr {
        width: 170px;
        position: relative;
        right: 49px;
    }
    .vendor-my-service {
        width:50% !important;
        max-width:50%;
    }
    .vendor-chat-hrBox {
        width:50% !important;
        max-width:50%;
    }
}

//
.vendorChat
{
    .vendorMyserviceTitleBlock {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
    }
}

.vendorChatText {
    position: relative;
    top: 3px;
    font-size: 18px;
    color: #fff;
    // font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.vendorChatTextDiv{
    width: 10%;
    float: left;
    /* top: 10px; */
    position: relative;
    top: 4px;
    padding-left: 8px;
}
.vendorChatHr{
    width: 90%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
}
.vendorChatTitleBlock {
    width: 100%;
    margin: 0 auto;
}
.status_div_wrapper{
    .body_container.chat-body_wrapper{
        padding: 0;
    }
}
