.web_vendor_emoji_block {
    .emoji-dialog .emoji-row .emoji {
        overflow: hidden;
    }

    .emoji-dialog .emoji-dialog-header li.active {
        background: #fff !important;
    }
    .emoji-dialog .emoji {
        width: 40px;
        height: auto;
    }
    .emoji-dialog .emojione {
        width: 100%;
    }
    .emoji-dialog .emoji-dialog-header li {
        height: 35px;
        padding: 6px 1px;
    }
    .emoji-dialog .emoji {
        text-align: center;
    }
    .emoji-dialog .emoji-category-header {
        padding: 0 16px 0;
    }

    .emoji-dialog {
        overflow: hidden;
        top: 38%;
        position: absolute;
    }
}
