.userLeftSideBarSelect {
    /* background: linear-gradient(to right, #89686e 0%, #dddd 51%, #89686e 100%) !important; */
    background: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%) !important;
    color: #857979;
    /*box-shadow: 0px 2px 14px 0px #888888 !important;*/
}

.user_leftSideBar_threeBox_height{
    min-height: 40px;
    padding-top: 20px;
    
}

.user_leftSideBar_threeBox_height p{
    color:#fff;
    margin: 0px;
    line-height: 14px;
}
