.key-icon {
  display: inline-block;
  margin-left: 250px;
  padding: 0px 15px;
  transform: rotate(270deg);

  img {
    width: 20px;
    height: 20px;
  }
}
.background_none{
  background: none;
}
.dyanamically_center{
  height: 63px;
  position: relative;
  .vendor-SideBarContctDetails{
    height: auto;
    position: absolute;
    padding: 0px 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    &::before{
      bottom: initial;
      width: 25px;
      height: 25px;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.page_heading_tex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 5px;
  left: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #e9d6e2;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 15px 20px 15px;
  margin-left: 5px;

  &::after {
    content: '';
    background-position: 15px 1px;
    flex: 1 0 20px;
    background-image: url(/img/2pt_line.svg);
    width: 100%;
    height: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 100%;
    margin-left: 10px;
  }
}

.settings {
  display: inline-block;

  img {
    width: 20px;
    height: 20px;
  }
}

.logo {
  padding: 0;

  img {
    width: 110px;
  }
}

//.user-service-logoimg
//{
//    margin-left:16% !important;
//}
//.user-service-logoimgStar
//{
//    left:72% !important;
//}




.slideShowScroll {
  overflow: auto;
  white-space: nowrap;
  width: 400px;
  height: 65px;
}


.slideShowScrollDiv {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.bottom-menu-cntnr {
  padding: 10px !important;
}

// .bottom-menu {
//   position: relative;
//   top: -45px;
// }

ul.nav {
  li {
    //#left-icon {
    //  float: left;
    //  position: relative;
    //  left: 20px;
    //}

    #category {
      position: relative;
      top: 15px;
      right: 90px;
    }
  }
}

.body_container {
  .chat-section {
    border: 1px solid;

    .chat-box {
      border: 1px solid;
      width: 60%;
      display: inline-block;

      ul li {
        list-style: none;
        border: 1px solid;
        background: #00d4ca;
        margin: 4px;
        border-radius: 5px;
        padding: 3px;
        width: 45%;
      }
    }

    .user-list {
      border: 1px solid;
      width: 40%;
      display: inline-block;
    }
  }
}

//.userSeviceBlockBackground
//{
//    background-image: url(/img/mychoice-tick.png);
//    background-repeat: no-repeat;
//    background-size: contain;
//    position: relative;
//    text-align: center;
///* width: 20px; */
//    background-position: 50% 0%;
//}

.col1-style {
  text-align: center;
}

.chat-text-width {
  width: 120px;
}

.bottom-menu2 {
  top: -67px !important;
}

.create-add {
  border-radius: 0px !important;
}


/* Styles for wrapping the search box */

.main {
  width: 20%;
  height: 10px;
  margin: 25px auto;
  background: white;
}

.guest-list-div .ticketView li:nth-child(1):before {
  content: 'gg';
  float: left;
}

/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
  right: initial;
  left: 0;
  color: #ccc;
}

.has-search .form-control {
  border: 1px solid black;
  padding-right: 12px;
  padding-left: 34px;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 3em;
}

.form-control:active,
.form-control:focus,
.form-control.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: red;
}

.search-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: transparent;
  background-image: none;
  text-align: center;
  border: none;
}

//.search-division{
//
//  margin-left: 15px !important;
//  margin-right: 15px !important;
//  position: relative;
//  bottom: 75px;
//  background-color: transparent;
//}

.chat-text {
  position: relative;
  top: 10px;
  font-size: 18px;
  color: #8f8e8e;
  // font-weight: bold;
}

.search-box {
  position: relative;
  top: 7px;
}

.hr-box {
  position: relative;
  top: 5px;
}

.chat-body {
  position: relative;
  bottom: 65px;
}

.left-menu-padding {
  position: relative;
  bottom: 15px;
}

.first-div {
  background-color: white;
  overflow: hidden;
  padding: 10px 0px;
  width: 100% !important;
  // box-shadow: 0px 0px 10px 3px #7b7575;
  box-shadow: 0px 2px 12px 0px #7b7575;
}

.event-div {
  width: 100%;
  position: relative;
  margin-left: 37px;
  text-transform: uppercase;
  color: #8f8585;
}

.event-div-text-style {
  width: 15%;
  // font-weight:bold;
  font-size: 15px;

}

.divider-style {
  width: 10%;
  color: #ddd !important;
}

.event-div-list-box {
  display: -webkit-box;
}

.create-event-div {
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 34px;
  text-transform: uppercase;
  color: #8f8585;
}

.event-create-search {
  width: 100%;
  height: 40px;
  border: none;
  font-style: oblique;
  font-size: 18px;
  color: black;
}

.event-create-button {
  border: none;
  width: 20px;
  position: relative;
  right: 5px;
}

.upcoming-padding {
  padding: 5px 0 0 0 !important;

}

.upcoming-text {
  padding: 5px !important;
}

.upcoming {
  text-transform: uppercase;
  color: grey;
  font-size: 16px;
  // font-weight: 600;
}

.second-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  // box-shadow: 0px 0px 10px 3px #7b7575;
  box-shadow: 0px 2px 12px 0px #7b7575;
  border-radius: 3px;
}

.text-list-div-style {
  padding: 5px !important;
  text-align: center;
}

.div-left-icon {
  float: left;
  padding: 5px 0px !important;
  overflow: hidden;
}

.hr-width {
  width: 200px;
}

.hr-padding {
  padding: 0 !important;
  height: 35px;

}

.userServiceDivBlock {
  width: 100%;
  //padding-left: 15px;
}

.userServiceDiv {
  width: 32%;
  float: left;
  /* margin: 0px 1px; */
  background: #fe8c65;
  color: #fff;
  // font-weight: bold;
  font-size: 16px;
  margin-left: 1%;
  text-align: center;
  padding: 0px 0px;
  line-height: 3.2;
  word-wrap: break-word;
  margin-bottom: 4px;
  border-radius: 5px;
  margin-top: 4px;
  text-transform: uppercase;
}

.all-div-text1 {
  font-size: 32px;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}

.all-div-text2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}


.all-div-text3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}


.all-div-text4 {
  font-size: 10px;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}

.all-div-icon {
  position: relative;
  left: 15px;
}

.third-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 0px 5px 3px #7b7575;
  margin-bottom: 5px;
  border-radius: 3px;
}

.fourth-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  // box-shadow: 0px 0px 10px 3px #7b7575;
  box-shadow: 0px 2px 12px 0px #7b7575;
  border-radius: 3px;
}

.search-control {
  font-style: italic;
  font-size: 19px;
}

.service-star-logo {
  width: 10px;
  height: 10px;
  margin-top: -10px;
}

.mychoice-star-logo {
  width: 25px;
  height: 25px;
}

.standard-menu {
  color: #ccc2c0;
}

.exclusive-text {
  color: #ff8e6c;
}

.service-bottom-text {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #cfc9c9;
}

.service-email-width-design {
  padding-top: 0px !important;
}

.service-call-width-design {
  padding-top: 0px !important;

}

.service-internet-width-design {
  padding-top: 0px !important;

}

.service-phone-width-design {
  padding-top: 0px !important;

}


.relativePosition {
  position: relative;
}

.service-email-width-design .box-container:before {
  content: "";
  position: absolute;
  top: 30%;
  left: 4%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/emailat.png);
}


.service-call-width-design .box-container:before {
  content: "";
  position: absolute;
  top: 30%;
  left: 4%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/phone.png);
}

.service-internet-width-design .box-container:before {
  content: "";
  position: absolute;
  top: 30%;
  left: 4%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/internet.png);
}

.service-phone-width-design .box-container:before {
  content: "";
  position: absolute;
  top: 30%;
  left: 4%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/contact.png);
}

.service-text-hr-style {
  margin: 8px !important;
  width: 140px;
  position: relative;
  /* border: 0px #453537; */
  left: 38%;
}

.pack-text {
  color: #cfc9c9;
  // font-weight: 600;
  font-size: 16pt;
  margin-bottom: 5px;
}

.pack-small-text {
  color: #cfc9c9;
  // font-weight: 600;
}

.generous-pack {
  color: #8c6f6b;
}

.star-print {
  // margin-top:-20px !important;
}

.checkbox-div {
  padding-bottom: 15px !important;

  input[type="checkbox"] {
    background-color: pink;
  }
}

.circle-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;

}

.servicePage {
  .vendor-search-box {
    top: 12px;
  }
}

.userServicePagePosition {
  top: 5px;
}

.user-service-page {
  .service-main-image {
    width: 100%;
    height: 250px;
  }

  .gallery-img {
    background: white;
    border: 5px solid #a29c9c;
    box-shadow: 0px 1px 0px 3px grey;
    width: 65px !important;
    height: 65px !important;
  }

  .black_container .user-service-checkbox-item {
    display: none;
    width: 100%;
    float: right;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 15px;
  }

  .seller-mainImage-div {
    position: relative;
    padding: 0px 15px;
    .carousel-status{
      display: block;
      left: 50%;
      transform: translateX(-50%);
      right: inherit;
      top: inherit;
      bottom: -12px;
      z-index: 999;
      font-size: 8pt;
    }
    ul.slider.animated{
      padding-top: 8px;
    }
    #dashboard_homeImg{
      .overlap_image_container{
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .slider_image_sell{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 320px;
    object-fit: cover;
  }
  .seller-name-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .seller-name-text {
    font-size: 30px;
    letter-spacing: 5px;
  }

  .seller-address-text {
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 10px;
  }

  .service--star {
    //margin-top: -25px;
    //width: 40%;
    //text-align: center;
    //position: relative;
    //left: 72%;
    //bottom: 45px;
    //padding-bottom: 10px;
  }


}

.userservice-bestDeal {
  position: absolute;
  right: 0;

  p {
    padding: 3px 10px;
    margin: 5px;
    font-size: 18px;
    color: #fff;
  }

  p.second-best-deal:before {
    width: 0;
    height: 0;
    right: 5px;
    border-style: solid;
    border-width: 5px 10px 0 0;
    border-color: #1e6f69 transparent transparent transparent;
    top: 47%;
  }

  p.second-hot:before {
    width: 0;
    height: 0;
    right: 5px;
    border-style: solid;
    border-width: 5px 10px 0 0;
    border-color: #fe6d2c transparent transparent transparent;
    top: 94%;
  }


}

@media (min-width:1180px) and (max-width:1280px) {
  .body_portion_ev .circle-panorama .img_crcl_b {
    //margin-top: -18% !important;
    //left: 85% !important;
  }

}

@media (min-width:1024px) and (max-width:1180px) {
  //.service-internet-width-design .box-container:before
  //{
  //    bottom: 13px;
  //    left: -9%;
  //}
  //.service-call-width-design .box-container:before
  //{    bottom: 14%;
  //}
  //.service-email-width-design .box-container:before
  //{
  //    bottom: 19.7%;
  //}
}

@media (min-width:1920px) and (max-width:2560px) {
  //.service-call-width-design .box-container:before
  //{    bottom: 13.6%;
  //}
  //.service-email-width-design .box-container:before
  //{
  //    bottom: 18.6%;
  //}
  //    .service-internet-width-design .box-container:before
  //    {
  //        left: -7.7% !important;
  //    }
}

.userservice-name-div {
  width: 70%;
  float: left;
}

.userservice-star-div {
  //width:18%;
  //float:right;
  width: 135px;
  float: right;
}

.user_vendor_wrapper{
  .event-right-side-element{
    background: #cc7fa3;
    box-shadow: 0px 0px 20px 1px #2c2c2c;
    padding: 0px 3px 3px 3px;
    .button_evet{
      display: inline-flex;
      width: 100%;
      position: relative;
      padding: 0px 15px;
      margin-top: -10px;
      button{
        width: 50%;
        height: auto;
        padding: 5px 40px;
        box-shadow: 0px 0px 8px 1px #000;
        border-radius: 10px;
        font-size: 24pt;
        color: #fff;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          background-size: contain;
          width: 40px;
          height: 40px;
          top: 50%;
          transform: translateY(-50%);
          background-repeat: no-repeat;
          margin: 0;
        }
        &.button_evet_left{
          background: linear-gradient(to right, rgb(107, 62, 96) 0%, rgb(35, 35, 34) 50%, rgb(107, 62, 96) 100%);
          &::before{
            left: 20px;
            background-image: url('/img/show-tick.png');

          }
        }
        &.button_evet_right{
          background: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%);
          &::before{
            right: 20px;
            background-image: url('/img/tabBarImg/roundChatIcon.svg');
          }
        }
      
      }
      .center_circle_box{
        width: 95px;
        height: 95px;
        border-radius: 1000px;
        overflow: hidden;
        transform: translateX(-50%);
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: -11px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    // .black_container{
    //   background: linear-gradient(to right, #683c64 0%, #1d1d1b 30%, #1d1d1b 70%, #683c64 100%);
    //   box-shadow: 1px 2px 12px 0px #22222C;
    // }
    .userServicePagePosition{
      top: 0;
    }
    .black_container_box{
      min-height: auto;
      height: auto;
      box-shadow: 0px 0px 4px 1px #513852;
      text-transform: uppercase;
      border-radius: 4px;
      background: linear-gradient(to right, #683c64 0%, #1d1d1b 30%, #1d1d1b 70%, #683c64 100%);
      margin: 12px 0px;
      .facility_wrapper{
        ul{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0;
          padding: 25px 0;
          width: 60%;
          margin: 0 auto;
          li{
            list-style-type: none;
            width: 20%;
            text-align: center;
            color: #fff;
            margin: 3px 0px;
            img{
              width: 35px;
              height: 35px;
            }
            span{
              font-size: 12pt;
              display: inline-block;
              padding-top: 4px;
            }
          }
        }
      }
      &.black_container_box_input{
        .box-container{
          padding: 25px 35px;
         
        }
        
      }
      &.backgroundNone{
        background:none;
        box-shadow: none;
      }
      .box-container{
        position: relative;
        padding: 15px 0px 45px 0px;
        
        &.box-container-textBox{
          position: relative;
          &::before{
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            display: block !important;
          }
          
        }
        
        
        .star-print{
          span{
            margin: 0px 3px;
          }
        }
        &::after{
          display: none;
        }
        &::before{
          display: none;
        }
        p{
          font-size: 12pt;
          margin: 0;
        }
        h2.service-bottom-text-box{
          
          font-size: 24pt;
        }
        h2.service-bottom-text-box ~ p{
          font-size: 8pt;
        }
        h2.service-bottom-text-box,
        h2.service-bottom-text-box ~ p{
          margin: 0;
          line-height: 22px;
          color: #c5bbb9;
        }
        
        .heading-text{
          h3,h4,h5{
            color: #fff;
            margin: 0;
          }
          h2{
            font-size: 24pt;
            color: #fff;
            position: relative;
            padding-bottom: 10px;
            &.exclusive{
              color: #e37b65;
            }
            &.generous{
              color: #735d59;
            }
            &.moreifo_text{
              margin: 0;
              padding: 0px 0px;
              font-family: "Calibri Light", sans-serif !important;
              font-weight: 300 !important;
              font-size: 12pt;
              text-transform: uppercase;
              text-align: center;
              line-height: 100px;
              padding-bottom: 0px;
              position: relative;
              &::before{
                position: absolute;
                width: 120px;
                content: '';
                background-image: url('/img/new_img/more_info_icon.png');
                background-size: contain;
                height: 120px;
                background-repeat: no-repeat;
                left: 50%;
                transform: translateX(-50%);
                top: 60%;
              }
            }
            &::before{
              background-image: url('/img/mobile_searcBox_line.png');
              position: absolute;
              height: 2px;
              width: 200px;
              content: '';
              transform: translateX(-50%);
              left:50%;
              bottom: 5px;
              background-size: cover;
            }
            
          }
          h3{
            font-size: 16pt;
            color: #fff;
            position: relative;
            &.loacation{
              padding-top:3px;
              &::before{
                background-image: url('/img/svg_img/location_svg.svg');
                height: 20px;
                width: 20px;
                content: '';
                position: absolute;
                margin-left: -30px;
                background-repeat: no-repeat;
              }
            }
           
            
          }
          h4{
            font-size: 12pt;
          }
          h5{
            font-size: 8pt;
          }
        }
      }
    }
  }
}