.mobile-vendor-date-block {
  margin-top: -35px;
  .vendor-date-box-width {
    width:100%;
    display: inline-flex;
  }

  .vendor-date-img-box {
    width: 12%;
    position: relative;
    top: 10px;
    left: 15px;
    img {
      width:30px;
      height:30px;
    }
  }
  .vendor-date-text-box {
    width:88%;
  }

  .vendor-date-list {
    background-color: white;
    border-radius: 4px;
    // box-shadow: 1px 2px 12px 0px #22222C;
    box-shadow: 0px 2px 12px 0px #7b7575;
    margin-bottom:10px;
  }
  .vendor-date-list-box {
    width: 95%;
    margin: 0 auto;
  }

  .datePClass {
    font-size: 20px;
    text-transform: uppercase;
    color: #bbbaba;
    // font-weight: 600;
    text-align: center;
    margin: 0;
  }

  .date-sub-pClass {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin:0;
  }
}

.mobile-vendor-agenda-calender #mobile_calendar .fc-toolbarh2::after {
    position: absolute;
    content: '';
    top: 50%;
    width: 70%;
    background-image: url(/img/mobile_searcBox_line.png);
    height: 3px;
    bottom: 6px;
    object-fit: contain;
    left: 15%;
    background-repeat: no-repeat;
}