.admin-edit-hr {
  width: 270px;
  position: relative;
  right: 15px;
}

.edit-text-right-align
{
  right: 40px;
}

.edit_leftSideBlockPosition {
  position:relative;
  top:1px;
}
.edit-padding
{
padding-left:15px;
  cursor:pointer;
  li.list-group-item.list-right-padding-style {
    border-radius: 5px;
    // background-image: linear-gradient(to right, #4e4376 0%, #000000 50%, #4e4376 100%);

    background-image:linear-gradient(to right, #60385B -22%, #231F20 50%, #60385B 100%)
  }


  li.list-group-item.list-right-padding-style.active {
    background-image: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%);
  }

}

.admin_chat_edit_block {
  padding-right: 20px !important;

}

.welcome-msg
{
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  color: #833844;
  letter-spacing: 5.5px;
}
.admin-edit-new-event-button_padding {
  padding-top:60px;
}





