.key-icon {
    display: inline-block;
    margin-left: 250px;
    padding: 0px 15px;
    transform: rotate(270deg);

img {
    width: 20px;
    height: 20px;
}
}
.no_event_error{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 18px;
}
.guest-list-background{
    .userGuestList{
        .ticketView_new{
            .list-group-item{
                width: 48.9%;
                display: inline-block;
                &:nth-child(odd){
                    margin-right: 10px;
                }
            }

        }
    }
    
}
#chatListName{
    .list-group.list-group-flush{
        .list-group-item{
            padding: 15px 15px;
            .seller-main-width{
                .seller-list-right-icon{
                    right: 0px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        
    } 
    li.selected-list-active{
        margin-left: -5px;
        p{
            color: #fff;
        }
        .seller-list-right-icon{
            color: #2e1104;
            border: 2px solid #2e1104;
            
        }
    }
    &.usertableListBlock{
        li.selected-list-active{
            margin-left: -22px;
            
            p{
                color: #fff;
            }
            .seller-list-right-icon{
                color: #2e1104;

                border: 2px solid #2e1104;
                
            }
        }
    }
}

.settings {
    display: inline-block;

img {
    width: 20px;
    height: 20px;
}
}

.logo {
    padding:0;

img {
    width:110px;
}
}

.table-list-img {
    width:22px;
    height:22px;

}


.span-table-msg {
    position: relative;
    top: 1px;
}


.bottom-menu-cntnr {
    padding:10px !important;
}


ul.nav{
    li {
        #left-icon {
            float: left;
            position: relative;
            left: 20px;
        }

        #category {
            position: relative;
            top: 15px;
            right: 90px;
        }
    }
}

.body_container {
    .chat-section {
        border:1px solid;

        .chat-box {
            border:1px solid;
            width: 60%;
            display: inline-block;

            ul li {
                list-style: none;
                border: 1px solid;
                background: #00d4ca;
                margin: 4px;
                border-radius: 5px;
                padding: 3px;
                width: 45%;
            }
        }
        .user-list {
            border:1px solid;
            width: 40%;
            display: inline-block;
        }
    }
}

.col1-style {
    text-align:center;
}

.chat-text-width {
    width: 120px ;
}

.bottom-menu2 {
    top: -67px !important;
}
.create-add {
    border-radius:0px !important;
}


/* Styles for wrapping the search box */

.main {
    width: 20%;
    height: 10px;
    margin: 25px auto;
    background: white;
}
.guest-list-div .ticketView li:nth-child(1):before {
    content:'gg';
    float: left;
}

/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    border:1px solid black;
    padding-right: 12px;
    padding-left: 34px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}
.form-control:active,
.form-control:focus,
.form-control.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:red;
}

.search-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    text-align:center;
    border:none;
}

.search-division{
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-top:10px;
    position: relative;
    bottom: 60px;
    background-color: transparent;
}

.chat-text {
    position: relative;
    top: 10px;
    font-size: 18px;
    color: #8f8e8e;
    // font-weight: bold;
}

.search-box {
    position: relative;
    top: 7px;
}

.hr-box {
    position: relative;
    top: 5px;
}

.chat-body {
    position: relative;
    bottom: 65px;
}

.left-menu-padding {
    position: relative;
    bottom: 15px;
}
.float-lft {
    float:left;
    color:white;
    border-radius: 2px;

}

.float-rgt {
    float:right;
    position: relative;
    right: 10px;
    // font-weight: bold;
    color: #d8d3d2;
    border-radius:5px;
}

.list-background {
    background-color: #d97ca3 !important;
}

.list-div-background {
    background-color:white;
}


.list-div-left-background {
    background-color:#01a89f;
}

.venue {
    text-align:center;
}

.list-div-icon {
    position: relative;
    top: 10px;
}

.list-img{
    width: 25px;
    height: auto;
}

.tableListBox .seller-name {
    width: 70%;
    top: 0;
    bottom: 0;
}

.tableListBox .seller-name p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 18px;
    margin: 0;
    line-height: 48px;
}

.tableListBox .seller-list-right-icon {
    width: 23px;
    border-radius: 50%;
    color: #2e1104;
    border: 2px solid #2e1104;
    height: 23px;
}




.right-div-background {
    background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
    color:white;
    text-align:center;
}

.center-div {
    text-align:center;
}

.ticketView {
    .list-group-item {
        border: none;
        display: inline-block !important;
        width: 47%;
        margin-right: 8px !important;
        margin-left: 0px !important;
        box-shadow: 1px 2px 12px 0px #22222C;
        border-radius: 4px;
    }
}

.list-right-item {
    margin-bottom: 5px !important;
    background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
    box-shadow: 1px 2px 12px 0px #22222C;
}

.list-right-padding-style {
    margin-bottom: 9px !important;
    box-shadow: 1px 2px 12px 0px #22222C;
}

.list-type-box {
    width: 100%;
    background-color: #d87ba1;
    border: 1px solid white;
    border-radius: 9px;
}

.smiley-style {
    position: relative;
    right: 15px;
}

.attach-icon {
    position: relative;
    right: 10px;
}

.type-list-div-icon {
    position: relative;
    top: 7px;
}

input {
    outline:none;
}

.padding {
   padding:8px 0 8px 8px !important;
}

.col-padding {
    padding: 0 5px 0 0 !important;
}

.list-center-div {
    display: inline-block;
    max-width: 140px;
    min-width: 140px;
    text-align: center;
}

.block {
    display: inline-block;
}

.guest-list-background {
    background-color: #d87ba2;
}

.guest-list-list-style {
    margin-bottom: 8px !important;
    border-radius: 3px;
}

.box-padding {
    //padding-bottom: 180px !important;
    height:530px !important;
}

.vendor-style {
    border: 2px solid #4cb074;
    border-radius: 10px !important;
    width: 20px;
    position: relative;
}

.div-text-style {
    font-size: 12px;
    color: #b6b3b3;
    // font-weight: bold;
    text-transform: uppercase;
}

.guest-type-box {
    //position: relative;
    //top: 245px;
}

.search-section {
    position: absolute;
    bottom: 10px;
    left: 0;
}
.guest-list-background.box-padding {
    position: relative;
    border-radius: 5px;
    //top:-5px;
    height:360px !important;
    box-shadow: 1px 2px 12px 0px #22222C;


}
//.col-lg-12.search-section {
//    position: absolute;
//}

.guest-type-box {
    .list-div-icon {
        .btn {
            padding: 0px;
        }
    }
}

.ticketView {
    .show-list {
        padding: 10px;
    }
}

.guestlist-span {
    word-wrap: break-word;
}


.add-table-typebox {
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 0px !important;
    border-radius: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    .capital-text {
        width:100%;
    }
}


.guestlist-hr {
    position: relative;
    top: 7px;
    width:300px;
}

.guest-list-pagename {
    padding-bottom: 35px;
    font-size: 16px;
    position: relative;
    top: 16px;
    color: #8f8e8e;
    // font-weight: bold;
    text-transform: uppercase;
}


.guestListItemWidth {
    width:100%;
    display: flex;


    .iconBox {
        width:10%;

        img {
            width: 15px;
        }
    }

    .listName {
        width: 80%;
        text-align: center;
        color: #cbc3c3;
        text-transform: uppercase;
        font-size: 16px;
        // font-weight: 600;
    }

    .listBox2 {
        width:10%;
    }

}

.userGuestListHeaderPosition {
    right:20px;
}
.userTables-hr {
    position: relative;
    top: 7px;
    width: 210px;
    right: 45px;
}

.userGuestList{
    position: relative;
    height: 280px;
    background-color: #d87ba2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-y: scroll;
}

.userGuestListTypeBox{
   bottom:0;
    top: 9px;
    padding:0px !important;
    border-radius:4px;

    .guest-add-button{
        position: relative;
        top: 3px;
        left: 20px;
        padding-left: 0px !important;
    }
}

.user_guestlist_leftSideBar {
    position: relative;
    top: 3px;
}


.tableListBox {

    .seller-main-width {
        width: 100%;
        display: -webkit-inline-box;
        height: 45px;
        position: relative;
    }

    .seller-list-left-icon {
        width:10%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .right_side_wrapper{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;

    }
    .seller-list-right-icon {
        width: 23px;
        border-radius: 50%;
        color: #e98b6f;
        border: 2px solid #e98b6f;
        height: 23px;
        right: 20px;

    }

    
    

    .seller-name {
        width:100%;
        position: relative;
        top: 50%;
        height: fit-content;
        transform: translateY(-50%);
        p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #bbbaba;
            font-size: 16px;
            padding: 0px 61px 0px 33px;
        }
    }


    li {
        border-radius: 5px;
    }
}

.user_guestList_block {
    width: 100%;
    display:inline-flex;
    margin:0 auto;
    margin: 0 auto;
    color: white;
    .block1 {
        width:10%;
        text-align:center;
        padding-top:10px;
    }
    .block2 {
        width:80%;
    }
    .block3 {
        width: 10%;
        text-align: center;
        cursor: pointer;
        padding-top: 8px;
        .btn {
            padding:0px !important;
        }
    }
}

.tableCreate_box_list {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 2px !important;

    input#tableName::placeholder {
        color: #bbbaba;
        // font-weight: 600;
        font-size: 16px;
    }

    .type-search {
        font-style: inherit;
        padding: 6px 35px;
        color: #bbbaba;
        height: auto;
    }
}
.best_seller_wrapper{
    .dv-star-rating-star{
        i{
            font-size: 18px;

        }
    }
}
.list-group-item.list-right-padding-style_wrap{
    box-shadow: 1px 2px 12px 0px #22222C;
    border-radius: 5px;
}
.width_90_center{
    width: 90%;
    margin: 0 auto;
}
.type-search {
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
    font-style: oblique;
    font-size: 12pt;
    line-height: 15px;
    color: #bbbaba;
    background: transparent;
    text-transform: uppercase;
}
.capital-text{
    height: 100%;
}
.type-search_wrap{
    width: 100%;
    border: none;
    height: 100%;
    text-align: center;
    font-style: oblique;
    font-size: 12pt;
    line-height: 15px;
    color: #bbbaba;
    background: transparent;
    text-transform: uppercase;   
    &:-moz-placeholder,
    &::-webkit-input-placeholder{
        color: #bbbaba;
    } 
}
.usertableListBlock {
    padding-left: 15px !important;
    padding-right: 0 !important;
}
.selected-table-active{
    background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important;
    position: relative;
    right:25px;

    #guest_cancel {
        background-image:url("/img/new_img/white_cross.svg");
    }
}

.common-event-name-div{
    // border-right: 1px solid #d5d0d0;
    height: 25px;

}
.tablesText {
    right:25px;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

li.list-group-item.list-right-padding-style.btn {
    border-radius: 5px;
    height: auto;
}

.tableListBox .seller-main-width {
    width: 100%;
    display: -webkit-inline-box;
    height: 45px; 
    
}

.tableListBox .seller-list-left-icon span {
	display: block;
}

.tableListBox .tableDeleteBox {
    // width: 10%;
}

input#guestName::-webkit-input-placeholder {
    color: #fdfdfd !important;
}
#chatListName.tableListBox{
    
        .seller-list-right-icon{
            border:2px solid #e2886c;
            color: #e2886c;
        }
    
}

@media (min-width:1024px) and (max-width:1280px) {

.guest-list-search-box {
    //width:76% !important;
}
    .chat-textBox {
        width:75% !important;
    }
    .tablesText {
        right:25px;
    }

}

@media (min-width:1024px) and (max-width:1180px) {

    .date {
         width: 28% !important;
     }

    .guest-no {
        width:10% !important;
    }

    .chat-textBox {
        width:75% !important;
    }

    .ticketView {
        .list-group-item {
           width:46%;

        }
    }
    .userTables-hr {
        position: relative;
        top: 7px;
        width: 145px;
        right: 25px;
    }


}

@media (min-width:1360px) and (max-width:1440px) {
.guest-add-button{
    left:0px !important;
}
}

.paddingBottom15 {
    padding-bottom: 15px;

}
.user_guest_title_div {
    width: 100%;
    padding-top:15px;

    .user_guest_title_div1 {
        width:58%;
        float:left;
    }
    .user_guest_title_div2 {
        width:42%;
        float: right;
    }

}


.userTitleGuestBlock {
    display:inline-flex;
    margin:0 auto;
    width:100%;
    .userTitleGuesttext {
        width:20%;
        text-transform: uppercase;
        color: white;
        font-size:16px;
    }
    .userTitleGuestlineImg {
        width:80%;
    }
}
.svg-img-style {
    width:100%;
    height:1px;
}
.userTitleTableBlock {
    display:inline-flex;
    margin:0 auto;
    width:100%;
    .userTitleTabletext {
        width:20%;
        text-transform: uppercase;
        color:white;
        font-size:16px;
    }
    .userTitleTablelineImg {
        width:80%;
    }
}

.user_guestListaddutton {
    width: 20px !important;
    height: 20px !important;
    position: relative;
    top: -1px;
}