.search-vendor-control {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1.42857143;
    color: #43312a;
    background-color: transparent;
    background-image: none;
    border: none;
    font-style: inherit;
    letter-spacing: 2px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
input.search-vendor-control#searchKey::placeholder {
    color: white !important;
    font-size: 10pt;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: initial;
    letter-spacing: 1px;
}

.vendor-search-logo {
    width: 20px;
    position: relative;
    // top: -5px;
    // right: 30px;
}

.vendor-search-box {
    position: relative;
    top: 15px;
}

.pagename-text {
    padding-bottom: 35px;
    font-size: 16px;
    position: relative;
    top: 10px;
    color: #ffffff;
    text-transform:uppercase;
}

.vendor-search-division {
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-top: 20px;
    position: relative;
    bottom: 60px;
    background-color: transparent;
}

/********************************************************************User Service/Choice Body**********************************************************************************/
.bottom-menu-cntnr .bottom-menu{
    //overflow:hidden;
}
.bottom-menu-cntnr .bottom-menu .header-item ul li{
    float: left;
    list-style-type: none;
    padding: 0px 17px;
    font-size: 16px;
}
.bottom-menu-cntnr .header-action-icon ul li{
    float: left;
    list-style-type: none;
    padding: 0px 10px;
    font-size: 16px;
}
.top-body-container .vale_container .mychoice_data{
    width:100%;
    //background-image:url(http://www.landnproperty.com/images/osproperty/properties/7058/setia-v-residences-gurney-drive-georgetown-malaysia-type-a2-living-hall_20161213_1785154657.jpg);
    //background-repeat:no-repeat;
    //height: 250px;
    height: 215px;
}
.top-body-container .vale_container .mychoice_data:after{
    //content: '\f058';
    content: url("/img/show-tick.png");
    float: right;
    right:50px;
    font-family: "FontAwesome";
    font-size: 25px;
    //top:50%;
    top:29%;
    position:absolute;
}

.top-body-container .vale_container .my-data:after{
    //content: '\f058';
    content: url("/img/13.png");
    float: right;
    right:50px;
    font-family: "FontAwesome";
    font-size: 25px;
    //top:50%;
    top:29%;
    position:absolute;
}
.top-body-container .vale_container .mychoice_data{
    text-align:center;
    position:relative;
    text-color:#fff;
}

.top-body-container .vale_container .mychoice_data .div-float{
    position:absolute;
    left:-12px;

    top:24%;

}
.top-body-container .vale_container  .star{
    padding: 40px 0px 0px 0px;
}
.top-body-container .vale_container .mychoice_data h3{
    //border-bottom: 1px solid #ff4f6c;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0px;
    margin-bottom: -10px;
    font-size: 27px;
    margin-top: -15px;
}
.top-body-container .vale_container .mychoice_data p{
    font-size: 18px;
}
.top-body-container .vale_container .div-float p{
    padding: 3px 10px;
    margin: 5px;
}
.top-body-container .vale_container .div-float p:nth-child(1){
    background:#ff4f6c;
    color:#fff;

}
.top-body-container .vale_container .div-float p:nth-child(2){
    background:#1e6f69;
    color:#fff;

}
.top-body-container .vale_container .div-float p:nth-child(3){
    background:#fe6d2c;
    color:#fff;
}
.top-body-container .vale_container .div-float-top{
    margin: 0 auto;
    position: absolute;
    top: 0;
    text-align: center;
    left: 35%;

}
.top-body-container .value_image{
    width:90%;
    margin:0 auto;
}
.services_wrapper{
    .top-body-container .value-main-content{
        padding:35px 0px;
        //overflow:hidden;
        .shadow-box-div{
            padding-top:15px; 
            .choice-text-style{
                width: 100%;
                font-size: 16px;
            }
            p.choice-text-style{
                font-size: 11px !important;
            }
        }
        
    
    }
}

.top-body-container .vale_container .div-float-top p {
    float: left;
    width: 23%;
    margin: 0px 3px;
    background: #ff0000;
    height: 67px;
}
.top-body-container .vale_container .div-float-top p:nth-child(1){
    background:#ff4f6c;
    color:#fff;

}
.top-body-container .vale_container .div-float-top p:nth-child(2){
    background:#1e6f69;
    color:#fff;

}
.top-body-container .vale_container .div-float-top p:nth-child(3){
    background:#fe6d2c;
    color:#fff;
}
.top-body-container .value_image img{
    width:100%;
    height: 110px;
}
.vale_container{
    color:#fff;
}
.top-body-container .place-header h4{
    float: left;
}
.top-body-container .place-header hr{
    width: 88%;
    float: right;
    right: 0;
    margin-top: 22px;
    margin-bottom: 16px;
}

.relativeposition {
    position:relative;
}

.soldout {
    //box-shadow: -2px -1px 0px 0px #ff4f6c;
    text-transform: uppercase;
    background: #ff4f6c !important;
    //background: url("/img/14.png") !important;
}

p.first-soldout:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -11px;
    top: -2px;
    border-style: solid;
    border-width: 0 0 7px 7px;
    border-color: transparent transparent #ff4f6c transparent;
}


p.first-best-deal:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -10px;
    top: 35px;
    border-style: solid;
    border-width: 0px 0 5px 7px;
    border-color: transparent transparent #1e6f69 transparent;
}


p.first-hot:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -33px;
    top: 71px;
    border-style: solid;
    border-width: 0px 0 5px 7px;
    border-color: transparent transparent #fe6d2c transparent;
}


p.second-best-deal:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -10px;
    top: 0px;
    border-style: solid;
    border-width: 0px 0 5px 7px;
    border-color: transparent transparent #1e6f69 transparent;
}

.top-all-div {
    position: relative;
    top: -45px;
}

.choice-circle-img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.circle-star-margin {
    margin-top: -25px;
    //border-bottom: 1px solid #c3b1b4;
    width: 40%;
    text-align: center;
    position: relative;
    left: 30%;
    padding-bottom: 10px;
}

.star-block {
    border-bottom: 1px solid #c3b1b4;
    width: 40%;
    text-align: center;
    position: relative;
    left: 32%;
    padding-bottom: 10px;
    padding-top: 40px;
}


p.second-hot:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: -33px;
    top: 35px;
    border-style: solid;
    border-width: 0px 0 5px 8px;
    border-color: transparent transparent #fe6d2c transparent;
}


p.third-best-deal:before {
    position: absolute;
    content: '';
    margin-left: -17px;
    top: 59px;
    border-style: solid;
    width: 0;
    height: 0;
    border-width: 0 5px 5px 0;
    border-color: transparent #1e6f69 transparent transparent;
}

p.top-soldout:before {
    position: absolute;
    content: '';
    margin-left: 42px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #ff4f6c;
}


p.top-best-deal:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: 40px;
    top: 0px;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #1e6f69;
}


p.top-hot:before {
    width: 0;
    position: absolute;
    content: '';
    height: 0;
    margin-left: 38px;
    top: 0px;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #fe6d2c;
}

.best-deal-margin {
    margin-top: 4px !important;
}

.best-deal {
    //box-shadow: -2px -1px 0px 0px #1e6f69;
    text-transform: uppercase;
    background: #1e6f69 !important;

    //background: url("/img/15.png") !important;
}


.hot {
    //box-shadow: -2px -1px 0px 0px #fe6d2c;
    text-transform: uppercase;
    background: #fe6d2c !important;
    //background: url("/img/16.png") !important;
}

.choice-text-style {
    text-transform: uppercase;
    color: #e6dede;
}


.second-choice-div {
    top:35% !important;
}
.third-choice-div {
    top:40% !important;
    width:80px;
}


.third-choice-top-div {
    left: 40% !important;
}

//.rating {
//    unicode-bidi: bidi-override;
//    direction: rtl;
//}
//.rating > span {
//    display: inline-block;
//    position: relative;
//    width: 1.1em;
//}
//.rating > span:hover:before,
//.rating > span:hover ~ span:before {
//    content: "\2605";
//    position: absolute;
//}


.star-logo {
    width:20px;
    height:20px;
}


    .rating {
        span {
            margin-right:5px;
        }
    }
.venues-div {
    color: #8f8e8e;
    text-transform: uppercase;
    // font-weight: 600;
}

.icon_div {
    margin:0;

    span {
        margin-right:5px;

    }
}

.icon-img {
    width:10px;
    height:10px;
}

/********************************************************************User Service/Choice Body*********************************************************************************/









