.vendor-mobile-settings-block {
  top:-40px;
  position:relative;


  
  .mobile-settings-div {
    text-align: center;
    text-transform: uppercase;
    color: #a99a9a;
    // font-weight: 600;
    border-radius: 4px;
    // box-shadow: 1px 2px 12px 5px grey;
    box-shadow: 0px 2px 12px 0px #7b7575;
    width: 95%;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 5px;
    margin-top: 10px;
    position: relative;
    background:white;
    height:60px;
    min-height:60px;
    -webkit-font-smoothing: antialiased;

    p {
      margin:0;
      font-size:8pt;
      line-height:1;
    }
  }

  .mobile_userSettingPhoneEdit {
    position: absolute;
    right: 10px;
    top: 20px;

  }

  .mobile_userSettingPhoneEdit_input {
    font-size: 20px;
    // font-weight: 600;
    color: #adb3ad;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 75%; */
    margin: 0 auto;
    outline: none;
    border: none;
    box-shadow: none;
    text-align: center;
  }

  .mobile_userSetting_saveButton {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    right: 10px;
    /* left: 45px; */
    background-color: #942e3b;
    top: 16px;
    padding: 3px 12px;
    border: 1px solid #a83543;
    
  }
  
  .settings-margin-bottom {
    margin-bottom: 92px !important;
  }

  .mobile-settings-div2 {
    text-align: center;
    text-transform: uppercase;
    color: #a99a9a;
    // font-weight: 600;
    border-radius: 4px;
    // box-shadow: 1px 2px 12px 5px grey;
    box-shadow: 0px 2px 12px 0px #7b7575;
    width: 95%;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 20px;
    margin-top: 10px;
    position: relative;
    background:white;
  }

  .settings-h2 {
    font-size: 16pt;
    // font-weight: 600;
    color: #c6c2bf;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    min-height: 22px;
    -webkit-font-smoothing: antialiased;
  }

  .mobile_user_settings_text_logo {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 18px;
    left: 10px;
  }

  .mobile_user_settings_signOut_text_logo {
    width: 25px;
    position: absolute;
    top: 20px;
    right: 10px;
  }


}
#vendor_invite_friends_create_popup {
  display: none;
  width: 100%;
  height: 100%;
  /* display: none; */
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.75);
  .inner_div {
    top: 30%;
    position: fixed;
    width: 85%;
    // background:linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
    background-color: #fff;
    height: 255px;
    /* margin: -1px auto; */
    border-radius: 4px;
    left: 8%;
  }

  p {
    color: black;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 45px;
  }

  button {
    width: 30%;
    text-align: center;
    left: 35%;
    position: relative;
    // background:linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
    background: transparent;
    height: 40px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #633b41;
    font-size: 20px;
    // font-weight: bold;
    text-transform:uppercase;
  }

  //.invite_email:before {
  //  content: "";
  //  position: absolute;
  //  top: 38%;
  //  left: 10px;
  //  background: url(/img/grey@.png);
  //  background-size: cover;
  //  height: 25px;
  //  width: 25px;
  //}

  .invite {
    color: #2d150e;
    letter-spacing: 2px;
    padding-bottom: 10px;
  }

  .invite_email {
    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    // font-weight: 600;
    border-radius: 4px;
    border: 0px;

    p {
      padding-top: 0px;
      font-size: 14px;
      color: #9c9898;
    }

    .subtext_P {
      color:white;
    }

    input {
      width: 90%;
      line-height: 14px;
      text-align: center;
      padding: 10px 0px 15px 0px;
      font-size: 23px;
      color: #bbbaba;
      // font-weight: 600;
      border-radius: 4px;
      border: none;
    }
    input#invite_mail::placeholder {
      font-size: 18px;
      color: #bbbaba;
    }
  }
}
