.mobile-vendor-MyBusinessEdit-block {
  margin-bottom: 90px;

  .h4Class {
    color: #bbbaba;
  }
  .pClass {
    color: #bbbaba;
  }

  .vendor-my-business-form {
    width: 95%;
    margin: 0 auto;
    .my-business-li-class {
      margin-bottom: 40px;
      box-shadow: 1px 2px 12px 0px #22222C;
      margin-top: -30px;
      border-radius: 4px;
    }

  }
  .mobile-vendor-myBusiness .picture-upload
  {
    overflow:hidden;

    #mobileVendorBusinessLogo {
      display:none;
    }
    #mobileVendorBusinessMain {
      display:none;
    }
    #mobileVendorBusinessMore {
      display:none;
    }
    #mobileVendorBusinessVideo {
      display:none;
    }

  }
  .mobile-vendor-myBusiness .picture-upload .add-more-pic
  {
    width:75%;
    margin:0 auto;
    border: 2px dashed #ccc;
    text-align:center;

    .img-border-label {
      margin-top: 5px;
      padding-bottom: 10px;
      width: 125px;
      border-bottom: 1px solid #b74e61;
    }

    h4 {
      font-size: 16px;
      // font-weight: 600;
      color: white;
      text-transform: uppercase;
      margin:0;
    }
    p {
      font-size: 14px;
      text-transform: uppercase;
      margin:0;
      color:white
    }

  }

  .mobile-main-camera-abs {
    position: absolute;
    left: 12px;
  }
  .vendor-business-pack {
    .business-pack {
      font-size: 20px;
      // font-weight: 600;
      color: #bbbaba;
      text-align: center;
    }

    p{
      margin: 0;
      text-align: center;
      padding-top: 10px;
    }
    h2 {
      margin:0;
    }

    .business-textarea-div {
      width: 95%;
      margin: 0 auto;

      textarea.business-text-area-box:focus {
        outline: none;
        box-shadow: none;
        font-size: 20px;
        // font-weight: 600;
      }

      .business-text-area-box {
        width: 100%;
        margin: 10px auto 0px;
        overflow: hidden;
        z-index: auto;
        position: relative;
        line-height: 20px;
        font-size: 16px;
        color: #afabab;
        // font-weight: 600;
        transition: none;
        background: transparent !important;
      }
    }
  }

  .mobile-vendor-more-pictures-scroll {
    overflow: auto;
    white-space: nowrap;
    width: 200px;
    opacity:0.45;
    margin:0 auto;
  }

  .mobile-vendor-more-pictures-scroll-div{
    display: inline-block;
    /* color: white; */
    text-align: center;
    text-decoration: none;
  }
  .mobile-more-pictures-img {
    width:50px;
    height:50px;
  }

  .more-pictures-absolute-div{
    position: absolute;
    width: 100%;padding: 20px 0px;
    top: -11%;
  }

  .more-pictures-relative-div {
    position: relative;
    padding: 25px 0px !important;
  }

  .vendor-facility-pack {
    .vendor-business-facility-div {
      padding-right: 10px;
    }


    .vendor-business-div-background {
      background-color: white;
      overflow: hidden;
      padding-top: 15px;
      /* padding-left: 10px; */
      line-height: 2;
    }
    label.form-check-label {
      position: relative;
      top: 5px;
      width: fit-content;
      padding-right: 25px;
      text-transform: uppercase;
    }

    input.form-check-input.facility-check-box.mobite-checkbox {
      zoom: 1.5;
      top: 3px;
      cursor: pointer;
      width: 20px;
      position: absolute;
      right: 0;
    }
    .form-check {
      background: #00a69e;
      width: 31% !important;
    }
  }
}
