.admin_chat_wrapper{
  overflow: hidden;
  box-shadow: 1px 3px 16px 4px #45454e;
  background: palevioletred;
  border-radius: 4px;
}
.adminEditTitleBlock.padding20{
  padding-right: 20px;
}
.border_20_img{
  img{
    border-radius: 20px !important;
  }
  
}
#chatListName.admin_chat_right_block_padding{
  .admin-main-width{
    display: initial;
    .admin-list-left-icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      span{
          transform: initial;
          top: initial;
      }
    }
    .admin-name.capital-text{
      width: 100%;
      p{
        line-height: 30px;
      }
    }
  }
}
.list-img_admin{
  width: 18px;
  height: auto;
}
.adminChatBlock_wrapper{
  .list-img_admin{
    width: 25px;
    height: 25px;
    padding: 1px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    position: absolute;
  }
}
.sectionBlock1_wrapper{
  width: 55%;
  z-index: 9;
  padding-right: 31px;
}
.adminchatType-box {
  //position: absolute;
  bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  ::-webkit-scrollbar {
    display: none;
  }
}

.admin-chat-list-name {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.admin_chatBo_leftPadding {
  padding-left:0px !important;
}
.admin_chat_right_block_padding {
  padding-right: 0px;
}


.adminchat-message-list {
  position: relative;
  height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-y: scroll;
  padding: 0px 7px;
  .list-group-item.background_none{
    background-color: inherit;
  }
}

// .admin-list-left-icon {
//   width: 10%;
//   position: relative;
//   top: 12px;
// }

// .admin-name {
//   width: 80%;
//   margin-top:5px !important;
// }

.admin-list-right-icon {
  width: 23px;
  position: relative;
  top: 10px;
  border-radius: 50%;
  color: #01a89f;
  border: 2px solid #01a89f;
  height: 23px;

}
.selected-list-active{
  .admin-main-width{
    .admin-name{
      p{
        color: #fff;
        
      }
      
    }
  .right_div_image{ 
    span{
      border: 2px solid #33110b;
      color: #33110b;
      
    }
  }
  }
}
.admin-main-width
{
  width: 100%;
  display: flex;
  .admin-list-left-icon{
    flex-grow: 2;
    line-height: 38px;
    text-align: left;
    span{
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .list-img{
        width: 30px;
        height: 30px;;
      }

    }
    

  }
  .admin-name{
    flex-grow: 8;
    p{
      margin: 0;
      line-height: 40px;
      color: #bbbaba;
      font-size: 12pt;
    }

  }
  .right_div_image{
    flex-grow: 2;
    line-height: 40px;
    span{
      border: 2px solid #e19782;
      border-radius: 1000px;
      width: 30px;
      height: 30px;
      display: inline-block;
      line-height: 28px;
      color: #e19782;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.admin-seller-no-msg {
  position: relative;
  bottom: 1px;
}
.adminChatBlock_wrapper{

  width: 80%;
  margin: 15px auto;
  .adminChatBlock {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 2px 7px;
    .block1 {
      width: 10%;
      text-align: center;
      cursor:pointer;
      position: relative;
    }
    .block2 {
      width: 10%;
      text-align: center;
      cursor: pointer;
      position: relative;
    }
    .block3 {
      width:80%
    }
    .block4 {
      width: 10%;
      text-align: center;
      position: relative;
      cursor: pointer;
      .btn {
        padding:0px !important;
      }
    }
  }

}

#admin_attachFile {
  display: none;
}

@media (min-width:1024px) and (max-width:1180px)
{
.admin-edit-hr {
  width: 215px !important;
}
  .admin-chat-send-icon{
    //left:35px;
  }
}

@media (min-width:1024px) and (max-width:1180px){
.admin-chat-send-icon{
//left:50px;
}
}

.selected-list-active{
  background: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%) !important;
  position: relative;
  right:0;
  z-index: 999 !important;
  .TextCenter{
    p{
      color: #fff;
    }
    
  }
}
.admin-chat-svg-img-style {
  width: 290px;
  height: 1px;
  position: relative;
  top: 10px;
}
.padding20 {
  padding-top: 20px;
}
.body_container.chat-body_wrapper{
  padding: 0;
}
.body_container.chat-body_wrapper .satus{
  overflow: hidden;

}
.adminChatTextDiv{
  width: 10%;
  float: left;
  /* top: 10px; */
  position: relative;
  // top: 8px !important;
  left: 15px;
}
.adminChatHr{
  width: 90%;
  float: right;
  /* top: 10px; */
  position: relative;
  bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.user_chat_wrapper{
  .user_chat_wrapper_box{
    .list-div-left-background.send-by-user{
      .text{
        padding-left: 30px;
        p{
          &:nth-child(1){
            color: #fff;
          }
        }
      }
    }
    .list-div-left-background.send-by-seller{
      .text{
        padding-right: 30px;
        p{
          &:nth-child(1){
            color: #bbbaba;
          }
        }
      }
    }
    .list-div-left-background.send-by-user,
    .list-div-left-background.send-by-seller{
      width:200px;
      .text{
        
        p{
          margin: 0;
          line-height: 16px;
          text-align: center;
          &:nth-child(1){
            font-size: 12pt;
          }
          &:nth-child(2){
            color: #bbbaba;
            font-size: 8pt;
            
          }
        }
      }
    }
    .list-div-left-background.send-by-seller{

    }
  }
  
}

.admin_chat_wrapper{
  .adminchat-message-list{
    .list-div-left-background.send-by-user{
      .text{
        padding-left: 30px;
        p{
          &:nth-child(1){
            color: #fff;
          }
        }
      }
    }
    .list-div-left-background.send-by-seller{
      .text{
        padding-right: 30px;
        p{
          &:nth-child(1){
            color: #bbbaba;
          }
        }
      }
    }
    
    .list-div-left-background.send-by-user,
    .list-div-left-background.send-by-seller{
      width:200px;
      padding: 12px;
      .text{
        
        p{
          margin: 0;
          line-height: 16px;
          text-align: center;
          &:nth-child(1){
            font-size: 12pt;
          }
          &:nth-child(2){
            color: #bbbaba;
            font-size: 8pt;
            
          }
        }
      }
    }
    .list-div-left-background.send-by-seller{

    }
  }
  
}