.mobile-chat-conv-div-header {
  padding-bottom: 75px;
  // background: linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
  // background: -webkit-gradient(linear,3.89% -16.96% ,96.11% 116.96% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
  // background: linear-gradient(to right, #b796b5 30%, #cc7fa3 51%, #b796b5 100%) !important;
  // background: linear-gradient(140deg, #060105 -27%, #fb5063 50%, #060105 116%);
  background: -webkit-linear-gradient(-36deg, #865a8d 0%, #be659f 27%, #d679a0 40%, #d679a0 60%, #be659f 70%, #865a8d 100%);
  padding-top:50px;
  height: 185px;
}
.mobile_user_emoji_block{
  .emoji-dialog .modifiers{
    display: none;
  }
  .emoji-dialog .emoji-dialog-header,
  .emoji-search-wrapper{
    display: none
  }
  .emoji-dialog .emoji-search-wrapper + .emoji-categories-wrapper{
    top: 0;
  }
  .emoji-row{
    text-align: center;
    padding: 0;
  }
}
.mobile-chat-conv-div-header.vendor_chat_wrapper{
  height: 170px;
}
.chat-conv-div {
  margin: 0;
  padding: 0;
  clear: both;
  //overflow: hidden;
}

.Chat-div-scroll{
  height: 335px;
  overflow-y: scroll;
}

.chat-type-box-position {
  position: relative;
  top: 395px;
}
#mobileUserAttach {
  display:none;

}
.chat_usernameLine {
  width: 25%;
  margin: 0 auto;
  position: relative;
  bottom: 10px;
  img {
    width:100%;
  }
}

.usernameLine {
  width: 25%;
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  img {
    width:100%;
  }
}

.chattext {
  font-size: 24pt;
  color: #86272d;
  text-align: center;
  letter-spacing: 0.1000em;
  padding-bottom: 10px;
}

.hanna-text {
  font-size: 12pt;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top:-10px !important;
}
.text-hr {
  width:20%;
  margin:0 auto;
  border: 1px solid #982a32 !important;
}

#chat-conv-tabBarDiv {
  margin: auto;
  position: fixed;
  margin: auto;
  left: 0;
  bottom: 0;
  width: 100%;
}

#chat-conv-tabBarInnerContainer {
  width: 100%;
  margin-top: 10px;
}

#chat-conv-tabBarContentDiv {
  font-size: 18pt;
  font-family: Tahoma;
  text-align: center;
  color: white;
}

.paddingBottomchatVendor {
  padding-bottom: 8px;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: white;
  width:100%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 9px;
  color:grey;
  transition: 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  display:grid;
}

/* Create an active/current tablink class */
.tab button.active {
  background:linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
  color:white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.icon-size {
  width: 20px;
  height: 20px;
}

ul.chats-conv-List {
  li {
    background: none;
    border: none;
    box-shadow: none;
  }

  padding-left: 10px;
  padding-right: 10px;
  // background-color:#FEF3EF;
  background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  .list-group-item:last-child {
    padding-bottom:182px;
  }
  .list-group-item:first-child {
    margin-top:-30px;
  }
}

.chatconvPersonDetailsDivleft {
  display: inline-block;
  text-align: center;
  width: 65%;
  margin-right: 10px;
  text-transform: uppercase;
  color: white;
  width: 65%;
  padding-top:3px;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;

  p {
    color:white;
    margin:0px;
    line-height:1.5;
    display:block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12pt;

    span {
    top: 1px !important;
    font-size: 20px !important;
    display: initial !important;
    background: none !important;
  }
}
}

.chatsconvListIcon1 {
  width: 25px;
  height: 25px;
  float: left;
  position: absolute;
  left: 15px;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
  img {
    border-radius: 50%;
    //border: 1px solid #f5b659;
  }
}

.chatsconvListIcon2 {
  width:25px;
  height:25px;
  position: absolute;
  right: 15px;
  transform: translateY(-50%);
  top: 50%;
  img {
    border-radius: 50%;
    //border: 1px solid #f5b659;
  }
}

.chatconvPersonDetailsDivleft  span {
    top: 1px !important;
    font-size: 20px !important;
    display: initial !important;
    background: none !important;
}

.chatconvPersonDetailsDiv {
  display: inline-block;
  text-align: center;
  width: 65%;
  margin-right:10px;
  padding-top:3px;
  text-transform: uppercase;
  color: white;
  // margin-left: 10px;

  p {
    font-size:12pt;
    margin:0 !important;
    text-align:center;
    line-height:1.5;
    display:block;
    padding-left: 5px;
    padding-right: 5px;

  }

  .chatconvName {
    font-size:14px;
    background:transparent;
    margin:0;
    display:block;
    span {
      top: 1px !important;
      font-size: 20px !important;
      display: initial !important;
      background: none !important;
    }
  }
}

.float-chat-conv-div {
  position: absolute;
  width: 100%;
  //margin-top: -35px;
}


.chatconvdiv1 {
  width: 70%;
  //margin-bottom: 10px;
  background-color: #00a99e;
  color:white;
  // box-shadow: 1px 2px 12px 0px #22222C;
  // box-shadow: 0px 2px 12px 0px #7b7575;
  box-shadow: 0px 2px 12px 0px #7b7575;
  border-radius: 4px;
  min-height: 40px;
  position:relative;
  //display:inline-flex;

  .chatconvPersonDetailsDiv {
    span {
      top:0 !important;
      font-size: 20px !important;
      display: initial !important;
      background: none !important;
    }
  }
}

.chatconvdiv2 {
  width: 70%;
  float: right;
  color:grey;
  //padding-top:15px;
  display:inline-flex;
  background-color: white;
  // box-shadow:2px 2px 20px 2px #7b7474;
  box-shadow: 0px 2px 12px 0px #7b7575;
  border-radius: 4px;
  min-height:40px;
  position:relative;

  .blank_block1 {
    width:15%;
  }
}


.conv1text {
  color:white;
  margin:0;
  line-height:1.5 !important;
  font-size: 8pt !important;
}

.conv2text {
  color: #ccc2c0 !important;
  margin: 0;
  font-size: 10px !important;
  line-height: 1;
  white-space: nowrap;
  // overflow: hidden;
  text-overflow: ellipsis;
  line-height:1.5 !important;
}
.mobile-user-chat-type-box-position {
  position: fixed;
  bottom: 35px;
}
.chat-conv-type-box {
  width: 95%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: inline-flex;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  border-radius: 10px;
  
  .block1 {
    width:10%;
    height:10%;
    position: relative;
    top: 6px;
    .list-img {
      width: 22px;
      height:25px;
    }
  }

  .block2 {
    width:10%;
    height:10%;
    text-align:left;
    position: relative;
    top: 6px;
    .list-img {
      width: 25px;
      height:25px;
    }
  }
  .block3 {
    width: 70%;
    position: relative;
  }
  .block4 {
    width: 10%;
    height:10%;
    position: relative;
    text-align: right;
    top: 6px;
    span{
      padding:0px !important;
    }
    .list-img {
      width: 25px;
      height:25px;
    }
  }
}
.mobileUserChatBlock {
  .type-search {
    font-style:inherit;
  }

  .type-search::placeholder {
    color: #ccc2c0;
    font-size: 18px;
  }
  .chatconvPersonDetailsDiv {
    p {
      color: white;
      font-size: 12pt;
      word-wrap: break-word;
      text-align:center;
      margin:0;
    }
    .chatconvName {
      background:transparent;
      color: #ccc2c0 !important;
      display:block;
    }

    .conv1text {
      font-size: 8pt !important;
    }
  }
}

.mobileUserChatBoxParent {
  background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 62px;
}

.mobileUserChatBoxRelative {
  position: relative;
}

.mobile_user_chatBox_pos {
  position:fixed;
  bottom:35px;
}


@media (min-width:411px) and (max-width:425px) {
  .mobileUserChatBlock .chat-type-box-position {
    position: fixed;
    top: 74%;
  }
  .mobile_user_emoji .emoji-dialog {
    top: 43% !important;
  }
  .Chat-div-scroll {
    height: 410px;
    overflow-y: scroll;
  }

}
@media (min-width:375px) and (max-width:410px) {
  .mobileUserChatBlock .chat-type-box-position {
    position: fixed;
    top: 475px;
  }
  .Chat-div-scroll {
    height: 50% !important;
    overflow-y: scroll;
  }
}
@media (max-width:320px)  {
  .mobileUserChatBlock .chat-type-box-position {
    position: fixed;
    top: 384px;
  }
  .mobileUserChatBlock .Chat-div-scroll {
    height: 45% !important;
    overflow-y: scroll;
  }
  .mobile_user_emoji .emoji-dialog {
    top: 31% !important;
  }
  .mobile-user-chat-type-box-position {
    position: fixed;
    bottom: 16%;
  }
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .mobileUserChatBlock .chat-type-box-position {
    position: fixed;
    top: 83%;
  }
  .mobileUserChatBlock .Chat-div-scroll {
    height: 70% !important;
  }
  .mobile_user_emoji .emoji-dialog {
    top: 60% !important;
  }
  .mobileUserChatBlock .mobile-user-chat-type-box-position {
    position: fixed;
    bottom: 10%;
    margin-left: 20px;
  }
}


@media only screen and (min-width: 1024px)  {
  .Chat-div-scroll {
    height: 75% !important;
    overflow-y: scroll;
  }
  .mobileUserChatBlock .chat-type-box-position {
    position: fixed;
    top: 86%;
  }
  .mobile_user_emoji .emoji-dialog {
    top: 60% !important;
  }
}

@media (max-width: 414px) and (min-width: 411px) {
  .mobileUserChatBlock .Chat-div-scroll {
    height: 59% !important;
  }
  .mobile-user-chat-type-box-position {
    bottom:13%;
  }

}


.mobileUserChatBoxParent.background-none{
  background: none;
}





