.key-icon {
    display: inline-block;
    margin-left: 250px;
    padding: 0px 15px;
    transform: rotate(270deg);

img {
    width: 20px;
    height: 20px;
}
}

.viewers-hr-box {
    bottom:5px;
}

.settings {
    display: inline-block;

img {
    width: 20px;
    height: 20px;
}
}

.logo {
    padding:0;

img {
    width:110px;
}
}



.bottom-menu-cntnr {
    padding:10px !important;
}

// .bottom-menu {
//     position: relative;
//     top: -45px;
// }

ul.nav{
li {
//#left-icon {
//    float: left;
//    position: relative;
//    left: 20px;
//}

#category {
    position: relative;
    top: 15px;
    right: 90px;
}
}
}

.body_container {
.chat-section {
    border:1px solid;

.chat-box {
    border:1px solid;
    width: 60%;
    display: inline-block;

ul li {
    list-style: none;
    border: 1px solid;
    background: #00d4ca;
    margin: 4px;
    border-radius: 5px;
    padding: 3px;
    width: 45%;
}
}
.user-list {
    border:1px solid;
    width: 40%;
    display: inline-block;
}
}
}

.col1-style {
    text-align:center;
}

.chat-text-width {
    width: 120px ;
}

.bottom-menu2 {
    top: -67px !important;
}
.create-add {
    border-radius:0px !important;
}


/* Styles for wrapping the search box */

.main {
    width: 20%;
    height: 10px;
    margin: 25px auto;
    background: white;
}
.guest-list-div .ticketView li:nth-child(1):before {
    content:'gg';
    float: left;
}

/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    border:1px solid black;
    padding-right: 12px;
    padding-left: 34px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}
.form-control:active,
.form-control:focus,
.form-control.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:red;
}

.search-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    text-align:center;
    border:none;
}

.background_White {
    background-color:white;
}

//.search-division{
//
//    margin-left: 15px !important;
//    margin-right: 15px !important;
//    position: relative;
//    bottom: 75px;
//    background-color: transparent;
//}

.chat-text {
    position: relative;
    top: 10px;
    font-size: 18px;
    color: #8f8e8e;
    // font-weight: bold;
    text-transform:uppercase;
}

.search-box {
    position: relative;
    top: 7px;
}

.hr-box {
    position: relative;
    top: 5px;
}

.chat-body {
    position: relative;
    bottom: 65px;
}

.left-menu-padding {
    position: relative;
    bottom: 15px;
}

.vendor-chat-img {
    position: relative;
    left: 20px;
}

.vendorstatsList {
    width:100%;
    overflow:hidden;
}

.vendorStatsFloatLeft {
    float:left;
    width: 10%;
    position: relative;
    top: 5px;
}

.vendorStatsFloatRight {
    float:right;
    width: 10%;
    position: relative;
    top: 3px;
p {
    color: #beb8b8;
    font-size:12px;
    text-transform:uppercase;
}

    .eventTime {
        margin-top:-20px;
    }
}

.vendor_stats_container {
    padding-right:10px !important;
}

.vendorStatsTextCenter {
    text-align:center;
    width: 80%;
    float: left;
    text-transform:uppercase;
    color: #beb8b8;
    position:relative;
    top:5px;
    border: 0;
    p {
        // font-weight:600;
        //margin-bottom:0px !important;
    }
}

.vendorStats-div-icon {
    position: relative;
    top: 8px;
}


.vendor-stats-p {
    font-size: 10px;
    margin: -8px;
    // font-weight: 600;
    margin-top: -16px;
}

.vendor-stats-list {
    li {
        background-color:transparent !important;
    }
}
.choices-background {
    background-image: url(/img/svg_img/back2.svg);
    background-color: white;
}

.views-background {
    background-image: url(/img/svg_img/back1.svg);
    background-color: white;
    background-size: cover;
}

.vendorstats-listBackground {
    //background-color:white;
    li {
        background-color:transparent !important;
    }

    .all-div-text1 {
        margin-top:-10px;
    }
    .all-div-text2 {
        //margin-top: -8px;
        background-color:transparent !important;
    }
    .all-div-text4 {
        //margin-top: -8px;
        background-color:transparent !important;
    }
}

.stats-hr-line {
    margin: -12px;
    background-color: transparent !important;
}

.latest-choices {
    left:50px;
    font-size:16px;
}

.stats-hr {
    width:280px;
}

.stats-my-service {
    right: 65px;
    width:230px !important;
}

.latest-viewers {
    margin-bottom:20px;
    font-size:16px;
}
.statiscs {
    font-size:16px;
}


@media (min-width:1280px) and (max-width:1360px)  {
    .stats-hr {
        width:290px;
    }
    .vendor-chat-hr {
        width: 240px;
    }
    .stats-my-service {
        right: 65px;
        width: 237px !important;
    }
}
@media (min-width:1024px) and (max-width:1180px) {
    .stats-my-service {
        right: 65px;
        width: 168px !important;
    }
    .stats-hr {
        width:197px;
    }

    .vendorservice-chatbox {
        width:58% !important;
    }

    .statistics {
        font-size:16px;
    }

    .latest-choices {
        font-size:16px;
        left:40px;
    }

    .stats-hr-box {
        left:24px;
    }
    .latest-choices-hr-box {
        left:20px;
    }

    .latest-viewers {
        font-size:16px;
        width: 56% !important;
        max-width: 60%;
    }

    .viewers-hr-box {
        width:42%;
        max-width:42%;
        bottom:5px;
    }


    .vendor-chat-hr {
        width: 170px;
        position: relative;
        right: 49px;
    }
    .vendor-stats-my-service {
        width:50% !important;
        max-width:50%;
        right:46px;
    }
    .vendor-stats-hrBox {
        width:50% !important;
        max-width:50%;
        right:10px;
    }
    .vendorStatsHr {
        width: 70% !important;
    }
    .vendorStatsTextDiv {
        width: 30% !important;
    }
    .vendorLatestTextDiv{
        width: 55% !important;
    }
        .vendorLatestHr {
            width: 45% !important;
        }
    .vendorLatestViewersTextDiv {
        width: 55% !important;
    }
    .vendorLatestViewersHr {
        width: 45% !important;
    }



}
//

.vendorStats {
    .vendorMyserviceTitleBlock {
        width: 100%;
        margin: 0 auto;
        // padding-top: 20px;
        padding-left: 10px;
    }
}
//

.vendorStatsText {
    position: relative;
    top: 3px;
    font-size: 18px;
    color: #8f8e8e;
    // font-weight: bold;
    text-transform: uppercase;
}
.vendorStatsTextDiv{
    width: 25%;
    float: left;
    /* top: 10px; */
    position: relative;
    top:4px;
}
.vendorStatsHr{
    width: 75%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
    padding-top: 10px;
    padding-bottom: 11px;
}
.vendorStatsHrTitleBlock {
    width: 100%;
    margin: 0 auto;
    // padding-top: 12px;
}
//
//

.vendorLatestText {
    position: relative;
    top: 3px;
    font-size: 18px;
    color: #8f8e8e;
    // font-weight: bold;
    text-transform: uppercase;
}
.vendorLatestTextDiv{
    width: 45%;
    float: left;
    /* top: 10px; */
    position: relative;
    top:4px;
}
.vendorLatestHr{
    width:55%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
    padding-top: 10px;
    padding-bottom: 11px;
}
.vendorLatestHrTitleBlock {
    width: 100%;
    margin: 0 auto;
    padding-top: 12px;
}
//
//

.vendorLatestViewersText {
    position: relative;
    top: 3px;
    font-size: 18px;
    color: #8f8e8e;
    // font-weight: bold;
    text-transform: uppercase;
}
.vendorLatestViewersTextDiv{
    width: 45%;
    float: left;
    /* top: 10px; */
    position: relative;
    top:4px;
}
.vendorLatestViewersHr{
    width:55%;
    float: right;
    /* top: 10px; */
    position: relative;
    bottom: 5px;
    padding-top: 10px;
    padding-bottom: 11px;
}
.vendorLatestViewersHrTitleBlock {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}
//