.adminEditTextCenter {
  text-align: center;
  width: 55%;
  float: left;
  text-transform: uppercase;
  color: #beb8b8;

}

.adminEditFloatLeft {
  float: left;
  width: 10%;
  position: relative;
  top: 5px;
}

.admin__icon_container{

  display: flex;
  overflow: hidden;
  position: relative;
  top: 4px;

    .adminEditView,
    .adminArrowView{
      float: left;
      margin: 0 10px;
    }
    
    .adminEditDelete {
      float: left;
      margin: 0 10px;
    
    }
    .adminEditItem {
      float: left;
      margin: 0 10px;
    
    }
}


.adminEditList {
  width: 100%;
  overflow: hidden;

}

.cross-img {

    width:15px ;

}

.arrow_img {
  width:10px;
}

.editbox-textStyle {
  font-size: 12pt;
  font-weight: 600;
  position: relative;
  top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.admin-edit-new-event-button .new-event-button-left {
  width: 100%;
  float: left;
  text-transform: uppercase;
  line-height: 2;
  z-index: 0;
  // background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
  background-image: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%);
  border: none;
  height: 54px;
  position: relative;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 12px 0px #22222C;
  img{
    width: 40px;
    height: 40px;
    margin: 7px auto;
  }
  p{
    position: absolute;
    bottom: 6px;
    width: 100%;
    color: #fddccc;
    z-index: 9999;
    text-align: center;
    font-size: 13px;
    top: initial !important;
    margin: 0;
    left: 0;
    bottom: 1px;

  }
}

// .admin-edit-new-event-button  .new-event-button-left::before {
//   float: left;
//   margin-left: 10px;
//   content: "";
//   position: absolute;
//   left: 7%;
//   /* top: 16px; */
//   bottom: 22px;
//   height: 13px;
//   width: 13px;
//   background-size: cover;
//   background-image: url('/img/newService/TICK.svg');

// }
.admin-edit-new-event-button_padding {
  padding-top:60px;
}

.region-hr
{
right:10px;
}



$dark: #1d1d1b;
$light: #c7c7c7;
$text-light: #706f6f;



.bg-overlay {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0, 0, .7);
  width: 100%;
  height: 100%;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.subscribe-optin {
  position: relative;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  width: 50%;
  height: auto;
  background: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .8rem;

  h2 {
    //padding: 1rem 0;
    //padding-left:30px;
    text-transform: uppercase;
    color: #e17e9b;;
    text-align: center;
    font-size: 24pt;
    margin:0;
  }

  h1 {
    font-size:16px;
    color: #c7bdbd;
    font-weight: 600;
  }

  .optin-close {
    position: absolute;
    top: 0rem;
    right: 2rem;
    z-index: 999;
    color: #000;
    font-size: 30px;
    text-decoration: none;

    &:hover {
      color: $light;
      transition: color 500ms ease;
    }
  }

  form {
    input {
      display: inline-block;
      padding: .5rem 1rem;
      outline: none;
      border: 1px solid $dark;
      text-transform: uppercase;
    }

    input[type=text],
    input[type=email] {
      padding: .5rem 1rem;
      width: 65%;
      //padding-left:60px;
      text-align:center;
      border:none;
      font-size: 16pt;
      color:  #c7bdbd;
    }

    input::placeholder
    {
      font-size: 16px;
      color: #c7bdbd;
    }

    input[type=submit] {
      width: 100%;
      text-transform: uppercase;
      line-height: 2;
      background-image: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%);
      border: none;
      height: 54px;
      position: relative;
      font-size: 12pt;
      font-weight: bold;
      color: white;
      border-radius: 4px;
      box-shadow: 1px 2px 12px 0px #22222C;

      &:active {
        box-shadow: inset 2px 2px 2px 0 $dark;
      }
    }
  }

  .second-image-div {
    //display:flex;
    width: 50%;
    margin: 0 auto;
  }

  hr {
    margin-top:5px;
  }

  .picture-upload{
    overflow:hidden;
    background: #fff;
    padding: 20px 15px;
    //padding-left:30px;
    margin: 10px 0px;
  }
  .picture-upload .add-more-pic{
    width: auto;
    padding: 12px 10px 12px 65px;
    position: relative;
    margin: 0 auto;
    line-height: 3;
    border: 2px dashed #ccc;
    text-align: center;
    h4, p {
      font-size: 8pt;
    }
  }

  #save-changes {
    padding-top:10px;
    padding-bottom:20px;
  }

  .edit-save-change{
    padding-top:10px;
  }

  .admin-edit-new-event-button  .new-event-button-left:focus {
    outline: none;
    border: none;
  }

  .save-changes-class {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .picture-upload .add-more-pic h4{
    text-transform: uppercase;
    font-size: 9px;
    color: #c3b9b9;
    font-weight: 600;
    margin: 8px;
    margin-top:-12px;
  }

  .picture-upload .add-more-pic p{
    text-transform: uppercase;
    font-size: 10px;
    color: #c3b9b9;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top:-10px;

  }

  #AttributePicture {
    display:none;
  }

  #submitButton {
    text-align:center;
    //padding-top:10px;
    position: relative;
    width: 50%;
    margin: 0 auto;
  }

  .popUpfirstLabel
  {
    //margin-left: 25px;
    padding-right: 47px;
    color: #2b0c11;
  }

  .confirm-width
  {
    width: 50%;
    margin: 0 auto;
  }

  .yesBox {
    width: 50%;
    float: left;
    #yes-width {
      width:94%;
    }
  }
  .CancelBox {
    width: 50%;
    float: left;
    input{
      width: 94%;
    }
  }

  #deleteForm {
    width: 100%;
    margin: 0 auto;
    /* margin-bottom: 50px; */
    overflow: hidden;
    padding: 36px 0px 9px 0px;


    

}

}


@media (min-width:1360px) and (max-width:1440px) {
  //#picture-upload1{
  //  padding-left:70px !important;
  //}
  // input#optin-name[type=text] {
  //  padding-left:90px !important;
  //}

}
@media (min-width:1024px) and (max-width:1180px) {
  .adminEditHr{
    width: 85% !important;
  }
  .adminEditTextDiv{
    width: 15% !important;
  }
  .adminEditSectionTextDiv {
    width: 30% !important;
  }
  .adminEditSectionHr{
    width: 70% !important;
  }
//.subscribe-optin .picture-upload {
//  overflow: hidden;
//  background: #fff;
//  padding: 20px 0px;
//  /* padding-left: 30px; */
//  padding-right: 85px;
//}
//
//.subscribe-optin form input[type=text], .subscribe-optin form input[type=email] {
//  padding: .5rem 1rem;
//  width: 60%;
//  padding-left: 10px;
//  text-align: center;
//  border: none;
//  font-size: 16px;
//
//}


}
.adminEditText {
  position: relative;
  top: 3px;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

// .adminEditTextDiv{
//   width: 12%;
//   float: left;
//   position: relative;
//   top:4px;
// }
.adminEditTextDiv,
.adminEditSectionTextDiv,
.adminStatsSectionText,
.adminStatsSectionText_wrapper,
.adminApprovalsSectionText_wrapper,
.adminApprovalText,
.adminApprovalTextDiv{
  display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 5px;
    left:0;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #e9d6e2;
    font-size: 12pt;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    &::after {
      content: '';
      content: '';
      // background-position: 15px 1px;
      flex: 1 0 20px;
      background-image: url(/img/2pt_line.svg);
      width: 100%;
      height: 2px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      background-position: 93% 100%;
      margin-left: 10px;
  }
}
.adminEditHr{
  width: 88%;
  float: right;
  /* top: 10px; */
  position: relative;
  bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.adminEditTitleBlock {
  width: 100%;
  margin: 0 auto;
  /* padding-top: 5px; */
  padding-left: 15px;
}

.adminEditTitleBlockPadding{
  // padding-top: 20px;
  padding-left: 0px !important;
}
//
//
// .adminEditSectionText {
//   position: relative;
//   top: 3px;
//   font-size: 12pt;
//   color: white;
//   font-weight: bold;
//   text-transform: uppercase;
// }
// .adminEditSectionTextDiv{
//   width: 20%;
//   float: left;
//   position: relative;
//   top:4px;
// }
.adminEditSectionHr{
  width: 80%;
  float: right;
  /* top: 10px; */
  position: relative;
  bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.adminEditSectionHrTitleBlock {
  width: 100%;
  margin: 0 auto;

}
.adminEditSectionHrTitleBlockPadding{
  padding-top: 20px;
  padding-left: 0px !important;
}

.admin_edit_new_button_pos {
  position: relative;
  top: 3px;
}

.admin_edit_block_pos {
  position: relative;
  top: 1px;
}




