.mobile-adminChats-block ul li.mobile_chatbox_wrapper:last-child{
  margin-bottom:20px;
}
.mobile-adminChats-block {
  margin-top: -31px;
  height: 410px;
  overflow-y: scroll;

  ul.chats-conv-List .list-group-item:first-child {
    margin-top: -35px;
  }

  ul {
    width:95%;
    margin:0 auto;

    li {
      background-color: white;
      box-shadow: 0px 2px 12px 0px #7b7575;
      // box-shadow: 0px 1px 25px 4px #575353;
      margin-bottom:10px;
      border-radius: 4px;
      padding: 0px 10px;
      min-height: 60px;
    }
    .list-group-item:last-child {
      margin-bottom:30% !important;
      min-height:60px;
      border-radius:4px;
    }
  }

  .admin-chatbox {
    width:100%;
    margin:0 auto;
    display: inline-flex;
    min-height: 50px;
  }
  .admin-chatImg {
    
    img {
      width:35px;
      height:35px;
      border-radius:50%;
      border: 1px solid #f5b659;
    }
  }
  .admin-chatCount {
    
    // height: 30px;
    // width: 30px;
    // border: 2px solid #43a89c;
    // border-radius: 50%;
    // color: #43a89c;
    // font-weight: 600;
    // text-align: center;
    // position: relative;
    // top:15px;

    span {
      border: 2px solid #e7987a;
      border-radius: 50%;
      color: #e7987a;
      text-align: center;
      position: relative;
      width: 30px;
      height: 30px;
      display: inherit;
      line-height: 27px;
      padding: 0;
    }

  }
  .admin-chatBody {
    width:80%;
    text-align: center;
    position: relative;
    min-height: 32px;
    height: 40px;
    top: 10px;

    .firstPclass {
      font-size: 16pt;
      // font-weight: 600;
      text-transform: uppercase;
      text-overflow:ellipsis;
      overflow:hidden;
      margin:0 !important;
    }
    .secondPclass{
      font-size: 14px;
      // font-weight: 600;
      text-transform: uppercase;
      margin-top: -5px;
      margin-bottom: 0px;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height:1.5;
    }
  }
}

.mobile-adminChats-block ul li{

&.mobile_chatbox_wrapper{
  min-height: auto;
  .admin_chatbox_wrapper{
    position: relative;
    .admin-chatImg,
    .admin-chatCount{
      position: absolute;
      top:50%;
      transform: translateY(-50%);

    }
    .admin_chatBody_wrapper{
      width: 100%;
      padding: 20px 35px;
      p{
        margin: 0;
        text-align: center;
        font-size: 16pt;
        text-transform: uppercase;
        text-overflow: ellipsis;
        color: #bbbaba;
        -webkit-font-smoothing: antialiased;
      }

    }
    .admin-chatImg{
      left: 0;

    }
    .admin-chatCount{
      right: 0;

    }
  }
}

}