.home-first-mobile-wrapper{
	overflow:hidden;
	background: #FEF3EF;
}
.approve_msg{
    color: green;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 11px;
    text-align: center;
}
.loader_wrapper{
position: fixed;
width: auto;
height: fit-content;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.loader_mobile{
    border: 16px solid #fff; /* Light grey */
    border-top: 16px solid #eb725a; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 9999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.home-first-mobile-container_mobile {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background: url(https://i.imgur.com/AtD00Jb.png);
}
.home-first-mobile-container{
	width:40%;
	position:absolute;
	// height:100%;
	margin: 0 auto;
	background:url("https://i.imgur.com/AtD00Jb.png");
	//background:linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%);
	// background: linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
	//background: -webkit-gradient(linear,-17.44% 21.84% ,117.44% 78.16% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
}
.home-first-div-wrapper{
	width:100%;
	// height: 100%;
    // min-height: 100%;
	margin:0 auto;
	text-align:center;
	text-transform:uppercase;
	top: 48%;
    transform: translateY(-50%);
    position: absolute;
	
}

.home-first-div-wrapper .home-first-login-info input {
    width: 100%;
    line-height: 22px;
    text-align: center;
	padding: 10px 0px 25px 0px;
	font-size: 23px;
	text-transform: uppercase;
}
.home-first-div-wrapper .home-first-login-info input[type='submit']{
	background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
	border: none;
	box-shadow: 1px 2px 12px 0px #22222C;
	color: #fff;

}

.home-first-div-wrapper .home-first-login-info input{
	border-radius:5px;
	border:0px;
}

@media (max-width:1024px){
.home-first-mobile-container{
	width: 100%;
	// min-height: 100%;
	height:100vh;
}
}


@media (min-width:1025px){
	.home-first-mobile-container{
		width:100%;
	}
}

.mobile_home_first {
	text-transform: uppercase;
	font-family: Calibri !important;
	// font-weight: 600 !important;
	letter-spacing: 1px;
}


.new-couple-div {
	padding-bottom: 10px;
	padding-top:10px;
}



.welcome {
	padding-bottom: 40px;
	font-size: 40px;
	font-family: initial;
	color: white;
}

#ContainerDiv {
	margin: auto;
	position: fixed;
	margin: auto;
	margin-bottom:20px;
	left: 0;
	bottom: 0;
	width: 100%;
}

.home-first-button {
	width:95%;
}

#InnerContainer {
	width: 100%;
}

#TheBelowDiv {
	font-size: 18pt;
	font-family: Tahoma;
	text-align: center;
	color: white;
}

.mobile-first-div {
	// margin-top:90px;
}

.img-logo {
	width:20px;
}

.text-style {
	font-size: 20px !important;
	font-family: initial;
	// font-weight: unset;
	color: #faf8f8c7 !important;
}

.wendy_com {
	font-size: 8pt;
    text-transform: initial;
	color: #200606;
	text-transform: uppercase;
    font-family: Calibri !important;
    // font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.footer_copyright{
	color:#fff;
}

.home_first_login_button {
	width:95% !important;
}
.home_first_continue_guest_button {
	width:95% !important;
}
.home-first-mobile-wrapper{
	.new-couple-div.relative-div{
		position: relative;
		.absolute-div-style.mobile_home_first{
			top: initial;
			bottom: 0;
			line-height: 40px;
		}
	}
}
.absolute-div-style {
	background-size: cover;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 40px;
	text-transform: uppercase;
	top: 62%;
	font-size: 12pt;
	font-family: initial;
	color: #f6fbfd;

}

.logo-home-first-img {
	width: 50px;
	height: 52px;
}

.FloatbtnClass {
	background:transparent;
	border: none;
	color: #fff;
	width:100%;
	padding: 10px 0px 10px 0px;

}

.relative-div {
	position: relative;
}


.back_top {
  top:40% !important;
}

.welcome-div {
	background: none;
	box-shadow: none;
	border:none;
	padding: 10px 0px 10px 0px;
}

.welcometext {
	font-size: 40px !important;
	text-transform: capitalize;
	color: white;
	top:-20%;
	font-family: initial;
}

.login_img_position {
	position: relative;
	bottom: 5px;
}

button.text-style.FloatbtnClass.home-first-button:focus {
	outline: none;
	border: none;
}
.heading-wrap{
position: relative;
}

.logo-img1{
	width: 90px;
    height: 90px;
}
.head-logo1{
	position: absolute;
    margin: 0 auto;
    bottom: -9px;
    font-size: 16pt;
    margin-left: 7px;
    color: #fff;
    width: 100%;
    letter-spacing: 3px;
}
.headPara1{
	margin-top: 60px;
    margin-bottom: 45px;
    color: #fdf6ff !important;
    font-size: 8pt;
    letter-spacing: 0.5px;
}
@media only screen and (min-device-width: 412px) and (max-device-width: 425px)  {
	.welcome-div{
		position: relative;
		top: 25px;
	}
	.welcometext {
		top: 8%;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
	.welcome-div{
		position: relative;
		top: 200px;
	}
	.welcometext {
		margin-top: 25%;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {
	#welcome_div_block {
		bottom:30px;
	}
}

@media only screen and (min-device-width: 480px) and (max-device-width: 600px) {
	.home-first-div-wrapper {
		top:45%;
	}
	.FloatbtnClass {
		padding:0px 0px 0px 0px;
	}
  }


  .mobile-admin-approval-service-block{
	  .mobileAdminApprovalService{
		  margin-bottom: 40px;
	  }
	  .mobileAdminApprovalService{
		  .admin-facility-pack.admin-facility-pack-mob{
		  .all-facility-dv{
			  padding-top: 0;
			  ul{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0;
				padding: 16px 0;
				width: 100%;
				margin: 0 auto;
				li{
					list-style-type: none;
					width: 25% !important;
					text-align: center;
					background: transparent;
					span{
						color: #bbbaba;
						font-size: 8pt;
					}
					img{
						width: 25px;
						height: 25px;
					}
					&.active{
						span{
							color: #551e3b;
							font-size: 8pt;
						}
					}
				}

			  }
			
		  }
		}
	  }
	  .mobileAdminApprovalService .admin-facility-pack{
		  background-color: #fff;
	  }
	  .mobileAdminApprovalService .packList:before{
		top: 15px;
	  }
	  .mobileAdminApprovalService .pack-div{
		  margin: 10px 0px;
		  box-shadow: 0px 2px 12px 0px #7b7575;
		  border-radius: 10px;
	  }
	  .mobileAdminApprovalService .pack-div .tick-absolute{
		  right: 15px;
	  }
	  .relative-div.news_service_button.home-login-button-div{
		background: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%);
		border-radius: 5px;
		width: 100%;
		margin: 0 auto;
		box-shadow: 0px 0px 15px 1px #000;
		padding: 5px 0px;
		position: relative;
		text-align: center;
		margin-bottom: 40px;
		.text-style{
			margin: 7px 0px;
			font-size: 20px !important;
			font-family: initial;
			color: #faf8f8c7 !important;
			.service_back_logo-home-first-img{
				width: 40px;
				height: 41px;
			}
			.back_top{
				position: absolute;
				bottom: 6px;
				width: 100%;
				z-index: 9999;
				text-align: center;
				font-size: 17px;
				top: initial !important;
				letter-spacing: 1px;
				font-family: "Calibri Light", sans-serif !important;
				font-weight: 300 !important;
				text-transform: uppercase;
				color: #ffff;
			}
		}
	
	  }
  }