#sellerMorePicture {
  display:none;
}


.vendor-more-pictures-scroll {
  overflow: auto;
  white-space: nowrap;
  width: 325px;
}
.vendor_li_wrap{
  .caption_text_content{
    img{
      margin-bottom: 5px;

    }
    p{
      position: relative;
      &::before{
        position: absolute;
        content: '';
        top: -4px;
        width: 100%;
        background-image: url(/img/mobile_searcBox_line.png);
        height: 3px;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 11%;
      }
    }
  }
}
.vendor-more-pictures-scroll-div{
  display: inline-block;
/* color: white; */
  text-align: center;
  text-decoration: none;
}
.vendor_li_wrap.chat_leftbar_wrapper{
  .img_wrapper{
    .caption_text{
      .caption_text_content{
        p{
          &::before{

          }
        }
      }
    }
  }
}
.more_image_wrapper{
  position: relative;
  .more_image_content_box{
    .vendor-more-pictures-scroll-div{
      .vendor-main-picture-size{
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

    }
  }
  .more_image_gallery{
    position: absolute;
    width: 100%;
    padding: 10px;
    height: 135px;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    img{
      width: 25%;
      padding: 4px;
    }
  }
  .more_image_text{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    .text_content{
      text-align: center;
      position: absolute;
      width: 171px;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      img{
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
        position: relative;
        
      }
      p{
        color: #fff;
        text-transform: uppercase;
        -webkit-font-smoothing: initial;
        &::before{
          position: absolute;
          content: '';
          top: 42%;
          width: 90%;
          background-image: url(/img/mobile_searcBox_line.png);
          height: 3px;
          bottom: 6px;
          left: 50%;
          transform: translateX(-50%);
          background-repeat: no-repeat;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 11%;
        }
      }
    }
  }
  
}
.vendor-no-left-lisBar{
  text-transform: uppercase;
  color: #aaa5a5;
  position: relative;
  // font-weight: 600;
  text-align: center;
  background: white;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 10px;
  //margin-top:8px;
}

.vendor-service-first-div {
  width: 29%;
  float: left;
  margin: 5px;
  background: #eeb2a0;
  //cursor:pointer;
  color: #fff;
  // font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 2.2;
  border-radius: 5px;
  text-transform: uppercase;
}
.vendor-myservice-checkbox {
  float: left;
  position: relative;
  top: 5px;
  left: 5px;
  zoom: 1.5;
}

.vendor-check-box-item {

  position: relative;
  overflow:hidden;

}

.floatLeft {
  float:left;
}
.vendor-serviceLeft-list {
  margin-bottom: 7px !important;
  //box-shadow: 0px 5px 5px 4px grey;
  box-shadow: 1px 2px 12px 0px #22222C;
  margin-left: 10px;
  background-color: white;
  border-radius:5px;

}

.vendor-leftSideBar hr {
  margin: 5px auto;
  width: 125px;
}

.camera-img {

    width:32px;
    height:32px;
    cursor:pointer;

}

.vendor-leftSideBar .picture-upload{
  overflow:hidden;
  background: #fff;
  padding: 0px 0px;
}
.vendor-leftSideBar .picture-upload .add-more-pic{
  width: 90%;
  margin: 0 auto;
  //margin-top: -20px;
  //margin-bottom: -20px;
  line-height: 3;
  border: 2px dashed #ccc;
  text-align: center;
}

.vendor-leftSideBar .picture-upload .add-more-pic h4{
  text-transform: uppercase;
  font-size: 18px;
  color: #c3b9b9;
  // font-weight: 600;
  margin: 8px;
}

.vendor-leftSideBar .picture-upload .add-more-pic p{
  text-transform: uppercase;
  font-size: 10px;
  color: #c3b9b9;
  // font-weight: 600;
  margin-bottom: 0px;
  margin-top:-10px;

}
.vendorleftSide-text-div {
  text-align: center;
  color: #b4b0b0;
  text-transform: uppercase;
  p{
    margin: 0;
    line-height: 17px;
    letter-spacing: 1px;
  }
  h4{
    font-size: 18pt;
    letter-spacing: 2px;

  }
  .first_paragraph{
    font-size: 12pt;
    letter-spacing: 2px;

  }
  .second_paragraph{
    font-size: 8pt;

  }
}

.vendor-leftSideBar .vendorleftSide-text-div .vendor-right-logo .fa-star:before
{
  content: "";
  position: relative;
  top: 0;
  float: left;
  // background-image: url(/img/greyPack.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}

.vendor-leftSideBar .vendorleftSide-text-div h2
{
  margin: 5px;
  font-size: 24pt !important;
  position: relative;
    &::after{
      background-image: url('/img/mobile_searcBox_line.png');
      content:'';
      position: absolute;
      width: 50%;
      left: 25%;
      height: 2px;
      bottom: -5px;
      background-repeat: no-repeat;
      background-position: 50% 11%;
    }
}

a.vendor-no-left-lisBar:hover {
  color: #898787;
  // font-weight: 600;
  text-decoration: underline;
}

// .vendor-leftSideBar .vendorleftSide-text-div p
// {
//   margin: 0;
//   margin-top: -5px;
//   font-size: 12pt;
// }

.vendor-leftSideBar .vendorleftSide-text-div h4
{
 margin-bottom:0px;
}

.vendor-star {
  width:10px;
  height:10px;
}
.vendor-star-print {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

.vendor-leftSideBar .vendor-SideBarContctDetails h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #c3b9b9;
  // font-weight:600;
  text-align: center;
  margin:0;
}

.vendor-leftSideBar .vendor-SideBarContctDetails.vendor-service-location h2{
  padding: 0px 35px;

}

.vendor-leftSideBar .vendor-SideBarContctDetails p {
  font-size: 12pt;
  text-transform: uppercase;
  color: #c3b9b9;
  // font-weight:600;
  text-align: center;
  margin:0;
}

.vendor-service-firstlastdiv {
  margin-bottom: 15px !important;
  box-shadow: 1px 2px 12px 0px #22222C;
  margin-left: 10px;
  background-color: white;
  border-radius: 3px;

}

.vendor-serviceLeft-list .vendor-service-debit-card:before {
  content: "";
  position: absolute;
  bottom: 35%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/greycontacts.png);
}

//.more-pictures-background {
//  background-image: url("/img/more-pictures.jpg");
//  background-size:cover;
//}


.service-active-class {
  background: #f28b6c;
}


.vendor-serviceLeft-list .vendor-service-credentials:before {
  content: "";
  position: absolute;
  bottom: 35%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/greyCredintialss.png);
}



.vendor-serviceLeft-list .vendor-service-location:before {
  content: "";
  position: absolute;
  bottom: 35%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/greylocation.png);
}


.vendor-serviceLeft-list .vendor-service-email:before {
  content: "";
  position: absolute;
  bottom: 35%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/grey@.png);
}


.vendor-serviceLeft-list .vendor-service-number:before {
  content: "";
  position: absolute;
  bottom: 35%;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/greyPhone.png);
}
.vendor-serviceLeft-list .vendor-service-website:before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(/img/greyInternet.png);
  top: 50%;
  transform: translateY(-50%);
}

.vendor-service-top {
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
  bottom: 60px;
  background-color: transparent;
}

.vendor-chat-hr {
  width: 230px;
  position: relative;
  right: 55px;
}

.service-left-padding {
  padding-left: 15px;
}
.vendor-main-picture-size{
  width:72px;
  height:72px;
}
.vendor-video-size {
  width:140px;
  height:80px;
  border-radius: 4px;
}

.vendor-video-div {
  margin-bottom:-15px;
  border-radius:4px;
}

.vendor-my-service {
  position: relative;
  right: 25px;
  top: 10px;
  font-size: 16px;
  color: #8f8e8e;
  // font-weight: bold;
}

.vendor-genorous-pack
{
  color: #a29393;
}

.vendor-exclusive-pack
{
  color: #684e52;
}

#vendorMainPicture {
  display:none;
}

#vendorVideo {
  display:none;
}
#vendorMorePicture {
  display:none;
}


.vendor-serviceLeft-list {
  .picture-upload {
    label {
      cursor: pointer;
    }
  }
}
.chat_leftbar_wrapper{
  .img_wrapper{
    position: relative;
    padding: 0;
    .fixed_image{
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .caption_text{
      position: absolute;
      width:170px;
      height: 170px;
      top: 0;
      z-index: 999;
      text-align: center;
      top: 50%;
      // border: 2px dashed #fff;
      // border-radius: 1000px;
      color: #fff;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      .caption_text_content{
        position: absolute;
        top: 50%;
        /* transform: translateY(-50%); */
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        hr{
          width: 80%;
          background-color: #fff;
        }
        img{
          width: 25p;
          height: 25px;

        }
        p{
          color: #fff;
          text-transform: uppercase;
          -webkit-font-smoothing: initial;
        }
      }

    }
  }
  .img_wrapper.logo_image{
    background-color: inherit;
    box-shadow: none;
    .fixed_image{
      border-radius: 20px;
      background-color: inherit;
    }
    .caption_text{
      border: 2px dashed #fff;
      border-radius: 1000px;
    }

  }
}


.chat_leftbar_wrapper{
  li{
    .vendor-SideBarContctDetails{
      position: relative;
      &::before{
        position: absolute;
        width: 25px;
        height: 25px;
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        top: 50%;
        transform: translateY(-50%);

      }
      // background: url(/img/new_img/guest_list.svg);
      &.vendor-service-name{
        &::before{
          background-image: url('/img/new_user_service_icon.svg');
        }
      }
      &.vendor-service-category{
        &::before{
          background-image: url('/img/new_img/guest_list.svg');
        }
      }
      &.vendor-service-area{
        &::before{
          background-image: url("/img/newService/AREA.png");
        }
      }
      
      &.vendor-service-celingHeight{
        &::before{
          background-image: url("/img/newService/CEILING_HEIGHT.png");
        }
      }
      &.vendor-service-maxPeople{
        &::before{
          background-image: url("/img/newService/GUESTS.png");
        }
      }
      &.vendor-service-eventType{
        &::before{
          background-image: url("/img/newService/EVENT_TYPE.png");
        }
      }




      .area.facility_div{
        width: 100%;
        background: #fff;
        box-shadow: none;
        display: inline-block;
        border-radius: 5px;
        margin: 0;
        .facility_div_content {
          width: 65%;
          overflow: hidden;

          .left_div {
            width: 60%;
            float: left;
            position: relative;
            &::before {
              display: none;
            }
            &::after {
              content: ':';
              position: absolute;
              right: 0;
              top: 50%;
            }
          }
          .right_div {
            width: 40%;
            float: left;
            margin: 0;
            position: relative;
            padding: 0px 5px;
            .right_div_class{
              width: 100%;
              border: 0;
              color: #bbbaba;
            }
            p.facility_name{
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0px 5px;
            }
            span.power_text {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
            }
          }


        }
      }
    }
   
  }
}

.overflowHidden{
  overflow: hidden;
}