.mobile-my-events-header {
  padding-bottom: 55px;
  background: -webkit-linear-gradient(-36deg, #865a8d 0%, #be659f 27%, #d679a0 40%, #d679a0 60%, #be659f 70%, #865a8d 100%);
  padding-top: 50px;
}
.height_auto{
  height: auto;
  min-height: auto !important;
}
.padding-20-top{
  padding: 20px 0px;
}
.mobile-user-myevents-body-part {
  padding-bottom:60px;
  .mobile-user-my-events-search-div {
    width:95%;
    background-color: white;
    border-radius:4px;
    margin:0 auto;
    margin-top: -35px;
  }
  .main-box-width {
    width:100%;
    margin:0 auto;
    display: inline-flex;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius:4px;
    min-height:70px;
    position:relative;
  }
  .img-box-width {
    width: 10%;
    position: absolute;
    top: 21px;
    left: 10px;
  }
  .date-box-width {
    width:100%;
    margin:0 auto;
  }
  .date-box-width::before {
    content: "";
    background:url('/img/svg_img/event.svg'); 
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    background-repeat: no-repeat;
  }
  // .date-box-width::after {
  //   background: url("/img/tabBarImg/greyList.svg");
  //   content: "";
  //   width: 25px;
  //   height: 25px;
  //   background-size: contain;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   right: 15px;
  //   background-repeat: no-repeat;
  // }
  .date-box-width .right_button{
    background: url("/img/tabBarImg/greyList.svg");
    content: "";
    width: 25px;
    height: 25px;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    background-repeat: no-repeat;
  }
  .search-img {
    width:25px;
    height:25px;
  }

  .hanna-text-div {
    position: relative;
    bottom: 17px;
  }

  .date-search{
    text-transform: uppercase;
    font-size: 16pt;
    border: none;
    outline: none;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    color:#aea9aa;
    padding: 20px 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
  input.region-search::placeholder {
    text-transform: uppercase;
    color: #aea9aa;
    font-size: 16px;
    border: none;
    outline: none;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    // font-weight: 600;
  }

  .p-date-search{
  margin: 0;
  margin-top: 15px;
  //margin-bottom: -5px;
}


  input.date-search::placeholder {
    text-transform: uppercase;
    color: #aea9aa;
    font-size: 25px;
    border: none;
    outline: none;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    // font-weight: 600;
  }

  .region-search {
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    border: none;
    outline: none;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    line-height: 1;
    
  }
  .mobile_myEventCategory_seller_tick {
    position: absolute;
    top: 35px;
    right: 15px;
  }

  .my-events-img-div {
    padding-bottom: 5px;
    width:155px;
    margin:0 auto;
  }

  // .mobile_event_top {
  //   // margin-top:3px !important; 
  // }
  .mobile-user-my-events-search-results-div
  {
    .user-venue-my-wedding-div{
      border-radius: 4px;
      height:125px;
      background: -webkit-linear-gradient(0deg, #743e69 0%, #472f3f 20%, #232221 40%, #232221 60%, #472f3f 80%, #743e69 100%);
      width: 95%;
      margin: 0 auto;
      box-shadow: 0px 2px 12px 0px #000;
      margin-top:10px;
    }
    .user-venue-my-wedding-div:last-child{
      margin-bottom:10px;
    }
    .user-photo-my-wedding-div{
      border-radius: 4px;
      height: 140px;
      background-repeat: no-repeat;
      background-image:url("/img/photo.jpg");
      background-size: cover;
      width: 95%;
      margin: 0 auto;
      box-shadow: 0px 2px 12px 0px #7b7575;
    }
    .user-catering-my-wedding-div{
      border-radius: 4px;
      height: 140px;
      background-repeat: no-repeat;
      background-image:url("/img/catering.jpg");
      background-size: cover;
      width: 95%;
      margin: 0 auto;
      box-shadow: 0px 0px 10px 4px grey;
    }
    .mobile-p-class-style1 {
      margin: 0;
      font-size: 12pt;
      color: #968e8e;
      text-transform: uppercase;
    }
    .mobile-p-class-style2 {
      font-size: 16pt;
      color:white;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 65%;
      margin: 0 auto;
    }
    .mobile-p-class-style3 {
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 65%;
      margin: 0 auto;
      font-size: 12pt;
    }

    .myevents-main-div {
      width:95%;
      margin:0 auto;
      text-align:center;
      padding-top:12px;
    }

    .myevents-main-div-tick::after {
      content: '';
      position: absolute;
      right: 12px;
      background-image: url("/img/tick_golden.svg");
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      top: 30%;
    }
  }
}