.mobile_vendor_chattext {
  font-size: 30px;
  // color: #9c373e;
  color: rgb(103, 65, 81);
  text-align: center;
  letter-spacing: 0.1000em;
  // font-weight: 600;
  text-transform: uppercase;
  // padding-bottom: 10px;
}
.mobile-vendor-chat-conv-div-header {
  padding-bottom: 100px;
  // background:linear-gradient(135deg, #250b0e 5%, #e5485b 50%, #250B10 90%);
  // background: -webkit-gradient(linear,3.89% -16.96% ,96.11% 116.96% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
  background-image: url(/img/background_header.jpg);
  padding-top: 50px;
  height: 175px;
  min-height: 175px;
}
.VendorChatsBlock {
  margin-top: -30px;
  height:410px;
  overflow-y: scroll;

  .vendor_chatList_overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12pt;
  }



  ul.vendorchatsList {
    
    li {
      border-radius:4px;
      margin-bottom:10px !important;
      // box-shadow: 2px 8px 6px 2px grey;
      box-shadow: 0px 2px 12px 0px #7b7575;
      min-height:60px;
      height:60px;
      padding:0px 10px;
      display:inline-flex;
      width:100%;
      margin:0 auto;
    }

    .list-group-item:last-child {
      margin-bottom: 30% !important;
    }

    .block1 {
      width:15%;
    }
    .block3 {
      width:15%;
      text-align:right;
    }

    .chatsListIcons {
      top:15px;
      border-radius:50%;
      border: 1px solid #ccc2c0;
    }
    
    .badge {
      background-color: white;
      color: #f28d6a;
      border: 2px solid #f28d6a;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 6px 0px 0px 0px;
      position: relative;
      top: 15px;
      font-size:14px;
    }

    padding-left: 10px;
    padding-right: 10px;
  }
}



.VendorChatsBlock.vendor_block_mobile{
  ul.list-group.vendorchatsList{
    li{
      position: relative;
      height: auto;
      min-height: auto;
      padding: 5px !important;
      .block1{
        left: 10px;
        span{
          .chatsListIcons{
            top: inherit;
            position: initial;
          }
        }

      }
      .block1,
      .block3{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        span.badge{
          top: 0;
        }

      }
      .chatPersonDetailsDiv{
        width: 100%;
        padding: 7px 40px;
        margin: 0;
        min-height: auto;
        height: auto;
        p{
          -webkit-font-smoothing: antialiased;
          &.chatName{
            padding-bottom: 3px;
          }
        }

      }
      .block3{
        right: 10px;

      }
    }
}
}

#mobileVendorChatBox.chat-conv-type-box.mobile_vendor_type_box{
  padding: 7px 10px 0px 13px;
}