.mobile-settings-block {
  margin-bottom: 20%;
  top: -40px;
  position: relative;

  .mobile-settings-div {
    text-align: center;
    text-transform: uppercase;
    color: #a99a9a;
    // font-weight: 600;
    border-radius: 4px;
    // box-shadow: 1px 2px 12px 5px grey;
    box-shadow: 0px 2px 12px 0px #7b7575;
    width: 95%;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 5px;
    margin-top: 10px;
    position: relative;
    background-color: white;
    height: 60px;
    min-height: 60px;

    p {
      margin: 0;
      font-size: 8pt;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      color:#c6c2bf;
    
    }
  }

  .settings-margin-bottom {
    margin-bottom: 85px !important;
  }

  .mobile_userSettingPhoneEdit {
    position: absolute;
    right: 10px;
    top: 20px;

  }

  .mobile_userSettingPhoneEdit_input {
    font-size: 20px;
    // font-weight: 600;
    color: #adb3ad;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 75%; */
    margin: 0 auto;
    outline: none;
    border: none;
    box-shadow: none;
    text-align: center;
  }

  .mobile_userSetting_saveButton {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    right: 10px;
    /* left: 45px; */
    background-color: #942e3b;
    top: 16px;
    padding: 3px 12px;
    border: 1px solid #a83543;

  }


  .mobile-settings-div2 {
    text-align: center;
    text-transform: uppercase;
    color: #a99a9a;
    // font-weight: 600;
    border-radius: 4px;
    // box-shadow: 1px 2px 12px 5px grey;
    box-shadow: 0px 2px 12px 0px #7b7575;
    width: 95%;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 20px;
    margin-top: 10px;
    position: relative;
    background: white;

    .mobile_user_settings_text_logo {
      top: 18px;
    }
  }

  .settings-h2 {
    font-size: 16pt;
    // font-weight: 600;
    color: #c6c2bf;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    min-height: 22px;
    -webkit-font-smoothing: antialiased;
  }

  .mobile_user_settings_text_logo {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 18px;
    left: 10px;
  }

  .mobile_user_settings_signOut_text_logo {
    width: 25px;
    position: absolute;
    top: 20px;
    right: 10px;
  }


}

#invite_friends_create_popup {
  display: none;
  width: 100%;
  height: 100%;
  /* display: none; */
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url(/img/new_img/forgot_background.svg);
  background-size: cover;

  .inner_div {
    position: absolute;
    width: 250px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: #fff;
    height: 255px;
    /* margin: -1px auto; */
    border-radius: 4px;
    // button#invite_friends_create_popup_ok{
    //   width: 100%;
    //   left: 0;
    // }
  }

  p {
    color: black;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 45px;
  }

  button {
    width: 100%;
      left: 0;
    text-align: center;
    position: relative;
    background:#fff;
    height: 40px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #5a2649;
    font-size: 15px;
    // font-weight: bold;
    text-transform: uppercase;
  }

  //.invite_email:before {
  //  content: "";
  //  position: absolute;
  //  top: 38%;
  //  left: 10px;
  //  background: url(/img/grey@.png);
  //  background-size: cover;
  //  height: 25px;
  //  width: 25px;
  //}

  .invite {
    text-align: center;
    width: 100%;
    font-size: 13pt;
    color: #2d150e;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
  }

  .invite_email {
    width: 100%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    // font-weight: 600;
    border-radius: 4px;
    border: 0px;

    p {
      padding-top: 0px;
      font-size: 14px;
      color: #9c9898;
    }

    .subtext_P {
      color: white;
    }

    input {
      width: 90%;
      line-height: 22px;
      text-align: center;
      padding: 10px 0px 15px 0px;
      font-size: 14px;
      color: #bbbaba;
      // font-weight: 600;
      border-radius: 4px;
      border: none;
    }

    input#invite_mail::placeholder {
      font-size: 18px;
      color: #bbbaba;
    }
  }
}

.changePassword {
  position:relative;
 div .mobile_user_settings_signOut_text_logo {
   top:14px;
   width:15px;
 }
}

#contact_us_create_popup {
  display: none;
  width: 100%;
  height: 100%;
  /* display: none; */
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url(/img/new_img/forgot_background.svg);
  background: #271f26;

  .inner_div {
    top: 20%;
    padding-bottom: 15px;
    position: fixed;
    width: 85%;
    background:#fff;
    border-radius: 4px;
    left: 8%;
  }

  textarea:focus {
    outline:none;
  }

  textarea{
    color: #2b1106;
  }



  p {
    color: black;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 45px;
  }

  button {
    width: 30%;
    text-align: center;
    left: 35%;
    position: relative;
    background: #fff;
    height: 40px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #997782;
    font-size: 14px;
    text-transform: uppercase;
  }

  //.invite_email:before {
  //  content: "";
  //  position: absolute;
  //  top: 38%;
  //  left: 10px;
  //  background: url(/img/grey@.png);
  //  background-size: cover;
  //  height: 25px;
  //  width: 25px;
  //}

  .invite {
    text-align: center;
    width: 100%;
    font-size: 13pt;
    color: #2d150e;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    padding-bottom: 10px;
  }

  

  .invite_email {
    width: 90%;
    line-height: 22px;
    text-align: center;
    color: #bbbaba;
    margin: 0 auto;
 
    
    // font-weight: 600;
    border-radius: 4px;
    textarea{
      width: 100%;
      border: 1px solid #bbbaba;
    }
    
    .invite_email:focus {
      outline:none;
    }

    p {
      padding-top: 0px;
      font-size: 14px;
      color: #9c9898;
    }

    .subtext_P {
      color: white;
    }

    input {
      width: 90%;
      line-height: 22px;
      text-align: center;
      padding: 10px 0px 15px 0px;
      font-size: 14px;
      color: #bbbaba;
      // font-weight: 600;
      border-radius: 4px;
      border: none;
    }

    input#invite_mail::placeholder {
      font-size: 18px;
      color: #bbbaba;
    }
  }
}

.deleteMeetingClose {
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #633b41;
  // font-weight: bold;
}

.status_div_wrapper{
  .adminEditListDesktop{
    .adminEditView,
    .adminArrowView,
    .adminEditItem,
    .adminEditDelete{
      margin: 0px 10px;
      float: left;
    }
  }
}

@media screen and (max-height: 360px) {
  #vendor_invite_friends_create_popup .inner_div {
    top: 6% !important;
  }
  #invite_friends_create_popup .inner_div {
    top: 6% !important;
  }
}
.banner_wrapper,
.service_wrap{
  .best_seller_wrapper{
    .content{
      .Select.has-value{
        .Select-control{
          box-shadow: none;
        }
      }
    }
    .paragraph_text{
      position: absolute;
      width: 100%;
      bottom: 5px;
      left: 0;
      z-index: 0;
    }
    .Select-control{
      border: 0;
      &:hover{
        box-shadow: none;
      }
      .Select-value{
        padding-right: 0 !important;
      }
      .Select-arrow-zone,
      .Clear.value{
        display: none;
      }
      .Select-placeholder,.Select-value-label{
        text-transform: uppercase;
        font-size: 12pt;
        border: 0 !important; 
        line-height: 27px;
        color: #bbbaba !important;
        span{
          color: #bbbaba;
        }
      }
    }
    
  }
}