.top-body-container .vale_container .my-data:after
.bottom-menu-cntnr {
  padding:10px !important;
}

.bottom-menu-style {
  border-radius: 8px;
  padding: 15px 0px 15px 0px;
  box-shadow: 1px 2px 12px 0px #22222C;
  background-color: #fff;
  position: relative;
  margin-top: -40px;
}
.homePage_topBar_blockWidth{
  .dashboard-guest{
    top: 0;
  }
}
.row.margin-0{
  margin: 0;
}
.padding_left_right_0{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
.guest_user_wrapper{
  .tab-content.tab-content_carousel{
    box-shadow: 0px 7px 16px -5px #000;
    bottom: 0;
    margin-top:10px;
    .carousel.carousel-slider{
      li.slide{
        border-radius: 5px;
      }
    }
  }
}
.padding-10{
  padding: 10px 0px !important;
}
.search-container.home-search-div{
  .dashboard-search.placeholder-fix.dashboard-search-input-box{
    background-image: url(/img/wedding_one.svg);
    height: 100%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0% 43%;
    padding: 0px 25px;
    color: #9c9393 !important;
    font-style:italic;
    text-transform:uppercase;
  }
}

  .dashboard-search.placeholder-fix.dashboard-search-input-box::placeholder{
    font-style:italic;
    text-transform:uppercase;
    color: #9c9393 !important;
  }
.top-body-container .home-tick .my-data:after {
  //content: '\f058';
  content: '' !important;
  float: right;
  right:50px;
  font-family: "FontAwesome";
  font-size: 25px;
  //top:50%;
  top:29%;
  position:absolute;
}

ul.nav{
  li {
    #left-icon {
      float: left;
      position: relative;
      left: 20px;
    }

    #category {
      position: relative;
      top: 15px;
      right: 90px;
    }
  }
}

.dashboard-create {
    border:none;
    position: relative;
    right:5px;
    bottom: 2px;

}



.dashboard-guest {
  width:100%;
  //border-radius: 5px;
  //border: 1px solid;
  height: 35px;
  text-transform: uppercase;
  position: relative;
  //top: -2px;
  top: -1px;
  background-color: transparent;


}
.fix-bar-option .react-datepicker-wrapper input[type="text"]{
  width:100%;
  height: 35px;
  border: 1px solid;
  padding-left: 15px;
  border-radius: 5px;

  input {
    outline:none;
  }

}


.fix-bar-option .DayPickerInput input{
  border: none;
  position: relative;
  /* top: 3px; */
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 0%;
  line-height:42px;
}



ul.dashboard-list li #right-icon {
  float: right;
  position: relative;
  right: 20px;
}

ul.dashboard-list li #right-icon .dashboard-list-logo {
  width: 25px;
  height: 25px;
}

.dashboard-search-input-box::placeholder {
  // font-weight: 600;
  color: #beb8b8;
  letter-spacing: 2px;
  padding: 0px 18px;
  text-align: left;
}

.user_dashboard_wrapper{
  .value-main-content{
    .shadow-box-main-div{
      .shadow-box-div{
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }
      .greyBackground{
        bottom: 0;
      }
    }
  }
}

input#numOfGuest {
  outline:none;
  border:none;
  color: #9c9393;
  text-align: center;
  letter-spacing: 2px;
}

input#numOfGuest::placeholder {
  color:#9c9393;
  text-align: center;
  font-size: 12pt;
  letter-spacing: 0;

}

.tab-content {
  position: relative;
  bottom: 10px;
}


.region-dropdown .Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right:15px !important;
  line-height: 42px;

}

.region-dropdown .Select-placeholder, .Select--single > .Select-control .Select-value {
  color: #898485 !important;
}
.region-dropdown .Select-value-label {
  letter-spacing: 2px;
}

.home_line_svg {
  padding-top: 25px;
  border-bottom: 1px solid white;
}

.region-dropdown-absolute-img {
  position: absolute;
  right: 42%;
  top: 5px;
  opacity: 0.5;
  text-align: center;
}
.event-dropdown-absolute-img {
  position: absolute;
  right: 37%;
  top: 0px;
  opacity: 0.5;
  text-align: center;
}
.guest-dropdown-absolute-img {
  position: absolute;
  right: 40%;
  top: 5px;
  opacity: 0.5;
  text-align: center;
}
.date-dropdown-absolute-img {
  position: absolute;
  right: 30%;
  top: 0px;
  opacity: 0.5;
  text-align: center;
}


.region-dropdown  {

  .Select-control {
    border:none !important;
  }

  .Select-arrow {
    display:none !important;
  }

  .Select-value-label {
    color: #9E9593 !important;
    //padding-right:32px !important;
  }

  .Select-clear {
    display:none !important;
  }

  .Select-placeholder {
    color: #898485 !important;
  }
  .Select--multi .Select-value {
    background-color: #fff !important;
    /* Fallback color for IE 8 */
    background-color:  #fff !important;
    border-radius: 2px;
    border: 1px solid  #fff !important;
    /* Fallback color for IE 8 */
    border:  #fff !important;
    color: #007eff;
    letter-spacing: 2px;

  }
  
.Select-control:hover{
    box-shadow: none !important;
  }
  .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #fff !important;
    box-shadow: inset 0 1px 1px #fff, 0 0 0 3px #fff !important;
    background:transparent !important;
  }
  .Select--multi .Select-value-icon {

    border-right:  #fff !important;
    /* Fallback color for IE 8 */
    border-right:  #fff !important;

  }

}
.regionDropDown .Select-placeholder {
  background-image: url("/img/region_topBar.png") !important;
  background-size: 20px !important;
  background-repeat: no-repeat !important;
  background-position: 50% 18% !important;
  letter-spacing: 1px;
  font-size: 12pt;
  cursor:pointer;
}

.eventDropDown .Select-placeholder {
  background-image: url("/img/event_topBar.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0% !important;
  letter-spacing: 2px;
  cursor:pointer;
}
.height_100{
  #numOfGuest,.fix-bar-option,.DayPickerInput,.guestDropDown form{
    height: 100%;
    display: inherit;
    
  }
  
}
.DayPickerInput-OverlayWrapper{
  height:inherit !important;
}
.bottom-menu-container{
  height: 100%;
}
.fix-bar-option .DayPickerInput input {
  background-image: url(/img/date_topBar.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 49% 14% !important;
  letter-spacing: 1px;
  width: 100%;
  background-size: 20px 20px !important;
  font-size: 12pt;
  height: 100%;
}
.guestDropDown  {
  background-image: url("/img/guset_topBar.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 20% !important;
  background-size: 20px 20px !important;
  cursor:pointer;
}
.regionDropDown .Select-value {
  background-image: url("/img/region_topBar.png") !important;
  background-size: 20px !important;
  background-repeat: no-repeat !important;
  background-position: 50% 18% !important;
  letter-spacing: 2px;
}

.pagination {
cursor:pointer;
}

.eventDropDown .Select-value {
  background-image: url("/img/event_topBar.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 45% 0% !important;
}
.home_first_block {
  margin-bottom: 10px;
}


.dash-hr {
  position: relative;
  top: 5px;
}
.content_wrapper .dash-new{
  padding-bottom: 35px;
}
.dash-new {
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 17px;
  padding-top: 14px;
  text-transform: uppercase;
}
.dash-new::after{
  content: '';
  margin: 0 20px 0 20px;
  flex: 1 0 20px;
  background-image: url(/img/line.png);
  width: 100%;
  height: 1px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100%;

}

.dashboardSearchDiv {
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding-top: 10px;
  position: relative;
  bottom: 60px;
  background-color: transparent;
}
.body_container.top_67_absolute{
  .display_flex{
    .sectionblock2{
      margin-left: 0;
    }
    .sectionblock1{
      padding-right: 15px !important;
    }
  }
}
#userTopBar{
  .bottom-menu-container{
    .dashboard-create.btn{
      padding: 6px 12px;
    }
  }
}
.adminApprovalHrTitleBlockPadding.adminApprovalDetaisPage{

.adminApprovalDetailsList{
      li.vendor-leftSideBar{
        padding: 25px 20px;
        .vendorleftSide-text-div{
          h2{
            position: relative;
            padding-bottom: 8px;
            &::after{
              background-image: url('/img/mobile_searcBox_line.png');
              content:'';
              position: absolute;
              width: 50%;
              left: 25%;
              height: 2px;
              bottom: 0;
              background-repeat: no-repeat;
              background-position: 50% 11%;
            }
          } 
        } 
      }
    }

}
.fix-bar-option.col1-style.common-event-name-div{
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.userMyEvent_position{
  .second-div {
    .adminApprovalDetailsList{
      li.vendor-leftSideBar{
        padding: 25px 20px;
        .vendorleftSide-text-div{
          h2{
            position: relative;
            padding-bottom: 8px;
            text-overflow: ellipsis;
            padding: 0px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            &::after{
              background-image: url('/img/mobile_searcBox_line.png');
              content:'';
              position: absolute;
              width: 50%;
              left: 25%;
              height: 2px;
              bottom: 0;
              background-repeat: no-repeat;
              background-position: 50% 11%;
            }
          } 
        } 
      }
    }
  }
}
.home-header-col-style-right{
  height: 100%;
  button.created_button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    text-align: center;
    color: #e7916c;
    font-weight: bold !important;
    -webkit-font-smoothing: antialiased;
    font-size: 12pt;
    letter-spacing: 2px;
    vertical-align: middle;
    line-height: 31px;
    align-items: center;
    &::before{
      content: '+';
      font-size: 23pt;
      padding: 0px 5px;
      position: absolute;
      left: 14%;
      top: 5px;
      font-weight:bold;
    }
    &:focus{
      outline: none;

    }
  }
}
.home-topBar-position {
  position: relative;
  top: 0px;
}

.home-topbar-createButton {
  position: relative;
  top: 0px;
}

input#numOfGuest:focus::placeholder {
  color: transparent !important;
  letter-spacing:2px;
}
.DayPickerInput input {
  cursor:pointer;
  text-align:center;
  border:0;
  text-transform: uppercase;
}

.homePage_topBar_blockWidth {
  width:100%;
  height: 100%;
  display: inline-block;
  //display:inline-flex;
}
//.DayPickerInput input::placeholder {
//  padding-left:35px;
//}

@media (min-width:1024px) and (max-width:1180px) {
  .homePageDateposition {
    position: relative;
    right: 15px;
  }

}

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
/* Add a comment to this line */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Select-input > input:-moz-read-only {

  background: transparent;
  color: transparent;

}

.content_wrapper{

  .venu_wrapper{
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    .venu_container{
      width:50%;
      float: left;
      .top-body-container{
        margin-right: 25px;
        box-shadow: 0px 0px 4px 1px #2f2f2f;
      }
    }
    .advertisment_content{
      width:50%;
      float: left;
      .top-body-container{
        margin-left: 25px;
        box-shadow: 0px 0px 4px 1px #2f2f2f;
      }
    }
  }
  .body_container .control-arrow.control-next{
    display: none;
  }
  .services_wrapper{
    width: 100%;
    display: inline-block;
    .top-body-container{
      width: 25%;
      float: left;
      clear: inherit;
      .content_container{
        box-shadow: 0px 0px 8px 3px #000;
        margin-right: 20px;
        height: 115px;

      }
    }
    .top-body-container:last-child{
      .content_container{
        margin-right: 0px;
      }

    }
  }
  

}
.clarfix{
  clear: both;
  overflow: hidden;
}
.carousel-status{
  display: none;
}



.picture-upload{
  position: relative;
  .not_vaidate{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 10px;
    img{
      width: 100%;
    }
  }
}


