.active-chat-hr
{
  width: 130px;
  position: relative;
  right: 67px;
}

.active-chat-text
{
  right: 20px;
}

.right-padding {
  padding-right: 0px;
}

.right-second-div-margin {
  margin-bottom: 56px;
}

.new-service-hr {
  width:155px;

}

li.list-group-item.list-right-padding-style {
  border-radius: 5px;
}

.admin-hr-text {
  font-size: 15px;
  text-transform: uppercase;
  color: #b2adad;
  position: relative;
  top: 10px;
  font-weight: 600;
}

.admin-statsBlock1 {
  padding-bottom: 15px;
  padding-top: 15px;
  .vendorStatsTextCenter p{
    text-overflow:ellipsis;
    overflow: hidden;
  }
}
.adminstatsBlock3 {
  padding-bottom:25px;
}

.admin-statsBlock3 {

  .new_service_pos {
    position: relative;
    top: -2px;
  }
}


.choices-background {
  background-image: url(/img/svg_img/admin_stas_5.svg);
  background-size: cover;
  background-color: white;
  width: 100%;
  background-position: 100% 100%f;
  object-fit: cover;
}

.views-background {
  background-image: url(/img/svg_img/admin_stas_4.svg);
  background-color: white;
  background-size: cover;
  width: 100%;
  background-position: 100% 100%;
  object-fit: cover;
}

.reviews-background {
  background:white;
}

.new-users-background {
  background-image: url("/img/svg_img/admin_stas_3.svg");
  background-size: cover;
  width: 100%;
  background-position: 100% 100%;
  object-fit: cover;
  background-color: white;
}

.new-service-background {
  background-image: url("/img/svg_img/admin_stas_2.svg");
  background-size: cover;
  width: 100%;
  background-position: 100% 100%;
  object-fit: cover;
  background-color: white;
}
.active-chat-background {
  background-image: url(/img/svg_img/admin_stas_1.svg);
  background-size: cover;
  width: 100%;
  background-position: 100% 100%;
  object-fit: cover;
  background-color: white;
}


//
.adminStatsSectionText {
  position: relative;
  top: 3px;
  font-size: 18px;
  color: #8f8e8e;
  font-weight: bold;
  text-transform: uppercase;
}
.adminStatsSectionTextDiv{
  width: 40%;
  float: left;
  /* top: 10px; */
  position: relative;
  top:4px;
}
.adminStatsSectionHr{
  width: 60%;
  float: right;
  /* top: 10px; */
  position: relative;
  bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.adminStatsSectionHrTitleBlock {
  width: 100%;
  margin: 0 auto;

}
.adminStatsSectionHrTitleBlockPadding{
  padding-top: 20px;
  padding-left: 0px !important;
}

.adminStatisticsTitleBlockPadding {
  padding-top: 20px;
  padding-left: 0px !important;
  padding-right: 30px !important;
}
.adminStatsEditTitleBlockPadding {
  padding-top: 20px;
  padding-left: 0px !important;
  padding-right: 30px !important;
}

//
.adminApprovalsSectionText {
  position: relative;
  top: 3px;
  font-size: 18px;
  color: #8f8e8e;
  font-weight: bold;
  text-transform: uppercase;
}
.adminApprovalsSectionTextDiv{
  width: 32%;
  float: left;
  /* top: 10px; */
  position: relative;
  top:4px;
}
.adminApprovalsSectionHr{
  width: 68%;
  float: right;
  /* top: 10px; */
  position: relative;
  bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.adminApprovalsSectionHrTitleBlock {
  width: 100%;
  margin: 0 auto;

}
.adminApprovalsSectionHrTitleBlockPadding{
  padding-top: 20px;
  padding-left: 0px !important;
}

.adminstatsBlockPadding {
  padding-top: 5px;
}




@media (min-width:1024px) and (max-width:1180px)
{
.new-service-hr {
  width: 92px !important;
}
  .hr-width {
    width: 75px;
  }

  .all-div-text1 {
    font-size:25px;
  }
  .all-div-text2 {
    font-size:15px;
  }
  .all-div-text3 {
    font-size:10px;
  }

  .adminStatsSectionTextDiv{
    width: 50% !important;
  }
  .adminStatsSectionHr{
    width: 50% !important;
  }
  .adminApprovalsSectionTextDiv{
    width: 40% !important;
  }
  .adminApprovalsSectionHr{
    width: 60% !important;
  }
}