.mobile-active-chat-text {
  font-size: 28px;
  color: #541e1e;
  text-align: center;
  letter-spacing: 0.1000em;
  // font-weight: 500;
  text-transform: uppercase;
}

.mobile-active-chat-div {
  margin: 0;
  /* padding: 0; */
  padding-top: 30px;
  clear: both;
  //overflow: hidden;
}

.mobile-admin-chatText {
  position: relative;
  bottom: 10px;
}
#mobileAdminAttach {
  display:none;
}

.mobileAdminActiveChatBlock {

  ul.chats-conv-List {
    li {
      background: none;
      border: none;
      box-shadow: none;
    }

    padding-left: 10px;
    padding-right: 10px;
    background:#FEF3EF;
  }

  .message-color {
    color: white;
    word-wrap: break-word;
    overflow: hidden;
  }

  .chatsconvListIcon1 {
    width: 25px;
    height: 25px;
    float: left;
    position: absolute;
    left: 15px;
    transform: translateY(-50%);
    top: 50%;

    img {
      border-radius: 50%;
      //border: 1px solid #f5b659;
    }
  }


  .chatconvPersonDetailsDivleft  span {
    top: 1px !important;
    font-size: 20px !important;
    display: initial !important;
    background: none !important;
}

  .chatconvPersonDetailsDivleft {
    display: inline-block;
    text-align: center;
    width: 65%;
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    width: 65%;
    margin: 0 auto;
    padding-top:3px;
    text-align: center; 
    word-wrap: break-word; 
    p {
      color:white;
      margin:0;
      line-height:1.5 !important;
      display:block;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12pt;

      span {
        top: 1px !important;
        font-size: 20px !important;
        display: initial !important;
        background: none !important;
      }
    }
  }

  .chatsconvListIcon2 {
    width: 25px;
    height: 25px;
    float: right;
    position: absolute;
    right: 15px;
    transform: translateY(-50%);
    top: 50%;

    img {
      border-radius: 50%;
      //border: 1px solid #f5b659;
    }
  }
  .type-search {
    font-style:inherit;
  }

  .type-search::placeholder {
    color: #ccc2c0;
    // font-weight: 600;
    font-size: 18px;
  }

  .chatconvPersonDetailsDiv {
    display: inline-block;
    text-align: center;
    width: 65%;
    text-transform: uppercase;
    color: white;
    padding-top:3px;
    // margin-left: 10px;

    p {
      font-size:12pt;
      margin:0 !important;
      text-align:center;
      line-height:1.5 !important;
      display:block;
      padding-left: 5px;
      padding-right: 5px;


    }

    .chatconvName {
      font-size: 14px !important;
      background:transparent;
      // font-weight: 600;
      overflow: hidden;
      white-space: normal;
      display:block;
      // padding-top: 5px;
    }
  }

  .float-chat-conv-div {
    position: absolute;
    width: 100%;
    //margin-top: -35px;
  }

  .chatconvdiv1 {
    width: 70%;
    //margin-bottom: 10px;
    background-color: #00a99e;
    color:white;
    // box-shadow: 1px 2px 12px 0px #22222C;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;
    position:relative;
  }

  .chatconvdiv2 {
    width: 70%;
    float: right;
    color:grey;
    background-color: white;
    // box-shadow: 1px 2px 12px 0px #22222C;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;
    min-height:40px;
    position:relative;
  }


  .conv1text {
    color:white;
    margin: 0px;
    font-size: 8pt !important;
    line-height: 1.5 !important;
  }



  .chat-type-box-position {
    position: fixed;
    top: 450px;
  }

  .mobile_admin_type_box {
    position: fixed;
    bottom:40px;
  }



  .chat-conv-type-box {
    width: 95%;
    transform: translate(-50%, -50%);
    left: 50%;
    // margin-left:10px;
    box-shadow: 2px 2px 20px 4px #908989;
    display: inline-flex;
    background-color: white;
    padding: 20px 10px 0px 15px;
    border-radius: 4px;

    .block1 {
      width:10%;
      height:10%;
      .list-img {
        width: 23px;
        height:25px;
      }
    }

    .block2 {
      width:10%;
      height:10%;
      .list-img {
        width: 25px;
        height:25px;
      }
    }
    .block3 {
      width: 70%;
      position: relative;
      bottom: 10px;
    }
    .block4 {
      width: 10%;
      position: relative;
      right: 5px;
      bottom: 4px;
      text-align:right;

      span {
        padding:0px !important;
      }
      .list-img {
        width: 25px;
      }
    }

  }
}

@media only screen and (min-width: 411px) and (max-width: 425px) {
  .mobileAdminActiveChatBlock .chat-type-box-position {
    position: fixed;
    top: 76%;
  }

}
@media   (max-width: 320px) {
  .mobileAdminActiveChatBlock .chat-type-box-position {
    position: fixed;
    top: 70%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 380px) {
  .mobileAdminActiveChatBlock .chat-type-box-position {
    position: fixed;
    top: 73%;
  }

}
