.mobile-user-category-block {
  margin-top:-35px;
  .no-seller-present {
    margin-top:0px !important;
  }
  .mobile-user-category {
    width:95%;
    margin:0 auto;
    position:relative;

    .mobile_category_icon {
      position:absolute;
      left:10px;
      top:17px;
      width:25px;
      height:25px;
    }

    .admin-venue-box {
      width: 100%;
      margin: 0 auto;
      display: inline-flex;
      background-color: white;
      padding-top: 15px;
      padding-bottom: 10px;
      border-radius: 4px;
      box-shadow: 0px 2px 10px 2px grey;
      min-height: 59px;
      height: 59px;
    }

    .admin-venue-name {
      width:100%;
      p{
        font-size:20px;
        // font-weight:600;
        text-transform: uppercase;
        text-align:center;
        margin: 0;
        padding-top: 2px;
      }
    }
    .admin-venue-tick {
      position: absolute;
      right: 20px;
      img {
        width:30px;
        height:30px;
      }
    }

  }

  .mobile-venue-div {
    // overflow:hidden;
    // height: 350px;
    // overflow-y: scroll;
  }

  .mobile-venue-results-div {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
   
    //margin-bottom:110px !important;
  }

  .mobile-venue-results-user-div {

    .mobile-search-top-body-container .vale_container .mychoice_data{
      width:100%;
      height: 170px;
      position: relative;
      .tag_wrapper{
            /* width: auto; */
            position: absolute;
            /* height: auto; */
            /* transform: translate(0, 0%); */
            display: flex;
            justify-content: center;
            width: 100%;
            top: -4px;
            z-index: 999;
        img{
          width: 30px;
          height: 35px;
          float: left;
        }
      }
      .best_seller{
        width: 100px;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        z-index: 999;
        p{
          color: #fff;
          padding: 3px 8px;
          position: relative;
          overflow: initial;
          margin: 5px 0px;
          text-transform: capitalize;
          font-size: 12pt;
          text-shadow: 0px 0px 3px #000;
          &::before{
            position: absolute;
            z-index: 1;
            content: '';
            border-style: solid;
            height: 0px;
            width: 0px;
            left: 0px;
            
            top: -5px;
            border-width: 5px 10px 0 0;

          }
          &.best_sold_img{
            background-color: #de5b69;
            &::before{
              border-color: transparent #de5b69 transparent transparent;
            }
            

          }
          &.best_seller_img{
            background-color: #3f6f69;
            &::before{
              border-color: transparent #3f6f69 transparent transparent;
            }

          }
          &.best_hot_img{
            background-color: #e1724b;
            &::before{
              border-color: transparent #e1724b transparent transparent;
            }
          }
        }
      }
      .value-main-content{
        padding: 8px 0px;
        height: fit-content;
        width: 100%;
        height: 100%;
        .shadow-box-main-div.value-main-content-tick{
          width: 100%;
          height: 100%;
          .shadow-box-div{
            height: 100%;
            padding: 15px 0px;
          }
          .mobile_grey_background{
            height: 120px;
            background: #000;
            width: 50%;
            opacity: 0.4;
            box-shadow: 2px 13px 14px 20px #000;
            position: relative;
            bottom: initial;
            position: absolute;
            top: initial; 
            transform: translate(50%,5%);
          }
        }
      }
    }
    .mobile-search-top-body-container .vale_container:last-child {
      margin-bottom: 70px !important;
    }
  

    .mobile-search-top-body-container .vale_container .mychoice_data{
      text-align:center;
      position:relative;
      color:#fff;
    }

    .mobile-search-top-body-container .vale_container .mychoice_data .div-float{
      position: absolute;
      left: -11px;
      top: 50% !important;
      width: 25%;

    }

    .mobile-grey-background {
      background: #000;
      /* width: 325px; */
      width: 88%;
      opacity: 0.4;
      height: 95px;
      box-shadow: 2px 13px 14px 20px #000;
      margin: 0 auto;
      position: relative;
      bottom: 26px;
    }
    .mobile-search-top-body-container .vale_container .mychoice_data .star{
      padding: 40px 0px 0px 0px;
    }
    .mobile-search-top-body-container .vale_container .mychoice_data h3{
      //border-bottom: 1px solid #ff4f6c;
      width: 60%;
      white-space: nowrap;
      margin: 0 auto;
      padding: 10px 0px;
      margin-bottom: -10px;
      font-size: 20px;
      // font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .mobile-search-top-body-container .vale_container .mychoice_data p{
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .mobile-search-top-body-container .vale_container .div-float p{
      padding: 3px 10px;
      margin: 5px;
    }
    .mobile-search-top-body-container .vale_container .div-float p:nth-child(1){
      background:#ff4f6c;
      color:#fff;
      font-size:12px;

    }
    .mobile-search-top-body-container .vale_container .div-float p:nth-child(2){
      background:#1e6f69;
      color:#fff;
      font-size:12px;

    }
    .mobile-search-top-body-container .vale_container .div-float p:nth-child(3){
      background:#fe6d2c;
      color:#fff;
      font-size:12px;
    }
    .mobile-search-top-body-container .vale_container .div-float-top{
      margin: 0 auto;
      position: absolute;
      top: 0;
      text-align: center;
      left: 35%;

    }
    .mobile-search-top-body-container .value_image{
      width:90%;
      margin:0 auto;
    }
    .mobile-search-top-body-container .value-main-content{
      padding:8px 0px;
    }
    .mobile-search-top-body-container .value-main-content-tick .chceked_icon{
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
    }
    .mobile-search-top-body-container .value-main-content-tick .chceked_icon img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    // .mobile-search-top-body-container .value-main-content-tick::after {
    //   content: '';
    //   position: absolute;
    //   right: 12px;
    //   background-image: url("/img/tick_golden.svg");
    //   width: 50px;
    //   height: 50px;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   top: 50%;
    //   transform: translateY(-50%);
    // }
    .mobile-search-top-body-container .vale_container .div-float-top p {
      float: left;
      width: 23%;
      margin: 0px 3px;
      background: #ff0000;
      height: 67px;
    }
    .mobile-search-top-body-container .vale_container .div-float-top p:nth-child(1){
      background:#ff4f6c;
      color:#fff;

    }
    .mobile-search-top-body-container .vale_container .div-float-top p:nth-child(2){
      background:#1e6f69;
      color:#fff;

    }
    .mobile-search-top-body-container .vale_container .div-float-top p:nth-child(3){
      background:#fe6d2c;
      color:#fff;
    }
    .mobile-search-top-body-container .value_image img{
      width:100%;
      height: 110px;
    }
    .vale_container{
      color:#fff;
    }
    .mobile-search-top-body-container .place-header h4{
      float: left;
    }
    .mobile-search-top-body-container .place-header hr{
      width: 88%;
      float: right;
      right: 0;
      margin-top: 22px;
      margin-bottom: 16px;
    }

    .relativeposition {
      position:relative;
    }

    .soldout {
      //box-shadow: -2px -1px 0px 0px #ff4f6c;
      text-transform: uppercase;
      background: #ff4f6c !important;
      //background: url("/img/14.png") !important;
    }

    p.first-soldout:before {
      width: 0;
      position: absolute;
      content: '';
      height: 0;
      margin-left: -11px;
      top: -2px;
      border-style: solid;
      border-width: 0 0 7px 7px;
      border-color: transparent transparent #ff4f6c transparent;
    }


    p.first-best-deal:before {
      width: 0;
      position: absolute;
      content: '';
      height: 0;
      margin-left: -10px;
      top: 35px;
      border-style: solid;
      border-width: 0px 0 5px 7px;
      border-color: transparent transparent #1e6f69 transparent;
    }


    p.first-hot:before {
      width: 0;
      position: absolute;
      content: '';
      height: 0;
      margin-left: -33px;
      top: 71px;
      border-style: solid;
      border-width: 0px 0 5px 7px;
      border-color: transparent transparent #fe6d2c transparent;
    }


    p.second-best-deal:before {
      width: 0;
      position: absolute;
      content: '';
      height: 0;
      margin-left: -17px;
      top: 0px;
      border-style: solid;
      border-width: 0px 0 5px 7px;
      border-color: transparent transparent #1e6f69 transparent;
    }

    .top-all-div {
      position: relative;
      top: -45px;
    }
    .shadow-box-div {
      top:10%;
    }

    .choice-circle-img {
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }

    .circle-star-margin {
      margin-top: -20px !important;
      //border-bottom: 1px solid #c3b1b4;
      width: 40%;
      text-align: center;
      position: relative;
      left: 30%;
      padding-bottom: 10px;
      margin-bottom: -15px;
      min-height:30px;
    }

    .star-block {
      border-bottom: 1px solid #c3b1b4;
      width: 40%;
      text-align: center;
      position: relative;
      left: 32%;
      padding-bottom: 10px;
      padding-top: 40px;
    }


    p.second-hot:before {
      width: 0;
      position: absolute;
      content: '';
      height: 0;
      margin-left: -27px;
      top: 35px;
      border-style: solid;
      border-width: 0px 0 5px 8px;
      border-color: transparent transparent #fe6d2c transparent;
    }


    p.third-best-deal:before {
      position: absolute;
      content: '';
      margin-left: -17px;
      top: 59px;
      border-style: solid;
      width: 0;
      height: 0;
      border-width: 0 5px 5px 0;
      border-color: transparent #1e6f69 transparent transparent;
    }

    p.top-soldout:before {
      position: absolute;
      content: '';
      margin-left: 42px;
      top: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 0 8px;
      border-color: transparent transparent transparent #ff4f6c;
    }


    p.top-best-deal:before {
      width: 0;
      position: absolute;
      content: '';
      height: 0;
      margin-left: 40px;
      top: 0px;
      border-style: solid;
      border-width: 8px 0 0 8px;
      border-color: transparent transparent transparent #1e6f69;
    }


    p.top-hot:before {
      width: 0;
      position: absolute;
      content: '';
      height: 0;
      margin-left: 38px;
      top: 0px;
      border-style: solid;
      border-width: 8px 0 0 8px;
      border-color: transparent transparent transparent #fe6d2c;
    }

    .best-deal-margin {
      margin-top: 4px !important;
    }

    .best-deal {
      //box-shadow: -2px -1px 0px 0px #1e6f69;
      text-transform: uppercase;
      background: #1e6f69 !important;

      //background: url("/img/15.png") !important;
    }


    .hot {
      //box-shadow: -2px -1px 0px 0px #fe6d2c;
      text-transform: uppercase;
      background: #fe6d2c !important;
      //background: url("/img/16.png") !important;
    }

    .choice-text-style {
      text-transform: uppercase;
      color: #fff;
    }


    .second-choice-div {
      top:22% !important;
    }
    .third-choice-div {
      top:40% !important;
      width:80px;
    }


    .third-choice-top-div {
      left: 40% !important;
    }

    .star-logo {
      width:15px;
      height:15px;
    }


    .rating {
      span {
        margin-right:5px;
      }
    }
    .venues-div {
      color: #8f8e8e;
      text-transform: uppercase;
    }

    .icon_div {
      margin:-10px;

      span {
        margin-right:5px;

      }
    }

    .icon-img {
      width:10px;
      height:10px;
    }

  }

}

.no-seller-present{
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: #fef5fd;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  position:absolute;
  font-style:italic;

p{
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #fef5fd;
}
}
.mobile_category_seller_tick{
  position: absolute;
  top: 50%;
  right: 15px;
}
@media only screen and (min-device-width:320px) and (max-device-width:1024px) {
  .mobile-user-category-block .mobile-venue-results-user-div .mobile-search-top-body-container .vale_container .div-float p:nth-child(1) {
    font-size: 10px !important;
  }
  .mobile-user-category-block .mobile-venue-results-user-div .star-logo {
    width: 15px;
    height: 15px;
  }
  // .mobile-user-category-block .mobile-venue-results-user-div .mobile-search-top-body-container .vale_container .mychoice_data .div-float {
  //   top: -15% !important;
  // }
  // .mobile_category_seller_tick {
  //   top: -12px;
  // }
}

@media (min-width:411px) and (max-width:414px) {
  .mobile-user-category-block .mobile-venue-results-user-div p.second-best-deal:before {
    margin-left:-23px !important;
  }

  .mobile-user-category-block .mobile-venue-results-user-div p.second-hot:before {
    margin-left:-33px !important;
  }
}

@media (min-width:320px) and (max-width:340px) {
  .mobile-user-category-block .mobile-venue-results-user-div p.second-best-deal:before {
    margin-left:-11px !important;
  }

  .mobile-user-category-block .mobile-venue-results-user-div p.second-hot:before {
    margin-left:-22px !important;
  }
}
@media (min-width:375px) and (max-width:400px) {
  .mobile-user-category-block .mobile-venue-results-user-div p.second-best-deal:before {
    margin-left:-19px !important;
  }

  .mobile-user-category-block .mobile-venue-results-user-div p.second-hot:before {
    margin-left:-31px !important;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  .mobile-user-category-block .mobile-venue-results-user-div .mobile-search-top-body-container .vale_container .mychoice_data .div-float {
   width:10% !important;
}
.mobile-search-results-vendor--div p.second-best-deal:before {
  margin-left:-5px !important;
}

.mobile-search-results-vendor--div p.second-hot:before {
  margin-left:-22px !important;
}



}


.verticallyCenter{
  position: absolute;
  width: 100%;
  top: 50% !important;
  transform: translateY(-50%);
}