.new-service-mobile-wrapper
{
	overflow:hidden;
	select{
		option{
			background: #fff;
			color: #bbbaba;
		}
	}
}
.new-service-mobile-div-wrapper .new-service-login-form div video{
	width: 100%;
    height: 100%;
	object-fit: cover;
	margin-top: 44px;
}
.form-check.SellerFacilityClass.paddingBottom.active{
	.form-check-label{
		color: #2c1109;
	}
}
.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload.video-relative-div{
	padding: 18px 0 !important;
    height: 155px;
}
.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload.video-relative-div > div{
	height: 100%;
}
.new-service-mobile-container
{
	width:90%;
	margin: 0 auto;
	min-height:100vh;
}
.line_height {
	line-height: 1.5;
}

.new_service_position {
	position: relative;
}

.new_service_facility {
	width:95%;
	margin:0 auto !important;
}
.new_service_checkbox {
	position: absolute;
	left:10px;
	img {
		width:20px;
		height:20px;
	}
}
.service_back_logo-home-first-img {
	width:40px;
	height:41px;
}
.new-service-mobile-div-wrapper
{
	width: 96%;
	margin: 0 auto;
	text-align: center;
	padding: 0px 0px;
	padding-bottom: 20px;
	text-transform: uppercase;

	.back_top {
		top: 55% !important;
		letter-spacing:1px;
	}
	
}

.mobile_home_new_service_margin {
	margin-bottom: -3px !important;
}

select.mobile-venue-select.mobile-category-style {
	background-color: white;
}

.mobile-vendor-more-pictures-scroll {
	overflow-x: scroll;
	white-space: nowrap;
	width: 208px;
	opacity: 0.45;
	margin: 0 auto !important;
	margin-bottom: 18px !important;
	z-index:0;
}

.mobile-vendor-more-pictures-scroll-div{
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.mobile-more-pictures-img {
	width:50px;
	height:50px;
}

.mobile_side_img {
	width:20px;
	height:20px;
}

.more-pictures-absolute-div{
	position: absolute;
	width: 100%;padding: 20px 0px;
	top: -11%;
	z-index:100;
}

.more-pictures-relative-div {
	position: relative;
	padding: 25px 0px !important;
}



.mobile-service-add {
    padding: 1px;
	background: -webkit-linear-gradient(-30deg, rgba(0, 0, 0, 1) 0%, rgba(62, 19, 24, 1) 10.12%, rgba(144, 45, 56, 1) 24.44%, rgba(204, 64, 80, 1) 36.22%, rgba(241, 76, 94, 1) 44.84%, rgba(255, 80, 100, 1) 49.39%, rgba(232, 73, 91, 1) 55.36%, rgba(173, 54, 68, 1) 67.87%, rgba(79, 25, 31, 1) 85.72%, rgba(0, 0, 0, 1) 100%);
	box-shadow: 1px 2px 12px 0px #22222C;
	letter-spacing:1px;
	border-radius:4px;

	ul {
		border-radius:4px;

		li {
			div {
				input {
					background:transparent;
				}
			}
		}
	}

}

.mobile-category {
	padding:10px 0px 25px 0px;
}

.mobile-category-style {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.mobile-textarea-box {
	width: 85%;
	overflow: hidden;
	z-index: auto;
	position: relative;
	line-height: 20px;
	font-size: 14px;
	transition: none;
	background: transparent !important;
	color: #bbbaba;
}
.new-service-mobile-div-wrapper .new-service-login-form div
{
    margin: 7px 0px;
}
.new-service-login-form {
	.star-print{
		.vendor-star{
			margin: 0px 5px;
		}
	}
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info input
{
    width: 100%;
    line-height: 22px;
    text-align: center;
	padding: 10px 50px 25px 50px;
	font-size: 12pt;
	text-overflow: ellipsis;
	-webkit-font-smoothing: antialiased;
	color: #bbbaba;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info input::placeholder
{
	text-transform: uppercase;
	color: #bbbaba;
	font-size: 18px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info input[type='submit']
{
	background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
	border: none;
	box-shadow: 1px 2px 12px 0px #22222C;
	color: #fff;

}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .submit-button:before
{
	content:'\f2bd';
	font-family: "FontAwesome";
	position:absolute;
	width:100%;
	text-align:center;
	top:20%;
	font-size:20px;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .username
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;

}



.new-service-mobile-div-wrapper .new-service-mobile-login-info .password
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;

}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .password:before
{
	content:url("/img/new_img/password.svg");
	position: absolute;
	top: 35%;
	left: 12px;
	background-size: cover;
	height: 20px;
	width: 20px;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .email
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;

}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .email:before
{
	content: "";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url(/img/new_img/at_mail.svg);
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .category
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .category:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/new_img/guest_list.svg");
	background-size: cover;
	height: 20px;
	width: 23px;

}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .credintials
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .credintials:before
{
	content: "";
    position: absolute;
    top: 35%;
    left: 10px;
    background: url("/img/svg_img/credintials_svg.svg");
    background-size: cover;
    width: 23px;
    height: 15px;
  
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .address
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .address:before
{
	content: "";
    position: absolute;
    top: 35%;
    left: 15px;
    background: url("/img/svg_img/location_svg.svg");
    background-size: cover;
    height: 20px;
    width: 15px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .mail{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .mail:before
{
	content:"";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url("/img/new_img/at_mail.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .number{
	position: relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .number:before
{
	content:"";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url("/img/svg_img/phone.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .website
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .website:before
{
	content:"";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url("/img/svg_img/web_svg.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .exclu-pack
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .exclu-pack:before{

	content:"";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url("/img/svg_img/pack_svg.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .debit-card
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}


.new-service-mobile-div-wrapper .new-service-mobile-login-info .debit-card:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/svg_img/payment.svg");
	background-size: cover;
	height: 25px;
	width: 25px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .debit-card
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}


.new-service-mobile-div-wrapper .new-service-mobile-login-info .time
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .time:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/svg_img/time.svg");
	background-size: cover;
	height: 25px;
	width: 25px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .xxxx
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .xxxx:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/svg_img/xxx.svg");
	background-size: cover;
	height: 25px;
	width: 25px;
}


.new-service-mobile-div-wrapper .new-service-mobile-login-info .pack
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}



.new-service-mobile-div-wrapper .new-service-mobile-login-info .pack:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/greyPack.png");
	background-size: cover;
	height: 25px;
	width: 25px;
}




.new-service-mobile-div-wrapper .new-service-mobile-login-info .submit-button-dv
{
	padding:70px 0px;
	position:relative;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .submit-button-dv::before
{
    content: '\f2bd';
    position: absolute;
    width: 100%;
	font-size:20px;
	top:40%;
}


.new-service-mobile-div-wrapper .new-service-mobile-login-info input
{
	border-radius:5px;
	border:0px;
}
.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload
{
	overflow:hidden;
	background: #fff;
	border-radius:5px;
	height: 155px;
	&.background-circle-center{
		content: '';
		background-image: url(/img/new_img/grey_circle.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-size: 225px 225px;
		background-position: center;
	}
}

.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic
{
	width: 75%;
	margin: 0 auto;
	border: dashed 2px #ccc;
	border-image: url("/img/border.svg") 2 round;
	border-image-source: url("/img/border.svg");
	border-image-slice: 1;
	border-image-repeat: round;
	text-align: center;
	height: 120px;
	position: relative;
	&.border_circle{
		border-image: none;
		border-image-source: none;
		border-color: transparent;
		
	}
	
}
.new-service-mobile-div-wrapper .activated-pack
{
	background:#fff;
	border-radius:5px;
	padding: 10px 0px;
}

.box-container.same-icon p {

    position: relative;
    overflow: hidden;


}

.new-service-mobile-div-wrapper .facility-dv{
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
}
.new-service-mobile-div-wrapper .all-facility-dv  {
	padding-left:20px;
	p{
		width: 28% !important;
		float: left;
		margin: 5px;
		background: #fe8c65;
		color: #fff;
		font-size: 12px;
		text-align: center;
		line-height: 3.2;
		word-wrap: break-word;
		border-radius: 5px;
		text-transform: uppercase;
	}
	


}

.white-add-img {
	width:25px;
	height:25px;
}


.h4More {
	font-size: 22px;
	color: #464343;
	margin-bottom: 0px;
}

#mobileVideo, #mobilePicture, #mobileMorePictutres
{
display:none;
}


.padding_top18 {
	padding-top: 18px;
}
.padding_top10 {
	padding-top: 10px;
}
p{
	color:#cbc2c0;
}

.new-service-mobile-div-wrapper .activated-pack
{
	
	h4 {
		font-size:14px;
		color:#cbc2c0;

	}
  .line_svg_position {
    position: relative;
    left: 10px;
  }

}
.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload {
	position:relative;
	h4 {
		font-size:16pt;
		color:#cbc2c0;
		margin:-5px;
		letter-spacing: 3px;
		text-shadow: 0px 1px 1px #fff;
	}
}


.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic p,.activated-pack p{
	position:relative;
	margin-bottom:0px !important;

	.pClass {
		color:white;
		margin-bottom:0px !important;
	}

}

.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic{
	.h4Class {
		font-size: 22px;
		color:white;
		margin-bottom:0px !important;
	}
}

.add_more_pic_beforeUpload
 {
	margin-top:18px !important;
}

.mobile_vendor_video {
	height: 117px !important;
	text-align: center;
	width: 100% !important;
	position: relative;
	top: -28px;
}


.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic .add-file{
	width: 40%;
	margin: 0 auto;
	display:block;
}
.box-container.same-icon p {
    position: relative;
}

.new-service-text-div {
	margin-bottom: 20px;
}

.mobile-main-camera-abs {
	position: absolute;
	top: 7%;
	left: 12px;
}

.mobile-white-camera-abs {
	position: absolute;
	top:7%;
	left: 12px;
}

.video-relative-div {
	position:relative;
}

.mobile-video-img-abs {
	position: absolute;
	top: 7%;
	left: 12px;
}

.mobile-grey-img-abs {
	position: absolute;
	top: 152px;
	left: 12px;
}

.mobile-more-img-abs {
	position: absolute;
	top: 7%;
	left: 12px;
}

.mobile_back_div {
margin-bottom:20px;
}

.new-service-mobile-div-wrapper .facility-div-background label {
	top:17px;
}
.new-service-mobile-div-wrapper .facility-div-background input[type=checkbox] {
	top:3px;
}

.new-service-login-div
{

	span {
		font-family: Calibri !important;
		font-size: 25px !important;
		color: #faf8f8c7 !important;
		letter-spacing: 4px;
	}

	background-size: cover;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 40px;
	top: 60%;
	font-size: 25px !important;
	letter-spacing: 2px;
	color: #faf8f8c7 !important;
}

.mobite-checkbox {
	width:10px !important;
}

.mobile-facility-div {
	padding-right:10px;
}

@media (max-width:1024px){
.new-service-mobile-container{
	width:100%;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
	.mobile-video-img-abs {
		left: 30px;
	}
	.mobile-white-camera-abs {
		left: 30px;
	}
	.mobile-main-camera-abs {
		left: 30px;
	}
	.mobile-vendor-more-pictures-scroll {
		width: 317px;
		margin: 0 auto !important;
	}
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info p.morePicparagraph{
	position: absolute;
	top: inherit;
	bottom: 2px;
}