.new-service-mobile-wrapper
{
	overflow:hidden;
	.facility_div .right_div.width-60{
		padding: 0 25px 0 0;
	}
}
.new-service-mobile-container
{
	width:40%;
	margin: 0 auto;
	min-height:100vh;
	overflow: hidden;
	.css-dow6pf, [data-css-dow6pf]{
		left: 50%;
		transform: translateX(-50%);
		
	}



	
}
.new-service-mobile-div-wrapper{
	&.mobile_wrapper{
		.address select{
			-moz-appearance: none;
			-webkit-appearance: none;
			background-color: #ffffff !important;
			color: #bbbaba !important;
		}
		.address select option{
			background-color: #ffffff !important;
			color: #bbbaba !important;
		}
		.facility_div span.power_text{
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.new-service-mobile-login-info{
	.mandatory_fields{
		img{
			width: 25px;
			height: 25px;

		}
		span{
			color: #f8e8f6;
			text-decoration: underline;

		}

	}

}
.clearfix{
	clear: both;
	overflow: hidden;
}
.line_height {
	line-height: 1.5;
}

.new_service_position {
	position: relative;
}

.new_service_facility {
	width:95%;
	margin:0 auto !important;
}
.new_service_checkbox {
	position: absolute;
	left:10px;
	img {
		width:20px;
		height:20px;
	}
}
.service_back_logo-home-first-img {
	width:40px;
	height:41px;
}
.new-service-mobile-div-wrapper.mobile_wrapper{
	.new-service-mobile-login-info{
		.address{
			height: 55px;
			select{
				// text-align-last: center;
				// text-transform: uppercase;
				// padding: 10px 0px 0px 0px;
				// font-size: 12pt;
				// -webkit-font-smoothing: antialiased;
				// text-align: center;
				border: 0;
				text-align-last: center;
				padding-right: 0px;
				width: 100%;
				background-color: transparent;
				text-transform: uppercase;
				-webkit-font-smoothing: antialiased;
				padding: 10px 0px 0px 20px;
				font-size: 12pt;
				&.rcrs-country{
					width: 60%;
					margin:0 auto;
				}
			}
			p{
				margin: 0;
			}
		}
	} 
	.terms_condition{
		span{
			a{
				color: #337ab7 !important;
			}
		}
	}
}

.new-service-mobile-div-wrapper
{
	width: 96%;
	margin: 0 auto;
	text-align: center;
	padding: 0px 0px;
	padding-bottom: 20px;
	text-transform: uppercase;

	.back_top {
		top: 55% !important;
		letter-spacing:1px;
	}
	
}

.mobile_home_new_service_margin {
	margin-bottom: -3px !important;
}

select.mobile-venue-select.mobile-category-style {
	background-color: white;
}

.mobile-vendor-more-pictures-scroll {
	overflow-x: scroll;
	white-space: nowrap;
	width: 208px;
	opacity: 0.45;
	margin: 0 auto !important;
	margin-bottom: 18px !important;
	z-index:0;
}

.mobile-vendor-more-pictures-scroll-div{
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.mobile-more-pictures-img {
	width:50px;
	height:50px;
}

.mobile_side_img {
	width:20px;
	height:20px;
}



.more-pictures-relative-div {
	position: relative;
	padding: 25px 0px !important;
}
.term-check{
	width: 12px !important;
    height: 12px !important;
    margin-left: 10px !important;
    margin-top: 0px !important;
    background-color: white;
    border-radius: 50% !important;
    vertical-align: middle;
    padding: 0 !important;
    border: 1px solid #ddd !important;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.position_absolute{
	position: absolute !important;
}
.facility_div{
	width: 100%;
    background: #fff;
    box-shadow: 0px 0px 15px 1px #000;
	// display: inline-block;
	overflow: hidden;
    border-radius: 5px;
    margin-top: 0;
	margin-bottom: 7px;
	
	p.facility_name{
		position: relative !important;
		margin: 0;
	}
	span.power_text{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		color:#bbbaba;
	}
	.facility_div_content .left_div::before{
		content: '';
    position: absolute;
    left: 12px;
    background-image: url(/img/newService/AREA.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5px;
	}
	
}
.ceiling_height .facility_div_content .left_div::before{
	background-image: url(/img/newService/CEILING_HEIGHT.png);
}
.maximum_people .facility_div_content .left_div::before{
	background-image: url(/img/newService/GUESTS.png);
}
.event_type  .facility_div_content .left_div::before{
	background-image: url(/img/newService/EVENT_TYPE.png)
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info input.right_div_class{
	width: 100% !important;
	padding: 0 !important;
	padding: 0px 25px;
	font-size: 16px;
}
.mobile_new_couple_signup .user-signup-wrapper-content .user-signup-login-info {
	.type-username-sign.type-email {
		padding: 10px 10px 0px 11px;
	}
}
.relative-div.home-login-button-div{
	.absolute-div-style{
		line-height: 56px;
		-webkit-font-smoothing: antialiased;
	}
}
.term-check{
	&:focus{
		outline: none !important;
	}
}
.facility_div_content{
	width: 80%;
    overflow: hidden;
}
.facility_div .left_div{
	width: 60%;
    float: left;
	position: relative;
	&.width-40{
		width: 40%;
	}
}
.facility_div .right_div {
    width: 40%;
    float: left;
    margin: 0 !important;
	position: relative;
	&.width-60{
		width: 60%;
	}
}
.terms_condition input:checked{
	background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%) !important;
}


.mobile-service-add {
	background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%) !important;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto !important;
    box-shadow: 0px 0px 15px 1px #000;
    padding: 5px 0px;
    position: relative;

	ul {
		border-radius:4px;

		li {
			div {
				input {
					background:transparent;
				}
			}
		}
	}

}

.mobile-category {
	padding:10px 0px 25px 0px;
}

.mobile-category-style {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.heading-text.act1 {
    margin-bottom: 0 !important;
}
@media(max-width:768px){
	.new-service-mobile-wrapper .new-service-mobile-login-info .mandatory_text{
		width: 50% !important;
	}
	.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload{
		padding: 0 !important;
	}
	.new-service-mobile-div-wrapper .new-service-login-form .mobile-vendor-more-pictures-scroll-div{
		width:100%;
		height: 100%;
	}
	.new-service-mobile-div-wrapper .mobile-more-pictures-img{
		width: 100%;
		height: 100%;
	}
}
.absolute-div-style.line-height-32{
	line-height: 32px !important;
}
.facility-img{
	width: 25px;
	height:25px;
    display: block;
    margin: 0 auto;
}

.mobile-textarea-box {
	width: 85%;
	overflow: hidden;
	z-index: auto;
	position: relative;
    border: 1px solid #bbbaba;
    border-radius: 5px;
	line-height: 25px;
	font-size: 14px;
	transition: none;
	background: transparent !important;
}
.new-service-mobile-div-wrapper .new-service-login-form div
{
    margin: 7px 0px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info input::placeholder
{
	text-transform: unset;
	color: #bbbaba;
	font-size: 18px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info input[type='submit']
{
	background:linear-gradient(to right, #060105 3%, #fb5063 50%, #060105 100%);
	border: none;
	box-shadow: 1px 2px 12px 0px #22222C;
	color: #fff;

}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .submit-button:before
{
	content:'\f2bd';
	font-family: "FontAwesome";
	position:absolute;
	width:100%;
	text-align:center;
	top:20%;
	font-size:20px;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .username
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	box-shadow: 0px 0px 10px 1px #000;

}
.margin-top-0{
	margin-top: 0 !important;
}



.new-service-mobile-div-wrapper .new-service-mobile-login-info .username:before
{
	content:'';
	background-image: url("/img/new_user_service_icon.svg");
	position: absolute;
	top: 35%;
	left: 12px;
	background-size: cover;
	height: 20px;
	width: 20px;
	overflow: hidden;
}
.picture_box_wrapper{
	.remember_div.new_service .radio#no__check input:checked + span:after {
		content: '';
		display: block;
		width: 11px;
		height: 11px;
		border: 1px solid #fc8b6e;
		background: unset;
		position: absolute;
		border-radius: 1000px;
		top: 4.8px;
		right: 20.5%;
		opacity: 1;
		width: 8px;
		height: 8px;
		right: 78px;
		top: 17.8px;
	}

	.remember_div.new_service .radio input:checked + span:before{
		content: unset;
	}

	.remember_div.new_service .radio input:checked + span:after {
		content: '';
		display: block;
		width: 11px;
		height: 11px;
		background: #fc8b6e;
		border: 1px solid #fc8b6e;
		position: absolute;
		border-radius: 1000px;
		top: 4.8px;
		right: 20.5%;
		opacity: 1;
		width: 8px;
		height: 8px;
		right: 78px;
		top: 17.8px;
	}

	.remember_div .radio input + span:before{
		top: 17px;
		width: 10px;
		height: 10px;
	}
	.remember_div .radio input:checked + span:after{
		width: 8px;
		height: 8px;
		right: 78px;
		top: 17.8px;
	}
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .password
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	box-shadow: 0px 0px 10px 1px #000;

}
.terms_condition{
	position: relative;
    padding: 10px 0 15px 0;
    color: #2e0f04;
    font-size: 8pt;
    display: block;
}
.terms_condition a{
	color: #faf8f8c7 !important;
    text-decoration: underline;
}
.new-login-service-btn{
	background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%);
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 1px #000;
    padding: 5px 0px;
    position: relative;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .password:before
{
	content:url("/img/new_img/password.svg");
	position: absolute;
	top: 28% !important;
	left: 12px;
	background-size: cover;
	height: 20px;
	width: 20px;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .email
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	box-shadow: 0px 0px 10px 1px #000;

}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .email:before
{
	content: "";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url(/img/new_img/at_mail.svg);
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .category
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	margin-top: 9px;
	box-shadow: 0px 0px 10px 1px #000;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .category:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/svg_img/category_svg.svg");
	background-size: cover;
	height: 20px;
	width: 23px;

}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .credintials
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	box-shadow: 0px 0px 10px 1px #000;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .credintials:before
{
	content: "";
    position: absolute;
    top: 35%;
    left: 10px;
    background: url(/img/svg_img/credintials_svg.svg);
    background-size: cover;
    width: 23px;
    height: 15px;
  
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .address
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	box-shadow: 0px 0px 10px 1px #000;
}
.display_inherit{
	display: inherit !important;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .address_one{
	position: relative;
	box-shadow: 0px 0px 15px 1px #000;
	input{
		padding: 10px 50px 25px 50px;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .address_one:before
{
	content: "";
    position: absolute;
    top: 35%;
    left: 15px;
    background: url(/img/svg_img/location_svg.svg);
    background-size: cover;
    height: 20px;
    width: 15px;	
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .address:before
{
	content: "";
    position: absolute;
    top: 35%;
    left: 15px;
    background: url(/img/svg_img/location_svg.svg);
    background-size: cover;
    height: 20px;
    width: 15px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .mail{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	box-shadow: 0px 0px 10px 1px #000;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .mail:before
{
	content:"";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url("/img/new_img/at_mail.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
}



.new-service-mobile-div-wrapper .new-service-mobile-login-info .website
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
	box-shadow: 0px 0px 10px 1px #000;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .website:before
{
	content:"";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url("/img/svg_img/web_svg.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .exclu-pack
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .exclu-pack:before{

	content:"";
	position: absolute;
	top: 35%;
	left: 12px;
	background: url("/img/svg_img/pack_svg.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .debit-card
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}


.new-service-mobile-div-wrapper .new-service-mobile-login-info .debit-card:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/svg_img/payment.svg");
	background-size: cover;
	height: 25px;
	width: 25px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .debit-card
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}


.new-service-mobile-div-wrapper .new-service-mobile-login-info .time
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .time:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/svg_img/time.svg");
	background-size: cover;
	height: 25px;
	width: 25px;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .xxxx
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info .xxxx:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/svg_img/xxx.svg");
	background-size: cover;
	height: 25px;
	width: 25px;
}


.new-service-mobile-div-wrapper .new-service-mobile-login-info .pack
{
	width: 100%;
	line-height: 22px;
	text-align: center;
	color: #bbbaba;
	background: white;
	border-radius: 5px;
	border: 0px;
	position:relative;
}



.new-service-mobile-div-wrapper .new-service-mobile-login-info .pack:before
{
	content:"";
	position: absolute;
	top: 30%;
	left: 10px;
	background: url("/img/greyPack.png");
	background-size: cover;
	height: 25px;
	width: 25px;
}




.new-service-mobile-div-wrapper .new-service-mobile-login-info .submit-button-dv
{
	padding:70px 0px;
	position:relative;
}
.new-service-mobile-div-wrapper .new-service-mobile-login-info .submit-button-dv::before
{
    content: '\f2bd';
    position: absolute;
    width: 100%;
	font-size:20px;
	top:40%;
}

.new-service-mobile-div-wrapper .new-service-mobile-login-info input
{
	border-radius:5px;
	border:0px;
}

.picture-upload,
.activated-pack,
.info_content .mobile_home_new_service_margin,
.category_select .category.mobile-category,
.location_content .address,
.moreinfo_content div,
.password_content .password{
	box-shadow: 0px 0px 15px 1px #000;
}

.new-service-mobile-div-wrapper .activated-pack
{
	background:#fff;
	border-radius:5px;
	padding: 10px 0px;
}

.box-container.same-icon p {

    position: relative;
    overflow: hidden;


}

.new-service-mobile-div-wrapper .new-service-mobile-login-info p {

    position: absolute;
    text-align: center;
    z-index: 99;
    width: 100%;
    top: 55%;
    font-size: 11px;

}

img.mobile_user_settings_signOut_text_logo{
	width: 25px;
    position: absolute;
    right: 15px;
	top: 20px;
	cursor:pointer;
}
.form-check{
	background: #fff;
	color:#bbbaba;
	padding:0;
	position: unset;
    display: block;
    width: auto !important;
	float: left;
	margin: 2%;
}
.new-service-mobile-div-wrapper .facility-dv{
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	
}
.new-service-mobile-div-wrapper .all-facility-dv  {
	display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto !important;
    padding-left: 0 !important;
    padding: 10px 0;
    margin: 0 auto;
    width: 68%;
    text-align: center;
	justify-content: center;
	.form-check{
		width: 50px !important;
	}
	p{
		width: 28% !important;
		float: left;
		margin: 5px;
		background: #fe8c65;
		color: #fff;
		font-size: 12px;
		text-align: center;
		line-height: 3.2;
		word-wrap: break-word;
		border-radius: 5px;
		text-transform: uppercase;
	}
	


}

.white-add-img {
	width:25px;
	height:25px;
}


.h4More {
	font-size: 22px;
	color: #464343;
	margin-bottom: 0px;
}

#mobileVideo, #mobilePicture, #mobileMorePictutres
{
display:none;
}


.padding_top18 {
	padding-top: 18px;
}
.padding_top10 {
	padding-top: 10px;
}
p{
	color: #cdc2c0;
}

.new-service-mobile-div-wrapper .activated-pack
{
	h2 {
		width: 70%;
		margin: 0 auto;
		font-size: 20px;
		color: #cdc2c0;
		letter-spacing: 2px;
		&.exclusivePack{
			color: #2c1109;
		}
		&.generousPack{
			color: #846c67;
		}
		
	}
	
	h4 {
		font-size:14px;
		color: #cdc2c0;

	}
  .line_svg_position {
    position: relative;
    left: 10px;
  }
  

}
.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload {
	position:relative;
	h4 {
		font-size:14px;
		color: #cdc2c0;
		margin:-5px;
	}
}


.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic p,.activated-pack p{
	position:relative;
	margin-bottom:0px !important;

	.pClass {
		color:white;
		margin-bottom:0px !important;
	}

}

.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic{
	.h4Class {
		font-size: 22px;
		color:white;
		margin-bottom:0px !important;
	}
}


.mobile_vendor_video {
	height: 117px !important;
	text-align: center;
	width: 100% !important;
	position: relative;
	top: -28px;
}
.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic .line_image{
	vertical-align: top;
}

.new-service-mobile-wrapper .new-service-mobile-div-wrapper .picture-upload .add-more-pic .add-file{
	width: 40%;
	margin: 0 auto;
	display:block;
}
.box-container.same-icon p {
    position: relative;
}

.new-service-text-div {
	margin-bottom: 20px;
}

.mobile-main-camera-abs {
	position: absolute;
	top: 7%;
	left: 12px;
}

.mobile-white-camera-abs {
	position: absolute;
	top:7%;
	left: 12px;
}

.video-relative-div {
	position:relative;
}

.mobile-video-img-abs {
	position: absolute;
	top: 7%;
	left: 12px;
}

.mobile-grey-img-abs {
	position: absolute;
	top: 152px;
	left: 12px;
}

.mobile-more-img-abs {
	position: absolute;
	top: 7%;
	left: 12px;
}

.mobile_back_div {
margin-bottom:20px;
}
.login-form.user-login-form-style{
	form{
		.username-div{
			p{
				// opacity: 0.5;
			}
		}
		p{
			margin-top: -4px;
		}
	}
}
.mandatory_text{
	text-align: center;
    width: 80%;
    margin: 0 auto;
	font-size: 10pt;
	letter-spacing: 1px;
    padding: 25px 0 35px 0px;
    display: block;
	text-decoration: underline;
	color: #dbbdd9;
}
.new-service-mobile-wrapper{
	.new-service-mobile-login-info{
		padding-top: 20px;
		.mandatory_text{
			width: 45%;
		}
	}
}
.mandatory_text:before{
	content: "";
    display: block;
    width: 15px;
    height: 15px;
	float: left;
    background: url(/img/new_img/newservice_exclm.svg);
	background-size: contain;
	position: relative;
	left:0%;
	top: -2px;
	background-repeat:no-repeat;
}
.user-login-form-style .mandatory_text:before {
	content: unset;
}
.mandate-img{
	width: 10px;
    position: absolute;
    height: 10px;
    top: 42%;
    left: 35px;
}
.pic-mandate{
	width: 10px;
    position: absolute;
    height: 10px;
    top: 8%;
    left: 8px;
}
.heading-title1{
	padding-top: 8px;
    display: block;
    color: #faf8f8c7 !important;
    font-size: 8pt;
    letter-spacing: 1px;
}

.form-check.active img{
    object-fit: contain;
    padding: 2px;
    display: block;
    border: 1px solid #53282c;
    border-radius: 50%;
}
.form-check.active label{
	color:#53282c;;
}
.new-service-mobile-div-wrapper .facility-div-background label {
	top:5px !important;
	padding:0;
	font-size:8pt;
}
.new-service-mobile-div-wrapper .facility-div-background input[type=checkbox] {
	top:3px;
}

.new-service-login-div
{

	span {
		font-family: Calibri !important;
		font-size: 25px !important;
		color: #faf8f8c7 !important;
		letter-spacing: 4px;
	}

	background-size: cover;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 40px;
	top: 60%;
	font-size: 25px !important;
	letter-spacing: 2px;
	color: #faf8f8c7 !important;
}

.mobite-checkbox {
	width:10px !important;
}

.mobile-facility-div {
	padding-right:10px;
}

@media (max-width:1024px){
.new-service-mobile-container{
	width:100%;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
	.mobile-video-img-abs {
		left: 30px;
	}
	.mobile-white-camera-abs {
		left: 30px;
	}
	.mobile-main-camera-abs {
		left: 30px;
	}
	.mobile-vendor-more-pictures-scroll {
		width: 317px;
		margin: 0 auto !important;
	}
}


.new_services_form{
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
		font-size: 17px;
	}
	
	.new-service-login-form{
		.clearfix{
			margin: 0;
		
		}
		h2.heading_text{
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #fefbff;
			font-size: 17px;
			padding-bottom: 22px;
			padding-top: 14px;
			letter-spacing: 2px;
		}
		h2.heading_text::after{
			content: '';
			margin: 0 20px 0 20px;
			flex: 1 0 20px;
			background-image: url('/img/line.png');
			width: 100%;
			height: 1px;
			object-fit: contain;
			background-repeat: no-repeat;
			background-size: 100%;

		}
		.picture_box_wrapper{
			.button_wrapper{
				padding: 280px 0px 0px 0px;
				p.terms_condition{
					position: relative;
					padding-bottom: 55px;
					color: #551e3b;
					a,button{
						color: #fff;
						text-decoration: underline;
						border: 0;
						background: transparent;
					}
					
				}
				.news_service_button.home-login-button-div{
					background: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%);
					border-radius: 5px;
					width: 75%;
					margin: 0 auto;
					box-shadow: 0px 0px 15px 1px #000;
					padding: 5px 0px;
					position: relative;
					.back_top{
						position: absolute;
						bottom: 6px;
						width: 100%;
						color: #f9cabd;
						z-index: 9999;
						text-align: center;
						font-size: 13px;
						top: initial !important;

					}
				}
			}
			.add-more-pic{
				.add-file{
					.white-add-img{
						width: 45px;
						height: 45px;
					}
				}
			}
		}
		.info_wrapper{
			.location_wrapper{
				.location_content{
					.address{
						padding: 10px 0px 25px 0px;
						select{
							border: 0;
							text-align-last: center;
							padding-right: 0px;
							width: 100%;
							background-color: #FFFFFF !important;
							text-transform: uppercase;
							-webkit-font-smoothing: antialiased;
							option{
								text-align: center;
								text-transform: uppercase;
							}
						}
					}
				}
				
			}
			.password_content{
				.password{
					position: relative;
					img.mobile_user_settings_signOut_text_logo{
						width: 25px;
						position: absolute;
						right: 15px;
						top: 20px;
					}
				}
			}
		}
		.pack_wrapper{
			.facility_wrapper{
				.facility-dv{
					box-shadow: 0px 0px 15px 1px #000;
					ul{
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;
						margin: 0;
						padding: 16px 0;
						width: 70%;
						margin: 0 auto;
						li{
							list-style-type: none;
							width: 25%;
							text-align: center;
							&.active{
								img{
									width: 25px;
									height: 25px;
	
								}
								span{
									color:#551e3b;
									font-size: 8pt;
								}
							}
							img{
								width: 25px;
								height: 25px;

							}
							span{
								color:#bbbaba;
								font-size: 8pt;
							}

						}
					}
				}

				.facility_div{
					width: 100%;
					background: #fff;
					box-shadow: 0px 0px 15px 1px #000;
					display: inline-block;
					border-radius: 5px;
					margin-top:0;
					margin-bottom: 7px;
					.facility_div_content{
						width: 75%;
						overflow: hidden;
						
						.left_div{
							width: 60%;
							float: left;
							position: relative;

							&::before{
								content: '';
								position: absolute;
								left: 12px;
								background-image: url('/img/newService/AREA.png');
								width: 20px;
								height: 20px;
								background-size: contain;
								background-repeat: no-repeat;
								top: 5px;
	
	
							}
							&::after{
								content: ':';
								position: absolute;
								right: 0;
								top: 5px;
								
							}

						}
						
						.right_div{
							width: 40%;
							float: left;
							margin: 0;
							position: relative;
							.right_div_class{
								width: 100%;
								padding: 0;
								padding: 0px 25px;
								font-size: 16px;
								
							}
							select{
								border: 0;
								background: transparent;
								color: #bbbababa;
								text-transform: unset;
								-webkit-font-smoothing: antialiased;
							}
							
							
							p.facility_name{
								position: relative;
								margin: 0;
							}
							span.power_text{
								content: '';
								position: absolute;
								right: 0;
								top: 0;

							}
	
						}
					}
					
				}
				.ceiling_height.facility_div{
					.facility_div_content{
						.left_div{
							&::before{
								background-image: url('/img/newService/CEILING_HEIGHT.png')
							}
						}
					}
				}
				.maximum_people.facility_div{
					.facility_div_content{
						.left_div{
							&::before{
								background-image: url('/img/newService/GUESTS.png')
							}
						}
					}
				}
				.even_type.facility_div{
					.facility_div_content{
						.left_div{
							&::before{
								background-image: url('/img/newService/EVENT_TYPE.png')
							}
						}
					}
				}
			}
		}
	}

}

.app_store_wrapper{
	padding-top: 35px;
	fieldset{
		display: block;
		margin-inline-start: 2px;
		margin-inline-end: 2px;
		padding-block-start: 0.35em;
		padding-inline-start: 0.75em;
		padding-inline-end: 0.75em;
		padding-block-end: 0.625em;
		min-inline-size: min-content;
		border-width: 2px;
		border-style: groove;
		border-color: #fff;;
		border-image: initial;
		position: relative;
		border-radius: 10px;
	}
	legend {
		display: block;
		padding-inline-start: 2px;
		padding-inline-end: 2px;
		border-width: initial;
		border-style: none;
		border-color: initial;
		border-image: initial;
		width: auto;
		font-size: 8pt;
		color: #fff;
		padding: 0px 15px;
		margin: 0;
		letter-spacing: 1px;

		
	}
}


.mobile-user-guest-list-type-box .block2.guelstlist_wrap::after,
.mobile-user-guest-list-type-box .block2.guelstlist_wrap::before{
	display: none;

}
.mobile-user-guest-list-type-box .block2 .type-search{
	color: #fff;
	&::placeholder{
		color: #fff;
	}
}
.block1.guestlist_table img{
		width: 22px;
		height: 25px;
		object-fit: contain;
}
.mobile-user-guest-list-type-box .block1.guestlist_table{
	top: 10px !important;
}
.tableListParent.update_class{
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    height: 73px;
    bottom: 56px;
    background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
	background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
	#mobileUserGuestListBox{
		position: static !important;
		width: 100%;
		
	}
	
}
