html {
    font-weight: 300 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Calibri Light", sans-serif !important;
    font-weight: 300 !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

* {
    font-family: "Calibri Light", sans-serif !important;
    font-weight: 300 !important;
}

.dropdown a {
    color: #fff;
}

ul {
    margin-bottom: 0 !important;
    padding: 0;
}

.dash-bottom-menu-ne-se {
    font-size: 27px;
}

select {
    text-align: center;
}

.heder-div {
    background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%);
    height: 140px;
}



button.button_evet_right:focus {
    outline: none;
}


.top-zero {
    top: 0px !important;
}



.body-cntnr, .body-cntnr-dash {
    background-color: transparent;
    clear: both;
    min-height: 100%;
    padding-bottom: 65px !important;
    display: flow-root;
}

.header-cntnr {
    padding: 30px 0px;
    width: 86% !important;
    margin: 0 auto;

}

/* .container.header-cntnr.main-container {
    margin-left: 110px;
} */

.menubar-left ul .venue {
    background-image: url("/img/venu.jpg");
}

.menubar-left ul .photo {
    background-image: url("/img/photo.jpg");
}

.menubar-left ul .catering {
    background-image: url("/img/catering.jpg");
}

.menubar-left ul li:hover {
    cursor: pointer;
}

.react-date-picker__button__icon {
    display: none !important;
}

.react-date-picker__button {
    border: none !important;
}

.no-padding {
    padding: 0 !important;
}

.body-cntnr, .body-cntnr-dash {
    padding: 0px 0px !important;
    width: 85% !important;
    margin: 0 auto;


}

.footer-cntnr {
    padding: 30px 0px;
    width: 70% !important;
    margin: 0 auto;


}


.body_portion_b, .body_portion {
    box-shadow: 1px 2px 12px 0px #22222C;
    border-radius: 4px;
}

.body_portion_b, .body_portion.welcome_msg {
    border: 2px solid white;
    padding: 10px 10px;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
}
.body_portion.welcome_msg{
    padding: 50px 10px;
}
.body_portion.welcome_msg p{
    color: #a0587d;
    font-size: 22px;
    letter-spacing: 4px;
}
.body_portion.welcome_msg p span{
    font-weight: bold !important;
    font-size: 44px;
    color: #8e4a6d;
}

.body_portion_b img, .body_portion img {
    width: 100%;
    border-radius: 4px;
}

.spacer {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.body_portion_cn {
    padding: 15px 15px;
}


.footer-div{
    padding-top: 70px;
    background: #fff;
    padding: 0;
    margin-top: 50px;
    
}
.footer-div .footer-content{
    width: 100%;
    left: 0;
}

.footer-div .footer-content li{
    color: #bbbaba;
    font-size: 10pt;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}

.menubar-left-bar {
    padding: 10px 0px;
}

.bottom-menu-cntnr {
    padding: 20px 50px;
}

.body_container {
    padding: 15px 5px;
}

.active_menu_main {
    border: 1px solid #fff;
}

.menubar-left ul li {
    font-family: 'Calibri';
    text-transform: uppercase;
    list-style-type: none;
    padding: 5px 5px;
    text-align: center;
    margin: 8px 0px;
    color: #c9c8c6;
    background: white;
    /*box-shadow: 1px 2px 4px 0px #000;*/
    line-height: 38px;
    /* font-weight: bold; */
    border-radius: 5px;
    /* IE10+ */
    /*background-image: -ms-linear-gradient(left, #EBB7BB 20%, #4D4948 100%);*/

    /*!* Mozilla Firefox *!*/
    /*background-image: -moz-linear-gradient(left, #EBB7BB 20%, #4D4948 100%);*/

    /*!* Opera *!*/
    /*background-image: -o-linear-gradient(left, #EBB7BB 20%, #4D4948 100%);*/

    /*!* Webkit (Safari/Chrome 10) *!*/
    /*background-image: -webkit-gradient(linear, left top, right top, color-stop(20, #EBB7BB), color-stop(100, #4D4948));*/

    /*!* Webkit (Chrome 11+) *!*/
    /*background-image: -webkit-linear-gradient(left, #EBB7BB 20%, #4D4948 100%);*/

    /*!* W3C Markup *!*/
    /*background-image: linear-gradient(to right, #EBB7BB 20%, #4D4948 100%);*/
}

.footer-cntnr {
    clear: both;
    overflow: hidden;
}

.clearfix {
    clear: both;
}

.footer-cntnr ul li {
    float: left;
    list-style-type: none;
    padding: 0px 10px;
    color: #9c9593;
}

.footer-cntnr select {
    color: #fff;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url(./images/arrow_down.png);
    background-position: 100% 61%;
    color: #ffffff;
    background-repeat: no-repeat;
    width: 63px;
}

.profile-show {
    float: right;
}

.region-button :before {
    content: '"\f041"';
}

.bottom-menu-thrd {
    position: relative;
}

.region-button :after {
    content: '"\f0d7"';
}

.bottom-menu-cntnr .bottom-menu {
    padding: 25px 0px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 0px #000;
    box-shadow: 1px 2px 12px 0px #22222C;
    height: auto;
    border-radius: 8px;
}

.start-planning-button {
    font-family: 'Calibri';
    width: 33%;
    margin: 0 auto;
    position: relative;
}

.react-date-picker__calendar {
    z-index: 9;
}

.start-planning-button .submit_bttn {
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    font-size: 18px;
    background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%);
    border: none;
}

.profile-show span {
    color: #fff;
    font-size: 20px;
    margin: 0px 18px;
    border: 2px solid #fff;
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 0px;
    float: right;
}

.profile-show .no-border {
    border: none !important;
}

.start-planning-button .search_icon {
    position: absolute;
    left: 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.bottom-menu-ne, .bottom-menu-tw {
    font-size: 23px;
    padding: 19px 0px 0px 0px;
}

.bottom-menu-fur {
    font-size: 43px;
}

.bottom-menu-container .dropdown-menu li {
    float: none !important;
    width: 100% !important;
}

.bottom-menu-ne:before {
    content: '\f041';
    font-family: FontAwesome;
    float: left;
    font-size: 14px;
    margin-top: 9px;
    color: #a78172;
}

.bottom-menu-ne:after {
    content: '\f0d7';
    font-family: FontAwesome;
    float: right;
    font-size: 14px;
    margin-top: 9px;
    color: #a78172;
}

.bottom-menu-tw:before {
    content: '\f0c0';
    font-family: FontAwesome;
    float: left;
    font-size: 14px;
    margin-top: 9px;
    color: #a78172;
}

.bottom-menu-tw:after {
    content: '\f0d7';
    font-family: FontAwesome;
    float: right;
    font-size: 14px;
    margin-top: 9px;
    color: #a78172;
}

.react-date-picker:before {
    content: '\f271';
    font-family: FontAwesome;
    float: left;
    font-size: 14px;
    margin-top: 28px;
    color: #a78172;
}

.react-date-picker__button__input {
    margin-top: 13px;
}

/* .react-date-picker__button__input__day, .react-date-picker__button__input__month {

} */

.react-date-picker__button {
    font-size: 27px;
}

/* .react-date-picker__button__input__year {
} */

.react-date-picker:after {
    content: '\f0d7';
    font-family: FontAwesome;
    float: right;
    font-size: 14px;
    margin-top: 28px;
    color: #a78172;
}

.bottom-menu-fur:before {
    content: '\f271';
    font-family: FontAwesome;
    float: left;
    font-size: 14px;
    color: #a78172;
    margin-top: 28px;
}

.bottom-menu-fur:after {
    content: '\f0d7';
    font-family: FontAwesome;
    float: right;
    font-size: 14px;
    margin-top: 28px;
    color: #a78172;
}

.body-cntnr .bottom-menu-container, .body-cntnr-dash .bottom-menu-container {

    width: 100%;

}

/* .body-cntnr .bottom-menu-container ul, .body-cntnr-dash .bottom-menu-container ul { */
    /*width: 90%;*/
    /*margin: 0 auto;*/
/* } */

.body-cntnr .bottom-menu-container ul li {
    list-style-type: none;
    float: left;
    width: 33%;
    text-align: center;
    color: #c9c8c6;
    text-transform: uppercase;
}

@font-face {
    font-family: 'Calibri';
    src: url('/fonts/Calibri-Light.eot');
    src: url('/fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Calibri-Light.woff2') format('woff2'),
    url('/fonts/Calibri-Light.woff') format('woff'),
    url('/fonts/Calibri-Light.ttf') format('truetype'),
    url('/fonts/Calibri-Light.svg#Calibri-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

.frm_frnd.send_by_seller {
    float: right;
}

.prf_icon.profile_seller {
    right: 7px;
}

.footer-content {
    position: relative;
    left: 31%;
    font-size: 12pt;
    text-transform: uppercase;
}

a:hover {
    text-decoration: none !important;
}

.css-1wc6kks, [data-css-1wc6kks] {
    /* background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important; */
    background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%) !important;
    text-align: center;
    text-transform: uppercase;
}

.progressbar-progress {
    /* background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important; */
    background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%) !important;
    text-align: center;
    text-transform: uppercase;
}

.css-je5d12, [data-css-je5d12] {
    text-transform: uppercase;
    /* background: linear-gradient(to right, #2b0c11 0%, #fb5063 51%, #2b0c11 100%) !important; */
    background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%) !important;
    text-align: center;
}

.no-user-selected-style {
    text-transform: uppercase;
    color: #aaa5a5;
    /* font-weight: 600; */
    text-align: center;
    background: white;
    border-radius: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 2px 12px 0px #22222C;
    /*width: 420px;*/
    /*margin-top: 8px;*/
}

.btn-primary:hover {
    color: #fff;
    background-color: transparent !important;
    border: none !important;
}

