@media (min-width: 1400px){
    .dropdown-content{
        width: 800px;
        margin-left: 348px;
    }
}
@media (max-width: 1347px){
    .bottom-menu-fur {
        font-size: 36px;
    }

}
@media (max-width: 1347px) and (min-width: 1300px){
    .dropdown-content{
        width: 620px !important;
    }
}
@media (max-width: 1299px) and (min-width: 1200px){
    .dropdown-content{
        width: 576px !important;
    }
    /*.body_portion_ev .circle-panorama .img_crcl_b{*/
        /*margin-left: -6%;*/
    /*}*/
}
@media (max-width: 1199px) and (min-width: 1100px){
    .dropdown-content{
        width: 566px !important;
        margin-left: 174px !important;
    }
    /*.body_portion_ev .circle-panorama .img_crcl_b{*/
        /*margin-left: -7%;*/
    /*}*/
}
@media (max-width: 1099px) and (min-width: 1000px){
    .dropdown-content{
        width: 513px !important;
        margin-left: 158px !important;
    }
    /*.body_portion_ev .circle-panorama .img_crcl_b{*/
        /*left:72% !important;*/
        /*margin-top: -22% !important;*/
    /*}*/
    .user-service-page .service--star {
        /*left:68%;*/
    }
}
@media (max-width: 999px) and (min-width: 900px){
    .dropdown-content{
        width: 492px !important;
        margin-left: 115px !important;
    }

}
@media (max-width: 899px) and (min-width: 800px){
    .dropdown-content{
        width: 418px !important;
        margin-left: 115px !important;
    }

    .nested_menu_container .tab-content .chat_dv .frm_frnd{
        width: 100%;
        margin-top:4px;
    }
    .nested_menu_container .tab-content .chat_dv .frn_me{
        width: 100%;
        margin-top:4px;
    }
    .padding-nested {
        padding: 0px 9px;
    }

}

@media (max-width: 1192px){
    .bottom-menu-ne, .bottom-menu-tw {
        font-size: 19px;
        padding: 19px 0px 0px 0px;
    }
    .bottom-menu-fur::before {
        content: '\F271';
        font-family: FontAwesome;
        float: left;
        font-size: 14px;
        color: #a78172;
        margin-top: 9px;
    }
    .bottom-menu-fur::after {
        content: '\F0D7';
        font-family: FontAwesome;
        float: right;
        font-size: 14px;
        margin-top: 9px;
        color: #a78172;
    }
    .bottom-menu-fur {
        font-size: 19px;
        padding: 19px 0px 0px 0px;
    }
    .react-date-picker__button {
        font-size: 19px;
        padding: 9px 0px 0px 0px;
    }
    .react-date-picker__button{
        max-width: 0px;
    }
    .mydash_bootom-menu .react-date-picker__button {
        font-size: 19px;
        padding: 0px 0px 0px 0px;
    }

}
@media (max-width: 1180px){
    .mydash_bootom-menu .bottom-menu-container ul li{
        padding: 0px 5px !important;
    }
}
@media (max-width: 991px) and (min-width: 700px ){
    .body_portion_ev .upper-section .gallery img {
        width: 28px !important;
    }

    .user_t_nested_dropdown_menu .nested_menu_container .check_seat {
        float: right;
        background: #499C92;
        color: #fff;
        padding: 10px 20px;
        line-height: 1;
        border: 1px solid #499C92;
        margin: 5px 5px !important;
        text-transform: uppercase;
        font-size: 12px;
        width: 60%;
    }
    .nested_menu_container .check_seat::after {
        right: 15px;
    }

}
@media (max-width: 991px){
    .mydash_bootom-menu .react-date-picker__button {
        min-width: 38%;
        margin: 0 auto;
    }
    .body_portion_ev .circle-panorama .img_crcl_b {
        /*width: 100px !important;*/
        /*height: 100px !important;*/
        /*margin-top: -23% !important;*/
        /*margin-left: 92px !important;*/
    }

    .body-cntnr-dash .control-dots {
        width: 30% !important;
        right: 14%;
    }
    .black_container .check_box_item .div_same {
        width: 100% !important;
    }

    .button_evet .button_evet_left {
        width: 100% !important;
    }
    .button_evet .button_evet_right {
        width: 100% !important;
    }
    .body-cntnr-dash .menubar-left ul li {
        font-size: 12px !important;
    }
    .hidden_space{
        height: 20px;
    }

}
@media (max-width: 768px){
    .body-cntnr .bottom-menu-container ul li {
        list-style-type: none;
        text-align:center;
        width: 55%;
        margin:0 auto;
        float:unset;
        /*padding: 10px 10px;*/
        border-bottom: 1px solid #611E27;
    }
    .react-calendar {
        width: 257px !important;
    }
    .react-date-picker__button{
        min-width: 40%;
        margin: 0 auto;
    }
    .react-date-picker::after {
        content: '\F0D7';
        font-family: FontAwesome;
        float: right;
        font-size: 14px;
        margin-top: 28px;
        color: #a78172;
        position: absolute;
        right: 0;
    }
    .react-date-picker{
        width: 100%;
    }
    .start-planning-button{
        width: 86%;

    }
    .spacer {
        width: 100%;
        height: 30px;
        overflow: hidden;
    }

    .responsive_btn_v{

    }
    .main-container{
        width: 90% !important;
        margin: 0 auto;
    }



}
@media (max-width: 600px){
    .mydash_bootom-menu .bottom-menu-container ul li {
        width: 100% !important;
        border-right: none !important;
        border-bottom: 1px solid #000;
        padding: 10px 0px !important;

    }
    .mydash_bootom-menu .event_search{
        background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%) !important;
        width: 100%;
        height: 30px;
        color: #fff !important;
        content: 'Search';
        /* font-weight: bold; */
    }
    .nested_menu_container .tab-content .chat_dv .frm_frnd{
        width: 100% !important;
        margin: 2px 0px;
    }
    .nested_menu_container .tab-content .chat_dv .frn_me{
        width: 100% !important;
        margin: 2px 0px;
    }
    .dropdown-content h4{
        width: 100%;
        text-align: center;
    }
    .dropdown-content {
        padding: 5px 5px !important;
    }
    .mydash_bootom-menu .event_search .search_icon{
        float: left !important;
    }
    .desktop-hide{
        display: block !important;
    }
    .mydash_bootom-menu{
        height: 272px !important;
    }
    .gallery img {
        width: 67px !important;
    }
    .circle-panorama{
        /*display: none;*/
    }
    .dash-body_portion .overlap_div .rating {
        width: 52% !important;
        float: left;
    }
    .user_t_nested_dropdown_menu .nested_menu_container {
        padding: 20px 11px !important;
    }
    .user_t_nested_dropdown_menu .nested_menu_container .exdecoration {
        width: 100% !important;
        margin: 5px 0px !important;
    }
    .nested_menu_container .check_seat::after {

    }

    .check_seat {
        float: right;
        background: #499C92;
        color: #fff;
        padding: 10px 20px;
        line-height: 1;
        border: 1px solid #499C92;
        margin: 5px 0px !important;
        text-transform: uppercase;
        font-size: 12px;
        width: 100%;
    }
    .dropdown-content {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .body_portion_cn {
        padding: 0px 0px !important;
    }
    .dash-body_portion .overlap_div {
        width: 100% !important;
    }
    .social_fonts_containter {
        width: 100% !important;
        float: left;
    }
    .social_fonts_main .check_dv {
        display: none;
    }

    .res-no-padding{
        padding: 0 !important;
    }
    .body_portion_ev .upper-section .gallery img {
        width: 67px !important;
    }
    .body_container .responsive_btn_v{
        background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%);
        margin: 6px 0px;
        height: 50px;
    }
    .body_container .icon-bar{
        background: #fff;
    }
}
@media (max-width: 520px){
    .main-container{
        width: 100% !important;
        margin: 0 auto;
    }
    .profile-show span {
        margin: 0px 6px;
    }
    .start-planning-button .search_icon {
        margin-top: 5px;
    }

}
@media (max-width: 412px){
    .profile-show span {
        margin: 0px 10px;
        font-size: 14px;
        width: 25px;
        height: 25px;
    }
    .start-planning-button .submit_bttn {
        font-size: 15px;
    }

}
@media (max-width: 320px){
    .profile-show span {
        margin: 0px 6px;
    }
    .start-planning-button .submit_bttn {
        font-size: 12px;
    }

}

/*Website mobile reponsive code*/

@media (max-width: 768px) and (min-width: 360px){

    /*user Pages*/

    #dashboard_headerLogo {
       width:65%;
    }
    #dashboard_keyIcon {
       width:35%;
    }

    #userTopBar {
        display:none;
    }

    #mobile_topBar_createButton {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    #mobile_topBar_createButton button:focus {
        outline:none;
    }

    #mobile_topBar_createButton button {
            width: 100%;
            float: left;
            text-transform: uppercase;
            line-height: 2;
            background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%);
            border: none;
            height: 60px;
            font-size: 25px;
            /* font-weight: bold; */
            color: white;
            border-radius: 4px;
            box-shadow: 1px 2px 12px 0px #22222C;

    }

    #dashboard_homeImg img {
        height:215px;
    }
    .download_store_div {
        width: 85%;
        margin: 0 auto;
    }

    #mobile_home_logo {
        top: 45px;
        position: relative;
        padding:0;
    }


    .headerUserNamePadding {
        padding:0;
    }
    .headerUserPadding {
        padding:0;
    }

    .user_topBar_centerBlock_width {
        width:100%;
    }
    #mobile_userRight_navBar {
        margin-left:95px;
        padding-top: 10px;
    }

    .headerUserNamePadding {
        padding:0;
    }
    .headerUserPadding {
        padding:0;
    }
    .header-text{
        padding:0;
    }

    .user-service-page .body_portion_banner {
       padding:0px 2px;
    }

    .logOutpopUp .logOutpopUptext {
        margin-left: -110px;
    }
    .servicePage {
        padding:0;
    }
    .display_flex .sectionblock1 {
        width: auto;
        padding-right: 0px;
        padding-bottom: 20px !important;
    }
    .display_flex .sectionblock2 {
        width: 50%;
    }
    .display_flex {
        display: block;
    }

    #chatListName ul li  {
        position: relative;
        right: 0px;
    }
    .UserSettingpopUp .UserSettingspopUptext {
        margin-left: -108px;
    }
    .body_portion_ev .circle-panorama .img_crcl_b {
        right: 105px;
    }
    .userTitleUpcomingEventBlock .userTitleUpcomingEventBlockImg {
        width:50%;
    }
    .userTitleUpcomingEventBlock .userTitleUpcomingEventBlocktext {
        width: 50%;
    }
    .userTitleTableBlock .userTitleTabletext {
        width: 50%;
    }
    .userTitleTableBlock .userTitleTablelineImg {
         width: 50%;
    }
    .userTitleGuestBlock .userTitleGuesttext {
        width: 50%;
    }
    .userTitleGuestBlock .userTitleGuestlineImg {
        width: 50%;
    }

    .collapse {
        display:block !important;
    }

    li.userLeftBarlistMenu:last-child {
        margin-bottom:10%;
    }

    .home-header-logo-padding {
        padding:0px;
    }

    /*Vendor Pages*/

    .vendorlistMenu li {
        position: relative;
        right:0px;
    }
    .responsive_btn_v {
        display: none;
    }
    .vendor_chat_container {
        padding:0px !important;
    }
    .common-event-name-div {
        border:none;
    }

    /*Admin Pages*/
    .admin-edit-new-event-button_padding {
        padding-top:10px;
    }
    .adminEditSectionHrTitleBlockPadding {
        padding-right:0px !important;
    }
    .subscribe-optin {
        width:90%;
    }
    .subscribe-optin .second-image-div {
        width:100%;
    }
    .subscribe-optin .second-image-div {
        width:100%;
    }
    .subscribe-optin .edit-input-box {
        width:100%;
    }
    .adminStatisticsTitleBlockPadding {
        padding-left: 10px !important;
         padding-right: 10px !important;
    }
    .adminStatsSectionHrTitleBlockPadding {
        padding-top: 20px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .adminStatsEditTitleBlockPadding {
        padding-right: 10px !important;
    }
    .forgot-password-page .forgot-text {
      left:10%;
    }

}
@media  (min-width: 1024px){


    #mobile_topBar_createButton {
        display:none;
    }

}


/**/

