// note: no img assets required for layout

html {
  height: 100%;
  // background-color: $l_body_bg; // important! otherwise in "layout-boxed" mode, content > height 100% will 
}

// body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   background:url("https://i.imgur.com/AtD00Jb.png");
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// html{
//   background-color: transparent !important;
// }

.full-height{
  height: 100% !important;
}


