.mobile-user-myEvents-block {
  width:95%;
  margin:0 auto;
  margin-bottom:75px !important;
  margin-top:-30px !important;
}

.mobile-user-myEvents-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  // box-shadow: 0px 0px 10px 3px #7b7575;
  box-shadow: 0px 0px 12px 2px #4e4e4e;
  border-radius: 4px;
  margin-top: 5px;
}
.mobile_chat_link_wrapper{
   padding: 0px 15px;
  .mobile_chat_link_container{
    background-color: #fff;
    padding: 25px 20px;
    box-shadow: 0px 0px 4px #000;
    border-radius: 4px;
    .chat_body_content{
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 22px;
      .chat_box{
        width: 48%;
        background-color: #8e5b8e;
        margin: 3px;
        position: relative;
        padding: 0px 25px;
        text-align: left;
        border-radius: 6px;
        p{
          width: 100%;
          padding: 7px 10px;
          color: #fff;
          margin: 0;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        img.left_image{
          position: absolute;
          width: 15px;
          height: 15px;
          top: 50%;
          left: 6px;
          transform: translateY(-50%);
        }
        img.right_image{
          position: absolute;
          width: 10px;
          height: 10px;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
        }
      }
    }
    .chat_box_button_wrapper{
      .wrap{
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        .seller-list-left{
          position: absolute;
          width: 25px;
          height: 25px;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
        .input_text{
          width: 100%;
          padding: 10px 25px;
        }
        .right_side_wrapper{
          position: absolute;
          width: 25px;
          height: 25px;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);

        }
      }
    }
  }
}
.mobile_event_chat_link{
  padding: 0px 15px;
  margin-top: -60px;
  .back_button{
    padding-bottom: 15px;
    img{
      width: 20px;
      height: 20px;
    }
    span{
      color: #1f100c;
    margin-left: 10px;
    }
  }
  .mobile_event_chat_link_content{
    list-style-type: none;
    .wrap{
      position: relative;
      background: #fff;
      border-radius: 4px;
      margin-bottom: 6px;
      padding: 5px 15px;
      .seller-list-left{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);

      }
      .input_text{
        padding: 8px 20px;
        text-align: center;
        p{
          margin: 0;
        }

      }
      .right_side_wrapper{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        .seller-list-right-icon{
          right: 23px;
          text-align: center;
          line-height: 21px;
        }

      }
    }
  }
}
.mobile_eventLine {
  margin-top:5px;
}

.mobile-myevents-list-background {
  background-color: white;
}

.mobile-upcoming-event-list {
  ul {
    background-color: white;
  }
  li {
    background-color: transparent;
  }

  .event-img {
    margin-top: -10px;
    font-size: 24pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
  }

  label.dv-star-rating-star.dv-star-rating-full-star {
    color: #eeb4a4  !important;
    font-size: 25px !important;
  }

  label.dv-star-rating-star.dv-star-rating-empty-star {
    font-size: 25px !important;
    color: #c9c9c9 !important;
  }

  .event-list1 {
    margin-top:-10px;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;

  }

  .event-list2 {
    margin-top: -18px;
    font-size: 16pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
  }

  .event-list3 {
    margin-top:-2px;
    font-size: 12pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
  }
  .event-list4 {
    margin-top:-7px;
    //margin-bottom: 10px !important;
    font-size: 8pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
  }

}

.mobile_no_event {
  padding-top:13px;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  float: left;
  text-transform: uppercase;
  line-height: 2;
  outline: none;
  border: none;
  // display:none;
  // background: linear-gradient(to right, #060105 -29%, #fb5063 50%, #060105 120%);
  background-color: #fff;
  // box-shadow: 1px 2px 12px 0px #22222C;
  box-shadow: 0px 2px 12px 0px #7b7575;
  color:#c5c1c2;
  height: 45px;
  font-size: 18px;
  // font-weight: bold;
  border-radius: 4px;
  margin-top: -10px;
  height:60px;
  min-height:60px;
}

.mobile-new-event-button {
  width: 100%;
  margin: 0 auto;
  float: left;
  text-transform: uppercase;
  line-height: 2;
  outline: none;
  border: none;
  // background: linear-gradient(to right, #060105 -29%, #fb5063 50%, #060105 120%);
  background-color: #fff;
  box-shadow: 1px 2px 12px 0px #22222C;
  color:#c5c1c2;
  height: 45px;
  font-size: 18px;
  // font-weight: bold;
  border-radius: 4px;
  margin-top: -10px;
}

.mobile-no-event-div {
  width:95%;
  margin:0 auto;
  margin-top: -40px !important;
  //display:none;
}
.create_button{
  position: fixed;
  bottom: 70px;
  right: 15px;
  width: 50px;
  cursor: pointer;
  height: 50px;
  line-height: 53px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 0px #493449;
  // background: linear-gradient(135deg, #250b0e 5%, #e5485b 47%, #250B10 90%);
  // background: linear-gradient(135deg, #250b0e 25%, #e5485b 50%, #250B10 78%);
  // background: linear-gradient(135deg, #250b0e 0%, #e5485b 50%, #250B10 100%);
  // background: -webkit-gradient(linear,3.89% -16.96% ,96.11% 116.96% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.1012,rgba(62, 19, 24, 1) ),color-stop(0.2444,rgba(144, 45, 56, 1) ),color-stop(0.3622,rgba(204, 64, 80, 1) ),color-stop(0.4484,rgba(241, 76, 94, 1) ),color-stop(0.4939,rgba(255, 80, 100, 1) ),color-stop(0.5536,rgba(232, 73, 91, 1) ),color-stop(0.6787,rgba(173, 54, 68, 1) ),color-stop(0.8572,rgba(79, 25, 31, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
  background-image: url("/img/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.create_button a{
  position: relative;


}
.create_button a:before{
    position: absolute;
    // content: '+';
    top: -2px;
    left: 18px;
    color: #fff;
    font-size: 23px;
}


