#mobileVendorChatBox.vendor_box_wrapper{
  position: fixed;
  width: 100%;
  bottom: 60px;
  background: -webkit-linear-gradient(0deg, #dba9c5 0%, #ac81a8 100%);
  padding: 17px 0px;
    
  .vendor_box_container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    .chatconvPersonDetailsDiv{
      padding: 6px 0px;
    }
    .block1{

    }
    .block1,
    .block2,
    .block4,
    .block5{
      width: 10%;
      position: relative;
      span{
        display: inline-block;
        width: 100%;
        padding: 0;
        img{
          height: 20px;
          width: 20px;
          &.list-img.width-15{
            width: 15px;
            height: 15px;
          }
        }
      }
      
    }
    .block2{

    }
    .block3{
      width: 60%;
      .type-search_wrap{
        color: #fff;
        font-size: 12pt;
        padding: 0px 5px;
      }

    }
    .block4{

    }
    .block5{

    }
  }
}
// .mobileVendorChatBlock{
//   .float-chat-conv-div,
//   ul.chats-conv-List{
//     height: 100%;
//   }
// }
.mobileVendorChatBlock {
  .chat-type-box-position {
    position: fixed;
    top: 450px;
  }
  .Chat-div-scroll {
    height:315px;
  }
  input#messageText::placeholder {
    font-family: Calibri;
    color: #ccc2c0;
    /* font-style: inherit !important; */
    // font-weight: 600;
    font-size: 18px;
  }
  .type-search {
    font-style:inherit;
    color: #ccc2c0;
  }
  .chatconvPersonDetailsDiv {
    .vendorChatLeft {
      min-height: 21px;
    }
    p {
      color: white;
      font-size: 12pt;
      word-wrap:break-word;
      margin:0;
      text-align:center;
      display:block;
      line-height:1.5;
      padding-left: 5px;
      padding-right: 5px;
    }
    .chatconvName {
      color: #ccc2c0 !important;
      background:transparent;
      min-height: 21px;
       display:block;
    }

    .conv1text {
      font-size: 8pt !important;
      line-height:1.5 !important;
    }
  }

  .mobile_vendor_type_box {
    position: fixed;
    bottom:35px;
  }


  .chat-conv-type-box {
    width: 95%;
    transform: translate(-50%, -50%);
    left: 50%;
    // margin-left:10px;
    // box-shadow: 1px 2px 12px 0px #22222C;
    box-shadow: 0px 2px 12px 0px #7b7575;
    display: inline-flex;
    background-color: white;
    padding: 20px 10px 0px 13px;
    border-radius: 4px;

    .block1 {
      width:10%;
      height:10%;
      .list-img {
        width: 22px;
      }
    }

    .block2 {
      width:10%;
      height:10%;
      text-align:left;
      .list-img {
        width: 25px;
      }
    }
    .block3 {
      width: 70%;
      position: relative;
      bottom: 10px;
    }
    .block4 {
      width: 10%;
      position: relative;
      text-align: right;
      bottom: 4px;
      .list-img {
        width: 25px;
      }
    }

  }
}
#mobileVendorAttach {
  display:none;
}
@media (min-width:411px) and (max-width:414px) {
  .mobileVendorChatBlock .chat-type-box-position {
    position: fixed;
    top: 74%;
  }
  .mobile_emoji .emoji-dialog {
    top: 43% !important;
  }
  .Chat-div-scroll {
    height: 55% !important;
  }

}
@media (min-width:375px) and (max-width:410px) {
  .mobileVendorChatBlock .chat-type-box-position {
    position: fixed;
    top: 475px;
  }
  .Chat-div-scroll {
    height: 50% !important;
    overflow-y: scroll;
  }
}
@media (max-width:320px)  {
  .mobileVendorChatBlock .chat-type-box-position {
    position: fixed;
    top: 384px;
  }
  .Chat-div-scroll {
    height: 45% !important;
    overflow-y: scroll;
  }
  .mobile_emoji .emoji-dialog {
    top: 28% !important;
  }
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .mobileVendorChatBlock .chat-type-box-position {
    position: fixed;
    top: 83%;
  }
  .mobileVendorChatBlock .Chat-div-scroll {
    height: 69% !important;
  }
  .mobile_emoji .emoji-dialog {
    top: 60% !important;
  }
}


@media only screen and (min-width: 1024px)  {
  .Chat-div-scroll {
    height: 75% !important;
    overflow-y: scroll;
  }
  .mobileVendorChatBlock .chat-type-box-position {
    position: fixed;
    top: 86%;
  }
  .mobile_emoji .emoji-dialog {
    top: 60% !important;
  }
}


