.key-icon {
  display: inline-block;
  margin-left: 250px;
  padding: 0px 15px;
  transform: rotate(270deg);

  img {
    width: 20px;
    height: 20px;
  }
}
.body_container_vendor{
  .vendor-video-div{
    video{
      height: 200px;
    }
  }
}

.settings {
  display: inline-block;

  img {
    width: 20px;
    height: 20px;
  }
}

.logo {
  padding: 0;

  img {
    width: 110px;
  }
}

.past_hr {
  width: 345px;
}



.bottom-menu-cntnr {
  padding: 10px !important;
}

// .bottom-menu {
//   position: relative;
//   top: -45px;
// }

ul.nav {
  li {
    //#left-icon {
    //  float: left;
    //  position: relative;
    //  left: 20px;
    //}

    #category {
      position: relative;
      top: 15px;
      right: 90px;
    }
  }
}

.body_container {
  .chat-section {
    border: 1px solid;

    .chat-box {
      border: 1px solid;
      width: 60%;
      display: inline-block;

      ul li {
        list-style: none;
        border: 1px solid;
        background: #00d4ca;
        margin: 4px;
        border-radius: 5px;
        padding: 3px;
        width: 45%;
      }
    }

    .user-list {
      border: 1px solid;
      width: 40%;
      display: inline-block;
    }
  }
}

.col1-style {
  text-align: center;
}

.chat-text-width {
  width: 120px;
}

.bottom-menu2 {
  top: -67px !important;
}

.create-add {
  border-radius: 0px !important;
}


/* Styles for wrapping the search box */

.main {
  width: 20%;
  height: 10px;
  margin: 25px auto;
  background: white;
}

.guest-list-div .ticketView li:nth-child(1):before {
  content: 'gg';
  float: left;
}

/* Bootstrap text input with search icon */

.has-search .form-control-feedback {
  right: initial;
  left: 0;
  color: #ccc;
}

.has-search .form-control {
  border: 1px solid black;
  padding-right: 12px;
  padding-left: 34px;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 3em;
}

.form-control:active,
.form-control:focus,
.form-control.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: red;
}

.search-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: transparent;
  background-image: none;
  text-align: center;
  border: none;
}

//.search-division{
//
//  margin-left: 15px !important;
//  margin-right: 15px !important;
//  position: relative;
//  bottom: 75px;
//  background-color: transparent;
//}

.chat-text {
  position: relative;
  top: 10px;
  font-size: 18px;
  color: #8f8e8e;
  // font-weight: bold;
}

.search-box {
  position: relative;
  top: 7px;
}

.hr-box {
  position: relative;
  top: 5px;
}

.chat-body {
  position: relative;
  bottom: 65px;
}

.left-menu-padding {
  position: relative;
  bottom: 15px;
}

.first-div {
  background-color: white;
  overflow: hidden;
  padding: 10px 0px;
  width: 100% !important;
  box-shadow: 1px 2px 12px 0px #22222C;
}

.event-div {
  width: 100%;
  position: relative;
  margin-left: 37px;
  text-transform: uppercase;
  color: #8f8585;
}

.event-div-text-style {
  width: 15%;
  // font-weight:bold;
  font-size: 15px;

}

.divider-style {
  width: 10%;
  color: #ddd !important;
}

.event-div-list-box {
  display: -webkit-box;
}

.create-event-div {
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 34px;
  text-transform: uppercase;
  color: #8f8585;
}

.event-create-search {
  width: 100%;
  height: 40px;
  border: none;
  font-style: oblique;
  font-size: 18px;
  color: black;
}

.event-create-button {
  border: none;
  width: 20px;
  position: relative;
  right: 5px;
}

.upcoming-padding {
  top: 15px;

}

.upcomingtext {
  padding-bottom: 35px;
  font-size: 16px;
  position: relative;
  top: 15px;
  color: #8f8e8e;
  // font-weight: bold;
  text-transform: uppercase;
}

.upcoming {
  text-transform: uppercase;
  color: grey;
  font-size: 18px;
  // font-weight: 600;
}

.upcoming-hr {
  position: relative;
  top: 4px;
}

.upcoming-hr-width {
  width: 285px;
}

.upcoming-position {
  position: relative;
  right: 15px;
}

.second-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 2px 12px 0px #22222C;
  border-radius: 3px;
}

.text-list-div-style {
  padding: 5px !important;
  text-align: center;
}

.div-left-icon {
  float: left;
  padding: 5px 0px !important;
  overflow: hidden;
}

.hr-width {
  width: 200px;
}

.hr-padding {
  padding: 0 !important;
  height: 35px;

}

.all-div-text1 {
  font-size: 24pt;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}

.all-div-text2 {
  font-size: 16pt;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}

.all-div-text3 {
  font-size: 12pt;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}


.all-div-text4 {
  font-size: 8pt;
  text-transform: uppercase;
  color: #c5c1c2;
  padding: 0 !important;
}

.all-div-icon {
  position: relative;
  left: 15px;
}

.third-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 2px 12px 0px #22222C;
  margin-bottom: 5px;
  border-radius: 3px;
}

.fourth-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 2px 12px 0px #22222C;
  border-radius: 3px;
}

.search-control {
  font-style: italic;
  font-size: 19px;
}

.new-event-button {
  padding-top: 7px;
}

.new-event-button .new-event-button-left {
  width: 90%;
  // float: left;
  text-transform: uppercase;
  line-height: 2;
  // background: linear-gradient(to right, rgb(43, 12, 17) 0%, rgb(251, 80, 99) 51%, rgb(43, 12, 17) 100%);
  background: linear-gradient(101deg, #de636e 9%, #fe8d6d 49%, #de636e 100%);
  border: none;
  height: 54px;
  margin: 0 auto;
  display: inherit;
  font-size: 15px;
  // font-weight: bold;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 12px 0px #22222C;
}

.new-event-button .new-event-button-left::before {
  float: left;
  margin-left: 10px;
  content: "";
  position: absolute;
  left: 7%;
  top: 30px;
  height: 13px;
  width: 13px;
  background-size: cover;
  background-image: url(/img/new-event.png);

}

.float {
  position: fixed;
  width: 90px;
  height: 90px;
  bottom: 250px;
  right: -40px;
  background-color: #fe4f63;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 35px;
  font-size: 25px !important;
}

.upcoming-list-background {
  background-color: white;
}

.upcoming-event-list {
  ul {
    background-color: white;
  }

  li {
    background-color: transparent;
  }

  .event-img {
    margin-top: -10px;
    font-size: 24pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
  }

  label.dv-star-rating-star.dv-star-rating-full-star {
    color: #eeb4a4 !important;
    font-size: 25px !important;
  }

  label.dv-star-rating-star.dv-star-rating-empty-star {
    font-size: 25px !important;
    color: #c9c9c9 !important;
  }

  .event-list1 {
    margin-top: -10px;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;

  }

  .event-list2 {
    margin-top: -18px;
    font-size: 16pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
  }

  .event-list3 {
    margin-top: -2px;
    font-size: 12pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
  }

  .event-list4 {
    font-size: 8pt;
    text-transform: uppercase;
    color: #c5c1c2;
    padding: 0 !important;
    line-height: 25px;
    padding-bottom: 10px !important;
  }

}

.userMyEventsBlockPosition {
  position: relative;
  bottom: 15px;
}

.userNoPastEventPosition {
  position: relative;
  top: 50px;
}

.no-pastEvent-booked-style {
  text-transform: uppercase;
  color: #aaa5a5;
  // font-weight: 600;
  background: white;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 2px 12px 0px #22222C;
  text-align: center;
}

.userMyEvent_position {
  position: relative;
  top: 13px;
}
.padding_top_9{
  padding-top: 9px;
}
.sectionblock2.vendor-chatRightPadding{
  .selected-list-active{
    margin-left: -6px;
  }
}
.list-group.list-group-flush.vendorlistMenu{
  .list-group-item.list-right-padding-style{
    &:hover{
      background: linear-gradient(to right, #FF719A 0%, #FFA99F 48%, #FF719A 100%) !important;
      position: relative;
      z-index: 999 !important;
      .vendorchatList{
        p{
          color: #000;
        }
      }
    }
  }
}
.padding_left_0,
.padding_left_0.chatsection-padding{
  padding-left: 0 !important;
}
.no-upcomingEvents-style {
  text-transform: uppercase;
  color: #aaa5a5;
  // font-weight: 600;
  text-align: center;
  background: white;
  box-shadow: 1px 2px 12px 0px #22222C;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
}

.userTitleUpcomingEventBlock {
  display: inline-flex;
  margin: 0 auto;
  width: 100%;

  .userTitleUpcomingEventBlocktext {
    width: 20%;
    text-transform: uppercase;
    color: #b3adad;
    // font-weight:600;
    font-size: 16px;
  }

  .userTitleUpcomingEventBlockImg {
    width: 80%;
  }
}

.userTitlePastEventBlock {
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  .userTitlePastEventBlocktext {
    width: 15%;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
  }

  .userTitlePastEventBlockImg {
    width: 85%;
  }
}

.userTitleUpcomingEventBlock .userTitleUpcomingEventBlocktext {
  width: 20%;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
}

@media (min-width:1440px) {

  .upcoming-hr-width {
    width: 290px;
  }

  .past_hr {
    width: 360px;
  }

}

@media (min-width:1180px) and (max-width:1280px) {
  .past_hr {
    width: 318px;
  }

  .upcoming-hr-width {
    width: 260px;
  }


}

@media (min-width:1024px) and (max-width:1180px) {

  .upcoming-hr-width {
    width: 200px;
  }

  .past_hr {
    width: 245px;
  }
}

li.list-group-item.user-addEventBlk {
  border-radius: 2px;
  height: 50px;
}