
.agenda-hanna-text-div {
  position: relative;
  bottom: 21px;
}
.mobile-vendor-agenda-block {
  width:95%;
  margin:0 auto;

  .mobile-agenda-notifi-div {
  position: relative;
  left: 5px;
}
.mobile_agenda_event_line {
  margin-top:3px;
}

  .mobile-vendor-agenda-div {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;
    margin-top:-65px;
    border-radius:4px;
    margin-bottom:4px;
  }

  .mobile-vendor-agenda-div-background {
    background-color: white;
  }



  .mobile-cvendor-agenda-list {
    ul {
      background-color: white;
    }
    li {
      background-color: transparent;
    }

    .mobile-agenda-name {
      margin-top: -10px;
      font-size: 25px;
      text-transform: uppercase;
      color: #c5c1c2;
      padding: 0 !important;
    }

    label.dv-star-rating-star.dv-star-rating-full-star {
      color: #eeb4a4  !important;
      font-size: 25px !important;
    }

    label.dv-star-rating-star.dv-star-rating-empty-star {
      font-size: 25px !important;
      color: #c9c9c9 !important;
    }

    .event-list1 {
      margin-top:-10px;
      text-transform: uppercase;
      color: #c5c1c2;
      padding: 0 !important;

    }

    .event-list2 {
      margin-top: -18px;
      font-size: 16pt;
      text-transform: uppercase;
      color: #c5c1c2;
      padding: 0 !important;
    }

    .event-list3 {
      margin-top:-2px;
      font-size: 12pt;
      text-transform: uppercase;
      color: #c5c1c2;
      padding: 0 !important;
    }
    .event-list4 {
      margin-top:-7px;
      font-size: 8pt;
      text-transform: uppercase;
      color: #c5c1c2;
      padding: 0 !important;
    }

  }
}

.mobile_no_event_booked {
  color: #b4a9ab;
  text-transform: uppercase;
  font-size: 16pt;
  text-align: center;
  line-height: 3;
}

.mobile-no-event-booked-div {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 2px 12px 0px #7b7575;
  border-radius: 4px;
  margin-top: -32px;
  border-radius: 4px;
  margin-bottom:4px;
}

.mybusuness-padding {
  padding-left:0px !important;
  padding-right:0px !important;
}

.mobile-vendor-agenda-calender {
  width:95%;
  margin:0 auto;
  margin-bottom: 40% !important;

  #mobile_calendar {
    background: white;
    box-shadow: 0px 2px 12px 0px #7b7575;
    border-radius: 4px;
    .fc-toolbar.fc-header-toolbar {
      font-size:10px;
      width:75%;
      margin:0 auto;
      padding-top:15px;
      display: flex;
    }
    td.fc-today.fc-widget-content {
      text-align: center;
      background: #fff;
      background-image: url(/img/svg_img/placeholder_date.svg);
      background-size: contain;
      background-size: 78% 100%;
      background-repeat: no-repeat;
  }
    .fc-view {
      z-index: 0;
    }
    .fc-row.fc-widget-header {
      font-size: 12px;
      text-transform: uppercase;
      color: #9e9a9a;
      font-weight: 400 !important;
    }
    .fc-row.fc-week.fc-widget-content {
      color: #b4a9ab;
      font-size: 18px;
      height: 45px;
      min-height: 45px;
      font-size: 17px;
    }
   .fc-icon {
      position: unset !important;

    }

    .fc-icon-left-single-arrow:after {
      content: '';
      background-image: url(/img/svg_img/left_arrow_svg.svg);
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      position: absolute;
      background-size: contain;
      top: 5px;
}


.fc-icon-right-single-arrow:after {
  content: '';
  background-image: url(/img/svg_img/right_arrow_svg.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  top: 5px;
}

.fc-state-hover {
  outline:none;
  box-shadow:none;
  border:none;
}
button:focus {
  outline:none;
  box-shadow:none;
  border:none;
}

    .fc-left {
      // position: relative;
      // left:-10px;
      // top: 10px;
      order: 1;
      flex-grow: 1;
    }
    .fc-right {
      order: 3;
      flex-grow: 1;
    }

    .fc-bg {
      border-bottom: 1px solid #dcd3d3;
    }
    .fc-center {
      // width: 60%;
      // margin: 0 auto;
      // color: #a5a2a2;
      // overflow: hidden;
      // word-wrap: break-word;
      order: 2;
      flex-grow: 1;
      h2{
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 6px;
        word-spacing: 100vw;
        position: relative;
        color: #bbbaba;
        line-height: 40px;
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          width: 70%;
          background-image: url(/img/mobile_searcBox_line.png);
          height: 3px;
          bottom: 6px;
          object-fit: contain;
          left: 15%;
          background-repeat: no-repeat;
      }
      }
    }

    .fc-toolbar h2 {
      text-transform: uppercase;
      font-size: 18pt;
      letter-spacing: 2px;
      width:100%;
    }

    .fc th {
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      color: #857c7c;
      text-shadow: 0px 1px 2px #ecd3d3;
      border: none !important;
    }

    .fc th {
      text-align: center;
      border: none !important;
    }
    table,tr,td,th{
      border:none;
    }

    .fc-row .fc-content-skeleton {
      right:20px;
      top:5px;
    }

    .fc-toolbar button {
      background: transparent;
      border: none;
      box-shadow: none;
      top: 7px;
    }
  }
  
}

.fc th {
  text-align: center;
  font-size: 8pt !important;
}

.mobile_no_events_notifi {
  position: absolute !important;
  left: 10px !important;
  top: 20px !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #mobile_calendar {
   .fc-day-number {
     padding:30px;
   }

   .fc-header-toolbar {
     width:32% !important;
   }
  }
}
