.mobile-admin-contact-block {
  margin-top: -35px;
  height: 410px;
  overflow-y: scroll;

  ul {
    width:95%;
    margin:0 auto;

    li {
      background-color: white;
      border-radius: 5px;
      box-shadow: 1px 2px 12px 0px #22222C;
      margin-bottom:10px;
    }
  }

  .admin-chatbox {
    width:100%;
    margin:0 auto;
    display: inline-flex;
  }
  .admin-chatImg {
    width:10%;
    position: relative;
    top:10px;
    img {
      width:30px;
      height:30px;
    }
  }
  .admin-chatCount {
    //width:10%;
    height: 30px;
    width: 30px;
    border: 2px solid #e7987a;
    border-radius: 50%;
    color: #e7987a;
    // font-weight: 600;
    text-align: center;
    position: relative;
    top:10px;

  }
  .admin-chatBody {
    width:80%;
    text-align: center;

    .firstPclass {
      font-size: 16pt;
      // font-weight: 600;
      text-transform: uppercase;
      word-wrap: break-word;
    }
    .secondPclass{
      font-size: 14px;
      // font-weight: 600;
      text-transform: uppercase;
      margin-top: -5px;
      margin-bottom: 0px;
      word-wrap: break-word;
    }
  }
}
